section.zuc-member-benefits.flex.flex-wrap.flex-hor-center
  .zuc-member-benefits-left
    .zuc-img-box
      img(src="../../assets/images/anim/SmartLiving_Icons.gif", alt="Rotating icons")
      //- Above GIF is todo placeholder lipsum
  .zuc-member-benefits-right
    .zuc-title-container.flex
      h4.u-bold.u-zuc-darkindigo
        |MEMBER BENEFITS
      .zuc-title-flag
        .--green
    h2.u-zuc-indigo.u-font-serif
      |Your membership to smarter living.
    p.u-zuc-darkindigo
      |As a Smarter Living Member, you’ll automatically gain access to many exclusive benefits and rewards.
    a.zuc-btn.zuc-btn-secondary(href="smarter-living-membership-benefits.html" title="Member Benefits")
      |DISCOVER THE BENEFITS
