section.zuc-service-plans-box.flex.flex-wrap.flex-hor-center
  img.zuc-bg-blob(src="../../assets/images/shapes/round-blob-half-solid.svg", alt="A pear shaped abstract blob")
  .zuc-service-box.--title.u-soft-shadow.flex-column.flex-vert-start
    .zuc-title-container.flex.flex-vert-start
      h4
        |SERVICE PLANS
      img.zuc-green-bar(src="../../assets/images/graphics/graphic_line_green_large.svg", alt="A horizontal mint coloured line")
    h2.u-font-serif.u-zuc-indigo
      |Select your plan.
    p.u-zuc-darkindigo
      |Choose an individual plan for your appliances, home furnishings or home systems to fit your budget. Save when you bundle more plans or achieve maximum savings when you select a Whole Home Plan.
    a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
      |REVIEW PLAN OPTIONS
  .zuc-service-box.--bundle.flex-vert-center.--overlay.--o-indigo.--o-static
    .zuc-box-link
    h5.u-font-serif.u-text-shadow.u-color-white
      |Whole Home Bundle
    img.zuc-block-badge(src="../../assets/images/icons/ZH_Icon_White.svg", alt="The Zucora badge symbol")
  .zuc-service-box.--triple.--appl.flex-vert-end.--overlay.--o-darkindigo.--o-static
    .zuc-box-link
    h3.u-font-serif.u-text-shadow.u-color-white
      |Appliances Plan
  .zuc-service-box.--triple.--furn.flex-vert-end.--overlay.--o-darkindigo.--o-static
    .zuc-box-link
    h3.u-font-serif.u-text-shadow.u-color-white
      |Furniture Plan
  .zuc-service-box.--triple.--homesys.flex-vert-end.--overlay.--o-darkindigo.--o-static
    .zuc-box-link
    h3.u-font-serif.u-text-shadow.u-color-white
      |Home Systems Plan
  .zuc-service-box.--combo.flex-vert-center.--overlay.--o-lilac.--o-static
    .zuc-box-link
    h5.u-font-serif.u-text-shadow.u-color-white
      |Combo Plan
