section.zuc-service-plans-box.flex.flex-wrap.flex-hor-center
  img.zuc-bg-blob(src="../../assets/images/shapes/round-blob-half-solid.svg", alt="A pear shaped abstract blob")
  .zuc-service-box.--title.u-soft-shadow.flex-column.flex-vert-start
    .zuc-title-container-slp.flex.flex-vert-start
      h4.u-normal
        |SERVICE PLANS
      img.zuc-green-bar(src="../../assets/images/graphics/graphic_line_green_large.svg", alt="A horizontal mint coloured line")
    h3.u-font-serif.u-zuc-indigo
      |Choose your plan
    p.u-zuc-darkindigo
      |The Smarter Living Plan bundle options allow you to customize your plan to fit your needs and budget; and the low monthly subscription fee gives you the coverage you want immediately without big upfront costs.
    a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
      |SELECT YOUR COVERAGE
  .zuc-service-box.--bundle.flex-vert-center.--overlay.--o-indigo
    a.zuc-box-link(href="#" title="todo")
    h5.u-font-serif.u-text-shadow.u-color-white
      |Whole Home Bundle
    img.zuc-block-badge(src="../../assets/images/icons/ZH_Icon_Concrete.svg", alt="The Zucora badge symbol")
  .zuc-service-box.--triple.--furn.flex-vert-end.--overlay.--o-darkindigo
    a.zuc-box-link(href="service-plans-furniture.html" title="Furniture Plan")
    h3.u-font-serif.u-text-shadow.u-color-white
      |Furniture Plan
  .zuc-service-box.--triple.--appl.flex-vert-end.--overlay.--o-darkindigo
    a.zuc-box-link(href="service-plans-appliance.html" title="Appliance Plan")
    h3.u-font-serif.u-text-shadow.u-color-white
      |Appliance Plan
  .zuc-service-box.--triple.--homesys.flex-vert-end.--overlay.--o-darkindigo
    a.zuc-box-link(href="service-plans-home-systems.html" title="Home Systems Plan")
    h3.u-font-serif.u-text-shadow.u-color-white
      |Home Systems Plan
  .zuc-service-box.--combo.flex-vert-center.--overlay.--o-salmon
    a.zuc-box-link(href="#" title="todo")
    h2.u-font-serif.u-text-shadow.u-color-white
      |Whole Home Combo
