-
  var howContent = [
    'With a variety of plans to choose from, you can find the right plan to fit your budget and lifestyle. Select a plan for your appliances, your home furnishings, or your home systems. Save by bundling plans or select a Whole Home Plan for complete coverage.',
    'Should a cover item require service, we’re ready to help. Contact us 24/7 by phone or online. If a service technician is required, you’ll pay the Trade Service Fee and we’ll arrange for priority service.',
    'We’ll be with your every step of the way until your Service Request is resolved. A professional, local contractor will diagnose the problem and offer a solution. We pay for parts, labour, or replacement of the covered it. You protect your budget.'
  ]
section.zuc-featured.flex.flex-wrap
  .zuc-featured-content.--smarter
    h2.u-font-serif.u-zuc-indigo
      |How does it work?
    .zuc-featured-how-step
      span
        |STEP 1
    h4.u-zuc-darkindigo.u-bold
      |SELECT YOUR PLAN
    p.u-zuc-darkindigo
      |#{howContent[0]}
    .d-zucbar.--zb-lilac
    .zuc-smarter-how-step
      span
        |STEP 2
    h4.u-zuc-darkindigo.u-bold
      |REQUEST ASSISTANCE
    p.u-zuc-darkindigo
      |#{howContent[1]}
    .d-zucbar.--zb-lilac
    .zuc-smarter-how-step
      span
        |STEP 3
    h4.u-zuc-darkindigo.u-bold
      |PROBLEM SOLVED
    p.u-zuc-darkindigo
      |#{howContent[2]}
    .d-zucbar.--zb-lilac
  .zuc-featured-image.flex.flex-hor-center
    .zuc-img-container
      .zuc-img-block.u-soft-shadow
      //- img.zuc-photo(src="../../assets/images/smarter-living/couple-withdog.png", alt="A man and woman standing while holding a beagle dog on a leash, the people appear to be kissing but their faces are hidden behind a skateboard the man is holding")
    img.zuc-blob(src="../../assets/images/shapes/round-blob-solid.svg", alt="An abstract green and blue blob shape")
