-
  var howContent = [
    'Combine or bundle Smarter Living Plans to customize services to fit your needs and budget.',
    'Smarter Living Members accummulate rewards for their monthly subscription fees and Zucora Home Smarter Product purchases.',
    'When furniture accidents happen, major appliances fail, or your essential home-comfort systems need repair we’re here when you need us to help relieve the stress associated with these inevitable challenges.'
  ]
section.zuc-smarter-how.flex.flex-wrap
  .zuc-smarter-how-lt
    h2.u-font-serif.u-zuc-indigo
      |How does it work?
    h4.u-zuc-darkindigo.u-bold
      |SELECT YOUR COVERAGE
    p.u-zuc-darkindigo
      |#{howContent[0]}
    .zuc-blue-bar
    h4.u-zuc-darkindigo.u-bold
      |EARN REWARDS
    p.u-zuc-darkindigo
      |#{howContent[1]}
    .zuc-blue-bar
    h4.u-zuc-darkindigo.u-bold
      |WE'RE HERE 24/7
    p.u-zuc-darkindigo
      |#{howContent[2]}
    .zuc-blue-bar
  .zuc-smarter-how-rt.flex.flex-hor-end
    .zuc-img-container
      img.zuc-photo(src="../../assets/images/smarter-living/couple-withdog.png", alt="A man and woman standing while holding a beagle dog on a leash, the people appear to be kissing but their faces are hidden behind a skateboard the man is holding")
      //-img.zuc-blob(src="../../assets/images/blob-module/round-blob-solid.svg", alt="An abstract green and blue blob shape")
