//section.zuc-spr-hk.flex.flex-wrap.--section-spacing
section.zuc-featured.flex.flex-wrap.flex-vert-center.--featured-gif.--extra-pad
  .zuc-featured-image.flex.flex-hor-center
    .zuc-img-container
      img(src="../../assets/images/anim/SmartLiving_Icons.gif", alt="Rotating icons")

  .zuc-featured-content
    .zuc-title-container.flex
      h4
        |MEMBER BENEFITS
      .zuc-title-flag
        .--green
    h2.u-font-serif.u-zuc-indigo
      |Your membership to smarter living.
    p
      |As a Smarter Living Member, you’ll automatically gain access to many exclusive benefits and rewards.
    a.zuc-btn.zuc-btn-secondary(href="home-care-kits.html" title="Learn more about Furniture Care Kits")
      |DISCOVER THE BENEFITS
