section.zuc-member-benefits.flex.flex-wrap
  .zuc-benefit-bubble-box.flex.flex-hor-center
    .zuc-benefit-bubble
      .zuc-bubble
      .zuc-bubble-text.u-bold
        |PREMIUM<br/>PRICING
    .zuc-benefit-bubble.--big
      .zuc-bubble
      .zuc-bubble-text.u-black
        |EARN<br/>REWARDS
    .zuc-benefit-bubble
      .zuc-bubble
      .zuc-bubble-text.u-bold
        |PERSONALIZED<br/>SERVICE
  .zuc-benefit-blurb
    .zuc-title-container.flex
      h4
        |MEMBER BENEFITS
      .zuc-title-flag
        .--green
    h3.u-zuc-indigo.u-font-serif
      |Your membership to a smarter way to live.
    p.u-zuc-darkindigo
      |Members receive premium pricing and gain reward points for every transaction.
    a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
      |DISCOVER THE BENEFITS
