section.zuc-about-hero(style="background-image: url('images/about/zucora-home-building.png');")
  .zuc-about-hero-textbox
    h1
      |About Us
    p
      |What began in 1979 as a small manufacturer of furniture protection products has blossomed into a national passion for serving consumers with home convenience solutions that inspire a smarter way to live.  Based in London, Ontario and working closely with Canada’s leading retailers of home furnishings and appliances, we’ve developed a reputation for going “above-and-beyond” by delivering exceptional customer experiences and solving everyday home management challenges.
    .zuc-about-hero-graphic
  .zuc-about-hero-wave