section.zuc-about-hero(style="background-image: url('/Images/Zuc/images/about/zucora-home-building.png');")
  .--transparent-bkg
    .zuc-about-hero-textbox
      h1
        |Our Story
      p
        |What began in 1979 as a small manufacturer of furniture protection products has blossomed into a passion for serving consumers with home convenience solutions that inspire a smarter way to live.  Based in London, Ontario and working closely with Canada’s leading retailers of home furnishings and appliances, we’ve developed a reputation for going “above-and-beyond” by delivering exceptional customer experiences and solving everyday home management challenges.
      br
      p
        |With approximately 2 million active protection plans, Zucora Home administers more than 5,000 service requests every month from homeowners when their major appliances fail or their furniture becomes stained or accidentally damaged. We’re passionate about serving Canadians with innovative smarter living solutions designed for today’s busy families and tomorrow’s digitally connected homes.
      img.zuc-about-hero-graphic(src="../../assets/images/graphics/graphic_zigzag_coral.svg", alt="A coral colored zigzag")
