-
  var copy = [
    'Unlike most other systems, Smarter Home Control enables most standard compliant devices to be added to your gateway without any input from us or you.',
    'Smarter Home Control scans the devices, finds the features they provide, and make them easily available for you.',
    'If you have a ZigBee light-bulb, you can add it, and chances are, it will just work. This means that your things easily integrate with the Smarter Home Control system as long as it runs the standard version of the protocols we support. If you have already invested in a lighting or alarm system, you can connect them to the gateway, and have them available everywhere, anytime in one app.',
    'Now, that’s what we call smart.'
  ]
section.zuc-hero-header-test
  // Content Block
  .zuc-shc-content.d-greenbar
    .h6.u-uppercase
      |one home, One app
    h1
      |Smarter Home Control

    //- Iterate through the copy
    each val in copy.length ? copy : ['There are no values']
      p
        |#{val}
    // Action
    a(class="zuc-btn zuc-btn-secondary" href="#" title="todo")
      |GET STARTED TODAY

    // App Screenshot
    .zuc-shc-appview
      img(src="../../assets/images/smarter-home/phone.png" alt="todo")
  // Products
  .zuc-hero-products

    // - Indoor Camera
    .hero-product
      img(src="../../assets/images/smarter-home/product-indoor-camera.png" alt="todo")

    // - Keypass
    .hero-product
      img(src="../../assets/images/smarter-home/product-keypas.png" alt="todo")

    // - Light Bulb
    .hero-product
      img(src="../../assets/images/smarter-home/product-light-blub.png" alt="todo")

    // - Light Bulb 2
    .hero-product
      img(src="../../assets/images/smarter-home/product-light-bulb.png" alt="todo")

    // - Motion Sensor
    .hero-product
      img(src="../../assets/images/smarter-home/product-motion-sensor.png" alt="todo")

    // - Outdoor Camera
    .hero-product
      img(src="../../assets/images/smarter-home/product-outdoor-camera.png" alt="todo")

    // - Smoke Sensor
    .hero-product
      img(src="../../assets/images/smarter-home/product-smoke-sensor.png" alt="todo")

    // - Wattle Sensor
    .hero-product
      img(src="../../assets/images/smarter-home/ZHBranded-gateway-wattle-blue.png" alt="todo")

  // Wave Shape
  .zuc-hero-bkg.--layer-one
  // Image of House
  .zuc-hero-bkg.--layer-zero
  // Wave Shape
  .zuc-hero-bkg.--layer-one
  // Image of House
  .zuc-hero-bkg.--layer-zero
