-
  var copy = [
    'Unlike most other systems, Smarter Home Control enables most standard compliant devices to be added to your gateway without any input from us or you.',
    'Smarter Home Control scans the devices, finds the features they provide, and make them easily available for you.',
    'If you have a ZigBee light-bulb, you can add it, and chances are, it will just work. This means that your things easily integrate with the Smarter Home Control system as long as it runs the standard version of the protocols we support. If you have already invested in a lighting or alarm system, you can connect them to the gateway, and have them available everywhere, anytime in one app.',
    'Now, that’s what we call smart.'
  ]
section.zuc-hero-header-test
  .zuc-shc-content.d-greenbar
    .h6.u-uppercase
      |one home, One app
    h1
      |Smarter Home Control
    //- Iterate through the copy
    each val in copy.length ? copy : ['There are no values']
      p
        |#{val}
