-
  var copy = [
    'Unlike most other systems, Smarter Home Control enables most standard compliant devices to be added to your gateway without any input from us or you.',
    'Smarter Home Control scans the devices, finds the features they provide, and make them easily available for you.',
    'If you have a ZigBee light-bulb, you can add it, and chances are, it will just work. This means that your things easily integrate with the Smarter Home Control system as long as it runs the standard version of the protocols we support. If you have already invested in a lighting or alarm system, you can connect them to the gateway, and have them available everywhere, anytime in one app.',
    'Now, that’s what we call smart.'
  ]

section.zuc-hero-header-control(aria-describedby="header-caption")
  // Content Block
  .zuc-shc-content.d-green-bar.u-soft-shadow
    .h4.zuc-hsc-subtitle.u-uppercase.u-bold
      |One home, One app
    h1.u-font-serif.u-zuc-indigo
      |Smarter Home Control

    //- Iterate through the copy
    each val in copy.length ? copy : ['There are no values']
      p
        |#{val}
    // Action
    a(class="zuc-btn zuc-btn-secondary" href="#" title="Get Started with Smart Home")
      |GET STARTED TODAY

    // App Screenshot
    .zuc-shc-appview
      img(src="../../assets/images/smarter-home/phone.png" alt="Zucora Smart Home App")
  // Products
  .zuc-hero-products

    // - Indoor Camera
    .hero-product.--ind-camera
      img(src="../../assets/images/smarter-home/product-indoor-camera.png" alt="Indoor Camera")

    // - Keypass
    .hero-product.--keypass
      img(src="../../assets/images/smarter-home/product-keypas.png" alt="Smart Security Keypass")

    // - Light Bulb
    .hero-product.--light
      img(src="../../assets/images/smarter-home/product-light-blub.png" alt="Smart Home Lighting")

    // - Light Bulb 2
    .hero-product.--light-2
      img(src="../../assets/images/smarter-home/product-light-bulb.png" alt="Smart Home Lightbulb")

    // - Motion Sensor
    .hero-product.--sensor
      img(src="../../assets/images/smarter-home/product-motion-sensor.png" alt="Smart Home Motion Sensor")

    // - Outdoor Camera
    .hero-product.--out-camera
      img(src="../../assets/images/smarter-home/product-outdoor-camera.png" alt="Outdoor Camera")

    // - Smoke Sensor
    .hero-product.--sensor-smk
      img(src="../../assets/images/smarter-home/product-smoke-sensor.png" alt="Smart Home Smoke Sensor")

    // - Smoke Sensor
    .hero-product.--sensor-magnetic
      img(src="../../assets/images/smarter-home/product-magnetic-sensor.png" alt="Smart Home Smoke Sensor")

  // Wave Shape
  .zuc-hero-bkg.--layer-one
  // Image of House
  .zuc-hero-bkg.--layer-zero
  // AODA Description
  .u-screenreader(id="header-caption")
    |DESCRIBE HEADER BACKGROUND IMAGE FOR VISUALLY IMPAIRED - TODO
