-
  var title = "Extend the life of your furniture."
-
  var subHeading = "Furniture helps make your home feel lived in, welcoming, and complete."
-
  var btnText = "SHOP home care kits"

section.zuc-spr-hero-container.--hk
  .zuc-spr-hero-content
    h3
      |!{title}
    p
      |!{subHeading}
    a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
      |!{btnText}
    img.product-image(src="../../assets/images/smarter-products-child/hero-mockup.png" alt="Zucora Home Kit Boxes")
  // Wave Shape
  .zuc-spr-hero-wave.--grey-wave
