section.zuc-hero-header-mask
  // Media container
  .zuc-hero-media-container(aria-describedby="header-caption")
    // Video or Image ( Image can also be added as BKG to above container )
    video(
      class="zuc-hero-video"
      poster="https://i.vimeocdn.com/video/741021302.jpg"
      style="background-image: url('https://i.vimeocdn.com/video/741021302.jpg'); background-size: cover;"
      preload="auto" autoplay muted loop )

      //- At least two sources plz
      source(src="https://player.vimeo.com/external/302275660.hd.mp4?s=1c249c15c125da57623f36d46bc960cbc1f409d2&profile_id=175" type="video/mp4")
      source(src="https://player.vimeo.com/external/302275660.hd.mp4?s=1c249c15c125da57623f36d46bc960cbc1f409d2&profile_id=165" type="video/mp4")

  // Header Shield
  .zuc-shield
    //- Container to position elements absolutely
    .zuc-shield-content.u-text-center
      h1.zuc-shield-title
        |Smarter Living Matters
      .zuc-shield-subtitle.u-uppercase
        |Convenient. Intelligent. Innovative.

      a(class="zuc-btn zuc-btn-secondary" href="javascript:void(0)" title="Smarter Living" onclick="toggleModal('[data-smarter-video]')")
        |Watch Video
  .u-screenreader(id="header-caption")
    |BRIEFLY DESCRIBE VIDEO IN MARKETING LANGUAGE - TODO

include ../modals/modal-smarter-video.pug
