-
  var title = "Discover the secrets behind healthy sleep."
-
  var btnText = "Shop PURECARE"

section.zuc-spr-hero-container.--pc
  .zuc-spr-hero-content
    h3
      |!{title}
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
        |!{btnText}
  // Pillows-Protectors-Sheets Image
  .--pc-hero-bkg-overlay
  // Mesh
  .--pc-hero-bkg-mesh
  // Wave Shape
  img.zuc-spr-hero-wave(src="../../assets/images/shapes/wave-top.svg", alt="A wave shape")
