-
  var title = "The science of healthy sleep."
-
  var btnText = "SHOP PURECARE"

section.zuc-spr-hero-container.--pc
  .zuc-spr-hero-content
    h3
      |!{title}
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#LimeTac-Link-To-Ecommerce' title='LimeTAC-TODO')
        |!{btnText}
  // Pillows-Protectors-Sheets Image
  img.--pc-hero-bkg-overlay(src="../../assets/images/smarter-products-child/circles-hero.png", alt="A venn diagram of pillows, sheets, and mattress protectors with comfort in the middle")
  // Mesh
  img.--pc-hero-bkg-mesh(src="../../assets/images/smarter-products-child/white-mol-mesh-bottom-left.png", alt="A grey mesh graphic")
  // Wave Shape
  img.zuc-spr-hero-wave(src="../../assets/images/shapes/wave-top-grey.svg", alt="A wave shape")
