-
  var title = "Discover the secrets behind healthy sleep."
-
  var btnText = "Shop PURECARE"

section.zuc-spr-hero-container
  .zuc-spr-hero-content
    h3
      |!{title}
    a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
      |!{btnText}
  // Background Image
  .zuc-spr-hero-bg-img.--pc
  // Pillows-Protectors-Sheets Image
  .--pc-hero-bkg-overlay
  // Mesh
  .--pc-hero-bkg-mesh
  // Wave Shape
  .zuc-spr-hero-bkg-wave.--pc-hero-bkg-wave
