-
  var introText = [
    'Smarter Living is about choices that make life more comfortable and convenient. We take the stress out of home ownership with professional services and innovatiave products designed to protect your budget while delivering peace of mind for you and your family.',
    'Smarter Living provides new technologies so you can securely connect all of your home systems to control your home’s lighting, climate, entertainments and security in one easy-to-use application. Discover how easy it is to enjoy Smarter Living with Zucora Home.'
  ]
-
  var videoText = 'When you choose a Smarter Living Plan you protect your budget, your family’s well-being and your home environment.'
-
  var title = 'What is Smarter Living?'


//- NOTE: THIS BACKGROUND IMAGE WONT WORK FOR SOME REASON, SPENDING TOO MUCH TIME ON IT - AW 20181018 vvvvv
section.zuc-secondary-header(aria-describedby="header-caption" style="background-image: url('images/smarter-living/hero-background.png');")
  .zuc-secondary-header--graphic-section
    .--bottom-wave
      img(src='../../assets/images/shapes/hero-wave-bottom.svg', alt='An abstract grey wave')
  // Hero Content - Wrapper
  .zuc-hero-content
    // Top Content
    .zuc-hero-row.flex.flex-vert-end
      .zuc-hero-left
        h5.u-font-serif.u-zuc-indigo
          |!{title}
        p.u-zuc-darkindigo
          |#{introText[0]}
        p.u-zuc-darkindigo
          |#{introText[1]}
        a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
          |See All Plans
      .zuc-hero-right
        img.--img-position(src='../../assets/images/smarter-living/hero-couple.png' title="TODO" alt="A happy couple")
    // Bottom Video
    .zuc-hero-row.flex.flex-vert-stretch.--video-row.u-soft-shadow
      .zuc-hero-left
        h5.u-font-serif.u-zuc-indigo
          |Living smarter offers peace of mind.
        p.u-ultralight.u-zuc-darkindigo
          img.--wave-position(src='../../assets/images/shapes/zigzag-coral.svg')
          |#{videoText}
      .zuc-hero-right.flex.flex-vert-stretch.flex-hor-center
        .zuc-hero-video-player.flex.flex-wrap.flex-vert-center.flex-hor-between
          // Images
          img(src='../../assets/images/ZucoraHome-brand-white.svg')
          // Play Button
          img.--play-icon(src='../../assets/images/icons/icon-play.svg')
          // video Title
          .zuc-video-title.u-font-serif
            |Choose to protect your home and your family.

  .u-screenreader(id="header-caption")
    |BRIEFLY DESCRIBE VIDEO IN MARKETING LANGUAGE - TODO

include ../modals/modal-smarter-video.pug
