- var title = 'Choose the Smarter Living Plan that’s right for you.'
- var text = 'Customize your coverage by choosing the Smarter Living Plan that’s right for you.'
- var button = 'get started today'
- var tagline = 'Breakdowns will happen... one plan has you covered.'

section.zuc-service-plan-hero--wrapper
  .zuc-service-plan-hero--text-section.flex.flex-column
    h2.zuc-service-plan-hero--heading.u-font-serif
      |!{title}
    p.zuc-service-plan-hero--tagline.u-bold
      |#{tagline}
    .zuc-service-plan-hero--btn
      a.zuc-btn.zuc-btn-secondary(href="#LimeTAC-Link-To-Ecommerce" title="LimeTAC-TODO")
        |#{button}
  .zuc-service-plan-hero--graphic-section
    .--photo
      img(src='../../assets/images/shared/man-tool-bag.png' alt='A man with a toolbag over his shoulder.')
    .--bottom-wave
      img(src='../../assets/images/shapes/hero-wave-bottom.svg', alt='An abstract grey wave')
    .--bottom-wave-flipped
      img(src='../../assets/images/shapes/hero-wave-bottom.svg', alt='An abstract grey wave')
    .--grey-blob
      img(src="../../assets/images/shapes/hero-wave-middle-grey.svg", alt="A tall abstract grey wave")
    .--pear
      img(src="../../assets/images/shapes/round-blob-half-solid.svg", alt="An abstract green pear shape")
