-
  var title = "Innovative products build for clean homes and healthy families."
-
  var btnText = "Shop Now"

section.zuc-spr-hero-container
  .zuc-spr-hero-content
    h3
      |!{title}
    a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
      |!{btnText}
  // Focus Image
  img.--zuc-spr-hero-focus(src="../../assets/images/smarter-products/couple-baby-blob.png")
  // Background Image
  .zuc-spr-hero-bg-img.--parent
  // Wave Shape
  .zuc-spr-hero-bkg-wave.--zu-hero-bkg-wave.--grey-wave
