-
  var title = "Innovative products for clean homes and healthy families."
-
  var btnText = "Shop Now"

section.zuc-spr-hero-container
  .zuc-spr-hero-content
    h3
      |!{title}
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#LimeTAC-Link-To-Ecomm' title='LimeTAC-TODO')
        |!{btnText}
  //- Focus Image
  img.--zuc-spr-hero-focus(src="../../assets/images/smarter-products/couple-baby-blob.png")
  //- Wave Shape
  img.zuc-spr-hero-wave(src="../../assets/images/shapes/wave-top-grey.svg", alt="A wave shape")
