-
  var title = "Innovative products build for clean homes and healthy families."
-
  var btnText = "Shop Now"

section.zuc-spr-hero-container.--zu-hero-container
  .zuc-spr-hero-content.--zu-hero-content
    h3.u-font-serif.u-color-white.u-text-shadow
      |!{title}
    a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
      |!{btnText}
  // Focus Image
  img.zuc-spr-hero-focus(src="../../assets/images/smarter-products/couple-baby-blob.png" class="zuc-hero-focus-img")
  // Background Image.
  .--hk-hero-bkg-img.--spr-parent-hero-bkg-img
  // Wave Shape.
  .zuc-spr-hero-bkg-wave.--zu-hero-bkg-wave.--grey-wave

