-
  var title = "Inspired by nature – powered by choice."
-
  var subHeading = "Make a positive impact on your family’s well-being and your environment."
-
  var btnText = "Shop ZU Collection"

section.zuc-spr-hero-container.--zu
  .zuc-spr-hero-content
    h3
      |!{title}
    p
      |!{subHeading}
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
        |!{btnText}
    img.product-image(src="../../assets/images/smarter-products/hero-zu-prodcts.png" alt="Zu cleaning products.")
  // Wave Shape
  img.zuc-spr-hero-wave(src="../../assets/images/shapes/wave-top.svg", alt="A wave shape")
