// Breadcrumbs Module
.zuc-ec-breadcrumbs
  a.zuc-ec-breadlink(href="#" title="#")
    |Store
  span.zuc-ec-breadslash
    |&nbsp;&nbsp;/&nbsp;&nbsp;
  a.zuc-ec-breadlink(href="#" title="#")
    |Sleep Care
  span.zuc-ec-breadslash
    |&nbsp;&nbsp;/&nbsp;&nbsp;
  a.zuc-ec-breadlink(href="#" title="#")
    |Pillows
  span.zuc-ec-breadslash
    |&nbsp;&nbsp;/&nbsp;&nbsp;
  span.zuc-ec-bread-currentpage
    |PureCare Sub-0&deg; Soft Cell Chill Reversible Hybrid Pillow
