-
  var boxes = [
    {
      title: 'Smarter Living Plans',
      subtitle: 'Protect your home and budget',
      style: 'background-image:url(\'./Images/Zuc/images/shared/man-tool-bag.png\');'
    },
    {
      title: 'ZU Collection',
      subtitle: 'Creating clean homes and healthy families',
      style: 'background-image:url(\'./Images/Zuc/images/shared/happy-family-livingroom.png\');'

    },
    {
      title: 'PureCare',
      subtitle: 'a safe haven for a sound sleep',
      style: 'background-image:url(\'./Images/Zuc/images/smarter-products/hero-family-kitchen.png\');'

    },
    {
      title: 'Furniture Care',
      subtitle: 'clean. restore. maintain.',
      style: 'background-image:url(\'./Images/Zuc/images/shared/happy-family-livingroom.png\');'
    }
  ]

.zuc-ec-catlinks-boxes
  each box in boxes.length ? boxes : [' No links to display']
    a.zuc-ec-catlinks-box.--iv(href="#" title="#")
      .zuc-ec-catlinks-box-image(style=box.style)
      h5.zuc-ec-catlinks-box-subtitle
        |!{box.subtitle}
      h3.zuc-ec-catlinks-box-title
        |!{box.title}
