section.zuc-slb-benefits.flex
  .zuc-image-box
    img(src="", alt="")
  .zuc-cta-box.u-soft-shadow
    h3.u-color-white.u-font-serif
      |Protect your home while earning reward points
    p.u-color-white
      |As a Smarter Living member, you will receive exceptional benefits and earn reward points automatically when you subscribe to a Smarter Living Plan or Smarter Home Control service.
    a.zuc-btn.zuc-btn-primary.u-soft-shadow.--b-lilac(href="#")
      |SEE ALL PLANS
  .zuc-info-box.u-soft-shadow
    h4.u-text-uppercase.u-zuc-darkindigo
      |AS A MEMBER, YOUR BENEFITS WILL INCLUDE:
    ul
      li
        |24/7 multilingual customer service
      li
        |Access to our national network of pre-screened professional technicians
      li
        |Annual furniture cleaning allowance
      li
        |Member rates for Zucora Home furniture care kits
      li
        |Preferred Member pricing for ZU Collection all-natural home cleaning and personal care items
      li
        |Special rates for our PureCare line of revolutionary bedding essentials
      li
        |Smarter Living Rewards that can be redeemed for furnishing and appliance purchases with our retail partners
  img.zuc-slb-benefits-bg(src="", alt="")
