/**

  ECOM Generic Carousel Styles

**/

// .zuc-ec-carousel-cards - the container for all cards in the carousel

.zuc-ec-carousel-cards {
  position: relative;
  width: 100%;
  display: flex;
  padding: vw-phone(10) 0;

  @media #{$tablet-only} {
    padding: vw-tablet(25) 0;
  }

  @media #{$laptop-up} {
    padding: vw-desktop(25) 0 0;
  }
}

// .zuc-ec-carousel-card - each card object is represented by one of these

.zuc-ec-carousel-card {
  width: 100 / 2 * 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: $color-pure-white;
  z-index: 1;
  transition: .3s;
  padding: vw-phone(30) 0;

  @media #{$phone-only} {
    // For launch we are hiding cards until the .zuc-ec-carousel-nav is implemented (bottom of file)
    &:nth-child( n+3 ) {
      display: none;
    }
  }
  
  @media #{$tablet-only} {
    width: 100 / 3 * 1%;
    padding: vw-tablet(40) 1%;

    // For launch we are hiding cards until the .zuc-ec-carousel-nav is implemented (bottom of file)
    &:nth-child( n+4 ) {
      display: none;
    }
  }

  @media #{$laptop-up} {
    width: 100 / 6 * 1%;
    padding: vw-desktop(20) 1% vw-desktop(40);
  }

  &:hover {
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 0 23px 40px 0 rgba(12, 12, 12, .2);
  }

  .zuc-ec-carousel-card-image {
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 vw-phone(15);
    height: vw-phone(125);

    @media #{$tablet-only} {
      margin: 0 0 vw-tablet(20);
      height: vw-tablet(200);
    }

    @media #{$laptop-up} {
      margin: 0 0 vw-desktop(20);
      height: vw-desktop(300);
    }

    img {
      width: 100%;
    }
  }

  .zuc-ec-carousel-card-name {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-weight: 300;
    max-width: 90%;
    font-size: vw-phone(20);
    padding: 0 0 vw-phone(15);

    @media #{$tablet-only} {
      font-size: vw-tablet(20);
      padding: 0 0 vw-tablet(15);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(20);
      padding: 0 0 vw-desktop(15);
    }
  }

  .zuc-ec-carousel-card-price-reg {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    max-width: 90%;
    font-size: vw-phone(8);
    padding: 0 0 vw-phone(5);

    @media #{$tablet-only} {
      font-size: vw-tablet(14);
      padding: 0 0 vw-tablet(5);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(14);
      padding: 0 0 vw-desktop(5);
    }

    // span - This is to allow the price to drop to the next line
    span {
      line-height: 1.3;
      display: inline-block;
    }
  }

  .zuc-ec-carousel-card-price-mem {
    color: $color-zuc-darkindigo;
    font-weight: 600;
    max-width: 90%;
    font-size: vw-phone(10);

    @media #{$tablet-only} {
      font-size: vw-tablet(16);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(16);
    }

    // span - This is to allow the price to drop to the next line
    span {
      line-height: 1.3;
      display: inline-block;
    }
  }
}

/***********

  Carousel Nav - NYI for launch

***********/

.zuc-ec-carousel-card-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-pure-white;
  position: absolute;
  z-index: 3;
  width: 50px;
  height: 50px;
  top: 45%;

  &:hover {
    cursor: pointer;
  }

  @media #{$laptop-up} {
    display: none;
  }

  &.--left {
    left: -2.5vw;
  }

  &.--right {
    right: -2.5vw;
  }
}
