.zuc-ec-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $color-zuc-ghost;
  border-top: 1px solid $color-zuc-silver;
  border-bottom: 1px solid $color-zuc-silver;
  margin: 0;
  padding: vw-phone(15) 0;

  @media #{$tablet-up} {
    flex-direction: row;
  }

  @media #{$laptop-up} {
    margin: 0 16vw;
    padding: vw-desktop(15) 0;
  }
}

.zuc-ec-toggle-category {
  color: $color-zuc-slate;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  transition: .2s;
  border-radius: vw-phone(27.5);
  padding: vw-phone(20) vw-phone(25);
  margin: vw-phone(5);

  @media #{$tablet-only} {
    border-radius: vw-tablet(27.5);
    padding: vw-tablet(20) vw-tablet(25);
    margin: 0 vw-tablet(5);
  }

  @media #{$laptop-up} {
    border-radius: vw-desktop(27.5);
    padding: vw-desktop(20) vw-desktop(25);
    margin: 0 vw-desktop(5);
  }

  &:hover {
    background: $color-zuc-darkindigo;
    color: $color-zuc-platinum;
  }

  &.--active {
    background: $color-zuc-lilac;
    color: $color-zuc-platinum;

    &:hover {
      background: $color-zuc-indigo;
      color: $color-zuc-platinum;
    }
  }
}
