section.zuc-orders-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .zuc-orders-post-head {
    width: 80%;

    @media #{$tablet-up} {
      width: 75%;
    }
    
    @media #{$laptop-up} {
      width: 66.7%;
    }

    .zuc-ec-header-line {
      display: none;
    }
  }

  .zuc-orders-post {
    display: flex;
    flex-direction: column;
    width: 100%;

    .zuc-head-blurb {
      width: 80%;
      align-self: center;

      @media #{$tablet-up} {
        width: 75%;
      }
      
      @media #{$laptop-up} {
        width: 66.7%;
      }
    }
  }
}

.zuc-orders-form {
  width: 90%;
  margin: 5vh auto 0;

  @media #{$laptop-up} {
    margin: 5vh auto 0;
    width: 70%;
  }

  @media #{$desktop-up} {
    margin: 5vh auto 0;
    width: 60%;
  }
}