.zuc-service-form {
  .zuc-service-form--blurb {
    border-top: solid 2px $color-zuc-concrete;
    padding-top: 1.4vw;
  }

  b {
    font-weight: 700;
  }

  input, select {
    font-size: 16px;
  }
}