.zuc-service-form {
  width: 90%;
  margin: 9vw auto;

  @media #{$laptop-up} {
    margin: 5vw auto;
    width: 70%;
  }

  @media #{$desktop-up} {
    width: 60%;
  }

  .zuc-service-form-blurb {
    margin: vw-phone(25) 0 vw-phone(40);
    font-size: vw-phone(14);
    font-weight: 100;

    @media #{$tablet-up} {
      margin: vw-tablet(25) 0 vw-tablet(60);
      font-size: vw-tablet(18);
    }

    @media #{$laptop-up} {
      margin: vw-laptop(25) 0 vw-laptop(60);
      font-size: vw-laptop(18);
    }

    @media #{$desktop-up} {
      margin: vw-desktop(25) 0 vw-desktop(60);
      font-size: vw-desktop(18);
    }

    b {
      font-weight: 600;
    }
  }
}
