section.zuc-forgot-password {

  &.--pre {
    .zuc-forgot-password-pre {
      display: flex;
    }

    .zuc-forgot-password-post {
      display: none;
    }
  }

  &.--post {
    .zuc-forgot-password-pre {
      display: none;
    }

    .zuc-forgot-password-post {
      display: flex;
    }
  }

  .zuc-forgot-password-pre {
    p {
      text-align: center;
      width: 80vw;
      padding: 0 0 11vw;

      @media #{$tablet-only} {
        width: 60vw;
        padding: 0 0 6.5vw;
      }
  
      @media #{$laptop-up} {
        width: 44vw;
        padding: 0 0 3.5vw;
      }
    }
  
    .zuc-forgot-forms-container {
      width: 90vw;

      @media #{$tablet-only} {
        width: 66vw;
      }
  
      @media #{$laptop-up} {
        width: 32vw;
      }
    }

    // Button override AW, way too small on mobile
    .zuc-btn {

      @media #{$phone-only} {
        font-size: 4vw;
        padding: 4vw;
        margin: 8vw 0;
      }
    }
  }
}

section.zuc-reset-password {

  &.--pre {
    .zuc-reset-password-pre {
      display: flex;
    }

    .zuc-password-post {
      display: none;
    }
  }

  &.--post {
    .zuc-reset-password-pre {
      display: none;
    }

    .zuc-password-post {
      display: flex;
    }
  }

  .zuc-reset-password-pre {
    p {
      text-align: center;
      width: 80vw;
      padding: 0 0 11vw;

      @media #{$tablet-only} {
        width: 60vw;
        padding: 0 0 6.5vw;
      }
  
      @media #{$laptop-up} {
        width: 44vw;
        padding: 0 0 3.5vw;
      }
    }
  
    .zuc-reset-forms-container {
      width: 90vw;

      @media #{$tablet-only} {
        width: 66vw;
      }
  
      @media #{$laptop-up} {
        width: 32vw;
      }
    }

    // Button override AW, way too small on mobile
    .zuc-btn {

      @media #{$phone-only} {
        font-size: 4vw;
        padding: 4vw;
        margin: 8vw 0;
      }
    }
  }
}

.zuc-password-post {
  padding: 0 0 85vw;

  @media #{$tablet-only} {
    padding: 0 0 38vw;
  }

  @media #{$laptop-up} {
    padding: 0 0 17vw;
  }

  p {
    text-align: center;
    width: 88vw;

    @media #{$tablet-only} {
      width: 66vw;
    }

    @media #{$laptop-up} {
      width: 44vw;
    }
  }
}