doctype html
html
  head
    block head
      include ../shared/meta-head.pug
      
  body
    // Site Navigation
    include ../shared/navigation.pug

    block content

    block foot
      // Site Footer
      include ../shared/footer.pug
