//- Ecom Header Mixin

mixin ecom-header(title)
  .zuc-ec-header
    h2= title
    .zuc-ec-header-line

//- ZUC Version of Ecom Header Mixin

mixin zuc-header(title)
  .zuc-header
    h1= title
    .zuc-header-line
