//- Ecom Header Mixin

mixin ecom-header(title)
  .zuc-ec-head
    h2.zuc-ec-head-title= title

mixin ecom-header-underlined(title)
  .zuc-ec-head
    h2.zuc-ec-head-title= title
    .zuc-ec-header-line

mixin ecom-header-centered(title)
  .zuc-ec-head.u-text-center
    h2.zuc-ec-head-title= title
