extends _layout

block content
  //- Hero Section
  include ../heroes/about-hero.pug

  //- Inevitable Middle Content

  //- Team Grid Section
  include ../components/about/about-teamgrid.pug

  //- Join CTA Section
  include ../components/about/about-bumper.pug