extends _layout

block append head
  title Zucora Home | TODO-SEO

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='TODO-SEO')


block content
  //- Hero Section
  include ../heroes/about-hero.pug

  //- Our Story 3Grid
  include ../components/about/about-3grid.pug

  //- Feature Module
  include ../components/about/about-featured.pug

  //- Team Grid Section
  include ../components/about/about-teamgrid.pug

  //- Join CTA Section
  include ../components/about/about-bumper.pug
