extends _layout

block content
  //- Secondary Header
  include ../heroes/secondary-benefits-header.pug
  //- slb-benefits Component
  include ../components/smarter-living/slb-benefits.pug
  //- slb-rewards Component
  include ../components/smarter-living/slb-rewards.pug