doctype html
html
  include ../shared/meta-head.pug
  body
    // Site Navigation
    include ../shared/navigation.pug

    //- Working in index for ease
    include ../components/contact-form
    
    //- Comment this line out if you don't wanna see testimonial section
    //- include ../components/testimonial.pug

    // Site Footer
    include ../shared/footer.pug
