extends _layout

block content

  //- Breadcrumbs
  include ../ecom/modules/_breadcrumbs.pug

  //- Shelf Module
  include ../ecom/modules/cat-shelf.pug
  
  //- Pagination Module
  include ../ecom/modules/_pagination.pug
  
  //- Shelf Module
  include ../ecom/modules/cat-blurb.pug
  
  //- Category Links Module
  include ../ecom/modules/cat-links.pug
