extends _layout-headless

block content
  //- Breadcrumbs
  include ../ecom/modules/category/cat-breadcrumbs.pug

  .zuc-ec-category-wrapper

    //- Category Head Module
    +ecom-header-centered('Tools & Textiles')

    //- Category Toggle Module
    include ../ecom/modules/category/cat-toggle.pug

    //- Shelf Module
    include ../ecom/modules/category/cat-shelf.pug

    //- Pagination Module
    include ../ecom/modules/category/cat-pagination.pug

    //- Blurb Module
    include ../ecom/modules/category/cat-blurb.pug

  //- Category Links Module - Outside Wrapper
  include ../ecom/modules/category/cat-catlinks.pug
