extends _layout-headless

block content
  .zuc-ec-details-wrapper

    // Tab Controller
    script( src='/Scripts/Zuc/js/tab-controller.js')

    //- Breadcrumbs
    include ../ecom/modules/shared/_breadcrumbs.pug

    //- Showcase Module
    include ../ecom/modules/product-details/det-showcase.pug

    //- Product Module
    include ../ecom/modules/product-details/det-product.pug

    //- Related Products Module
    include ../ecom/modules/product-details/det-related.pug

    //- Info Stack Module
    include ../ecom/modules/product-details/det-infostack.pug

    //- Best Sellers Module
    include ../ecom/modules/product-details/det-best-sellers.pug
