extends _layout

block content

  //- Breadcrumbs
  include ../ecom/modules/_breadcrumbs.pug

  //- Showcase Module
  include ../ecom/modules/det-showcase.pug
  
  //- Info Stack Module
  include ../ecom/modules/det-infostack.pug
  
  //- Related Products Module
  include ../ecom/modules/det-related.pug
  
  //- Best Sellers Module
  include ../ecom/modules/det-best-sellers.pug
