extends _layout

block content
  .zuc-ec-plan-wrapper
    //- Breadcrumbs
    include ../ecom/modules/plan-details/plan-breadcrumbs.pug

    //- Action Zone Module
    include ../ecom/modules/plan-details/plan-actionzone.pug

    //- Best Sellers Module
    include ../ecom/modules/plan-details/plan-bestsellers.pug
