extends _layout-headless

block content
  .zuc-ec-plan-wrapper
    //- Breadcrumbs
    include ../ecom/modules/plan-details/plan-breadcrumbs.pug

    //- Action Zone Module
    include ../ecom/modules/plan-details/plan-action-zone.pug

    //- Best Sellers Module
    include ../ecom/modules/plan-details/plan-best-sellers.pug
