extends _layout

block content
  .zuc-ec-plan-wrapper
    //- Breadcrumbs
    include ../ecom/modules/category/cat-breadcrumbs.pug

    //- Header Module
    include ../ecom/modules/home/home-header.pug

    //- Best Sellers Module
    include ../ecom/modules/home/home-best-sellers.pug
