extends _layout

block content
  .zuc-ec-cart-wrapper
    //- Head Module-- Mixin
    +ecom-header('Shopping Cart')

    //- Basket Module
    include ../ecom/modules/cart/cart-basket.pug

    //- Order Summary Module
    include ../ecom/modules/cart/cart-summary.pug
