extends _layout

block append head
  title Zucora Home | Frequently asked questions

  // [ SEO ]
  meta( name='description' 						content='Smarter Living Plan from Zucora Home protects your budget and offers peace of mind.')

block content
  // - FAQ Content
  include ../components/static/faq-content.pug

