extends _layout

block append head
  title Zucora Home | TODO-SEO

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='TODO-SEO')


block content
  // Service Request Form
  include ../components/form-pages/service-request-content.pug
