extends _layout

block append head
  title Zucora Home | Reset your Zucora Home Password

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='Smarter Living Plan from Zucora Home protects your budget and offers peace of mind.')


block content
  //- Reset Forms
  include ../components/form-pages/form-reset.pug
