extends _layout

block append head
  title Zucora Home | Contact Zucora Home

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='Smarter Living Plan from Zucora Home protects your budget and offers peace of mind.')

block content
  // - Contact Form
  include ../components/form-pages/contact-form.pug
