extends _layout

block append head
  title Zucora Home | Request Service from Zucora Home

  // [ SEO ]
  meta( name='description' 						content='Smarter Living Plan from Zucora Home protects your budget and offers peace of mind.')


block content
  // Service Request Form
  include ../components/form-pages/service-request-content.pug
