extends _layout

block append head
  title Zucora Home | Forgot your password?

  // [ SEO ]
  meta( name='description' 						content='Smarter Living Plan from Zucora Home protects your budget and offers peace of mind.')

block content
  //- Forgot Forms
  include ../components/form-pages/form-forgot.pug
