extends _layout

block content
  //- Hero/Header

  //- What's Covered Section
  include ../components/service-plans/whats-covered.pug
  //- Video Section
  
  //- Damage Bar Section
  include ../components/service-plans/damage-bar.pug