doctype html
html
  include ../shared/meta-head.pug
  body
    // Site Navigation
    include ../shared/navigation.pug

    //- Working in index for ease
    include contact

    // Site Footer
    include ../shared/footer.pug
