doctype html
html
  include ../shared/meta-head.pug
  body
    // Site Navigation
    include ../shared/navigation.pug

    //- Comment this line out if you don't wanna see testimonial section
    include ../components/testimonial.pug

    // Site Footer
    include ../shared/footer.pug
