extends _layout

block content
  //- Hero Header
  include ../modules/main-hero-header.pug
  //- Hero Slider Module
  include ../modules/hero-content-slider.pug
  //- Review Sction
  include ../components/review-section.pug
  //- Blog Module
  include ../components/blob-module.pug

  // Hero Slider Controller
  script( src='./js/hero-slider.js')

