extends _layout

block content
  //- Hero Header
  include ../heroes/main-hero-header.pug

  //- Customized Section
  include ../components/home-customized-section.pug

  //- Hero Slider Module
  include ../modules/hero-content-slider.pug

  //- Blob Module
  include ../components/home-featured-module.pug

  //- Review Section
  include ../components/shared/review-module.pug

  //- Inspired Section
  include ../components/home-inspired-section.pug

  //- About Module
  include ../components/home-about-module.pug

  //- Blog Module
  include ../components/shared/blog-module.pug

  // Hero Slider Controller
  script( src='/Scripts/Zuc/js/review-controller.js')
  script( src='/Scripts/Zuc/js/hero-slider.js')

block foot
  //- Uses secondary footer on home-page.
  include ../shared/secondary-footer.pug
