extends _layout

block content
  // Site Navigation
  include ../modules/main-hero-header.pug

  //- Comment this line out if you don't wanna see review section
  include ../components/review-section.pug

