doctype html
html
  include ../shared/meta-head.pug
  body.u-text-center
    include ../shared/navigation.pug
    .mdev-image
      img(src="../../assets/images/favicon.png")
    h1 MDEV - PUG + SASS Boilerplate
    include ../shared/footer.pug
