doctype html
html
  include ../shared/meta-head.pug
  body
    // Site Navigation
    include ../shared/navigation.pug

    include ../components/testimonial.pug

    // Site Footer
    include ../shared/footer.pug
