extends _layout

block append head
  title Zucora Home | TODO-SEO

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='TODO-SEO')


block content

  .zuc-pp-page
    +zuc-header('Privacy Policy')
    .zuc-pp-blurb
      p
        |The management of Zucora Inc. ("Zucora" and "Zucora Home") recognizes and respects its customers' personal information and endeavours to safeguard that information from unauthorized use, retention, or disclosure to third parties. The protection of our customers' personal information is governed by Zucora privacy policy (the "Privacy Policy"), as follows:
      p
        |The Privacy Policy of Zucora assures you, as a past, existing or future customer, that the officers, directors and staff of Zucora will handle your personal information in accordance with this policy pursuant to all applicable Federal and Provincial legislation including, but not limited to, the Personal Information Protection and Electronic Documents Act ("PIPEDA").
    .zuc-pp-topic-container
      h2
        |Scope of the privacy policy
      p
        |This Privacy Policy governs personal information collected from customers and from organizations that have information relevant and necessary to fulfilling the services that Zucora provides.
      p
        |Personal information is defined under PIPEDA as any information that is identifiable or directly attributable to an individual. It does not cover information about an individual that is available from a public source, such as a telephone directory or legal directory. It also does not cover aggregated data, used for statistical and reporting purposes, from which data a customer's identity cannot be determined.
      p
        |This Privacy Policy applies to officers, directors, staff and any others that may be contacted to provide services on behalf of Zucora.
    .zuc-pp-topic-container
      h2
        |Purposes for collecting personal information
      p
        |Zucora collects personal information for the following limited purpose, namely to establish and maintain a customer database for the collection, management and administration of information and services relating to protection plans, plan services and product purchases.
    .zuc-pp-topic-container
      h2
        |Consent to the collection use and disclosure of personal information
      p
        |When an individual purchases a protection plan provided by Zucora, or a protection plan is registered with Zucora, he or she will be deemed to consent to Zucora collecting, using and disclosing personal information obtained for the purposes identified, unless he or she explicitly advises otherwise Zucora in writing.
      p
        |Zucora does not sell or lease personal information it obtains from its customers, retail partners or other sources to third parties.
      p
        |Notwithstanding the foregoing, Zucora may disclose personal information without a customer's consent, where required or permitted under PIPEDA and other federal and provincial legislation, to:
      ul
        li
          |government or legal enforcement agencies if Zucora determines that the customer has provided incorrect information for fraudulent or illegal purposes;
        li
          |legal enforcement agencies if Zucora determines that there is imminent risk of death or serious bodily harm to an identifiable person or group of persons; or
        li
          |a third party individual or organization if so ordered by a Court or Tribunal of competent jurisdiction.
    .zuc-pp-topic-container
      h2
        |Accuracy of a customer's personal information
      p
        |Zucora endeavours to ensure that all personal information provided by the customer and held in Zucora's possession, is accurate, current and as complete as is necessary for the purposes for which the personal information is collected, used and maintained. Upon notification by a customer that the personal information requires correction or updating, Zucora will make the necessary amendments to the customer's information where applicable.
    .zuc-pp-topic-container
      h2
        |Retention of the customer's personal information
      p
        |If the person is no longer a customer of Zucora, or is no longer entitled to receive services from Zucora, his/her personal information may continue to be maintained unless the customer otherwise requests in writing.
    .zuc-pp-topic-container
      h2
        |Safeguards
      p
        |Zucora has implemented a number of physical, organizational and technological safeguards appropriate to the sensitivity of the customer's personal information, including but not limited to:
      p
        |Customers' files are maintained electronically and in paper form, located in areas where access is restricted to authorized personnel; and
      p
        |Zucora utilizes the most current firewall, virus protection and other technological safeguards to protect personal information that is retained on the computer network. Zucora has developed and implemented safe Internet and email use protocols for its staff and contracted employees to reduce the risk of inadvertent disclosure as a result of Internet-sourced viruses.
      p
        |There is, however, no method of electronically transmitting or storing data containing personal information that is completely secure. Zucora uses all available technological security in the transmission of customer's personal information. Notwithstanding these technological safeguards, all Internet transmissions are susceptible to possible loss, misrouting, interception and misuse.
    .zuc-pp-topic-container
      h2
        |Inquiries
      p
        |Any inquiries regarding personal information management practises may be directed to the Chief Privacy Officer, namely, the Chief Customer Officer of Zucora.
    .zuc-pp-topic-container
      h2
        |Individual access
      p
        |Under PIPEDA, an individual is entitled to access to the personal information held about him/her subject to the minimum exceptions as permitted under federal privacy legislation, namely:
      ul
        li
          |Zucora will deny access if the individual seeking access fails to produce sufficient identification to verify that he/she is the individual about whose personal information access is being sought;
        li
          |No access will be granted to personal information that is not about the individual seeking access;
        li
          |No access will be granted to information that is part of a criminal investigation;
        li
          |No access will be granted where such access would harm or interfere with law enforcement activities and other investigative functions of a body authorized by statute to perform such functions; and
        li
          |No access will be granted to information where such access might threaten the life, safety and security, including psychological safety, of the individual seeking access.
        li
          |Zucora reserves the right to refuse access that it believes is repetitious, frivolous, or vexatious.
        li
          |Upon receiving a request for access in writing, Zucora will endeavour to have the information available to the individual seeking access within 60 days following verification, in a form satisfactory to Zucora, of the individual's identity.
        li
          |The individual entitled to obtain access may challenge the completeness of his/her personal information under Zucora's care and control. Upon successful demonstration that there is an error in the personal information as retained, Zucora will amend the information as appropriate.
    .zuc-pp-topic-container
      h2
        |Investigating complaints
      p
        |The Chief Privacy Officer of Zucora will investigate all concerns or complaints respecting the handling of personal information under the control of Zucora that are received in writing. As promptly as possible, the Chief Privacy Officer will report to the individual the results of the investigation and, where the complaint is found to be justified, steps will be taken to resolve the matter.
      p
        |If the individual is dissatisfied with the report provided by the Chief Privacy Officer, or feels that the corrective action taken by Zucora is insufficient, the individual may direct a complaint to the President of Zucora or to the Federal Privacy Commissioner in writing.
    .zuc-pp-topic-container
      h2
        |Amendment to Zucora privacy policy
      p
        |This Privacy Policy operates with effect from and as of January 1, 2005. Further, this Privacy Policy is subject to amendment in response to developments in the privacy legislation, including provincial legislation and any other enactment or statute relating thereto affecting an enterprise carrying on business in Ontario or in Canada. The Chief Privacy Officer to Zucora will review and revise this Privacy Policy from time to time and notification of any changes in this policy will be posted on Zucora Internet website. Any changes in the Privacy Policy will apply to personal information collected from the date of the posting of the revised Privacy Policy on Zucora Internet website.
    .zuc-pp-topic-container
      h2
        |Contact information
      p
        |If a question arises regarding access to your personal information held by Zucora, or there is a concern about the manner in which Zucora collects, uses, retains and discloses your personal information as a customer of Zucora, please contact:
      p
        |Chief Privacy Officer<br/>Zucora Inc.<br/>552 Clarke Road<br/>London ON N5V 3K5<br/>519 452 0101<br/>
      a(href="mailto:info@zucora.com")
        |info@zucora.com
