.zuc-request-forms-container.flex.flex-column
      form(action="")
          .zuc-input-group
            .zuc-input-name
              strong
                |TEXT
            input(type="text" data-required name="TEXT" placeholder="PLACEHOLDER")
          .zuc-input-group
            .zuc-input-name
              strong
                |Email Address
            input(type="email" data-required name="TEXT" placeholder="PLACEHOLDER")
          .zuc-input-group
            .zuc-input-name
              strong
                |Phone Number
            input(type="tel" data-required name="TEXT" placeholder="PLACEHOLDER")
          .zuc-input-group
            .zuc-input-name
              strong
                |Message
            input(type="text" data-required name="TEXT" placeholder="PLACEHOLDERe")
          .zuc-input-group.zuc-contact-submit-container
            button.zuc-btn.zuc-contact-submit.u-soft-shadow(type="submit")
              strong
                span SEND