extends _layout

block append head
  title Zucora Home | Smarter Home Control deives for your home.

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='Digitally connected homes for smarter home management and enables devices like ZigBee to integrate into a secure gateway and one app.')


block content
  //- HEADER
  include ../heroes/control-hero-header.pug

  //- CHOICES
  include ../components/smarter-home-control/shc-choices.pug

  //- DEVICES
  include ../components/smarter-home-control/shc-devices.pug

  //- GET CONNECTED
  include ../components/smarter-home-control/shc-connected.pug
