extends _layout

block content
  //- HEADER

  //- CHOICES
  include ../components/smarter-home-control/shc-choices.pug
  //- MIDDLE CONTENT

  //- GET CONNECTED
  include ../components/smarter-home-control/shc-connected.pug
