extends _layout

block content
  //- HEADER
  include ../heroes/control-hero-header.pug

  //- CHOICES
  include ../components/smarter-home-control/shc-choices.pug

  //- DEVICES
  include ../components/smarter-home-control/shc-devices.pug

  //- GET CONNECTED
  include ../components/smarter-home-control/shc-connected.pug
