extends _layout

block append head
  title Zucora Home | TODO-SEO

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='TODO-SEO')


block content
  //- HEADER
  include ../heroes/control-hero-header.pug

  //- CHOICES
  include ../components/smarter-home-control/shc-choices.pug

  //- DEVICES
  include ../components/smarter-home-control/shc-devices.pug

  //- GET CONNECTED
  include ../components/smarter-home-control/shc-connected.pug
