extends _layout

block content
  //- Secondary Header
  include ../heroes/secondary-benefits-header.pug
  //- slb-benefits Component
  include ../components/smarter-living-benefits/slb-benefits.pug
  //- slb-rewards Blob Module Component
  include ../components/smarter-living-benefits/slb-blob-module.pug

