extends _layout

block append head
  title Zucora Home | TODO-SEO

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='TODO-SEO')


block content
  //- Secondary Header
  include ../heroes/secondary-benefits-header.pug

  //- slb-benefits Component
  include ../components/smarter-living-benefits/slb-benefits.pug

  //- slb-rewards Blob Module Component
  include ../components/smarter-living-benefits/slb-featured-module.pug

  //- Trimodule Pre-footer
  include ../components/shared/trimodule.pug
