extends _layout

block content
  //- Secondary Header
  include ../heroes/smarter-living-hero.pug

  //- Why Smarter Living
  include ../components/smarter-living-parent/slp-why-grid.pug

  //- How Blob
  include ../components/smarter-living-parent/slp-featured-module.pug

  //- Service Plans Section
  include ../components/smarter-living-parent/slp-service-plans.pug

  //- Member Benefits Section
  include ../components/smarter-living-parent/slp-member-benefits.pug

  //- Blog Module Disabled for launch
  //- include ../components/shared/blog-module.pug

block foot
  //- Uses secondary footer on home-page.
  include ../shared/secondary-footer.pug
