extends _layout

block content
  //- Secondary Header
  include ../heroes/secondary-hero-header.pug
  
  //- Why Smarter Living
  include ../components/smarter-living-parent/slp-why-grid.pug

  //- How Blob
  include ../components/smarter-living-parent/slp-how-blob.pug

  //- Service Plans Section
  include ../components/smarter-living-parent/slp-service-plans.pug

  //- Member Benefits Section
  include ../components/smarter-living-parent/slp-member-benefits.pug

  //- Blog Module
  include ../components/shared/blog-module.pug

block foot
  //- Uses secondary footer on home-page.
  include ../shared/secondary-footer.pug