extends _layout

block content
  //- Secondary Header
  //- UNCOMMENT ME include ../modules/secondary-hero-header.pug
  //- Why Smarter Living
  include ../components/smarter-why-grid
  //- How Blob
  include ../components/how-blob
  //- Service Plans Section
  include ../components/service-plans
  //- Blog Module
  include ../components/blog-module.pug
