//- Service Plans Parent Page - AW - 20181001
extends _layout

block append head
  title Zucora Home | TODO-SEO

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='Customize home service coverage for furniture, appliances, or home systems with a Smarter Living Plan.')


block content
  //- Page Hero/Head
  include ../heroes/service-plan-hero.pug

  //- Customize Section
  include ../components/service-plans/service-plan-customize-section.pug

  //- Base Plans Section
  include ../components/service-plans/sp-base-plans.pug

  //- Hellraiser Cube Section
  include ../modules/hero-cost-grid.pug

  //- Eventual Additional Content
  include ../components/shared/trimodule.pug

  //- Modals
  include ../modals/modal-sp-whole-home-bundle.pug
  include ../modals/modal-sp-combo-bundle.pug
