extends _layout

block append head
  title Zucora Home | Furniture smarter living service plans

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='Solutions for stained or damaged furniture from a Smarter Living Plan.')


block content
  //- Hero/Header
  include ../components/service-plans/furn-header.pug

  //- What's Covered Section
  include ../components/service-plans/furn-coverage.pug

    //- Damage Bar Section
  include ../components/service-plans/furn-damage.pug

  //- Video Section
  include ../components/service-plans/furn-video.pug

  //- Plan Comparison Section
  include ../components/service-plans/furn-compare.pug
