extends _layout

block content
  //- Hero/Header
  include ../components/service-plans/appl-header.pug

  //- What's Covered Section
  include ../components/service-plans/appl-coverage.pug

  //- Damage Bar Section
  include ../components/service-plans/appl-damage.pug

  //- Video Section
  include ../components/service-plans/appl-video.pug

  //- Plan Comparison Section
  include ../components/service-plans/appl-compare.pug
