extends _layout

block content
  //- Hero/Header
  include ../components/service-plans/homesys-header.pug

  //- What's Covered Section
  include ../components/service-plans/homesys-coverage.pug

  //- Video Section
  include ../components/service-plans/homesys-video.pug

  //- Damage Bar Section
  include ../components/service-plans/homesys-damage.pug
