extends _layout

block content
  //- Hero/Header
  include ../components/service-plans/furn-header.pug
  //- What's Covered Section
  include ../components/service-plans/furn-coverage.pug
  //- Video Section
  include ../components/service-plans/furn-video.pug
  //- Damage Bar Section
  include ../components/service-plans/furn-damage.pug
  