extends _layout

block content
  //- Hero/Header
  include ../components/service-plans/homesys-header.pug

  //- What's Covered Section
  include ../components/service-plans/homesys-coverage.pug

    //- Damage Bar Section
  include ../components/service-plans/homesys-damage.pug

  //- Video Section
  include ../components/service-plans/homesys-video.pug

  //- Plan Comparison Section
  include ../components/service-plans/homesys-compare.pug
