extends _layout

block append head
  title Zucora Home | TODO-SEO

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content="When home systems don't operate, the Smarter Living Plan helps protect your budget from unexpected repairs or replacement costs.")


block content
  //- Hero/Header
  include ../components/service-plans/homesys-header.pug

  //- What's Covered Section
  include ../components/service-plans/homesys-coverage.pug

    //- Damage Bar Section
  include ../components/service-plans/homesys-damage.pug

  //- Video Section
  include ../components/service-plans/homesys-video.pug

  //- Plan Comparison Section
  include ../components/service-plans/homesys-compare.pug
