//- Smarter Products
extends _layout

block content
  //- Page Hero/Head

  //- The Sciene of Healthy Sleep
  include ../components/smarter-products/spr-science.pug
  //- PureCare Designs

  //- Frio & Celliant

  //- Mattress & Pillow Protectors

  //- Chill Pillow

  //- Incoming Footer Component


