//- Smarter Products
extends _layout

block content
  //- Page Hero/Head

  //- The Science of Healthy Sleep
  include ../components/smarter-products/spr-science.pug
  //- PureCare Designs

  //- Frio & Celliant
  include ../components/smarter-products/spr-two-pillows.pug
  //- Mattress & Pillow Protectors

  //- Chill Pillow

  //- Dual Videos
  include ../components/smarter-products/spr-dual-video.pug
  //- Incoming Footer Component


