extends _layout

block content
  //- HERO
  //- Add me

  //- HERO BUMPER
  //- Add me

  //- Ink Section
  include ../components/smarter-products/hk-ink.pug

  //- Leather Kit Section
  //- Add me

  //- Pre-Footer Panelinks
  include ../components/smarter-products/hk-pane-links.pug
