extends _layout

block content
  //- Header
  include ../components/smarter-products/zu-hero.pug

  //- Six Grid
  include ../components/smarter-products/zu-sixgrid.pug

  //- Wave Module
  include ../components/smarter-products/zu-wave-content.pug


  //- Product Highlight

  //- Pop Gallery Module
  include ../components/smarter-products/zu-pop-gallery.pug

  //- Billboard Module
  include ../components/smarter-products/zu-billboard.pug

  //- Pre-footer Panelinks
  include ../components/smarter-products/zu-panelinks.pug
