extends _layout

block append head
  title Zucora Home | TODO-SEO

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='Environmentally responsible cleaning and personal care products for clean homes and healthy families that are not tested on animals.')


block content
  //- HERO
  include ../heroes/smarter-products-hero.pug

  //- HERO BUMPER
  include ../components/smarter-products/spr-sixgrid-3up.pug

  //- ZU COLLECTION SECTION
  include ../components/smarter-products/spr-featured-zu.pug

  //- PURECARE SECTION
  include ../components/smarter-products/spr-featured-pc.pug

  //- HOME CARE KITS SECTION
  include ../components/smarter-products/spr-featured-hk.pug

  //- PRE-FOOTER TRIMODULE
  include ../components/shared/trimodule.pug
