//- Smarter Products
extends _layout

block content
  //- Page Hero/Head
  include ../components/smarter-products/pc-hero.pug

  //- The Science of Healthy Sleep
  include ../components/smarter-products/pc-sixgrid.pug

  //- PureCare Designs
  include ../components/smarter-products/hero-wave-content.pug

  //- Frio & Celliant
  include ../components/smarter-products/pc-two-pillows.pug

  //- Mattress & Pillow Protectors
  include ../components/smarter-products/pc-protectors.pug

  //- Chillow Section
  include ../components/smarter-products/pc-chillow.pug

  //- Dual Videos
  include ../components/smarter-products/pc-dual-video.pug

  //- Panelinks
  include ../components/smarter-products/pc-pane-links.pug
