extends _layout

block append head
  title Zucora Home | TODO-SEO

  // [ SEO ]
  meta( name='keywords' 							content='TODO-SEO')
  meta( name='description' 						content='Non-toxic ingredients, without harsh chemicals ensure ZU Collection makes positive impact on your environment and family.')


block content
  //- Header
  include ../heroes/zu-hero.pug

  //- Six Grid
  include ../components/smarter-products/zu-sixgrid.pug

  //- Wave Module
  include ../components/smarter-products/zu-wave-content.pug

  //- Product Highlight
  include ../components/smarter-products/zu-blob.pug

  //- Pop Gallery Module
  include ../components/smarter-products/zu-pop-gallery.pug

  //- Pre-footer Panelinks
  include ../components/smarter-products/zu-panelinks.pug
