//- Smarter Products
extends _layout

block content
  //- Page Hero/Head

  //- The Sciene of Healthy Sleep

  //- PureCare Designs

  //- Frio & Celliant

  //- Mattress & Pillow Protectors

  //- Chill Pillow

  //- Incoming Footer Component


