//- Smarter Products
extends _layout

block append head
  title Zucora Home | PureCare

  // [ SEO ]
  meta( name='description' 						content='Healthy sleep and protection from bed bugs, dust mites and allergens with celliant and frio bedding')


block content
  //- Page Hero/Head
  include ../heroes/pc-hero.pug

  //- The Science of Healthy Sleep
  include ../components/smarter-products/pc-sixgrid.pug

  //- PureCare Designs
  include ../components/smarter-products/pc-hero-wave-content.pug

  //- Frio & Celliant
  include ../components/smarter-products/pc-two-pillows.pug

  //- Mattress & Pillow Protectors
  include ../components/smarter-products/pc-featured-protectors.pug

  //- Chillow Section
  include ../components/smarter-products/pc-featured-chillow.pug

  //- Dual Videos
  include ../components/smarter-products/pc-dual-video.pug

  //- Panelinks
  include ../components/smarter-products/pc-pane-links.pug
