extends _layout

block content
  //- HERO
  //- Add me

  //- HERO BUMPER
  //- Add me

  //- ZU COLLECTION SECTION
  include ../components/smarter-products/spr-zu-section.pug

  //- PURECARE SECTION
  include ../components/smarter-products/spr-pc-section.pug

  //- HOME CARE KITS SECTION
  include ../components/smarter-products/spr-hk-section.pug

  //- PRE-FOOTER TRIMODULE
  include ../components/shared/trimodule.pug
