extends _layout

block content
  //- Header
  include ../components/smarter-products/zu-hero.pug

  //- Six Grid
  include ../components/smarter-products/zu-sixgrid.pug

  //- Wave Module
  include ../components/smarter-products/zu-wave-content.pug

  //- Product Highlight
  include ../components/smarter-products/zu-blob.pug

  //- Pop Gallery Module
  include ../components/smarter-products/zu-pop-gallery.pug

  //- Pre-footer Panelinks
  include ../components/smarter-products/zu-panelinks.pug
