extends _layout

block content
  //- HERO
  include ../heroes/smarter-products-hero.pug

  //- HERO BUMPER
  include ../components/smarter-products/spr-sixgrid-3up.pug

  //- ZU COLLECTION SECTION
  include ../components/smarter-products/spr-zu-section.pug

  //- PURECARE SECTION
  include ../components/smarter-products/spr-pc-section.pug

  //- HOME CARE KITS SECTION
  include ../components/smarter-products/spr-hk-section.pug

  //- PRE-FOOTER TRIMODULE
  include ../components/shared/trimodule.pug
