extends _layout

block content
  //- HERO
  include ../heroes/hk-hero.pug

  //- HERO BUMPER (3 grid)
  include ../components/smarter-products/hk-sixgrid-three.pug

  //- Ink Section
  include ../components/smarter-products/hk-ink.pug

  //- Pre-Footer Panelinks
  include ../components/smarter-products/hk-pane-links.pug
