extends _layout

block content
  //- Header

  
  //- Six Grid
  include ../components/smarter-products/zu-sixgrid.pug

  //- Wave Module


  //- Product Highlight


  //- Shelf Module


  //- Billboard Module


  //- Pre-footer Panelinks
  
