extends _layout

block content
  .test-typography
    h1 Pack my box with five dozen liquor jugs.
    h2 Pack my box with five dozen liquor jugs.
    h3 Pack my box with five dozen liquor jugs.
    h4 Pack my box with five dozen liquor jugs.
    h5 Pack my box with five dozen liquor jugs.
    h6 Pack my box with five dozen liquor jugs.
    p Buffalo leberkas venison hamburger shankle brisket kevin pork chop. Short loin bresaola pork belly ground round hamburger venison salami short ribs bacon. Pancetta frankfurter pork loin ham, meatloaf filet mignon short loin. Kielbasa salami landjaeger, spare ribs fatback burgdoggen chuck picanha rump. Kielbasa pork chop boudin prosciutto. Corned beef ball tip sirloin alcatra pork loin buffalo turkey pancetta pork belly venison.
    div
      br
      a(href="#" title="this is a link")
        |This is a link
      br
    div
      br
      button.zuc-btn.zuc-btn-primary TEST BUTTON
      br
    div
      br
      button.zuc-btn.zuc-btn-secondary TEST BUTTON
      br
    div
      br
      button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad TEST BUTTON
      br
