section.zuc-hero-slider
  // Slide Container
  .zuc-slider-container
    // First Slide
    .suz-slide.flex.flex-vert-center.flex-hor-end
      // - Slide text content on the left
      .zuc-slide-content.u-soft-shadow
        h5.zuc-slide-title
          | Avoid the Unexpected
          p.zuc-slide-text
            | A Smarter Living Plan offers peace of mind and stress relief from unexpected product failures and breakdowns.

          a.zuc-btn.zuc-btn-secondary(href="#" title="Learn More")
            | Learn More
            i.fas.fa-arrow-right
      // - Slide Image
      .zuc-slide-media.u-soft-shadow(style="background-image: url('https://via.placeholder.com/900x700');")


  // Slideshow Controlls
  .zuc-slider-controls
    div.zuc-slide-btn(data-move-slide="1")
    div.zuc-slide-btn(data-move-slide="2")
    div.zuc-slide-btn(data-move-slide="2")

  // Backround element
  .zuc-slider-bkg
