- var quote ="Our technician was on time for the appointment and was able to fix our frige with parts that he had with him. Thanks Zucora team for the rapid response and efficient service."
section.zuc-hero-slider.--no-mob-bkg
  // Zuc Cost Module
  .zuc-cost-grid.flex.flex-vert-center.flex-hor-center
    .zuc-cost-action.d-green-bar
      h4.u-c-white.u-uppercase.u-normal
        |Manage your risk
      h3.u-font-serif
        |If you are still undecided.
      p
        |Low monthly fee gives you the most comprehensive service coverage available immediately without big upfront costs.


      a(class="zuc-btn zuc-btn-hollow u-soft-shadow" href="#" title="TODO")
        |GET STARTED TODAY
    // - Hellraiser Cube
    .zuc-cost-content
      // Top of Grid ( First 4 Tiles )
      .zuc-grid-row.flex.flex-vert-end.--grid-top
        .zuc-grid-double
          // Grid Item ------------------
          .zuc-grid-item.--height-one.--aircon
            .zuc-item-overlay
              .zuc-overlay-content(aria-hidden="true")
                .zuc-item-title
                  |PLACEHOLDER
                ul.zuc-item-costs
                  li
                    |REPAIR TYPE
                  li
                    |COST
                ul.zuc-item-costs
                  li
                    |REPAIR TYPE
                  li
                    |COST

          // Grid Item ------------------
          .zuc-grid-item.--height-one.--dining
            .zuc-item-overlay
              .zuc-overlay-content(aria-hidden="true")
                .zuc-item-title
                  |PLACEHOLDER
                ul.zuc-item-costs
                  li
                    |REPAIR TYPE
                  li
                    |COST
                ul.zuc-item-costs
                  li
                    |REPAIR TYPE
                  li
                    |COST

        // Grid Item ------------------
        .zuc-grid-item.--nudge.--height-one.--heater
          .zuc-item-overlay
            .zuc-overlay-content(aria-hidden="true")
              .zuc-item-title
                |PLACEHOLDER
              ul.zuc-item-costs
                li
                  |REPAIR TYPE
                li
                  |COST
              ul.zuc-item-costs
                li
                  |REPAIR TYPE
                li
                  |COST

        //Testimonial Item -----------
        .zuc-grid-item.--testimonial
          .zuc-quote-badge-container.flex.flex-vert-center.flex-hor-center.u-soft-shadow
            img(src='../../assets/images/icons/icon-quote-reverse.svg')

          .u-zuc-darkindigo
            p.zuc-body-small
              |#{quote}
            h6.u-color-white.u-text-enter.u-bold.u-uppercase
              |Jason H

      //- Top of Grid ( First 4 Tiles )
      .zuc-grid-row.flex.flex-vert-start.--grid-bottom
        // Grid Item ------------------
        .zuc-grid-item.--height-one.--fridge
          .zuc-item-overlay
            .zuc-overlay-content(aria-hidden="true")
              .zuc-item-title
                |PLACEHOLDER
              ul.zuc-item-costs
                li
                  |REPAIR TYPE
                li
                  |COST
              ul.zuc-item-costs
                li
                  |REPAIR TYPE
                li
                  |COST

        // Grid Item ------------------
        .zuc-grid-item.--height-one.--leather
          .zuc-item-overlay
            .zuc-overlay-content(aria-hidden="true")
              .zuc-item-title
                |PLACEHOLDER
              ul.zuc-item-costs
                li
                  |REPAIR TYPE
                li
                  |COST
              ul.zuc-item-costs
                li
                  |REPAIR TYPE
                li
                  |COST

        .zuc-grid-double
          // Grid Item ------------------
          .zuc-grid-item.--height-one.--bigchair
            .zuc-item-overlay
              .zuc-overlay-content(aria-hidden="true")
                .zuc-item-title
                  |PLACEHOLDER
                ul.zuc-item-costs
                  li
                    |REPAIR TYPE
                  li
                    |COST
                ul.zuc-item-costs
                  li
                    |REPAIR TYPE
                  li
                    |COST

          // Grid Item ------------------
          .zuc-grid-item.--height-one.--laundry
            .zuc-item-overlay
              .zuc-overlay-content(aria-hidden="true")
                .zuc-item-title
                  |PLACEHOLDER
                ul.zuc-item-costs
                  li
                    |REPAIR TYPE
                  li
                    |COST
                ul.zuc-item-costs
                  li
                    |REPAIR TYPE
                  li
                    |COST


  // Backround element
  .zuc-slider-bkg
      object(data='./images/shapes/hero-slider-bg.svg' type="image/svg+xml")
