- var quote ="Our technician was on time for the appointment and was able to fix our frige with parts that he had with him. Thanks Zucora team for the rapid response and efficient service."
section.zuc-hero-slider
  // Zuc Cost Module
  .zuc-cost-grid.flex.flex-vert-center.flex-hor-center
    .zuc-cost-action
      h4.u-c-white.u-uppercase
        |know your risk
      h3.u-font-serif
        |If you are on the fence about purchasing
      p
        |Discover the value.
      a(class="zuc-btn zuc-btn-primary zuc-read-all u-soft-shadow" href="#" title="TODO")
        |SELECT YOUR PLAN
    // - Hellraiser Cube
    .zuc-cost-grid
      // Top of Grid ( First 4 Tiles )
      .zuc-grid-row.--grid-top
        // Grid Item ------------------
        .zuc-grid-item(style="background-image: url('https://via.placeholder.com/350x800');")
          .zuc-item-overlay
            .zuc-item-title
              |PLACEHOLDER
            ul.zuc-item-costs
              li
                |REPAIR TYPE
              li
                |COST
              li
                |REPAIR TYPE
              li
                |COST

        // Grid Item ------------------
        .zuc-grid-item(style="background-image: url('https://via.placeholder.com/350x800');")
          .zuc-item-overlay
            .zuc-item-title
              |PLACEHOLDER
            ul.zuc-item-costs
              li
                |REPAIR TYPE
              li
                |COST
              li
                |REPAIR TYPE
              li
                |COST

        // Grid Item ------------------
        .zuc-grid-item(style="background-image: url('https://via.placeholder.com/350x800');")
          .zuc-item-overlay
            .zuc-item-title
              |PLACEHOLDER
            ul.zuc-item-costs
              li
                |REPAIR TYPE
              li
                |COST
              li
                |REPAIR TYPE
              li
                |COST
        //Testimonial Item -----------
        .zuc-grid-item.--testimonial
          .zuc-quote-badge-container.flex.flex-vert-center.flex-hor-center.u-soft-shadow
            img(src='../../assets/images/icons/icon-quote.svg')

          .zuc-quote-text.u-zuc-darkindigo
            p
              |#{quote}

      //- Top of Grid ( First 4 Tiles )
      .zuc-grid-row.--grid-top
      .zuc-grid-row.--grid-bottom
        // Grid Item ------------------
        .zuc-grid-item(style="background-image: url('https://via.placeholder.com/350x800');")
          .zuc-item-overlay
            .zuc-item-title
              |PLACEHOLDER
            ul.zuc-item-costs
              li
                |REPAIR TYPE
              li
                |COST
              li
                |REPAIR TYPE
              li
                |COST

        // Grid Item ------------------
        .zuc-grid-item(style="background-image: url('https://via.placeholder.com/350x800');")
          .zuc-item-overlay
            .zuc-item-title
              |PLACEHOLDER
            ul.zuc-item-costs
              li
                |REPAIR TYPE
              li
                |COST
              li
                |REPAIR TYPE
              li
                |COST

        // Grid Item ------------------
        .zuc-grid-item(style="background-image: url('https://via.placeholder.com/350x800');")
          .zuc-item-overlay
            .zuc-item-title
              |PLACEHOLDER
            ul.zuc-item-costs
              li
                |REPAIR TYPE
              li
                |COST
              li
                |REPAIR TYPE
              li
                |COST

        // Grid Item ------------------
        .zuc-grid-item(style="background-image: url('https://via.placeholder.com/350x800');")
          .zuc-item-overlay
            .zuc-item-title
              |PLACEHOLDER
            ul.zuc-item-costs
              li
                |REPAIR TYPE
              li
                |COST
              li
                |REPAIR TYPE
              li
                |COST


  // Backround element
  .zuc-slider-bkg
      object(data='./images/shapes/hero-slider-bg.svg' type="image/svg+xml")


