section.zuc-hero-slider
  // Slide Container
  .zuc-slider-container
    // First Slide
    .suz-slide.flex.flex-vert-center.flex-hor-center
      // - Slide text content on the left
      .zuc-slide-content

      .zuc-slid-media


  // Slideshow Controlls
  .zuc-slider-controls
    div.zuc-slide-btn(data-move-slide="1")
    div.zuc-slide-btn(data-move-slide="2")
    div.zuc-slide-btn(data-move-slide="2")

  // Backround element
  .zuc-slider-bkg
