section.zuc-hero-slider
  // Slide Container
  .zuc-slider-container(data-slide-container)
    // First Slide
    .zuc-slide.flex.flex-vert-center.flex-hor-end.--active-slide(data-slide="1")
      // - Slide text content on the left
      .zuc-slide-content.u-soft-shadow.d-green-bar
        h5.zuc-slide-title.u-font-serif.u-zuc-indigo
          |Avoid the unexpected.
        p.zuc-slide-text
          |A Smarter Living Plan offers peace of mind and stress relief from unexpected product failures and breakdowns.
        a.zuc-btn.zuc-btn-secondary(href="smarter-living.html" title="What is Smarter Living")
          |How it works
      // - Slide Image
      .zuc-slide-media.u-soft-shadow(aria-describedby="slide-1-dsc" style="background-image: url('https://via.placeholder.com/900x700');")
        .u-screenreader(id="slide-1-dsc")
          |DESCRIBE SLIDE IMAGE HERE BRIEFLY FOR THE VISUALLY IMPAIRED - TODO

    // Second Slide
    .zuc-slide.flex.flex-vert-center.flex-hor-end(data-slide="2")
      // - Slide text content on the left
      .zuc-slide-content.u-soft-shadow.d-green-bar
        h5.zuc-slide-title.u-font-serif.u-zuc-indigo
          |Second Slide
        p.zuc-slide-text
          |A Smarter Living Plan offers peace of mind and stress relief from unexpected product failures and breakdowns.

        a.zuc-btn.zuc-btn-secondary(href="#" title="Learn More")
          |Learn More
          i.fas.fa-arrow-right
      // - Slide Image
      .zuc-slide-media.u-soft-shadow(aria-describedby="slide-2-dsc" style="background-image: url('https://via.placeholder.com/900x700');")
        .u-screenreader(id="slide-2-dsc")
          |DESCRIBE SLIDE IMAGE HERE BRIEFLY FOR THE VISUALLY IMPAIRED - TODO

    // Third Slide
    .zuc-slide.flex.flex-vert-center.flex-hor-end(data-slide="3")
      // - Slide text content on the left
      .zuc-slide-content.u-soft-shadow.d-green-bar
        h5.zuc-slide-title.u-font-serif.u-zuc-indigo
          |Third Slide
        p.zuc-slide-text
          |A Smarter Living Plan offers peace of mind and stress relief from unexpected product failures and breakdowns.

        a.zuc-btn.zuc-btn-secondary(href="#" title="Learn More")
          |Learn More
          i.fas.fa-arrow-right
      // - Slide Image
      .zuc-slide-media.u-soft-shadow(aria-describedby="slide-3-dsc" style="background-image: url('https://via.placeholder.com/900x700');")
        .u-screenreader(id="slide-3-dsc")
          |DESCRIBE SLIDE IMAGE HERE BRIEFLY FOR THE VISUALLY IMPAIRED - TODO

    // Fourth Slide
    .zuc-slide.flex.flex-vert-center.flex-hor-end(data-slide="4")
      // - Slide text content on the left
      .zuc-slide-content.u-soft-shadow.d-green-bar
        h5.zuc-slide-title.u-font-serif.u-zuc-indigo
          |Fourth
        p.zuc-slide-text
          |A Smarter Living Plan offers peace of mind and stress relief from unexpected product failures and breakdowns.

        a.zuc-btn.zuc-btn-secondary(href="#" title="Learn More")
          |Learn More
          i.fas.fa-arrow-right
      // - Slide Image
      .zuc-slide-media.u-soft-shadow(aria-describedby="slide-4-dsc" style="background-image: url('https://via.placeholder.com/900x700');")
        .u-screenreader(id="slide-4-dsc")
          |DESCRIBE SLIDE IMAGE HERE BRIEFLY FOR THE VISUALLY IMPAIRED - TODO

  // Slideshow Controls
  .zuc-slider-controls.flex.flex-hor-center.flex-vert-center(aria-role="menu")
    div.zuc-slide-selector.--active(data-move-slide="1" aria-role="menuitem" aria-label="Go to slide 1")
    div.zuc-slide-selector(data-move-slide="2" aria-role="menuitem" aria-label="Go to slide 2")
    div.zuc-slide-selector(data-move-slide="3" aria-role="menuitem" aria-label="Go to slide 3")
    div.zuc-slide-selector(data-move-slide="4" aria-role="menuitem" aria-label="Go to slide 4")

  // Backround element
  .zuc-slider-bkg
      object(data='./images/shapes/hero-slider-bg.svg' type="image/svg+xml")
