- var quote ="Our technician was on time for the appointment and was able to fix our frige with parts that he had with him. Thanks Zucora Home team for the rapid response and efficient service."
section.zuc-hero-slider.--no-mob-bkg(id="manage-risk")
  // Zuc Cost Module
  .zuc-cost-grid.flex.flex-vert-center.flex-hor-center
    .zuc-cost-action.d-green-bar
      h4.u-c-white.u-uppercase.u-normal
        |Manage your risk
      h3.u-font-serif
        |If you are still undecided.
      p
        |Low monthly fee gives you the most comprehensive service coverage available immediately without big upfront costs.


      a(class="zuc-btn zuc-btn-hollow u-soft-shadow" href="service-plans.html" title="See all of our service plans")
        |GET STARTED TODAY
    // - Hellraiser Cube
    .zuc-cost-content
      // Top of Grid ( First 4 Tiles )
      .zuc-grid-row.flex.flex-vert-end.--grid-top
        .zuc-grid-double
          // Grid Item ------------------
          .zuc-grid-item.--height-one.--aircon
            .zuc-item-overlay
              .zuc-overlay-content(aria-hidden="true")
                .zuc-item-title
                  |Air Conditioning Unit
                ul.zuc-item-costs
                  li
                    |Typical Repair:
                  li
                    |$120.00 + Parts
                ul.zuc-item-costs
                  li
                    |Typical Replacement:
                  li
                    |3,000.00 - $5,000

          // Grid Item ------------------
          .zuc-grid-item.--height-one.--dining
            .zuc-item-overlay
              .zuc-overlay-content(aria-hidden="true")
                .zuc-item-title
                  |Dining Room Set
                ul.zuc-item-costs
                  li
                    |Typical Repair:
                  li
                    |$195.00 + Parts
                ul.zuc-item-costs
                  li
                    |Typical Replacement:
                  li
                    |$1,494.00

        // Grid Item ------------------
        .zuc-grid-item.--nudge.--height-one.--heater
          .zuc-item-overlay
            .zuc-overlay-content(aria-hidden="true")
              .zuc-item-title
                |Water Heater
              ul.zuc-item-costs
                li
                  |Typical Repair:
                li
                  |$120.00 + Parts
              ul.zuc-item-costs
                li
                  |Typical Replacement:
                li
                  |$566.00

        //Testimonial Item -----------
        .zuc-grid-item.--testimonial
          .zuc-quote-badge-container.flex.flex-vert-center.flex-hor-center.u-soft-shadow
            img(src='../../assets/images/icons/icon-quote-reverse.svg')

          .u-zuc-darkindigo
            p.zuc-body-small
              |#{quote}
            h6.u-color-white.u-text-enter.u-bold.u-uppercase
              |Jason H

      //- Top of Grid ( First 4 Tiles )
      .zuc-grid-row.flex.flex-vert-start.--grid-bottom
        // Grid Item ------------------
        .zuc-grid-item.--height-one.--fridge
          .zuc-item-overlay
            .zuc-overlay-content(aria-hidden="true")
              .zuc-item-title
                |Refridgerator
              ul.zuc-item-costs
                li
                  |Typical Repair:
                li
                  |$300.00 - $520.00
              ul.zuc-item-costs
                li
                  |Typical Replacement:
                li
                  |$1,394.00

        // Grid Item ------------------
        .zuc-grid-item.--height-one.--leather
          .zuc-item-overlay
            .zuc-overlay-content(aria-hidden="true")
              .zuc-item-title
                |Leather Sofa
              ul.zuc-item-costs
                li
                  |Typical Repair:
                li
                  |$120 + Parts
              ul.zuc-item-costs
                li
                  |Typical Replacement:
                li
                  |$1,399.00 - $2,999.00

        .zuc-grid-double
          // Grid Item ------------------
          .zuc-grid-item.--height-one.--bigchair
            .zuc-item-overlay
              .zuc-overlay-content(aria-hidden="true")
                .zuc-item-title
                  |Oversize Fabric Chair
                ul.zuc-item-costs
                  li
                    |$120 + Parts
                  li
                    |COST
                ul.zuc-item-costs
                  li
                    |Typical Replacement:
                  li
                    |$849.00

          // Grid Item ------------------
          .zuc-grid-item.--height-one.--laundry
            .zuc-item-overlay
              .zuc-overlay-content(aria-hidden="true")
                .zuc-item-title
                  |Washer &amp; Dryer:
                ul.zuc-item-costs
                  li
                    |Typical Repair:
                  li
                    |$300.00-$520.00
                ul.zuc-item-costs
                  li
                    |Typical Replacement:
                  li
                    |$1,600.00 - $4,000


  // Backround element
  .zuc-slider-bkg
      object(data='./Images/Zuc/images/shapes/hero-slider-bg.svg' type="image/svg+xml")
