-
  var introText = [
    'Smarter Living is about choices that make life more comfortable and convenient. We take the stress out of home ownership with professional services and innovatiave products designed to protect your budget while delivering peace of mind for you and your family.',
    'Smarter Living provides new technologies so you can securely connect all of your home systems to control your home’s lighting, climate, entertainments and security in one easy-to-use application. Discover how easy it is to enjoy Smarter Living with Zucora Home.'
  ]
-
  var videoText = 'When you choose a Smarter Living Plan, you are making responsible choices that have a positive impact on your finances, your family’s well-being, and the environment within your home and your communities.'

section.zuc-secondary-header(style="background-image:url('http://lullabycasa.net/wp-content/uploads/2015/07/decoration-interior-fancy-yellow-leather-for-your-house-beautiful-living-room-interior-design-combined-with-brown-wooden-coffee-table-and-white-ceiling-fitting-cool-ideas-for-house-beautiful-living-r.jpg');")
  // Hero Content - Wrapper
  .zuc-hero-content
    // Top Content
    .zuc-hero-row.flex.flex-vert-center
      .zuc-hero-left
        h1.u-font-serif.u-zuc-indigo
          |What is Smarter Living?
        p
          |#{introText[0]}
        p
          |#{introText[1]}
        a.zuc-btn.zuc-btn-secondary.u-uppercase(href="#" title="TODO")
          |See All Plans
      .zuc-hero-right
        img(src="https://via.placeholder.com/1280x845" title="TODO")
    // Bottom Video
    .zuc-hero-row.flex.flex-vert-center.--video-row
      .zuc-hero-left
        h1.u-font-serif.u-zuc-indigo
          |To live smarter offers security.
        p
          |#{videoText}
      .zuc-hero-right
        .zuc-video-player
          // Images
          img(src='../../assets/images/ZucoraHome-brand-white.svg')
          // Play Button
          i.far.fa-play-circle
          // video Title
          .zuc-video-title
            |Choose to protect your home and your family.

include ../modals/modal-smarter-video.pug
