section.zuc-secondary-header
  // Media container
  .zuc-hero-media-container
    // Video or Image ( Image can also be added as BKG to above container )
    video(
      class="zuc-hero-video"
      poster="https://thumbs.gfycat.com/ClearFreshGossamerwingedbutterfly-poster.jpg"
      style="background-image: url('https://thumbs.gfycat.com/ClearFreshGossamerwingedbutterfly-poster.jpg'); background-size: cover;"
      preload="auto" autoplay muted loop )

      //- At least two sources plz
      source(src="https://giant.gfycat.com/ClearFreshGossamerwingedbutterfly.webm" type="video/webm")
      source(src="https://giant.gfycat.com/ClearFreshGossamerwingedbutterfly.mp4" type="video/mpr")
  .zuc-hero-content
