.zuc-mobile-social.flex.flex-row.flex-hor-between.flex-vert-center
  // Facebook
  a.zuc-social-link(href="#" title="Like us on Facebook")
    i.fab.fa-facebook-f
  // Twitter
  a.zuc-social-link(href="#" title="Follow us on Instagram")
    i.fab.fa-instagram
  // Instagram
  a.zuc-social-link(href="#" title="Follow us on Twitter")
    i.fab.fa-twitter
