.zuc-mobile-social.flex.flex-row.flex-hor-center.flex-vert-center
  // Facebook
  a.zuc-social-link(href="#" title="Like us on Facebook")
    i.fab.fa-facebook-f
  // Instagram
  a.zuc-social-link(href="#" title="Follow us on Instagram")
    i.fab.fa-instagram
  // LinkedIn
  a.zuc-social-link(href="#" title="Follow us on LinkedIn")
    i.fab.fa-linkedin-in
  //- NOPE
    // Email
    a.zuc-social-link(href="mailto:" title="Follow us on LinkedIn")
      i.far.fa-envelope
