section.zuc-blog-module-container.flex.flex-wrap
  .zuc-blog-header
    .zuc-title-container
      h4
        |LATEST RESOURCES
      .zuc-title-flag
        .--red
    h5.u-font-serif.u-zuc-indigo
      |Smarter Living Matters
    a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
      |TIPS &amp; RESOURCES
  .zuc-triple-block-container.flex.flex-wrap
    .zuc-blog-item-right
        h2
          |Learn more about creating a healthy sleep environment.
        .zuc-blog-item-info
          span.zuc-blog-item-date
            |Nov 10, 2008
          span
            |  | 
          span.zuc-blog-item-category
            |Sleep Health
        p.zuc-blog-item-blurb
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporem. Lorem ipsum dolor sit amet, consectetur
    .zuc-blog-item-right
        h2
          |Learn more about creating a healthy sleep environment.
        .zuc-blog-item-info
          span.zuc-blog-item-date
            |Nov 10, 2008
          span
            |  | 
          span.zuc-blog-item-category
            |Sleep Health
        p.zuc-blog-item-blurb
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporem. Lorem ipsum dolor sit amet, consectetur
    .zuc-blog-item-right
        h2
          |Learn more about creating a healthy sleep environment.
        .zuc-blog-item-info
          span.zuc-blog-item-date
            |Nov 10, 2008
          span
            |  | 
          span.zuc-blog-item-category
            |Sleep Health
        p.zuc-blog-item-blurb
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporem. Lorem ipsum dolor sit amet, consectetur