section.zuc-tri-module.flex
  img.zuc-tri-module-wave(src="", alt="todo")
  .zuc-tri-box
    .redboi
  .zuc-tri-box.blog-box
    .zuc-tri-box-title-container.flex
      h4
        |BLOG
      .zuc-title-flag
        .--red
    h2.u-font-serif.u-zuc-indigo
      |Smarter Living Matters
    .zuc-blog-item
      .zuc-blog-item-left
      .zuc-blog-item-right
        h2
          |Learn more about creating a healthy sleep environment.
        .zuc-blog-item-info
          span.zuc-blog-item-date
            |Nov 10, 2008
          span
            |  | 
          span.zuc-blog-item-category
            |Sleep Health
        p.zuc-blog-item-blurb
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporem. Lorem ipsum dolor sit amet, consectetur
    .zuc-blog-item
      .zuc-blog-item-left
      .zuc-blog-item-right
        h2
          |Learn more about creating a healthy sleep environment.
        .zuc-blog-item-info
          span.zuc-blog-item-date
            |Nov 10, 2008
          span
            |  | 
          span.zuc-blog-item-category
            |Sleep Health
        p.zuc-blog-item-blurb
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporem. Lorem ipsum dolor sit amet, consectetur
  .zuc-tri-box.why-box
    h2.u-font-serif.u-zuc-indigo
      |Why Zucora Home?
    .zuc-why-box-icons
      img(src="../../assets/images/icons/icon-24-7-service.svg", alt="An icon of a clock with an arrow surrounding it")
      img(src="../../assets/images/icons/icon-fast-service.svg", alt="An icon of a clock turning quickly")
      img(src="../../assets/images/icons/icon-tech-network.svg", alt="An icon of two technicians")
    a.zuc-btn.zuc-btn-secondary(href="#" alt="todo")
      |READ REVIEWS
