section.zuc-tri-module.flex.flex-wrap
  img.zuc-tri-module-wave(src="../../assets/images/shapes/wave-shape-bottom-flat.svg", alt="An abstract conrete colored wave shape")
  .zuc-tri-box.--review-box
    .zuc-quote-badge.flex.flex-vert-center.flex-hor-center.u-soft-shadow
      img(src='../../assets/images/icons/icon-quote.svg')
    h2.u-font-serif.u-zuc-indigo.u-text-center
      |See what our Members say
    .zuc-review-text.u-zuc-darkindigo
      p
        |Just a quick thank you for your professionalism. Our technician explained the process before he began and impressed us with his friendly manner. I will recommend your services to friends and  family. Truly a satisfied customer.
    .zuc-review-stars.flex.flex-row.flex-space-around
      img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
      img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
      img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
      img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
      img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
    p.zuc-review-author.u-bold.u-zuc-darkindigo.u-uppercase
      |— Jason H.
    a.zuc-review-button.--right.u-soft-shadow.flex.flex-vert-center.flex-hor-center(href='#' title="Previous review")
      img(src='../../assets/images/icons/icon-arrow.svg' alt='A small white arrow symbol pointing right')
    a.zuc-review-button.--left.u-soft-shadow.flex.flex-vert-center.flex-hor-center(href='#' title="Next review")
      img.u-imgflip-hor(src='../../assets/images/icons/icon-arrow.svg' alt='A small white arrow symbol pointing left')
    a.zuc-btn.zuc-btn-secondary(href="#" alt="Read reviews")
      |READ REVIEWS
  .zuc-tri-box.--blog-box
    .zuc-tri-blog-titles
      .zuc-title-container
        h4.u-uppercase
          |Latest Resources
        .zuc-title-flag
          .--red
      h3.u-font-serif.u-zuc-indigo
        |Smarter Living Matters
    .zuc-blog-item
      .zuc-blog-item-left
      .zuc-blog-item-right
        h2
          |Learn more about creating a healthy sleep environment.
        .zuc-blog-item-info
          span.zuc-blog-item-date
            |Nov 10, 2008
          span
            |  |&#32;
          span.zuc-blog-item-category
            |Sleep Health
        p.zuc-blog-item-blurb
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporem. Lorem ipsum dolor sit amet, consectetur
    .zuc-blog-item
      .zuc-blog-item-left
      .zuc-blog-item-right
        h2
          |Learn more about creating a healthy sleep environment.
        .zuc-blog-item-info
          span.zuc-blog-item-date
            |Nov 10, 2008
          span
            |  |&#32;
          span.zuc-blog-item-category
            |Sleep Health
        p.zuc-blog-item-blurb
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporem. Lorem ipsum dolor sit amet, consectetur
  .zuc-tri-box.--why-box
    h2.u-font-serif.u-zuc-indigo
      |Why Zucora Home?
    .zuc-why-box-icon-row
      .zuc-why-box-icon-item
        .zuc-why-box-icon-img
          img(src="../../assets/images/icons/icon-experienced.svg", alt="An icon of a document with a thumbs up")
        h6
          |EXPERIENCED
      .zuc-why-box-icon-item
        .zuc-why-box-icon-img
          img(src="../../assets/images/icons/icon-nationwide.svg", alt="An icon of a map")
        h6
          |NATIONWIDE
      .zuc-why-box-icon-item
        .zuc-why-box-icon-img
          img(src="../../assets/images/icons/icon-guaranteed.svg", alt="An icon of a victory badge")
        h6
          |GUARANTEED
    a.zuc-btn.zuc-btn-secondary(href="about.html" alt="About Zucora")
      |ABOUT US
