.zuc-ec-cat-breadcrumbs {
  order: 1;
}

.zuc-ec-cat-head {
  order: 2;
}

.zuc-ec-cat-toggle {
  order: 3;
}

.zuc-ec-cat-shelf {
  order: 4;
}

.zuc-ec-cat-pagination {
  order: 5;
}

.zuc-ec-cat-blurb {
  order: 6;
}

.zuc-ec-cat-links {
  order: 7;
}
