.zuc-ec-cat-pagination {
  width: 100%;
  margin: vw-phone(35) auto;

  @media #{$tablet-only} {
    margin: vw-tablet(25) auto;
  }

  @media #{$laptop-only} {
    margin: 0 auto vw-laptop(45);
  }

  @media #{$desktop-up} {
    margin: vw-desktop(45) auto;
  }
}
