.zuc-ec-cat-blurb {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 vw-phone(30);

  @media #{$tablet-only} {
    margin: vw-tablet(25) 0 vw-tablet(50);
  }

  @media #{$laptop-up} {
    margin: 0 0 vw-desktop(70);
  }

  .zuc-ec-blurb-text {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-weight: 300;
    line-height: 1.38;
    text-align: center;
    padding: 0 5%;
    @include all-fonts(23.5, 23.5, 23.5, 14);

    @media #{$tablet-only} {
      padding: 0 2%;
    }

    @media #{$laptop-up} {
      padding: 0 18%;
    }
  }
}
