.zuc-ec-cat-head {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .zuc-ec-cat-head-title {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    @include all-fonts(47,47,35,30);
  }
}
