// Smarter Products Hero.

.zuc-spr-hero-container {
  width: 100%;
  position: relative;
  // padding: 300px 0;
  overflow: hidden;

  .zuc-hero-content {
    width: 80%;
    position: absolute;
    margin: 0 auto;
    top: 20%;
    left: 14%;

    @media #{$tablet-lnd-only} {
      width: 90%;
    }
    @media #{$laptop-only} {
      width: 90%;
    }
    @media #{$portrait} {
      width: 100%;
    }
  }

  .zuc-hero-left {
    width: 40%;
    padding: 0 2.2vw;
    position: relative;

    @media #{$portrait} {
      width: 100%;
      padding: 5vw;
      text-align: center;

      h5,
      p {
        text-align: left;
      }
    }
  }
}

.zuc-spr-hero--bkg-img {
  background-image: url('../../assets/images/smarter-products-child/comfort-hero.png');
  height: 100%;
  top: 0;
  right: 0;
  // padding: 20vh 0;
  z-index: -1;
  z-index: -2;
  background-size: cover;
  padding-top: 50%;
  background-position: center;
}

.zuc-spr-hero--bkg-shape {
  background-image: url('../../assets/images/shapes/wave-top.svg');
  z-index: 1;
  bottom: -22px;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
}
