.zuc-ec-plan-action-zone-container {
  width: 100%;
  position: relative;
  padding: 0 0 vw-phone(50);
  display: none;

  @media #{$tablet-only} {
    padding: 0 0 vw-tablet(150);
  }
  @media #{$laptop-only} {
    padding: 0 6vw vw-laptop(150);
  }
  @media #{$desktop-up} {
    padding: 0 6vw vw-desktop(150);
  }

  &.--active {
    display: flex;
  }
}

.zuc-ec-plan-action-zone {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: $color-pure-white;
  box-shadow: 0 2px 68px 0 rgba(12, 12, 12, .2);
  z-index: 5;
  flex-direction: column;

  @media #{$laptop-up} {
    flex-direction: row;
  }
}

/*****

  Variables

  For consistent things!

*****/

$zecac-inner-padding-tablet: vw-tablet(35);
$zecac-info-padding-laptop: vw-laptop(30);
$zecac-info-padding-desktop: vw-desktop(30);

/*************************************

  Action Zone LEFT Side

*************************************/

.zuc-ec-action-zone-left {
  width: 100%;
  padding: vw-phone(35) vw-phone(13) vw-phone(20);

  @media #{$tablet-only} {
    padding: vw-tablet(35) $zecac-inner-padding-tablet vw-tablet(40);
  }
  @media #{$laptop-up} {
    width: 30%;
    padding: vw-laptop(56) 0 vw-laptop(30) vw-laptop(40);
  }
  @media #{$desktop-up} {
    padding: vw-desktop(56) 0 vw-desktop(30) vw-desktop(40);
  }
}

.zuc-ec-action-zone-cta-box {

  .zuc-ec-action-zone-cta-blurb {
    color: $color-zuc-darkindigo;
    font-weight: 500;
    font-size: vw-phone(14);

    @media #{$tablet-only} {
      font-size: vw-tablet(18);
    }
    @media #{$laptop-only} {
      font-size: vw-laptop(18);
    }
    @media #{$desktop-up} {
      font-size: vw-desktop(18);
    }
  }
}

/***

  .zuc-ec-action-zone-control-box-{ desktop ?? small }

  desktop/small toggle based on screen size and should share a lot of styles

***/

/*************************************

  Action Zone RIGHT Side

*************************************/

.zuc-ec-action-zone-right {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media #{$laptop-up} {
    width: 70%;
    flex-direction: row;
    padding: vw-laptop(40) vw-laptop(40) 0;
  }
  @media #{$desktop-up} {
    padding: vw-desktop(50) vw-desktop(40) 0;
  }
}

.zuc-ec-action-zone-info-col {
  display: flex;
  flex-direction: column;
  padding: 0 vw-phone(25) 0;

  &:nth-child( n+2 ) {
    margin: vw-phone(50) 0 0 0;
  }

  @media #{$tablet-only} {
    flex-direction: row;
    padding: 0 $zecac-inner-padding-tablet;

    &:nth-child( n+2 ) {
      margin: vw-desktop(50) 0 0 0;
    }
  }
  @media #{$laptop-up} {
    padding: 0;
    position: relative;

    &:nth-child( n+2 ) {
      margin: 0 0 0 vw-laptop(50);
    }
  }
  @media #{$desktop-up} {
    &:nth-child( n+2 ) {
      margin: 0 0 0 vw-desktop(50);
    }
  }
}

.zuc-ec-action-zone-image-box {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: vw-phone(150);

  @media #{$tablet-only} {
    width: 30%;
    height: vw-tablet(150);
  }
  @media #{$laptop-only} {
    height: vw-laptop(170);
  }
  @media #{$desktop-up} {
    height: vw-desktop(190);
  }

  img {
    width: 100%;
  }
}

.zuc-ec-action-zone-info-box {
  margin: vw-phone(25) 0 0 vw-phone(15);

  @media #{$tablet-only} {
    width: 40%;
    margin: 0 0 0 vw-tablet(30);
  }
  @media #{$laptop-only} {
    margin: vw-laptop(10) 0 vw-laptop(180) $zecac-info-padding-laptop;
  }
  @media #{$desktop-up} {
    margin: vw-desktop(10) 0 vw-desktop(180) $zecac-info-padding-desktop;
  }

  .zuc-ec-action-zone-info-title {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-size: vw-phone(23.5);

    @media #{$tablet-only} {
      font-size: vw-tablet(23.5);
    }
    @media #{$laptop-only} {
      font-size: vw-laptop(26);
    }
    @media #{$desktop-up} {
      font-size: vw-desktop(26);
    }
  }

  .zuc-ec-action-zone-info-list {
    font-size: vw-phone(14);
    font-weight: 300;

    @media #{$tablet-only} {
      font-size: vw-tablet(14);
    }
    @media #{$laptop-only} {
      font-size: vw-laptop(14);
    }
    @media #{$desktop-up} {
      font-size: vw-desktop(14);
    }
  }
}

.zuc-ec-action-zone-bumper-box {
  width: 100%;
  margin: 0 vw-phone(15);
  font-family: $main-font-serif;
  font-weight: 300;
  color: $color-zuc-indigo;
  // letter-spacing: vw-desktop(2);
  display: flex;
  flex-direction: column;
  // tmp
  // margin-top: 4vw;

  @media #{$tablet-up} {
    width: 30%;
    margin: 0;
  }
  @media #{$laptop-up} {
    position: absolute;
    bottom: vw-desktop(60);
    width: 100%;
    margin: 0 $zecac-info-padding-laptop;
  }
  @media #{$desktop-up} {
    margin: 0 $zecac-info-padding-desktop;
  }

  .zuc-ec-action-zone-price-btn {
    padding: vw-desktop(20) 0;
  }

  .zuc-ec-action-zone-taxes {
    padding-top: vw-desktop(12);
    color: $color-zuc-darkindigo;
  }

  .zuc-ec-action-zone-add-on {
    padding-top: vw-desktop(18);
    font-family: $main-font;
    color: $color-zuc-darkindigo;
    font-weight: 600;
  }
}

.zuc-ec-action-zone-price {
  display: flex;

  .sign,
  .dollar {
    font-size: vw-desktop(50);
  }

  .savings {
    font-size: vw-desktop(38);
  }

  .cents {
    align-self: flex-start;
  }

  .month {
    align-self: flex-end;
  }
}

/*************************************

  Action Zone EVERYTHING ELSE

*************************************/

.zuc-ec-action-zone-share-box {
  width: 100%;
  background: #fa99c1;
  display: none; //- Hide for launch
}

.zuc-ec-action-protected-btn {
  width: auto;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .4s;
  border-radius: 20vw;
  position: relative;
  vertical-align: middle;
  font-size: .83vw;
  font-family: $main-font;
  color: $color-pure-white;
  border: 2px solid $color-zuc-mint;
  background: $color-zuc-mint;
  padding: 1.45vw 2.21vw;
  // todo: temporary hardcode value.
  margin: 36px 0;
}

.zuc-ec-action-zone-bg-img {
  position: absolute;
  z-index: -5;
  width: 150%;
  top: -5%;
  left: -20%;

  @media #{$tablet-only} {
    width: 150%;
    top: -20%;
    left: -20%;
  }

  @media #{$laptop-only} {
    width: 102%;
    top: -30%;
    left: -2px;
  }

  @media #{$desktop-up} {
    width: 102%;
    top: -50%;
    left: -2px;
  }
}
