/**********************************************************

  ZU Collection Section

**********************************************************/

section.zuc-spr-zu,
section.zuc-spr-pc,
section.zuc-spr-hk {
  position: relative;
  width: 100%;

  &.--section-spacing {
    margin: 7vw 0;
  }
}

.zuc-spr-zu-left {
  display: flex;
  justify-content: center;
  width: 100%;

  @media #{$laptop-up} {
    justify-content: flex-end;
    width: 60%;
  }
  .zuc-img-box {
    width: vw-phone(315);

    @media #{$tablet-only} {
      width: vw-tablet(742);
      padding: vw-tablet(10) 0 0 vw-tablet(60);
    }

    @media #{$laptop-up} {
      width: vw-desktop(830);
    }
  }

  img {
    width: 100%;
  }
}

.zuc-spr-zu-right {
  width: 100%;
  padding: vw-phone(18) vw-phone(20) 0;

  @media #{$tablet-only} {
    padding: vw-tablet(10) 0 0 vw-tablet(60);
  }

  @media #{$laptop-up} {
    width: 40%;
    padding: 0 0 0 vw-desktop(81);
  }

  h3 {
    width: 100%;

    @media #{$tablet-only} {
      width: vw-tablet(546);
    }

    @media #{$laptop-up} {
      width: vw-desktop(506);
    }
  }

  p {
    width: 100%;

    @media #{$tablet-only} {
      width: vw-tablet(653);
    }

    @media #{$laptop-up} {
      width: vw-desktop(531);
    }
  }
}

/**********************************************************

  PURECARE Section

**********************************************************/

section.zuc-spr-pc {
  padding: vw-phone(100) 0 0;

  @media #{$tablet-only} {
    padding: vw-tablet(120) 0 0;
  }

  @media #{$laptop-up} {
    padding: vw-desktop(82) 0 0;
  }
}

.zuc-spr-pc-left {
  width: 100%;
  padding: 0 vw-phone(20) vw-phone(55);

  @media #{$tablet-only} {
    padding: 0 0 vw-tablet(85) vw-tablet(60);
  }

  @media #{$laptop-up} {
    width: 40%;
    padding: 0 0 0 vw-desktop(226);
  }

  h3 {
    width: 100%;

    @media #{$tablet-only} {
      width: vw-tablet(429);
    }

    @media #{$laptop-up} {
      width: vw-desktop(429);
    }
  }

  p {
    width: 100%;

    @media #{$tablet-only} {
      width: vw-tablet(655);
    }

    @media #{$laptop-up} {
      width: vw-desktop(519);
    }
  }
}

.zuc-spr-pc-right {
  display: flex;
  justify-content: center;
  width: 100%;

  @media #{$laptop-up} {
    justify-content: flex-start;
    width: 60%;
  }

  img {
    width: 100%;
  }
}

/**********************************************************

  Home Kits Section

**********************************************************/

section.zuc-spr-hk {
  padding: vw-phone(146)0 vw-phone(130);

  @media #{$tablet-only} {
    padding: 0 0 vw-tablet(230);
  }

  @media #{$laptop-up} {
    padding: 0 0 vw-desktop(350);
  }
}

.zuc-spr-hk-left {
  display: flex;
  justify-content: center;
  width: 100%;

  @media #{$tablet-only} {
    padding: vw-tablet(206) 0 0;
  }

  @media #{$laptop-up} {
    justify-content: flex-end;
    width: 50%;
    padding: 0;
  }

  img {
    width: 100%;
  }
}

.zuc-spr-hk-right {
  width: 100%;
  padding: vw-phone(44) vw-phone(20) 0;

  @media #{$tablet-only} {
    padding: vw-tablet(48) 0 0 vw-tablet(60);
  }

  @media #{$laptop-up} {
    width: 50%;
    padding: vw-desktop(106) 0 0;
  }

  h3 {
    width: 100%;

    @media #{$tablet-only} {
      width: vw-tablet(531);
    }

    @media #{$laptop-up} {
      width: vw-desktop(429);
    }
  }

  p {
    width: 100%;

    @media #{$tablet-only} {
      width: vw-tablet(531);
    }

    @media #{$laptop-up} {
      width: vw-desktop(519);
    }
  }
}
