/*************************************************

  Base Styles for all Smarter Product Heroes

*************************************************/

.zuc-spr-hero-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 80vh;

  @media #{$tablet-only} {
    height: 85vh;
  }

  @media #{$tablet-lnd-only} {
    height: 100vh;
  }

  @media #{$laptop-up} {
    height: 80vh;
  }

  .zuc-spr-hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(67, 77, 160, .7);
    height: 100%;
    width: 100%;
    padding: 10vw 5vw 0;

    @media #{$tablet-only} {
      width: 85%;
      margin: 0 7.5vw;
      padding: 7.5vw 8vw 0;
    }

    @media #{$tablet-lnd-only} {
      width: 85%;
      margin: 0 7.5vw;
      padding: 5vw 8vw 0;
    }

    @media #{$laptop-up} {
      width: 33%;
      margin: 0 0 0 16vw;
      padding: vw-desktop(125) vw-desktop(50) 0;
    }

    h3 {
      color: $color-pure-white;
      font-family: $main-font-serif;
      text-shadow: 0 2px 16px rgba(12, 12, 12, .54);
      font-weight: 300;
      font-size: vw-phone(34);

      @media #{$tablet-only} {
        font-size: vw-tablet(60);
      }

      @media #{$laptop-up} {
        font-size: vw-desktop(60);
      }
    }

    h1 {
      color: $color-pure-white;
      font-family: $main-font-serif;
      text-shadow: 0 2px 16px rgba(12, 12, 12, .54);
      font-weight: 100;
      font-size: vw-phone(34);

      @media #{$tablet-only} {
        font-size: vw-tablet(60);
      }

      @media #{$laptop-up} {
        font-size: vw-desktop(60);
      }
    }

    p {
      color: $color-pure-white;
      text-shadow: 0 2px 16px rgba(12, 12, 12, .54);
      font-weight: 100;
      margin: 0 0 vw-phone(25);
      font-size: vw-phone(14);

      @media #{$tablet-only} {
        margin: 0 0 vw-tablet(45);
        font-size: vw-tablet(30);
      }

      @media #{$laptop-up} {
        margin: 0 0 vw-desktop(30);
        font-size: vw-desktop(30);
      }
    }
  }

  .--zu-hero {

    @media #{$phone-only} {
      padding-top: 25.5vw;
    }

    @media #{$tablet-only} {
      padding: 10.5vw 8vw 0;
    }

    @media #{$tablet-lnd-only} {
      padding: 7vw 8vw 0;
    }

    @media #{$tablet-lnd-only} {
      padding: 7vw 8vw 0;
    }
    
    p {
      line-height: 1.3;
    }
  }

  .product-image {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: vw-phone(30);
    width: vw-phone(261);

    @media #{$tablet-only} {
      left: vw-tablet(115);
      width: vw-tablet(550);
    }

    @media #{$tablet-lnd-only} {
      bottom: vw-tablet(15);
      left: vw-tablet(225);
      width: vw-tablet(350);
    }

    @media #{$laptop-up} {
      left: vw-desktop(350);
      width: vw-desktop(550);
    }
  }

  .--zu-product {
   
    @media #{$tablet-only} {
      bottom: 5%;
    }
  }

  /*************************************************

    Hero Background Styles

    FYI parent uses default bg

  *************************************************/

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/images/smarter-products/hero-background.png');

  &.--zu {
    background-image: url('../../assets/images/smarter-products/hero-family-kitchen.png');
    @media #{$phone-only} {
      background-size: 400%;
      background-position-y: 40%;
      background-position-x: 83%;
    }

    
    @media #{$tablet-only} {
      background-size: 250%;
      background-position-y: 25%;
      background-position-x: 79%;
    }

    @media #{$laptop-up} {
      background-position-y: -85px;
    }
  }

  &.--hk {
    background-image: url('../../assets/images/shared/happy-family-livingroom.png');
  }

  &.--pc {
    background-image: url('../../assets/images/smarter-products-child/comfort-hero.png');
  }
}

/*************************************************

  Hero Bottom Wave Styles

*************************************************/

.zuc-spr-hero-wave {
  z-index: 5;
  position: absolute;
  width: 300%;
  left: -25%;
  bottom: -1%;

  @media #{$tablet-only} {
    width: 200%;
    left: -20%;
    bottom: -1%;
  }

  @media #{$laptop-up} {
    width: 102%;
    left: -1%;
    bottom: -1%;
  }

  &.--grey-wave {
    background-image: url('../../assets/images/shapes/wave-top-grey.svg');
  }
}

/*************************************************

  Extra Images/Graphics Styles

*************************************************/

.--pc-hero-bkg-mesh {
  display: none;

  @media #{$laptop-up} {
    display: block;
    position: absolute;
    z-index: 2;
    width: vw-desktop(500);
    bottom: 0;
    left: -75px;
  }
}

.--pc-hero-bkg-overlay {
  position: absolute;
  z-index: 2;

  @media #{$phone-only} {
    width: vw-phone(325);
    bottom: 9vw;
    right: -1vw;
  }

  @media #{$tablet-only} {
    width: vw-tablet(750);
    bottom: 0;
    right: 1vw;
  }

  @media #{$tablet-lnd-only} {
    width: vw-tablet(450);
    bottom: 7vw;
    right: 1vw;
  }

  @media #{$laptop-only} {
    width: vw-desktop(1300);
    top: -3.5vw;
    right: -10vw;
  }

  @media #{$desktop-up} {
    width: vw-desktop(1100);
    top: -7vw;
    right: -5vw;
  }
}

.--zuc-spr-hero-focus {
  position: absolute;
  bottom: vw-phone(-50);
  left: -10%;
  width: 130%;

  @media #{$tablet-only} {
    top: auto;
    left: vw-tablet(19);
    bottom: vw-tablet(-100);
    width: vw-tablet(750);
  }

  @media #{$tablet-lnd-only} {
    top: auto;
    left: auto;
    right: 0;
    bottom: vw-tablet(-50);
    width: vw-tablet(500);
  }

  @media #{$laptop-up} {
    top: auto;
    left: auto;
    right: vw-desktop(85);
    bottom: vw-desktop(-50);
    width: vw-desktop(1000);
  }
}
