section.zuc-dual-video {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 10vh;

  @media #{$tablet-only} {
    padding: 0 7vw 10vh;
  }

  @media #{$laptop-up} {
    padding: 0 8vw 10vh;
  }

  .zuc-header-box {
    width: 100%;
    margin: 0 6vw;

    @media #{$tablet-up} {
      margin: 0;
    }
  }

  .zuc-video-block {
    position: relative;
    width: 100%;

    @media #{$laptop-up} {
      width: 47.5%;
    }

    &.--space {
      margin: 0;

      @media #{$laptop-up} {
        margin: 0 0 0 5%;
      }
    }

    p {
      color: $color-zuc-darkindigo;
      margin: 20px 6vw 28px;

      @media #{$tablet-up} {
        margin: 40px 0;
      }

      @media #{$laptop-up} {
        margin: 40px 0 28px;
      }
    }

    video {
      width: 100%;
    }
  }
}
