.zuc-wave-hero-top {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 10;
  background-size: cover;
  background-position: right -5vw;
  background-repeat: no-repeat;
  margin-bottom: 7.5vw;

  @media #{$tablet-lnd-only} {
    background-position: right bottom;
  }
  @media #{$portrait} {
    background-position: right bottom;
  }

  &:after {
    @include pseudo();
    background: url('../images/shapes/wave-bottom.svg');
    //background-image: url('./images/shapes/hero-wave-shape.svg');
    // Another asinine percentage for webkit.
    background-size: 100%;
    top: -2px;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: calc(251 / 1839 * 100%);

    @media #{$tablet-only} {
      background-size: 330%;
      background-position: 20% 25%;
    }
    @media #{$phone-only} {
      background-size: 450%;
      background-position: 100% 7%;
    }
  }

  .zuc-wave-hero-content {
    width: 33%;
    left: 16%;
    position: relative;
    background: url('../images/smarter-products/white-mol-mesh-bottom-right.png') rgba(67, 77, 160, .7);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 14.4vw 2vw 4vw;

    @media #{$tablet-only} {
      width: 85%;
      left: 7.5%;
      padding: 18vw 3vw 2vw;
    }
    
    @media #{$phone-only} {
      width: 100%;
      left: 0;
      padding: 18vw 5vw 2vw;
    }

    p {
      // Seems unique to this component
      margin-bottom: 10vw;
      font-size: 1.35vw;
      line-height: 1.55;

      @media #{$portrait} {
        font-size: 4vw;
      }
    }
  }

  img {
    width: 100%;
  }

  .zuc-silver-protect {
    position: absolute;
    right: 4vw;
    bottom: 4vw;
    width: 12%;

    @media #{$portrait} {
      display: none;
    }
    @media #{$tablet-only} {
      display: none;
    }
  }
}
