section.zuc-collection-blob {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: ( 60 / 3.2 ) * 1vw 0;

  @media #{$tablet-only} {
    margin: ( 40 / 7.68 ) * 1vw 0;
  }

  @media #{$laptop-up} {
    margin: ( 25 / 19.2 ) * 1vw 0;
  }
}

.zuc-collection-blob-left {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @media #{$tablet-only} {
    // Hey
  }

  @media #{$laptop-up} {
    width: 50%;
  }

  .zuc-image-box {
    padding: 0 5vw ( 30 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      padding: 0 7vw ( 102 / 7.68 ) * 1vw;
    }
  
    @media #{$laptop-up} {
      padding: 0 0 0 ( 143 / 19.2 ) * 1vw;
    }

    img {
      width: 100%;
    }
  }
}

.zuc-collection-blob-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 6vw;

  @media #{$tablet-only} {
    padding: 0 7.4vw;
  }

  @media #{$laptop-up} {
    width: 50%;
  }

  // Paragraph
  > :nth-child( 3 ) {
    width: ( 274 / 3.2 ) * 1vw;
    padding: 0 0 ( 29 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      width: ( 654 / 7.68 ) * 1vw;
      padding: 0 0 ( 43 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      width: ( 452 / 19.2 ) * 1vw;
      padding: 0 0 ( 25 / 19.2 ) * 1vw;
    }
  }

  // Bumper Link
  > :nth-child( 5 ) {
    text-decoration: underline;
    padding: ( 35 / 3.2 ) * 1vw 0 0;

    @media #{$tablet-only} {
      padding: ( 35 / 7.68 ) * 1vw 0 0;
    }

    @media #{$laptop-up} {
      padding: ( 35 / 19.2 ) * 1vw 0 0;
    }
  }
}
