// Zu Collections Hero.

.zu-hero-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.zuc-wave-hero-content {
  width: 33%;
  height: 100%;
  left: 16%;
  position: absolute;
  background: rgba(67, 77, 160, .7);
  // background-position: right bottom;
  // background-repeat: no-repeat;
  padding: 4vw 2vw 4vw;
   @media #{$laptop-only} {
    width: 38%;
    padding: 16.4vw 3vw 5vw;
  }
  @media #{$tablet-lnd-only} {
    width: 50%;
  }
  @media #{$portrait} {
    width: 100%;
    left: 0;
    padding: 17vw 6vw 9vw;
    background-size: 80%;
  }
  p {
    // Seems unique to this component
    margin-bottom: 10vw;
    font-size: 1.35vw;
    line-height: 1.55;
     @media #{$portrait} {
      font-size: 4vw;
    }
  }
}

.zu-hero-bkg-img {
  background-image: url('../../assets/images/smarter-products/hero-family-kitchen.png');
  height: 100%;
  z-index: -1;
  padding-top: 50%;
  background-size: 100%;
  background-position: right top;
  background-repeat: no-repeat;

  @media #{$phone-only} {
    background-size: 200%;
  }
}

.zu-hero-bkg-wave {
  background-image: url('../../assets/images/shapes/wave-top.svg');
  z-index: 2;
  bottom: -1px;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;

  @media #{$phone-only} {
    width: 200%;
    bottom: -22px;
  }
}
