// Zu Collections Hero.

.--zu-hero-container {

  @media #{$tablet-only} {
    height: 60vw;
  }
}

.--zu-hero-content {
  width: 33%;
  height: 100%;
  left: 16%;
  background: rgba(67, 77, 160, .7);
  padding: 6vh 4vw;

  @media #{$tablet-only} {
    width: 85%;
    left: 7.5%;
    padding: 10vw 8vw 0;
  }
  @media #{$phone-only} {
    width: 100%;
    left: 0;
    padding: 10vw 10vw 0;
  }

  .product-image {
    position: absolute;
    z-index: 10;
    max-width: 23vw;
    right: 15%;
    bottom: 5vw;
    @media #{$tablet-only} {
      max-width: 35vw;
      bottom: 4vw;
      right: 24vw;
    }
    @media #{$phone-only} {
      max-width: 48vw;
      bottom: 4vw;
      right: 25%;
    }
  }

  /* Todo:
    To conform to mock, more overrides may be necessary for
    p and h3
  */
  p {
    margin-bottom: 2vw;
    font-size: 1.4vw;
    line-height: 1.55;

    @media #{$phone-only} {
      font-size: 3vw;
      line-height: 4.5vw;
    }

    @media #{$tablet-only} {
      font-size: 1.8vw;
      line-height: 2vw;
    }
  }

  h3 {
    font-size: 3vw;
    line-height: 3.4vw;

    @media #{$phone-only} {
      font-size: 9vw;
      line-height: 9vw;
    }

    @media #{$tablet-only} {
      font-size: 6vw;
      line-height: 6vw;
    }
  }
}

.--zu-hero-bkg-img {
  background-image: url('../../assets/images/smarter-products/hero-family-kitchen.png');
  height: 100%;
  z-index: -1;
  padding-top: 50%;
  background-size: 100%;
  background-position: top right;
  background-repeat: no-repeat;

  @media #{$tablet-only} {
    background-size: 170%;
    background-position: 100% 30%;
  }

  @media #{$phone-only} {
    background-size: 260%;
    background-position: 90% 40%;
  }
}

.--zu-hero-bkg-wave {
  background-image: url('../../assets/images/shapes/wave-top.svg');
  z-index: 2;
  bottom: -2px;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 105%;
  background-repeat: no-repeat;

  @media #{$tablet-only} {
    background-size: 290%;
    background-position-y: 162%;
    background-position-x: 16%;
  }

  @media #{$phone-only} {
    background-size: 460%;
    background-position-y: 210%;
    background-position-x: 99%;
  }
}
