.--zu-wave-content {
  // width: 100%;
  // position: relative;
  // overflow: hidden;
  // background-size: cover;
  // background-position: right -5vw;
  // background-repeat: no-repeat;
  // margin-bottom: 7.5vw;

  @media #{$tablet-only} {
    background-position: 100% 20%;
    background-size: 122%;
  }
  @media #{$phone-only} {
    background-position: 65% 29%;
    background-size: 220%;
  }

  &:after {
    // @include pseudo();
    // background: url('../images/shapes/wave-bottom.svg');
    // background-size: 100%;
    // top: -2px;
    // background-repeat: no-repeat;
    // width: 100%;
    // padding-top: calc(251 / 1839 * 100%);

    // can comment these out too now -- they are in the master
    // @media #{$tablet-only} {
    //   background-size: 330%;
    //   background-position: 20% 25%;
    // }
    // @media #{$phone-only} {
    //   background-size: 450%;
    //   background-position: 100% 7%;
    }
  }

  // Overrides:
  .zuc-wave-hero-content {
    // width: 33%;
    // left: 16%;
    // position: relative;
    background: rgba(67, 77, 160, .7);
    padding: 14.4vw 2vw 2vw;

    // might be able to rm these too -- in master
    // @media #{$laptop-only} {
    //   width: 38%;
    //   padding: 16.4vw 3vw 2vw;
    // }
    // @media #{$tablet-only} {
    //   width: 85%;
    //   left: 7.5%;
    //   padding: 18vw 3vw 2vw;
    // }
    // @media #{$phone-only} {
    //   width: 100%;
    //   left: 0%;
    //   padding: 18vw 5vw 2vw;
    // }

    // TODO: confirm overrides.
    p {
      margin-bottom: 10vw;
      font-size: 1.35vw;
      line-height: 1.55;

      @media #{$tablet-only} {
        font-size: 2vw;
      }
      @media #{$phone-only} {
        font-size: 4vw;
      }
    }
  }

  // img {
  //   width: 100%;
  // }
}
