.zuc-blog-module-container {
  position: relative;
  overflow: hidden;
  padding: 0 5% ( 40 / 3.2 ) * 1vw;

  @media #{$tablet-only} {
    padding: 0 6% ( 40 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    padding: 0 8% ( 172 / 19.2 ) * 1vw;
  }

  img { // If obsolete, delete
    position: absolute;
    z-index: -69;
    overflow: hidden;
    width: 250%;
    bottom: 0;
    right: 0;

    @media #{$tablet-only} {
      width: 160%;
      left: -30%;
    }

    @media #{$laptop-up} {
      width: 100%;
      top: -1vw;
      left: 0;
    }
  }
}

.zuc-blog-header {
  position: relative;
  width: 100%;
  margin-bottom: 12vw;

  @media #{$tablet-up} {
    margin-bottom: 8vw;
  }

  @media #{$laptop-up} {
    margin-bottom: 0;
    width: 24%;
  }

  img {
    width: 15vw;

    @media #{$tablet-up} {
      width: 7vw;
    }

    @media #{$laptop-up} {
      width: 3vw;
    }
  }
}

.zuc-blog-module-items-container {
  position: relative;
  width: 100%;

  @media #{$laptop-up} {
    width: 76%;
  }
}

// Heights are to design spec but personally dangerous if text changes, hence commented out
.zuc-blog-module-item {
  position: relative;
  display: flex;
  flex-direction: row;
  background: $color-pure-white;
  border: 1px $color-zuc-concrete solid;
  width: 100%;
  //height: ( 120 / 3.2 ) * 1vw;
  margin: 0 0 1.7vw;
  padding: ( 8 / 3.2 ) * 1vw;

  @media #{$tablet-up} {
    flex-direction: column;
    width: 32%;
    //height: ( 421 / 7.68 ) * 1vw;
    margin: 0;
    padding: ( 14 / 7.68 ) * 1vw;

    &:nth-child( n+2 ) {
      margin: 0 0 0 2%;
    }
  }

  @media #{$laptop-up} {
    width: 32%;
    //height: ( 527 / 19.2 ) * 1vw;
    padding: ( 14 / 19.2 ) * 1vw;

    &:nth-child( n+2 ) {
      margin: 0 0 0 2%;
    }
  }

  .zuc-blog-item-img {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: ( 132 / 3.2 ) * 1vw;
    margin: 0 ( 8 / 3.2 ) * 1vw 0 0;

    @media #{$tablet-up} {
      height: ( 147 / 7.68 ) * 1vw;
      margin: 0 0 ( 10 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      height: ( 293 / 19.2 ) * 1vw;
      margin: 0 0 ( 26 / 19.2 ) * 1vw;
    }

    &.--baby {
      background: url('../../assets/images/shared/baby-bath.png');
    }
  }

  h2 {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-weight: 300;
    margin: 0 0 ( 9 / 3.2 ) * 1vw;
    font-size: ( 16 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      margin: 0 0 ( 13 / 7.68 ) * 1vw;
      font-size: ( 24 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      margin: 0 0 ( 15 / 19.2 ) * 1vw;
      font-size: ( 24 / 19.2 ) * 1vw;
    }
  }

  .zuc-blog-item-info {
    padding: 0 0 ( 8 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      padding: 0 0 ( 12 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      padding: 0 0 ( 14 / 19.2 ) * 1vw;
    }

    span {
      color: $color-zuc-darkindigo;
      font-weight: 500;
      font-size: ( 12 / 3.2 ) * 1vw;

      @media #{$tablet-only} {
        font-size: ( 14 / 7.68 ) * 1vw;
      }

      @media #{$laptop-up} {
        font-size: ( 14 / 19.2 ) * 1vw;
      }
    }
  }

  .zuc-blog-module-item-blurb {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    font-size: ( 10 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      font-size: ( 14 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      font-size: ( 14 / 19.2 ) * 1vw;
    }
  }
}
