.zuc-pop-gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5% 13vw;

  @media #{$tablet-only} {
    padding: 0 9% 10vw;
  }
  @media #{$laptop-up} {
    padding: 0 9% 5vw;
  }
}

.zuc-pop-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  padding: 9vw;

  @media #{$tablet-only} {
    width: 50%;
    padding: 6vw;
  }

  @media #{$laptop-up} {
    width: 16.66%;
    padding: 2.7vw;
  }

  &:hover {
    box-shadow: $soft-shadow;
  }

  .zuc-pop-card-img-box {
    width: 100%;
    position: relative;

    img {
      width: 100%;
    }
  }

  .zuc-pop-card-category {
    color: $color-zuc-lilac;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 7px;
    padding: 6vw 0 3.5vw;

    @media #{$tablet-only} {
      font-size: 14px;
      padding: 2.6vw 0 1.3vw;
    }

    @media #{$laptop-only} {
      font-size: 14px;
      padding: 1.45vw 0 .8vw;
    }

    @media #{$desktop-up} {
      font-size: 14px;
      padding: 1.4vw 0 .7vw;
    }
  }

  .zuc-pop-card-name {
    color: $color-zuc-darkindigo;
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: 14.5px;

    @media #{$tablet-up} {
      font-size: 30px;
    }
  }
}
