/*
  Sixgrid - AW 20181010
*/

section.zuc-sixgrid-container {
  position: relative;
  overflow: hidden;
  padding: 5vh 10vw vw-phone(50);
  display: flex;
  flex-direction: column;

  @media #{$tablet-up} {
    padding: 0 7vw vw-tablet(50);
  }

  @media #{$laptop-only} {
    padding: 0 20vw vw-laptop(100);
  }

  @media #{$desktop-up} {
    padding: 0 24vw vw-desktop(100);
  }

  &.--grey {
    background: $color-zuc-platinum;
  }

  .zuc-sixgrid-subtext {
    color: color-zuc-darkindigo;
    font-weight: 100;
    padding: 0 0 5vw;

    @media #{$tablet-only} {
      padding: 0;
    }

    @media #{$laptop-up} {
      padding: 0 0 3.84vw;
    }
  }

  .zuc-sixgrid-items {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    font-family: $main-font-serif;
    color: $color-zuc-indigo;
  }

  &.--zu-sixgrid {

    @media #{$phone-up} {
      padding: 5vw 7vw vw-phone(200);
    }
    @media #{$tablet-up} {
      padding: 5vw 7vw vw-tablet(200);
    }
    @media #{$laptop-only} {
      padding: 2vw 20vw vw-laptop(200);
    }
    @media #{$desktop-up} {
      padding: 2vw 240vw vw-desktop(200);
    }
  }
}

.zuc-sixgrid-item {
  width: 100%;
  text-align: center;
  padding: 0 0 vw-phone(25);

  @media #{$tablet-up} {
    width: 28%;
    text-align: left;
    padding: 0 0 vw-desktop(45);
  }
  @media #{$tablet-prt-only} {
    width: 45%;
    text-align: left;
    margin: vw-tablet(30) 0 0;
    padding: 0 0 1.8vw;
  }

  h6 {
    color: $color-zuc-indigo;
    font-weight: 600;
    margin-top: 23px;
    text-transform: uppercase;
    margin-bottom: .5vw;

    @media #{$portrait} {
      margin-bottom: 1vh;
    }
    @media #{$phone-only} {
      // A little bit hacky but works.
      // Makes titles take up space a little nicer
      // on mobile. - LM
      br {
        display: none;
      }
    }
  }

  p {
    @media #{$phone-only} {
      padding: 0 7vw;
    }
  }

  .zuc-sixgrid-img-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media #{$tablet-up} {
      justify-content: flex-start;
    }
  }

  img {
    width: 30%;

    @media #{$tablet-only} {
      width: 35%;
    }
    @media #{$tablet-prt-only} {
      width: 40%;
    }
    @media #{$laptop-only} {
      width: 50%;
    }
    @media #{$desktop-up} {
      width: 40%;
    }
  }
}
