/*
  Sixgrid - AW 20181010

*/
section.zuc-sixgrid-container {
  position: relative;
  overflow: visible;
  padding: 5vh 5vw 29.375vw;

  @media #{$tablet-up} {
    padding: 0 7vw 12.37vw;
  }
  @media #{$laptop-up} {
    padding: 0 20vw 7vw;
  }
  @media #{$desktop-up} {
    padding: 0 24vw 5.45vw;
  }

  &.--grey {
    background-color: $color-zuc-platinum;
  }

  h2 {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    width: vw-phone(280);

    @media #{$tablet-only} {
      width: vw-tablet(568);
    }

    @media #{$laptop-up} {
      width: vw-desktop(662);
    }
  }

  .zuc-sixgrid-subtext {
    color: color-zuc-darkindigo;
    font-weight: 100;
    padding: 0 0 18vw;

    @media #{$tablet-only} {
      padding: 0 0 8.6vw;
    }

    @media #{$laptop-up} {
      padding: 0 0 3.84vw;
    }
  }

  .zuc-sixgrid-items {
    display: flex;
    flex-wrap: wrap;
  }
}

.zuc-sixgrid-item {
  width: 100%;
  text-align: center;
  margin: vw-phone(25) 0 0;
  padding-bottom: 1.25vw;

  @media #{$tablet-only} {
    width: 45%;
    text-align: left;
    margin: vw-tablet(30) 0 0;
    padding: 0 0 1.8vw;

    &:nth-child( 2n ) {
      margin: vw-tablet(30) 0 0 10%;
    }
  }

  @media #{$laptop-up} {
    width: 30%;
    text-align: left;
    margin: 0 0 0 5%;
    padding: 0 0 vw-desktop(45);

    &:nth-child( 3n+1 ) {
      margin: 0;
    }
  }

  h6 {
    color: $color-zuc-indigo;
    font-weight: 600;
    margin-top: 23px;
    text-transform: uppercase;
  }

  p {
    color: $color-zuc-darkindigo;
    font-weight: 100;

    @media #{$phone-only} {
      padding: 0 7vw;
    }
  }

  .zuc-sixgrid-img-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 23vw;

    @media #{$tablet-up} {
      justify-content: flex-start;
      height: 12vw;
    }
    @media #{$laptop-up} {
      height: 6.3vw;
    }
  }

  img {
    position: relative;
    width: 25%;

    @media #{$tablet-only} {
      width: 30%;
    }

    @media #{$laptop-only} {
      width: 50%;
    }

    @media #{$desktop-up} {
      width: 40%;
    }
  }
}

// Background Shape
.--sixgrid-bkg {
  width: 100%;
  padding-top: 61.7%;
  @include center(both);
  z-index: -1;
  background-image: url('../../assets/images/shapes/wave-shape-dbl-silver.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
