.zuc-ec-det-best-sellers {
  position: relative;
  width: 100%;
  order: 6;
  margin: vw-phone(25) 0 vw-phone(80);

  @media #{$tablet-only} {
    margin: vw-tablet(50) 0 vw-tablet(56);
  }

  @media #{$laptop-up} {
    margin: vw-desktop(50) 8vw vw-desktop(80);
  }
}
