.zuc-smarter-how {
  overflow: hidden;
  padding: 5vw 0 ( 77 / 3.2 ) * 1vw;

  @media #{$tablet-only} {
    padding: 3vw 7vw ( 205 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    padding: 2vw 11.5vw ( 165 / 19.2 ) * 1vw;
  }
}

.zuc-smarter-how-lt {
  width: 100%;
  margin: 0;
  padding: 0 5vw ( 90 / 3.2 ) * 1vw;

  @media #{$tablet-only} {
    padding: 0 0 ( 56 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    width: 50%;
    padding: 0 5vw 0 3vw;
  }

  h4 {
    margin: 0 0 ( 10 / 3.2 ) * 1vw;
    @media #{$tablet-only} {
      margin: 0 0 ( 16/ 7.68 ) * 1vw;
    }
    @media #{$tablet-prt-only} {
      margin: 0 0 ( 11/ 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      margin: 0 0 ( 18 / 19.2 ) * 1vw;
    }
  }

  .zuc-smarter-how-step {
    color: $color-zuc-lilac;
    font-weight: 600;
    font-size: ( 14 / 3.2 ) * 1vw;
    margin: 0 0 ( 10 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      font-size: ( 13 / 7.68 ) * 1vw;
      margin: 0 0 ( 10 / 7.68 ) * 1vw;
    }
    @media #{$tablet-prt-only} {
      font-size: ( 16 / 7.68 ) * 1vw;
    }
    @media #{$laptop-up} {
      font-size: ( 16 / 19.2 ) * 1vw;
      margin: 0 0 ( 9 / 19.2 ) * 1vw;
    }
  }
}

.zuc-smarter-how-rt {
  width: 100%;
  justify-content: center;
  position: relative;

  @media #{$laptop-up} {
    width: 50%;
    justify-content: flex-end;
  }

  .zuc-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: visible;

    @media #{$portrait} {
      overflow: hidden;
    }
    @media #{$phone-only} {
      padding: 7vw 0;
    }
    @media #{$tablet-only} {
      width: 72vw;
    }
    @media #{$laptop-up} {
      width: 30.66vw;
    }

    .zuc-img-block {
      background: url('../../assets/images/shared/couple-on-computer.png');
      background-position: center;
      background-size: cover;
      height: ( 254 / 3.2 ) * 1vw;
      width: ( 320 / 3.2 ) * 1vw;
      overflow: visible;

      @media #{$tablet-only} {
        height: ( 512 / 7.68 ) * 1vw;
        width: ( 607 / 7.68 ) * 1vw;
      }

      @media #{$laptop-up} {
        height: ( 512 / 19.2 ) * 1vw;
        width: ( 607 / 19.2 ) * 1vw;
      }
    }
  }

  .zuc-blob {
    z-index: -3;
    width: 110%;
    @include center(both);
    left: 60%;

    @media #{$portrait} {
      left: 50%;
      width: 110%;
    }
    @media #{$phone-only} {
      width: 190%;
    }
  }
}
