section.zuc-member-benefits {
  position: relative;
  width: 100%;
}

.zuc-member-benefits-left {
  display: flex;
  justify-content: center;
  width: 100%;

  @media #{$laptop-up} {
    justify-content: flex-end;
    width: 50%;
  }

  .zuc-img-box {
    img {
      width: 100%;
    }
  }
}

.zuc-member-benefits-right {
  width: 100%;
  padding: 0 7vw 15vw;

  @media #{$tablet-only} {
    padding: 0 6vw 13vw;
  }

  @media #{$laptop-up} {
    width: 50%;
    padding: 0 0 6vw;
  }

  h3 {
    width: ( 256 / 3.2 ) * 1vw;

    @media #{$tablet-up} {
      width: ( 564 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      width: ( 401 / 19.2 ) * 1vw;
    }
  }

  p {
    padding-bottom: 5vw;
    width: ( 267 / 3.2 ) * 1vw;

    @media #{$tablet-up} {
      padding-bottom: 3vw;
      width: ( 637 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      padding-bottom: 1.5vw;
      width: ( 372 / 19.2 ) * 1vw;
    }
  }
}
