section.zuc-teamgrid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 5vw;

  @media #{$tablet-only} {
    margin: 0 6vw;
  }

  @media #{$laptop-up} {
    margin: 0 19vw;
  }

  .teamgrid-title {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-size: vwp(30);

    @media #{$tablet-only} {
      font-size: vwt(47);
    }
  
    @media #{$laptop-up} {
      font-size: vwd(47);
    }
  }

  .teamgrid-subtitle {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    font-style: italic;
    font-size: vwp(14);

    @media #{$tablet-only} {
      font-size: vwt(22);
    }
  
    @media #{$laptop-up} {
      font-size: vwd(22);
      width: vwd(850);
    }
  }
}

.zuc-teamgrid-boxes {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: vwp(35) 0 0;

  @media #{$tablet-only} {
    margin: vwt(42) 0 0;
  }

  @media #{$laptop-up} {
    margin: vwd(49) 0 0;
  }
}

.zuc-teamgrid-item {
  width: vwp(288);
  height: vwp(288);
  margin: 0 0 vwp(22);
  background: $color-zuc-indigo;
  background-size: cover;
  background-position: center;

  // BRAD
  &:nth-child( 1 ) {
    position: relative;
  }

  // BRAD BIO
  &:nth-child( 2 ) {
    text-align: left;
    background: $color-zuc-platinum;
  }

  /**************************************************
    Grid Item Tablet
  **************************************************/

  @media #{$tablet-only} {
    width: vwt(313);
    height: vwt(313);
    margin: 0 0 vwt(34) vwt(34);

    // BRAD
    &:nth-child( 1 ) {
      margin: 0 0 vwt(34);
    }
    
    // BRAD'S BIO
    &:nth-child( 2 ) {
      text-align: left;
    }
  
    &:nth-child( 2n + 3 ) {
      margin: 0 0 vwt(34);
    }
  }

  /**************************************************
    Grid Item Desktop+
  **************************************************/

  @media #{$laptop-up} {
    width: vwd(375);
    height: vwd(375);
    margin: 0 0 vwd(16) vwd(16);

    &:nth-child( 1 ) {
      margin: 0 0 vwd(16);
    }
  
    &:nth-child( 2 ) {
      width: vwd(766);
    }
  
    &:nth-child( 3n ) {
      margin: 0 0 vwd(16);
    }
  }
}
