section.zuc-teamgrid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 5vw;

  @media #{$tablet-only} {
    margin: 0 6vw;
  }

  @media #{$laptop-up} {
    margin: 0 19vw;
  }

  .teamgrid-title {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-size: vwp(30);

    @media #{$tablet-only} {
      font-size: vwt(47);
    }
  
    @media #{$laptop-up} {
      font-size: vwd(47);
    }
  }

  .teamgrid-subtitle {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    font-style: italic;
    font-size: vwp(14);

    @media #{$tablet-only} {
      font-size: vwt(22);
    }
  
    @media #{$laptop-up} {
      font-size: vwd(22);
      width: vwd(850);
    }
  }
}

.zuc-teamgrid-items {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: vwp(35) 0 0;

  @media #{$tablet-only} {
    margin: vwt(42) 0 0;
  }

  @media #{$laptop-up} {
    margin: vwd(49) 0 0;
  }
}

/***************************************************

    Item Spacing, Sizing, Styles + Logic

  ***************************************************/

.zuc-teamgrid-item {
  position: relative;
  width: vwp(288);
  height: vwp(288);
  margin: 0 0 vwp(22);
  background-size: cover;
  background-position: center;

  @media #{$tablet-only} {
    width: vwt(313);
    height: vwt(313);
    margin: 0 0 vwt(34) vwt(34);
  
    &:nth-child( 1 ),
    &:nth-child( 2n + 3 ) {
      margin: 0 0 vwt(34);
    }
  }

  @media #{$laptop-up} {
    width: vwd(375);
    height: vwd(375);
    margin: 0 0 vwd(16) vwd(16);

    &:nth-child( 1 ),
    &:nth-child( 3n ) {
      margin: 0 0 vwd(16);
    }
  }

  /***************************************************

      HOVER LOGIC

  ***************************************************/

  &:hover,
  &:active,
  &:focus,
  &.--active-hover {
    .zuc-teamgrid-item-overlay > .zuc-teamgrid-item-overlay-bg {
      opacity: .8;
    }

    .zuc-teamgrid-item-overlay > :nth-child( n+2 ) {
      opacity: 1;
    }
  }

  /***************************************************

      BRAD BIO BOX - It's different!™

  ***************************************************/

  &:nth-child( 2 ) {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;

    .zuc-teamgrid-brad-name {
      color: $color-zuc-indigo;
      font-family: $main-font-serif;
      font-weight: 300;
      font-size: vwp(30);
    }

    .zuc-teamgrid-brad-title {
      color: $color-zuc-darkindigo;
      font-weight: 500;
      font-size: vwp(16);
      padding: vwp(18) 0;
    }

    .zuc-teamgrid-brad-bio {
      color: $color-zuc-darkindigo;
      font-weight: 100;
      line-height: 1.44;
      font-size: vwp(14);
      padding: 0 0 vwp(19);
    }

    .zuc-teamgrid-brad-link {
      color: #4875b4;
    }

    @media #{$tablet-only} {
      padding: vwt(22) 0 0;

      .zuc-teamgrid-brad-name {
        font-size: vwt(36);
      }
  
      .zuc-teamgrid-brad-title {
        font-size: vwt(16);
        padding: vwt(18) 0;
      }
  
      .zuc-teamgrid-brad-bio {
        font-size: vwt(18);
        padding: 0 0 vwt(31);
      }
    }

    @media #{$laptop-up} {
      width: vwd(766);
      padding: vwd(76) 0 0 vwd(29);

      .zuc-teamgrid-brad-name {
        font-size: vwd(36);
      }
  
      .zuc-teamgrid-brad-title {
        font-size: vwd(16);
        padding: vwd(18) 0;
      }
  
      .zuc-teamgrid-brad-bio {
        font-size: vwd(18);
        width: vwd(533);
        padding: 0 0 vwd(26);
      }
    }
  }
}

/******************************************************

  Box Overlay + Text Styles (NOT BRADS, his is above)

******************************************************/

.zuc-teamgrid-item-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $color-pure-white;
  padding: 0 vwp(23);

  @media #{$tablet-only} {
    padding: 0 vwt(21);
  }

  @media #{$laptop-up} {
    padding: 0 vwd(32);
  }

  // All Children
  :nth-child( n ) {
    opacity: 0;
    transition: .4s;
  }

  .zuc-teamgrid-item-overlay-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: $color-zuc-darkindigo;
  }

  // The 2nd+ children sit on top of the 1st child on the z-axis
  :nth-child( n+2 ) {
    z-index: 100;
    position: relative;
  }

  .zuc-teamgrid-item-title {
    font-weight: 500;
    font-size: vwp(16);
    padding: vwt(21) 0 vwt(13);

    @media #{$tablet-only} {
      font-size: vwt(16);
      padding: vwt(21) 0 vwt(13);
    }

    @media #{$laptop-up} {
      font-size: vwd(16);
      padding: vwd(52) 0 vwd(13);
    }
  }

  .zuc-teamgrid-item-name {
    font-weight: 300;
    font-family: $main-font-serif;
    font-size: vwp(28);
    padding: 0 0 vwp(12);

    @media #{$tablet-only} {
      font-size: vwt(28);
      padding: 0 0 vwt(12);
    }

    @media #{$laptop-up} {
      font-size: vwd(28);
      padding: 0 0 vwd(12);
    }
  }

  .zuc-teamgrid-item-line {
    border: 1px solid $color-pure-white;
    width: vwp(140);

    @media #{$tablet-only} {
      width: vwt(140);
    }

    @media #{$laptop-up} {
      width: vwd(140);
    }
  }

  .zuc-teamgrid-item-bio {
    font-weight: 100;
    font-size: vwp(11.5);
    padding: vwp(18) 0 0;

    @media #{$tablet-only} {
      font-size: vwt(16.5);
      padding: vwt(18) 0 0;
    }

    @media #{$laptop-up} {
      font-size: vwd(17.5);
      padding: vwd(18) 0 0;
    }
  }

  .zuc-teamgrid-item-link {
    // TODO

    @media #{$laptop-only} {
      // TODO
    }

    @media #{$desktop-up} {
      // TODO
    }
  }
}