section.zuc-teamgrid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 5vw;

  @media #{$tablet-only} {
    margin: 0 6vw;
  }

  @media #{$laptop-up} {
    margin: 0 19vw;
  }

  .teamgrid-title {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
  }

  .teamgrid-subtitle {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    font-style: italic;
  }
}

.zuc-teamgrid-boxes {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.zuc-teamgrid-item {
  width: ( 288 / 3.2 ) * 1vw;
  height: ( 288 / 3.2 ) * 1vw;
  margin: 0 0 ( 22 / 3.2 ) * 1vw;
  background: #0f0;

  &:nth-child( 1 ) {
    background: #42f0ca;
  }

  &:nth-child( 2 ) {
    background: #550f32;
  }

  /**************************************************
    Grid Item Laptop
  **************************************************/

  @media #{$tablet-only} {
    width: ( 313 / 7.68 ) * 1vw;
    height: ( 313 / 7.68 ) * 1vw;
    margin: 0 0 ( 34 / 7.68 ) * 1vw ( 34 / 7.68 ) * 1vw;

    &:nth-child( 1 ) {
      background: #42f0ca;
      margin: 0 0 ( 34 / 7.68 ) * 1vw;
    }
  
    &:nth-child( 2 ) {
      background: #550f32;
    }
  
    &:nth-child( 2n + 3 ) {
      background: #55390f;
      margin: 0 0 ( 34 / 7.68 ) * 1vw;
    }
  }

  /**************************************************
    Grid Item Desktop+
  **************************************************/

  @media #{$laptop-up} {
    width: ( 375 / 19.2 ) * 1vw;
    height: ( 375 / 19.2 ) * 1vw;
    margin: 0 0 ( 16 / 19.2 ) * 1vw ( 16 / 19.2 ) * 1vw;

    &:nth-child( 1 ) {
      margin: 0 0 ( 16 / 19.2 ) * 1vw;
    }
  
    &:nth-child( 2 ) {
      background: #550f32;
      width: ( 766 / 19.2 ) * 1vw;
    }
  
    &:nth-child( 3n ) {
      background: #55390f;
      margin: 0 0 ( 16 / 19.2 ) * 1vw;
    }
  }
}