.zuc-slb-content {
  width: 65%;
  position: relative;
  margin: 0 auto;

  @media #{$tablet-lnd-only} {
    width: 75%;
  }
  @media #{$portrait} {
    width: 100%;
  }
  @media #{$laptop-only} {
    width: 85%;
  }

  .zuc-slb-left {
    width: 45%;
    padding: 4vw 0.2vw;
    position: relative;
    // bottom: 4vh;

    @media #{$portrait} {
      width: 75%;
      padding: 5vw 5vw 0;
      text-align: left;

      h5,
      p {
        text-align: left;
      }
    }
  }
}

// Image of woman with arms folded.
.--zuc-slb-img-position {
  position: relative;
  bottom: -4vw;
  right: 1vw;
  z-index: -1;

  @media #{$tablet-lnd-only} {
    right: 0;
  }
  @media #{$portrait} {
    display: block;
    bottom: -9vw;
    width: 120%;
    margin: 0 auto;
  }
}

.--slb-hero-grid-row {
  margin-top: 3.125vw;
  background: $color-pure-white;
  padding: 3vw 10% 6vh;
  // Needed for drop shadow:
  margin-bottom: 1vh;

  @media #{$phone-only} {
    padding: 8vw 5%;
  }

  @media #{$tablet-only} {
    padding: 5vw 7%;
  }
}
