.zuc-slb-content {
  width: 65%;
  position: relative;
  margin: 0 auto;

  @media #{$tablet-lnd-only} {
    width: 90%;
  }
  @media #{$laptop-only} {
    width: 90%;
  }
  @media #{$portrait} {
    width: 100%;
  }

  .zuc-slb-left {
    width: 45%;
    padding: 0 0.2vw;
    position: relative;
    bottom: 12vh;

    @media #{$portrait} {
      width: 75%;
      padding: 5vw 5vw 0;
      text-align: left;

      h5,
      p {
        text-align: left;
      }
    }
  }
}

// todo: hacky solution to adding in dropshadow to box.
.zuc-slb-dropshadow-box {
  height: 10px;
  background: #fff;
}

.zuc-slb-shadow {
  box-shadow: 0 .1vw .43vw 0 rgba(12, 12, 12, .2)
}

.--slb-hero-grid-row {
  margin-top: 3.125vw;
  background: $color-pure-white;
  padding: 3vw 10% 6vh;

  @media #{$phone-only} {
    padding: 8vw 5%;
  }

  @media #{$tablet-only} {
    padding: 5vw 7%;
  }
}
