.zuc-slb-benefits {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 28.125vw;
  padding: 13.75vw 0 9vw;

  @media #{$tablet-only} {
    margin-bottom: 19.79vw;
    padding: 13.15vw 0 9vw;
  }
  @media #{$laptop-up} {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10.66vw;
    padding: 5vw 0 14vw;
  }
  @media #{$desktop-up} {
    padding: 4.64vw 0 9vw;
  }

  .zuc-image-box {
    background: $color-zuc-darkindigo;
    background-image: url('../../assets/images/shared/dining-room-set.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 75.625vw;

    @media #{$tablet-only} {
      height: 38.67vw;
    }
    @media #{$laptop-up} {
      width: 33.3%;
      height: auto;
    }
  }

  .zuc-cta-box {
    background: $color-zuc-indigo;
    width: 100%;
    padding: 9.06vw 11.87vw 7.5vw 5vw;
    position: relative;

    @media #{$tablet-only} {
      padding: 5.85vw 16.66vw 5.85vw 7.55vw;
    }
    @media #{$laptop-up} {
      width: 25%;
      padding: 2.72vw 2.47vw 3.78vw 1.96vw;
    }

    p {
      padding-bottom: 6.875vw;

      @media #{$tablet-only} {
        padding-bottom: 4.68vw;
      }
      @media #{$laptop-up} {
        padding-bottom: 2.37vw;
      }
    }
  }

  .zuc-info-box {
    background: $color-pure-white;
    width: 100%;
    padding: 21.87vw 18.43vw 0 5vw;

    @media #{$tablet-only} {
      padding: 6.38vw 8.59vw 0 7.16vw;
    }
    @media #{$laptop-up} {
      width: 40%;
      padding: 2.77vw 2.72vw 0 2.47vw;
    }

    .--list-margin {
      margin-bottom: 5vh;
      padding-bottom: 5vh;
    }
  }

  .zuc-coral-wave {
    display: inline;
    position: absolute;

    @media #{$laptop-up} {
      width: 40%;
      right: 0;
      bottom: vw-desktop(25);
      transform: translateX(50%);
    }
    @media #{$tablet-only} {
      transform: scale(.25);
      left: 45%;
      bottom: -40px;
    }
    @media #{$phone-only} {
      bottom: 0%;
      transform: scale(.25);
      left: 40%;
    }
  }

  .zuc-slb-benefits-bg {
    position: absolute;
    z-index: -5;
    left: 0;
    top: 0;
    // Todo: these values have been temporarily reduced from 125%
    // were causing width/scrolling issues.
    width: 75%;

    @media #{$tablet-only} {
      // Todo: these values have been temporarily reduced from 125%
      // were causing width issues.
      width: 75%;
    }
    @media #{$laptop-only} {
      left: vw-desktop(-100);
      width: 50%;
    }
    @media #{$desktop-up} {
      left: vw-desktop(-95);
      width: 45%;
    }
  }
}

