.zuc-ec-cat-links {
  position: relative;
  display: flex;
  flex-direction: column;
  order: 5;
  overflow: hidden;
  width: 100%;
  padding: 0 5vw vw-phone(30);

  @media #{$tablet-only} {
    padding: 0 7vw vw-tablet(42);
  }
  
  @media #{$laptop-up} {
    padding: 0 16vw vw-desktop(42);
  }
}

.zuc-ec-links-bgshape {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 300%;

  @media #{$tablet-only} {
    bottom: -25%;
    left: -2%;
    width: 102%;
  }
  
  @media #{$laptop-up} {
    bottom: -125%;
    left: -2%;
    width: 102%;
  }
}

.zuc-ec-links-boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: vw-phone(18) 0 0;

  @media #{$tablet-up} {
    flex-direction: row;
    margin: vw-tablet(23) 0 0;
  }
  
  @media #{$laptop-up} {
    margin: vw-desktop(30) 0 0;
  }
}

.zuc-ec-links-box {
  width: 100%;

  @media #{$tablet-up} {
    width: 96 / 3 * 1%;

    &:nth-child( n+2 ) {
      margin: 0 0 0 2%;
    }

    &.--iv {
      width: 94 / 4 * 1%;
    }
  }

  .zuc-ec-links-box-image {
    background-size: cover;
    background-position: center;
    height: vw-phone(180);
    margin: 0 0 vw-phone(12);

    @media #{$tablet-only} {
      height: vw-tablet(245);
      margin: 0 0 vw-tablet(18);
    }
    
    @media #{$laptop-up} {
      height: vw-desktop(250);
      margin: 0 0 vw-desktop(22);
    }

    img {
      width: 100%;
    }
  }

  .zuc-ec-links-box-subtitle {
    color: $color-zuc-darkindigo;
    font-weight: 500;
    text-transform: uppercase;
    font-size: vw-phone(12);
    margin: 0 0 vw-phone(10);

    @media #{$tablet-only} {
      font-size: vw-tablet(16);
      margin: 0 0 vw-tablet(23);
    }
    
    @media #{$laptop-up} {
      font-size: vw-desktop(18);
      margin: 0 0 vw-desktop(13);
    }
  }

  .zuc-ec-links-box-title {
    font-family: $main-font-serif;
    color: $color-zuc-indigo;
    font-weight: 300;
    font-size: vw-phone(20);
    margin: 0 0 vw-phone(9);

    @media #{$tablet-up} {
      font-size: vw-tablet(36);
      margin: 0;
    }
    
    @media #{$laptop-up} {
      font-size: vw-desktop(40);
    }
  }
}
