.zuc-ec-cat-shelf {
  width: 100%;
  order: 3;
}

.zuc-ec-shelf-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .zuc-ec-shelf-header-title {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-size: vw-phone(30);
    
    @media #{$tablet-only} {
      font-size: vw-tablet(47);
    }
  
    @media #{$laptop-up} {
      font-size: vw-desktop(47);
    }
  }

  .zuc-ec-shelf-header-blurb {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    width: 100%;
    font-size: vw-phone(14);
    
    @media #{$tablet-only} {
      font-size: vw-tablet(18);
    }
  
    @media #{$laptop-up} {
      width: vw-desktop(925);
      font-size: vw-desktop(18);
    }
  }
}

.zuc-ec-shelf-cards {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: vw-phone(50) 0 vw-phone(25);

  @media #{$tablet-only} {
    margin: vw-tablet(38) 0 vw-tablet(30);
  }

  @media #{$laptop-up} {
    margin: vw-desktop(85) 0 vw-desktop(45);
  }
}

.zuc-ec-shelf-card {
  width: 100 / 2 * 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: $color-pure-white;
  z-index: 1;
  padding: vw-phone(15) 0;
  
  @media #{$tablet-only} {
    width: 100 / 3 * 1%;
    padding: vw-tablet(30) 0;
  }

  @media #{$laptop-up} {
    width: 100 / 4 * 1%;
    padding: vw-desktop(30) 0;
  }

  &:hover {
    z-index: 2;
    box-shadow: 0 23px 40px 0 rgba(12, 12, 12, .2);

    .zuc-ec-btn-box {
      opacity: 1;
    }
  }

  .zuc-ec-shelf-card-image {
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 vw-phone(15);

    @media #{$tablet-only} {
      padding: 0 0 vw-tablet(20);
    }

    @media #{$laptop-up} {
      padding: 0 0 vw-desktop(20);
    }

    img {
      width: 100%;
    }
  }

  .zuc-ec-shelf-card-name {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: vw-phone(14);
    padding: 0 2% vw-phone(7);

    @media #{$tablet-only} {
      font-size: vw-tablet(16.5);
      padding: 0 2% vw-tablet(13);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(20);
      padding: 0 2% vw-desktop(15);
    }
  }

  .zuc-ec-shelf-card-price-reg {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    font-size: vw-phone(10.5);
    padding: 0 0 vw-phone(5);

    @media #{$tablet-only} {
      font-size: vw-tablet(12);
      padding: 0 0 vw-tablet(5);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(14);
      padding: 0 0 vw-desktop(5);
    }
  }

  .zuc-ec-shelf-card-price-mem {
    color: $color-zuc-darkindigo;
    font-weight: 500;
    font-size: vw-phone(12);
    padding: 0;

    @media #{$tablet-only} {
      font-size: vw-tablet(14);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(16);
      padding: 0 0 vw-desktop(25);
    }
  }
}

.zuc-ec-btn-box {
  display: none;

  @media #{$laptop-up} {
    display: block;
    opacity: 0;
  }
}
