.zuc-ec-det-best-sellers {
  position: relative;
  width: 100%;
  order: 6;
  margin: vw-phone(25) 0 vw-phone(80);

  @media #{$tablet-only} {
    margin: vw-tablet(50) 0 vw-tablet(56);
  }

  @media #{$laptop-up} {
    margin: vw-desktop(50) 8vw vw-desktop(80);
  }

  .zuc-ec-best-sellers-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-pure-white;
    position: absolute;
    z-index: 3;
    width: 50px;
    height: 50px;
    top: 45%;

    &:hover {
      cursor: pointer;
    }

    @media #{$laptop-up} {
      display: none;
    }

    &.--left {
      left: -2.5vw;
    }

    &.--right {
      right: -2.5vw;
    }
  }
}

.zuc-ec-best-sellers-cards {
  position: relative;
  width: 100%;
  display: flex;
  padding: vw-phone(10) 0;

  @media #{$tablet-only} {
    padding: vw-tablet(25) 0;
  }

  @media #{$laptop-up} {
    padding: vw-desktop(25) 0 0;
  }
}

.zuc-ec-best-seller-card {
  width: 100 / 2 * 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: $color-pure-white;
  z-index: 1;
  transition: .3s;
  padding: vw-phone(30) 0;

  @media #{$phone-only} {
    &:nth-child( n+3 ) {
      display: none;
    }
  }
  
  @media #{$tablet-only} {
    width: 100 / 3 * 1%;
    padding: vw-tablet(40) 1%;

    &:nth-child( n+4 ) {
      display: none;
    }
  }

  @media #{$laptop-up} {
    width: 100 / 6 * 1%;
    padding: vw-desktop(20) 1% vw-desktop(40);
  }

  &:hover {
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 0 23px 40px 0 rgba(12, 12, 12, .2);
  }

  .zuc-ec-best-seller-image {
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 vw-phone(15);

    @media #{$tablet-only} {
      padding: 0 0 vw-tablet(20);
    }

    @media #{$laptop-up} {
      padding: 0 0 vw-desktop(20);
    }

    img {
      width: 100%;
    }
  }

  .zuc-ec-best-seller-name {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: vw-phone(20);
    padding: 0 0 vw-phone(15);

    @media #{$tablet-only} {
      font-size: vw-tablet(20);
      padding: 0 0 vw-tablet(15);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(20);
      padding: 0 0 vw-desktop(15);
    }
  }

  .zuc-ec-best-seller-price-reg {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    font-size: vw-phone(8);
    padding: 0 0 vw-phone(5);

    @media #{$tablet-only} {
      font-size: vw-tablet(14);
      padding: 0 0 vw-tablet(5);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(14);
      padding: 0 0 vw-desktop(5);
    }
  }

  .zuc-ec-best-seller-price-mem {
    color: $color-zuc-darkindigo;
    font-weight: 500;
    font-size: vw-phone(10);

    @media #{$tablet-only} {
      font-size: vw-tablet(16);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(16);
    }
  }
}
