.zuc-ec-det-best-sellers {
  width: 100%;
  order: 6;
  margin: 0 0 vw-desktop(80);
}

.zuc-ec-best-sellers-cards {
  position: relative;
  width: 100%;
  display: flex;

  @media #{$laptop-up} {
    padding: vw-desktop(55) 0 0;
  }
}

.zuc-ec-best-seller-card {
  width: 100 / 6 * 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: $color-pure-white;
  z-index: 1;

  &:hover {
    z-index: 2;
    box-shadow: 0 23px 40px 0 rgba(12, 12, 12, .2);
  }

  .zuc-ec-best-seller-image {
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 0 vw-phone(15);

    @media #{$tablet-only} {
      padding: 0 0 vw-tablet(20);
    }

    @media #{$laptop-up} {
      padding: 0 0 vw-desktop(20);
    }

    img {
      width: 100%;
    }
  }

  .zuc-ec-best-seller-name {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: vw-phone(20);
    padding: 0 0 vw-phone(15);

    @media #{$tablet-only} {
      font-size: vw-tablet(20);
      padding: 0 0 vw-tablet(15);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(20);
      padding: 0 0 vw-desktop(15);
    }
  }

  .zuc-ec-best-seller-price-reg {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    font-size: vw-phone(8);
    padding: 0 0 vw-phone(5);

    @media #{$tablet-only} {
      font-size: vw-tablet(14);
      padding: 0 0 vw-tablet(5);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(14);
      padding: 0 0 vw-desktop(5);
    }
  }

  .zuc-ec-best-seller-price-mem {
    color: $color-zuc-darkindigo;
    font-weight: 500;
    font-size: vw-phone(10);
    padding: 0 0 vw-phone(30);

    @media #{$tablet-only} {
      font-size: vw-tablet(16);
      padding: 0 0 vw-tablet(40);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(16);
      padding: 0 0 vw-desktop(40);
    }
  }
}
