.zuc-ec-main-wrapper {
  display: flex;
  padding: 0 5vw;

  @media #{tablet-only} {
    padding: 0 7vw;
  }

  @media #{$laptop-up} {
    padding: 0 8vw;
  }
}

.zuc-ec-home-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vw;

  @media #{tablet-only} {
    padding: 0 7vw;
  }

  @media #{$laptop-up} {
    padding: 0 16vw;
  }
}

.zuc-ec-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vw;

  @media #{tablet-only} {
    padding: 0 7vw;
  }

  @media #{$laptop-up} {
    padding: 0;
  }
}

.zuc-ec-category-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vw;

  @media #{tablet-only} {
    padding: 0 7vw;
  }

  @media #{$laptop-up} {
    padding: 0 16vw;
  }
}
