// Standard Header Site Wide
// Typically with H2 for zuc-ec-head-title
.zuc-ec-head {
  display: flex;
  width: 100%;
  flex-direction: column;

  .zuc-ec-head-title {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    margin: 0 0 vw-phone(6);

    @media #{$tablet-only} {
      margin: 0 0 vw-tablet(8);
    }

    @media #{$laptop-only} {
      margin: 0 0 vw-laptop(25);
    }

    @media #{$desktop-up} {
      margin: 0 0 vw-desktop(30);
    }
  }

  .zuc-ec-header-line {
    width: 100%;
    border: 1px solid $color-zuc-concrete;
  }
}

// Summary Title - Global
.zuc-ec-summary-title {
  width: 100%;
  // Yes, I am using PX because I want it to stay the same
  padding-bottom: 10px;
  margin-bottom: vw-desktop(30);
  border-bottom: 2px solid $color-zuc-concrete;
  text-transform: uppercase;
  font-size: vw-desktop(18);
  font-weight: 700;
  color: $color-zuc-darkindigo;
}
