.ecom-details-wrapper {
  display: flex;
  flex-wrap: wrap;

  .ecom-breadcrumbs {
    background: #f09c9c;
    width: 100%;
    height: 5vh; // DEV ONLY
  }

  .ecom-det-showcase {
    background: #df9cf0;
    width: 50%;
    height: 15vh; // DEV ONLY
  }

  .ecom-det-infostack {
    background: #9cdff0;
    width: 50%;
    height: 35vh; // DEV ONLY
  }

  .ecom-det-related {
    background: #9ff09c;
    width: 50%;
    height: 20vh; // DEV ONLY
  }

  .ecom-det-best-sellers {
    background: #f0d59c;
    width: 100%;
    height: 15vh; // DEV ONLY
  }
}
