.zuc-ec-breadcrumbs {
  width: 100%;
  order: 1;
  display: flex;
  flex-wrap: wrap;
  padding: vw-phone(24) 0;

  @media #{$tablet-only} {
    padding: vw-tablet(30) 0 vw-tablet(21);
  }

  @media #{$laptop-up} {
    padding: vw-desktop(50) 0 vw-desktop(50) 11vw;
  }

  .zuc-ec-breadlink {
    color: $color-zuc-indigo;
    font-weight: 100;
    font-size: vw-phone(12);
    line-height: 1.2;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }

    @media #{$tablet-only} {
      font-size: vw-tablet(14);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(14);
    }
  }

  .zuc-ec-breadslash,
  .zuc-ec-bread-currentpage {
    color: $color-zuc-darkindigo;
    font-weight: 100;
    line-height: 1.2;
    font-size: vw-phone(12);

    @media #{$tablet-only} {
      font-size: vw-tablet(14);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(14);
    }
  }
}
