// Standard Header Site Wide
// Typically with H2 for zuc-ec-head-title
.zuc-ec-head {
  display: flex;
  width: 100%;
  flex-direction: column;

  .zuc-ec-head-title {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    margin: 0 0 20px;
  }

  .zuc-ec-header-line {
    width: 100%;
    border: 1px solid $color-zuc-concrete;
  }
}

// Summary Title - Global
.zuc-ec-summary-title {
  width: 100%;
  // Yes, I am using PX because I want it to stay the same
  padding-bottom: 9px;
  margin-bottom: 15px;
  border-bottom: 2px solid $color-zuc-concrete;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: $color-zuc-darkindigo;

  @media #{$tablet-up} {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

// Generic link used on Ecom
.zuc-ec-generic-link {
  color: $color-zuc-indigo;
  font-size: 14px;
  line-height: 1.86;
  margin: 0 15px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid $color-zuc-indigo;

  @media #{$tablet-up} {
    margin: 0 50px;
  }

  &:hover,
  &:focus,
  &:active {
    border-bottom: none;
  }
}

// Auxiliary Info Size
.--zuc-aux-size {
  font-size: 12.5px;

  @media #{$tablet-up} {
    font-size: 21px;
  }
}

.zuc-ec-action-zone-info-title {
  color: $color-zuc-indigo;
  font-family: $main-font-serif;
  font-size: 25px;
  margin-left: -15px;
  margin-bottom: 10px;

  @media #{$laptop-up} {
    font-size: 26px;
  }
}

.zuc-ec-action-zone-info-list {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.57;

  @media #{$laptop-only} {
    font-size: 14px;
  }

  li {
    margin-bottom: 0;
  }
}

.zuc-ec-action-zone-taxes {
  padding-top: vw-desktop(12);
  font-family: $main-font;
  color: $color-zuc-darkindigo;
  font-size: 16px;

  @media #{$laptop-up} {
    font-size: 18px;
  }
}
