section.zuc-slb-benefits.flex
  .zuc-image-box
  .zuc-cta-box.u-soft-shadow
    h3.u-color-white.u-font-serif
      |Earn rewards while protecting your home.
    p.u-color-white
      |As a Smarter Living member, you recieve reward points with every plan, product and service purchase.
    a.zuc-btn.zuc-btn-hollow.u-soft-shadow(href="smarter-living.html" title="How it works")
      |HOW IT WORKS
    img.coral-wave(src='../../assets/images/graphics/graphic_zigzag_coral.svg' alt='Devcorative coral wave')
  .zuc-info-box.u-soft-shadow
    h4.u-text-uppercase.u-zuc-darkindigo.u-bold
      |YOUR MEMBER BENEFITS WILL INCLUDE:
    ul.--list-margin.u-light
      li
        |24/7 priority service
      li
        |Access to national network of professional contractors
      li
        |Customized plan to fit your budget
      li
        |Fast response when you need it most
      li
        |Special Member pricing on Smart Home Products
      li
        |Valuable rewards for future purchases
  img.zuc-slb-benefits-bg(src="../../assets/images/shapes/blob-cutoff.svg", alt="An abstract green and blue blob shape")
