- var title = 'Greater Rewards'
- var subheading = 'earn 10 points for every $1'
- var text = 'As a Zucora Home Smarter Living Reward Member you earn 10 points for every $1 spent on your monthly Smarter Living Plan or Smarter Home Control subscription and for purchases of ZU Collection, PureCare, Smarter Home Control devices, and Zucora Home items. These valuable Smarter Living Rewards can be converted into gift certificates and redeemed when purchasing new home furniture or appliances from our retail partners or the exclusive Zucora Home Smarter Products.'
- var button = 'See all service plans'

/* ToDo: consider extending the `blob-module` in component.  Copy&Paste & update was done in the interests of time, but could use inheritence for this component. */

section.zuc-blob-module--wrapper
  .zuc-blob-module--text-section.flex.flex-column
    h4.zuc-blob-module--subheading.u-uppercase
      |#{subheading}
    h2.zuc-blob-module--heading
      |#{title}
    .zuc-blob-module--copy
      |#{text}
    .zuc-blob-module--btn
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |#{button}
    .zuc-blob-module--grey-slash
      img.grey-slash(src='../../assets/images/blob-module/graphic_slash_grey.svg' alt='')
  .zuc-blob-module--graphic-section.flex.flex-hor-center
    img.photo(src='../../assets/images/smarter-living/dad-daughter-playing-floor.png' alt='Father and daughter playing with blocks on floor.')
    img.blob(src='../../assets/images/blob-module/round-blob-solid.svg' alt='')
