- var title = 'Earn 10 points for every $1.'
- var subheading = 'Valuable rewards'
- var text = 'Earn valuable Smarter Living Rewards with your plan, product and service purchases. 10 points for every $1 spent means your rewards quickly accumulate and are valuable for future purchases.'

section.zuc-blob-module--wrapper
  .zuc-blob-module--text-section.flex.flex-column
    h4.zuc-blob-module--subheading.u-uppercase
      |#{subheading}
    h2.zuc-blob-module--heading.u-font-serif
      |#{title}
    .zuc-blob-module--copy
      |#{text}
    .zuc-blob-module--grey-slash
      img.slb-grey-slash(src='../../assets/images/graphics/graphic_slash_grey.svg' alt='')
  .zuc-blob-module--graphic-section.flex.flex-hor-center
    img.slb-blob-photo(src='../../assets/images/smarter-living/woman-online-purchase.png' alt='Woman making online purchases on a laptop.')
    img.blob(src='../../assets/images/shapes/round-blob-solid.svg' alt='Decorative gradient image in background')
