// Modal Container
.zuc-modal(data-modal-whole-home-bundle onclick="toggleModal('[data-modal-whole-home-bundle]')")
  // Modal Content
  .zuc-modal-content.--sp-bundle(onclick="event.stopPropagation()")
    // Place Modal Content Here
    .zuc-sp-bundle-content
      //-------------------------------------------------
      .zuc-modal-subtitle.u-text-center.u-uppercase
        |Best Value
      h2.u-text-center.u-font-serif.u-zuc-indigo
        |Whole Home Bundle


