-
  var applianceCoverages = [
    'Refrigerator with built-in ice and water dispensers',
    'Range/oven/cooktop',
    'Dishwasher',
    'Clothes washer',
    'Clothes dryer',
    'Freezer',
    'Icemaker (free-standing)',
    'Microwave cven (built-in)',
    'Trash compactors',
    'Food centre (built-in)'
  ]

  var furnitureCoverages = [
    'Fabric upholstery',
    'Occasional or oversized chair',
    'Loveseat',
    'Sofa (fabric, leather, synthetic)',
    'Ottoman or futon',
    'Dining chairs',
    'Reclining chair (mechanical)',
    'Mattress or foundation',
    'Motion chair (electrical)',
    'Sectional',
    'Dining room',
    'Bedroom suite'
  ]

  var homeSysCoverages= [
    'Air conditioning with ductwork',
    'Heating/furnace with ductwork',
    'Electrical',
    'Doorbells',
    'Wired smoke detectors',
    'Ceiling and exhaust fans',
    'Plumbing including stoppages',
    'Water heaters',
    'Garbage disposals',
    'Instant hot/cold dispensers',
    'Central vacuums'
  ]

// Modal Container - Combo Plan
.zuc-modal(data-modal-combo-plan onclick="toggleModal('[data-modal-combo-plan]')")
  // Modal Content
  .zuc-modal-content(onclick="event.stopPropagation()")
    // Place Modal Content Here
    //-------------------------------------------------
    || SP Combo Plan.
