// Modal Container
.zuc-modal(data-smarter-video onclick="toggleModal('[data-smarter-video]')")
  // Modal Content
  .zuc-modal-content(onclick="event.stopPropagation()")
    // Place Modal Content Here
    //-------------------------------------------------
    | TEST TEST TEST
