// Modal Container
.zuc-modal(data-modal-whole-home-bundle onclick="toggleModal('[data-modal-whole-home-bundle]')")
  // Modal Content
  .zuc-modal-content(onclick="event.stopPropagation()")
    // Place Modal Content Here
    //-------------------------------------------------
    || Testy McTest.
