// Modal Container
.zuc-modal(data-modal-whole-home-bundle onclick="toggleModal('[data-modal-whole-home-bundle]')")
  // Modal Content
  .zuc-modal-content(onclick="event.stopPropagation()")
    // Place Modal Content Here
    //-------------------------------------------------
    .zuc-modal-subtitle.u-text-center
      |Best Value
    .zuc-modal-title.u-text-center
      |Whole Home Bundle
    .tmp
      |Test
