-
  var applianceCoverages = [
    'Refrigerator with built-in ice and water dispensers',
    'Range/oven/cooktop',
    'Dishwasher',
    'Clothes washer',
    'Clothes dryer',
    'Freezer',
    'Icemaker (free-standing)',
    'Microwave cven (built-in)',
    'Trash compactors',
    'Food centre (built-in)'
  ]

  var furnitureCoverages = [
    'Fabric upholstery',
    'Occasional or oversized chair',
    'Loveseat',
    'Sofa (fabric, leather, synthetic)',
    'Ottoman or futon',
    'Dining chairs',
    'Reclining chair (mechanical)',
    'Mattress or foundation',
    'Motion chair (electrical)',
    'Sectional',
    'Dining room',
    'Bedroom suite'
  ]

  var homeSysCoverages= [
    'Air conditioning with ductwork',
    'Heating/furnace with ductwork',
    'Electrical',
    'Doorbells',
    'Wired smoke detectors',
    'Ceiling and exhaust fans',
    'Plumbing including stoppages',
    'Water heaters',
    'Garbage disposals',
    'Instant hot/cold dispensers',
    'Central vacuums'
  ]

// Modal Container - Whole Home Bundles
//- TODO remove temporarily applied zuc-modal-active class (dev only)
.zuc-modal.zuc-modal-active.--modal-scroll(data-modal-whole-home-bundle onclick="toggleModal('[data-modal-whole-home-bundle]')")
  // Modal Content
  .zuc-sp-bundle-modal-content.--sp-bundle(onclick="event.stopPropagation()")
    // Place Modal Content Here
    .zuc-sp-bundle-content
      //-------------------------------------------------
      //- Titles
      .zuc-sp-bundle--titles
        .zuc-sp-bundle--preheading.zuc-modal-subtitle.u-uppercase
          |Best Value
        h2.u-font-serif.u-zuc-indigo
          |Whole Home Bundle
        .zuc-sp-bundle--subheading.u-font-serif.u-light
          |Combine all 3 plans to save $50/month.
        p
          |Coverage includes repair, parts, and replacement for the items within your plans. The low monthly subscription fee gives you the coverage you want immediately without big, upfront costs.
        .zuc-sp-bundle--price
          span.sign
            |$
          span.dollar
            |69
          span.cents
            |.99
          span.month
            |/month
        .zuc-sp-bundle--btn
          button.zuc-btn.zuc-btn-secondary(href="#" title="todo")
            |Get started today
      //- Packages
      .zuc-custom-plan--items
        .zuc-custom-plan--box.flex
          img.photo(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
          .plan-icon
            img(src="../../assets/images/icons/icon-plus.svg", alt="a circle with a plus in it")
          h4.zuc-sp-bundle--photo-text.u-font-serif.u-zuc-indigo
            |Appliances Coverage:
        .zuc-custom-plan--box.flex
          img.photo(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
          .plan-icon
            img(src="../../assets/images/icons/icon-plus.svg", alt="A circle with a plus in it")
          h4.zuc-sp-bundle--photo-text.u-font-serif.u-zuc-indigo
            |Furniture Coverage:
        .zuc-custom-plan--box.flex
          img.photo(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
          h4.zuc-sp-bundle--photo-text.u-font-serif.u-zuc-indigo
            |Home Systems Coverage:
      .zuc-sp-bundle--packages
        .zuc-sp-bundle-pkg
          ul
            each val in applianceCoverages
              li= val
        .zuc-sp-bundle-pkg
          ul
            each val in furnitureCoverages
              li= val
        .zuc-sp-bundle-pkg
          ul
            each val in homeSysCoverages
              li= val
      //- Base Plan section
      section.zuc-sp-bundle--base-plans.flex.flex-row.flex-hor-center
        .zuc-base-plan-box-container
          .zuc-sp-bundle--base-plan-box.flex.flex-hor-center.flex-vert-center(href="#" title="todo")
            h3.zuc-base-plan-heading.u-font-serif.u-light.u-text-center.u-zuc-indigo
              |Appliances
            .zuc-base-plan-graphics-container
              img.zuc-base-plan-image(src='../../assets/images/service-plans/appliance-washer.png' alt='Washer')
              img.zuc-base-plan-badge(src='../../assets/images/service-plans/badge-appliances.svg' alt='Includes Multiple Major Appliances - 39.99/mo')
            a.zuc-btn.zuc-btn-secondary(href="#" alt="Learn More")
              |Learn More
        .zuc-base-plan-box-container
          .zuc-sp-bundle--base-plan-box.flex.flex-hor-center.flex-vert-center(href="#" title="todo")
            h3.zuc-base-plan-heading.u-font-serif.u-light.u-text-center.u-zuc-indigo
              |Furniture
            .zuc-base-plan-graphics-container
              img.zuc-base-plan-image(src='../../assets/images/service-plans/furniture.png' alt='Furniture')
              img.zuc-base-plan-badge(src='../../assets/images/service-plans/badge-furniture.svg' alt='Includes Multiple Pieces of Furniture - 29.99/mo')
            a.zuc-btn.zuc-btn-secondary(href="#" alt="Learn More")
              |Learn More
        .zuc-base-plan-box-container
          .zuc-sp-bundle--base-plan-box.flex.flex-hor-center.flex-vert-center(href="#" title="todo")
            h3.zuc-base-plan-heading.u-font-serif.u-light.u-text-center.u-zuc-indigo
              |Home Systems
            .zuc-base-plan-graphics-container
              img.zuc-base-plan-image(src='../../assets/images/service-plans/home-systems-ac.png' alt='Airconditioner')
              img.zuc-base-plan-badge(src='../../assets/images/service-plans/badge-homesystems.svg' alt='Includes Multiple Home Systems - 49.99/mo')
            a.zuc-btn.zuc-btn-secondary(href="#" alt="Learn More")
              |Learn More


