// todo - mv, rename this class
.--modal-scroll {
  overflow-y: auto;
}

.zuc-sp-bundle-modal-content {
  @include center('horizontal');
  min-width: 30%;
  padding: 1vw;
  background: white;
  width: 85%;
  position: relative;

  .zuc-sp-bundle-close-btn {
    width: 20px;
    position: absolute;
    right: vw-desktop(60);
    cursor: pointer;
  }

  .zuc-sp-bundle-content {
    margin: vw-desktop(10);
    padding: vw-desktop(20);
    border: 1px solid $color-zuc-indigo;
  }

  @media #{$laptop-up} {
    min-width: 40%;
  }

  @media #{$portrait} {
    min-width: 85%;
    max-width: 90%;
    padding: 4.2vw 5.4vw;
  }
}

// Flag for .zuc-modal-content (in modals.scss).
// I'd consider putting this in .zuc-modal-content
// class itself, but that would be nesting on 3 levels
// .--sp-bundle {
//   width: 85%;
//   .zuc-sp-bundle-content {
//     margin: vw-desktop(10);
//     padding: vw-desktop(20);
//     border: 1px solid $color-zuc-indigo;
//   }
// }

.zuc-sp-bundle--titles {
  text-align: center;

  .zuc-sp-bundle--preheading {
    padding: vw-desktop(50) 0 vw-desktop(20);
  }

  .zuc-sp-bundle--subheading {
    font-size: vw-desktop(26);
    padding-bottom: vw-desktop(20);
    font-style: italic;
    color: $color-zuc-darkindigo;
  }

  p {
    padding: 0 vw-desktop(320);
  }
}

.zuc-sp-bundle--price {
  padding-top: vw-desktop(20);
  padding-bottom: vw-desktop(20);
  font-family: $main-font-serif;
  font-weight: 300;
  color: $color-zuc-indigo;
  display: flex;
  justify-content: center;
  letter-spacing: vw-desktop(2);

  .sign {
    font-size: vw-desktop(46);
  }
  .dollar {
    font-size: vw-desktop(93);
  }
  .cents {
    font-size: vw-desktop(36);
    align-self: flex-start;
  }
  .month {
    font-size: vw-desktop(24);
    align-self: flex-end;
  }
}

.zuc-sp-bundle--packages {
  display: flex;

  .zuc-sp-bundle-pkg {
    width: 33.3%;
    display: flex;
    justify-content: center;
  }

  li {
    color: $color-zuc-darkindigo;
    @include font-size($zuc-body-small-font-sizes);
    font-weight: 100;
    line-height: vw-desktop(20);

  }
}

.zuc-sp-bundle--header {
  @media #{$tablet-up} {
    font-size: vw-desktop(28);
  }
}

.zuc-sp-bundle-base-plan--header {
  // align-self: flex-start;
  letter-spacing: .9px;
  @media #{$tablet-up} {
    font-size: vw-desktop(34);
  }
}

.zuc-sp-bundle--base-plans {
  width: 100%;
  background-color: $color-zuc-platinum;
  // padding: 0 18vw;

  @media #{$phone-only} {
    flex-direction: column;
    padding: 0 5vw;
  }
  @media #{$tablet-only} {
    padding: 0 8vw;
  }
}

.zuc-sp-bundle--base-plan-box {
  flex-direction: column;
  padding: 1vw;
  margin: ( 9 / 3.2 ) * 1vw;

  @media #{$tablet-only} {
    margin: ( 5 / 7.68 ) * 1vw;
  }
  @media #{$laptop-up} {
    margin: ( 9 / 19.2 ) * 1vw;
  }
}

