// todo - mv, rename this class
// .--modal-scroll {
//   overflow-y: auto;
// }

.zuc-sp-bundle-modal-content {
  @include center('horizontal');
  min-width: 30%;
  padding: 1vw;
  background: white;
  top: 5%;
  width: 85%;
  position: relative;

  .zuc-sp-bundle-close-btn {
    width: 20px;
    position: absolute;
    right: vw-desktop(60);
    cursor: pointer;
  }

  .zuc-sp-bundle-content {
    margin: vw-desktop(10);
    padding: vw-desktop(20);
    border: 1px solid $color-zuc-indigo;
  }

  @media #{$laptop-up} {
    min-width: 40%;
  }

  @media #{$portrait} {
    min-width: 85%;
    max-width: 90%;
    padding: 4.2vw 5.4vw;
  }

  ul {
    @media #{$phone-only} {
      column-count: 2;
    }
  }
}

.zuc-sp-bundle--titles {
  text-align: center;

  .zuc-sp-bundle--preheading {
    padding: vw-desktop(50) 0 vw-desktop(20);
  }

  .zuc-sp-bundle--subheading {
    font-size: vw-desktop(26);
    padding-bottom: vw-desktop(20);
    font-style: italic;
    color: $color-zuc-darkindigo;
  }

  p {
    padding: 0 vw-desktop(240);
  }
}

.zuc-sp-bundle--price {
  padding-top: vw-desktop(20);
  padding-bottom: vw-desktop(20);
  font-family: $main-font-serif;
  font-weight: 300;
  color: $color-zuc-indigo;
  display: flex;
  justify-content: center;
  letter-spacing: vw-desktop(2);

  .sign {
    font-size: vw-desktop(46);
  }
  .dollar {
    font-size: vw-desktop(93);
  }
  .cents {
    font-size: vw-desktop(36);
    align-self: flex-start;
  }
  .month {
    font-size: vw-desktop(24);
    align-self: flex-end;
  }
}

// .zuc-sp-bundle--packages {
//   // display: flex;

//   .zuc-sp-bundle-pkg {
//     width: 33.3%;
//     display: flex;
//     justify-content: center;
//   }

//   li {
//     color: $color-zuc-darkindigo;
//     @include font-size($zuc-body-small-font-sizes);
//     font-weight: 100;
//     line-height: vw-desktop(20);
//   }
// }

// Titles in the middle:
.zuc-sp-bundle--header {
  @media #{$tablet-up} {
    font-size: vw-desktop(32);
  }
}

// Titles at the bottom:
.zuc-sp-bundle-base-plan--header {
  // align-self: flex-start;
  letter-spacing: .9px;
  @media #{$tablet-up} {
    font-size: vw-desktop(40);
  }
}

.zuc-sp-bundle--footer {
  background-color: $color-zuc-platinum;
  margin-top: 1vw;
  padding-top: .5vw;
}

.zuc-sp-bundle--base-plans {
  width: 100%;

  @media #{$phone-only} {
    flex-direction: column;
    padding: 0 5vw;
  }
  @media #{$tablet-only} {
    padding: 0 8vw;
  }
}

.zuc-sp-bundle--base-plan-box {
  flex-direction: column;
  padding: 1vw;
  margin: ( 9 / 3.2 ) * 1vw;

  @media #{$tablet-only} {
    margin: ( 5 / 7.68 ) * 1vw;
  }
  @media #{$laptop-up} {
    margin: ( 9 / 19.2 ) * 1vw;
  }

  .zuc-sp-bundle--link {
    padding-left: 12px;
    text-decoration: underline;
    font-size: vw-desktop(18);
  }
}

