section.zuc-damage-bar.flex.flex-align-end
  .zuc-damage-bg-img.u-soft-shadow.--appl
  .zuc-damage-group.flex.u-soft-shadow
    .zuc-damage-box
      .zuc-why-damage-img-box
        img(src="../../assets/images/icons/icon-parts.svg", alt="Icon of a toolbox")
      h4
        |Parts
      p.zuc-body-small
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    .zuc-damage-box
      .zuc-why-damage-img-box
        img(src="../../assets/images/icons/icon-labour-reverse.svg", alt="Icon of a person in a hard hat")
      h4
        |Labour
      p.zuc-body-small
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    .zuc-damage-box
      .zuc-why-damage-img-box
        img(src="../../assets/images/icons/icon-replacement-washer.svg", alt="Icon of a washing machine")
      h4
        |Replacements
      p.zuc-body-small
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.