section.spkids-video
  .zuc-video-row.flex.flex-vert-stretch.u-soft-shadow
    .zuc-video-left
      h5.u-font-serif.u-zuc-indigo
        |Sup fam peep this vid
      p.u-ultralight.u-zuc-darkindigo
        |Placeholder lorem ipsum, relates to some plan video
      img.--wave-position(src='../../assets/images/graphics/graphic_chevron_lilac.svg' alt="Decorative element")
    .zuc-video-right.flex.flex-vert-stretch.flex-hor-center
      .zuc-video-player.flex.flex-vert-center.flex-hor-center
        img.--play-icon(src='../../assets/images/icons/icon-play.svg' alt="Decorative element")
  img.zuc-video-bg(src="../../assets/images/shapes/round-blob-half-video.svg", alt="An abstract pear shaped blue and green shape")
