section.spkids-video
  .zuc-video-box.flex.u-soft-shadow
    .zuc-video-left
      img.--wave-position(src='../../assets/images/graphics/graphic_chevron_lilac.svg')
      h5.u-font-serif.u-zuc-indigo
        |To live smarter offers security.
      p.u-ultralight.u-zuc-darkindigo
        |Lorem ipsum
    .zuc-video-right.--overlay.--o-indigo.flex.flex-vert-stretch.flex-hor-center
      .zuc-video-player.flex.flex-vert-center.flex-hor-center
        img.--play-icon(src='../../assets/images/icons/icon-play.svg')
