section.zuc-whats-covered.flex
  .zuc-whats-covered-text
    h2.u-font-serif.u-zuc-indigo
      |What's Covered?
    ul
      li
        |Placeholder
      li
        |Placeholder
      li
        |Placeholder
      li
        |Placeholder
      li
        |Placeholder
      li
        |Placeholder
      li
        |Placeholder
    a.zuc-btn.zuc-btn-secondary(href="#")
      |BUY NOW
  .zuc-whats-covered-image
    img(src="../../assets/images/service-plan/serviceman-washingmachine.png", alt="todo")
