section.zuc-spkids-header.flex.flex-vert-center.flex-hor-center
  img.zuc-spkids-header-bg1(src="../../assets/images/shapes/header-blob.svg", alt="An abstract green and blue wave shape")
  //-img.zuc-spkids-header-bg2(src="", alt="A grey wave shape) TODO
  .zuc-head-box.u-soft-shadow
    h2
      |Appliance Plan
    p
      |Placeholder lorem ipsum text about the city of Minnesota.
    a.zuc-btn.zuc-btn-secondary(href="#")
      |GET STARTED NOW
  .zuc-spkids-header-img-box.u-soft-shadow.flex.flex-vert-end
    img(src="../../assets/images/service-plan/front-house-blue.png", alt="The front of a house with an indigo overlay")
    h1
      |Lorem ipsum big headline.
  .zuc-kaboose-box.u-soft-shadow
    img.zuc-zigzag(src="../../assets/images/shapes/zigzag-coral.svg", alt="A coral coloured zigzag symbol")