section.zuc-damage
  .zuc-damage-left
    h2
        |Your service plan includes:
    .zuc-damage-row
      .zuc-damage-item
        .zuc-why-damage-img-box
          img(src="../../assets/images/icons/icon-parts.svg", alt="Icon of a toolbox")
        h6
          |Parts
        p.zuc-body-small
          |Replacement parts for major appliances.
      .zuc-damage-item
        .zuc-why-damage-img-box
          img(src="../../assets/images/icons/icon-labour.svg", alt="Icon of a person in a hard hat")
        h6
          |Labour
        p.zuc-body-small
          |Access to our network of qualified professional technicians.
      .zuc-damage-item
        .zuc-why-damage-img-box
          img(src="../../assets/images/icons/icon-replacement-washer.svg", alt="Icon of a washing machine")
        h6
          |Replacements
        p.zuc-body-small
          |Up to full replacement of an item.
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary.u-soft-shadow(href="#" title="todo")
        |Review Full Coverage
  .zuc-damage-right
    h3
      |Still undecided?
    p
      |Compare your monthly plan fee against potential repair or replacement costs.
    .zuc-btn-box
      a.zuc-btn.zuc-btn-hollow.u-soft-shadow(href="#" title="todo")
        |KNOW YOUR RISK
        