section.zuc-spkids-header.flex.flex-vert-center.flex-hor-center
  .zuc-head-box.u-soft-shadow
    h2
      |Appliances Service Plan
    p
      |Placeholder lorem ipsum text about the city of Atlantis.
    a.zuc-btn.zuc-btn-secondary(href="#")
      |GET STARTED NOW
  .zuc-spkids-header-img-box.u-soft-shadow.--overlay.--o-indigo.flex.flex-vert-end
    img(src="../../assets/images/smarter-living/mom-daughter-laundry.png", alt="todo")
    h1
      |Lorem ipsum big headline.
  .zuc-kaboose-box.u-soft-shadow