section.spkids-video
  //- Copy pasta beyong this point
  .zuc-hero-row.flex.flex-vert-stretch.--video-row.u-soft-shadow
        .zuc-hero-left
          h5.u-font-serif.u-zuc-indigo
            |To live smarter offers security.
          p.u-ultralight.u-zuc-darkindigo
            img.--wave-position(src='../../assets/images/shapes/zigzag-coral.svg')
            |#{videoText}
        .zuc-hero-right.flex.flex-vert-stretch.flex-hor-center
          .zuc-hero-video-player.flex.flex-wrap.flex-vert-center.flex-hor-between
            // Images
            img(src='../../assets/images/ZucoraHome-brand-white.svg')
            // Play Button
            img.--play-icon(src='../../assets/images/icons/icon-play.svg')
            // video Title
            .zuc-video-title.u-font-serif
              |Choose to protect your home and your family.