-
  var list = [
    'Refrigerator with built-in ice and water dispensers',
    'Range/oven/cooktop',
    'Dishwasher',
    'Clothes washer',
    'Clothes dryer',
    'Freezer',
    'Icemaker (free-standing)',
    'Microwave cven (built-in)',
    'Trash compactors',
    'Food centre (built-in)'
  ]
section.zuc-spkids-header-mask.d-bkg-wave.--bottom.--grey-bkg
  .zuc-spkids-content.flex.flex-vert-stretch.flex-hor-center
    .zuc-head-box.u-soft-shadow
      h1.u-font-serif.u-zuc-indigo
        |Appliances Plan
      p
        |Select a plan that fits your lifestyle and budget. Receive worry-free repair and replacement solutions.
      img(src="../../assets/images/service-plans/hero-badge-appliances.png" class="zuc-head-image")
      a.zuc-btn.zuc-btn-secondary(href="#LimeTAC-Link-To-Ecommerce" title="LimeTAC-TODO")
        |GET STARTED TODAY
    .zuc-spkids-header-img-box.u-soft-shadow.flex.flex-vert-end.flex-wrap(style="background-image:url('/Images/Zuc/images/service-plans/woman-laundry-blue-header.png');")
      h5.u-font-serif.u-color-white
        img.zuc-zigzag(src="../../assets/images/graphics/graphic_zigzag_coral.svg", alt="A coral coloured zigzag symbol")
        |Discover the Smarter way to live.
    .zuc-head-box.u-soft-shadow
      h2.u-font-serif.u-zuc-indigo
        |Items covered:
      ul
        //- Iterate through the copy
        each val in list.length ? list : ['There are no values']
          li
            |#{val}

  .zuc-spkids-header-bg1
