- var title = 'Appliances will eventually breakdown.'
- var subheading = 'convenient'
- var text = 'Cost-effective repair and replacement solutions for appliances to protect family budgets while removing the stress out of home management.'
- var button = 'GET STARTED today'
section.zuc-featured.flex.flex-wrap
  .zuc-featured-content.--text
    .zuc-title-container.flex
      h4
        |#{subheading}
      .zuc-title-flag
        .--green
    h3.u-font-serif.u-zuc-indigo
      |#{title}
    p
      |#{text}
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="#LimeTAC-Link-To-Ecommerce" title="LimeTAC-TODO")
        |#{button}
    .--featured-link
      a(href="service-plans-home-systems.html" title="Learn More about our Home Systems Service Plans")
        |how it works
    .d-grey-slash
      img.--image(src='../../assets/images/graphics/graphic_slash_grey.svg' alt='Decorative grey slashes.')
  .zuc-featured-coverage-image
    img(src="../../assets/images/service-plans/serviceman-washingmachine.png", alt="todo")
