section.zuc-damage-bar.flex.flex-align-end
  img.zuc-dmg-bg-img(src="../../assets/images/contact/happy-family-livingroom.png", alt="todo")
  .zuc-damage-group.flex.u-soft-shadow
    .zuc-damage-box
      .zuc-why-damage-img-box
        img(src="../../assets/images/icons/icon-24-7-service.svg", alt="Icon of a turning clock with the text 24/7")
      h4
        |Spills & Stains
      p.zuc-body-small
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    .zuc-damage-box
      .zuc-why-damage-img-box
        img(src="../../assets/images/icons/icon-24-7-service.svg", alt="Icon of a turning clock with the text 24/7")
      h4
        |Accidental Damage
      p.zuc-body-small
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    .zuc-damage-box
      .zuc-why-damage-img-box
        img(src="../../assets/images/icons/icon-24-7-service.svg", alt="Icon of a turning clock with the text 24/7")
      h4
        |Replacements
      p.zuc-body-small
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.