-
  var list = [
    'Fabric upholstery',
    'Occasional or oversized chair',
    'Loveseat',
    'Sofa (fabric, leather, synthetic)',
    'Ottoman or futon',
    'Dining chairs',
    'Reclining chair (mechanical)',
    'Mattress or foundation',
    'Motion chair (electrical)',
    'Sectional',
    'Dining room',
    'Bedroom suite'
  ]
section.zuc-spkids-header-mask
  .zuc-spkids-content.flex.flex-vert-stretch.flex-hor-center
    //-img.zuc-spkids-header-bg2(src="", alt="A grey wave shape) TODO
    .zuc-head-box.u-soft-shadow
      h1.u-font-serif.u-zuc-indigo
        |Furniture Plan
      p
        |When your furniture becomes stained or accidentally damaged, a Smarter Living Plan offers you worry-free repair and replacement solutions while protecting your budget.
      // TODO - Replace with real image
      img(src="https://via.placeholder.com/416x350" class="zuc-head-image")
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |GET STARTED TODAY
    .zuc-spkids-header-img-box.u-soft-shadow.flex.flex-vert-end.flex-wrap(style="background-image:url('/images/service-plans/father-son-laughing-blue-header.png');")
      h5.u-font-serif.u-color-white
        img.zuc-zigzag(src="../../assets/images/graphics/graphic_zigzag_coral.svg", alt="A coral coloured zigzag symbol")
        |Discover the Smarter way to live.
    .zuc-head-box.u-soft-shadow
      h2.u-font-serif.u-zuc-indigo
        |What's covered?
      ul
        //- Iterate through the copy
        each val in list.length ? list : ['There are no values']
          li
            |#{val}
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |review full coverage

  .zuc-spkids-header-bg1
