- var title = 'Furniture will wear out.'
- var subheading = 'convenient'
- var text = 'Our cost-effective repair and replacement solutions for home systems are designed to protect family budgets while removing the stress out of home management.'
- var button = 'GET STARTED today'
section.zuc-whats-covered.flex
  .zuc-blob-module--text-section.zuc-blob-stack
    .zuc-title-container
      h4.u-uppercase
        |#{subheading}
      .zuc-title-flag
        .--green
    h2.u-font-serif.u-zuc-indigo
      |#{title}
    p.u-zuc-darkindigo
      |#{text}
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |#{button}
    .blob-blink
      a(href="#" title="todo")
        |how it works
    .zuc-blob-module--grey-slash
      img.grey-slash(src='../../assets/images/graphics/graphic_slash_grey.svg' alt='TODO')
  .zuc-whats-covered-image
    img(src="../../assets/images/service-plans/servicewoman-chair.png", alt="todo")
