section.zuc-compare
  h2.zuc-compare-title
    |Smarter Living Plan comparisons
  .zuc-compare-row
    .zuc-compare-item
      h6
        |BEST VALUE
      h2
        |Bundles &amp; Combos
      .zuc-img-box
        img(src="../../assets/images/service-plans/bundles-combos.png", alt="A leather chair, fridge, and air conditioning unit")
      .zuc-btn-box
        a.zuc-btn.zuc-btn-secondary(href="service-plans.html" title="See all of our Service Plans")
          |LEARN MORE
    .zuc-compare-item
      h6
        |BASE PLAN
      h2
        |Furniture
      .zuc-img-box
        img(src="../../assets/images/service-plans/home-furnishing.png", alt="A large sectional couch")
      .zuc-btn-box
        a.zuc-btn.zuc-btn-secondary(href="service-plans-furniture.html" title="Furniture Plans")
          |LEARN MORE
    .zuc-compare-item
      h6
        |BASE PLAN
      h2
        |Appliances
      .zuc-img-box
          img(src="../../assets/images/service-plans/appliances.png", alt="Various large home appliances")
      .zuc-btn-box
        a.zuc-btn.zuc-btn-secondary(href="service-plans-appliance.html" title="Appliance Plans")
          |LEARN MORE
