- var title = 'Home systems will eventually breakdown.'
- var subheading = 'convenient'
- var text = 'A cost-effective repair and replacement service plan for your home systems will protect the family budget and remove the stress out of home managment.'
- var button = 'GET STARTED today'
section.zuc-whats-covered.flex
  .zuc-blob-module--text-section.flex.flex-column
    h4.zuc-blob-module--subheading.u-uppercase
      |#{subheading}
    h2.zuc-blob-module--heading.u-font-serif
      |#{title}
    .zuc-blob-module--copy
      |#{text}
    .zuc-blob-module--btn
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |#{button}
    .zuc-blob-module--grey-slash
      img.grey-slash(src='../../assets/images/graphics/graphic_slash_grey.svg' alt='TODO')
  .zuc-whats-covered-image
    img(src="../../assets/images/service-plans/serviceman-airconditioner.png", alt="todo")
