-
  var list = [
    'Air conditioning with ductwork',
    'Heating/furnace with ductwork',
    'Electrical',
    'Doorbells',
    'Wired smoke detectors',
    'Ceiling and exhaust fans',
    'Plumbing including stoppages',
    'Water heaters',
    'Garbage disposals',
    'Instant hot/cold dispensers',
    'Central vacuums',
  ]
section.zuc-spkids-header-mask.--grey-bkg
  .zuc-spkids-content.flex.flex-vert-stretch.flex-hor-center
    .zuc-head-box.u-soft-shadow
      h1.u-font-serif.u-zuc-indigo
        |Home Systems Plan
      p
        |When your home-comfort systems don't operate the way they should, the Smarter Living Plan can help protect your budget from unexpected repairs or replacement costs.
      img(src="../../assets/images/service-plans/hero-badge-homesystems.png" class="zuc-head-image")
      a.zuc-btn.zuc-btn-secondary(href="#LimeTAC-Link-To-Ecommerce" title="LimeTAC-TODO")
        |GET STARTED TODAY
    .zuc-spkids-header-img-box.u-soft-shadow.flex.flex-vert-end.flex-wrap(style="background-image:url('/Images/Zuc/images/service-plans/front-house-blue-header.png');")
      h5.u-font-serif.u-color-white
        img.zuc-zigzag(src="../../assets/images/graphics/graphic_zigzag_coral.svg", alt="A coral coloured zigzag symbol")
        |Discover the Smarter way to live.
    .zuc-head-box.u-soft-shadow
      h2.u-font-serif.u-zuc-indigo
        |Items covered:
      ul
        //- Iterate through the copy
        each val in list.length ? list : ['There are no values']
          li
            |#{val}

  .zuc-spkids-header-bg1
