section.zuc-base-plan.flex.flex-row.flex-hor-center
  .zuc-base-plan-box-container.u-soft-shadow
    .zuc-base-plan-box.flex.flex-hor-center.flex-vert-center(href="#" title="todo")
      h6.u-uppercase.u-zuc-indigo.u-bold
        |Base Plan
      h3.zuc-base-plan-heading.u-font-serif.u-light.u-text-center.u-zuc-indigo
        |Furniture Plan
      .zuc-base-plan-graphics-container
        img.zuc-base-plan-image(src='../../assets/images/service-plans/furniture.png' alt='Furniture')
        img.zuc-base-plan-badge(src='../../assets/images/service-plans/badge-furniture.svg' alt='Includes Multiple Pieces of Furniture - 29.99/mo')
      a.zuc-btn.zuc-btn-secondary(href="#" alt="Learn More")
        |Learn More
  .zuc-base-plan-box-container.u-soft-shadow
    .zuc-base-plan-box.flex.flex-hor-center.flex-vert-center(href="#" title="todo")
      h6.u-uppercase.u-zuc-indigo.u-bold
        |Base Plan
      h3.zuc-base-plan-heading.u-font-serif.u-light.u-text-center.u-zuc-indigo
        |Appliances Plan
      .zuc-base-plan-graphics-container
        img.zuc-base-plan-image(src='../../assets/images/service-plans/appliance-washer.png' alt='Washer')
        img.zuc-base-plan-badge(src='../../assets/images/service-plans/badge-appliances.svg' alt='Includes Multiple Major Appliances - 39.99/mo')
      a.zuc-btn.zuc-btn-secondary(href="#" alt="Learn More")
        |Learn More
  .zuc-base-plan-box-container.u-soft-shadow
    .zuc-base-plan-box.flex.flex-hor-center.flex-vert-center(href="#" title="todo")
      h6.u-uppercase.u-zuc-indigo.u-bold
        |Base Plan
      h3.zuc-base-plan-heading.u-font-serif.u-light.u-text-center.u-zuc-indigo
        |Home Systems Plan
      .zuc-base-plan-graphics-container
        img.zuc-base-plan-image(src='../../assets/images/service-plans/home-systems-ac.png' alt='Airconditioner')
        img.zuc-base-plan-badge(src='../../assets/images/service-plans/badge-homesystems.svg' alt='Includes Multiple Home Systems - 49.99/mo')
      a.zuc-btn.zuc-btn-secondary(href="#" alt="Learn More")
        |Learn More
