- var title = 'Our commitment to you:'
- var subheading = 'products &amp; services'
- var text = 'Our national network of service experts ensures we quickly respond to the needs of our customers and Smarter Living Members when home furnishing products are accidentally damaged, or home appliances malfunction or when essential home systems fail to operate. Our convenient, cost-effective repair and replacement programs are designed to protect family budgets while removing the stress out of home management.'
- var texttoo = 'As the era of digitally connected homes continues to evolve, our team of professionals are constantly creating and introducing amazing technologies with ready-to-use solutions that deliver a new level of convenience for today’s busy families.'

section.zuc-featured-block.d-bkg-wave.--bottom.--grey-wave
  .zuc-featured.flex.flex-wrap
    .zuc-featured-content
      .zuc-title-container.flex
        h4
          |!{subheading}
        .zuc-title-flag
          .--green
      h2.u-font-serif.u-zuc-indigo
        |!{title}
      p
        |!{text}
      p.--second-p
        |!{texttoo}
    .zuc-featured-graphic-blob.flex.flex-hor-center.--nopad
      .--three-panels
        a.zuc-panel.--toolman(href="service-plans.html" title="See all of our service plans")
          span
            |SMARTER LIVING PLANS
        a.zuc-panel.--family(href='smarter-home-products.html' title='Smarter Home Products')
          span
            |SMARTER HOME PRODUCTS
        a.zuc-panel.--smartphone(href='smarter-home-control.html' title='Smarter Home Control')
          span
            |SMARTER HOME CONTROL
      //-
        .--img-wrapper
      img.zuc-blob(src='../../assets/images/shapes/round-blob-solid.svg' alt='Decorative gradient image in background')
