section.zuc-about-join
  .zuc-about-join-box.u-soft-shadow
    h2
      |Join our team.
    p
      |Looking to take your customer service experience to the next level? Consider joining one of Canada’s best customer service teams!
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |Apply Now
        