-
  var cards = [
    {
      title: 'Whole Home Plan',
      subtitle: 'Bundle &amp; Save',
      blurb: 'Protect your funiture, appliances and home systems with one easy monthly payment.',
      buttontext: 'get started today',
      _src: '../../assets/images/service-plans/home-systems.png',
      _alt: 'todo'
    },
    {
      title: 'Whole Home Plan',
      subtitle: 'Bundle &amp; Save',
      blurb: 'Protect your funiture, appliances and home systems with one easy monthly payment.',
      buttontext: 'get started today',
      _src: '../../assets/images/service-plans/home-systems.png',
      _alt: 'todo'
    },
    {
      title: 'Whole Home Plan',
      subtitle: 'Bundle &amp; Save',
      blurb: 'Protect your funiture, appliances and home systems with one easy monthly payment.',
      buttontext: 'get started today',
      _src: '../../assets/images/service-plans/home-systems.png',
      _alt: 'todo'
    }
  ]

.zuc-ec-home-header
  img.zuc-ec-home-header-bg(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
  .zuc-ec-home-header-card-container
    each card in cards.length ? cards : ['No cards to display']
      .zuc-ec-home-header-card
        span.zuc-ec-home-header-subtitle
          |!{card.subtitle}
        h1.zuc-ec-home-header-title
          |!{card.title}
        span.zuc-ec-home-header-blurb
          |!{card.blurb}
        .zuc-btn-box
          a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
            |!{card.buttontext}
