-
  var cards = [
    {
      _data_slide: '1',
      _src: '../../assets/images/ecom/banner-whole-home-plan.png',
      _alt: 'Zucora Home - Whole Home Plan'
    },
    {
      _data_slide: '2',
      _src: '../../assets/images/ecom/banner-oxy-tough.png',
      _alt: 'OxyTough Stain and odour fighter'
    },
    {
      _data_slide: '3',
      _src: '../../assets/images/ecom/banner-leather-care.png',
      _alt: 'Zucora Home - Leather Care'
    }
  ]

.zuc-ec-home-header
  img.zuc-ec-home-header-bg(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
  .zuc-ec-home-header-card-container(data-slide-container)
    each card in cards.length ? cards : ['No cards to display']
      .zuc-ec-home-header-card(aria-role="menuitem" data-slide=card._data_slide)
        img(src=card._src alt=card._alt)
  // Slideshow Controls
  .zuc-ec-home-slider-container.flex.flex-hor-center
    a.zuc-ec-home-slider-selector.--active(data-move-slide="1")
    a.zuc-ec-home-slider-selector(data-move-slide="2")
    a.zuc-ec-home-slider-selector(data-move-slide="3")

