-
  var cards = [
    {
      title: 'Whole Home Plan',
      subtitle: 'Bundle &amp; Save',
      blurb: 'Protect your funiture, appliances and home systems with one easy monthly payment.',
      buttontext: 'get started today',
      _src: './images/ecom/header-whole-home-plan.png',
      _alt: 'todo'
    },
    {
      title: 'Whole Home Plan',
      subtitle: 'Bundle &amp; Save',
      blurb: 'Protect your funiture, appliances and home systems with one easy monthly payment.',
      buttontext: 'get started today',
      _src: 'https://via.placeholder.com/900x700',
      _alt: 'todo'
    },
    {
      title: 'Whole Home Plan',
      subtitle: 'Bundle &amp; Save',
      blurb: 'Protect your funiture, appliances and home systems with one easy monthly payment.',
      buttontext: 'get started today',
      _src: '.https://via.placeholder.com/900x700',
      _alt: 'todo'
    }
  ]

.zuc-ec-home-header
  img.zuc-ec-home-header-bg(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
  .zuc-ec-home-header-card-container
    each card in cards.length ? cards : ['No cards to display']
      .zuc-ec-home-header-card(style="background-image: url('" + card._src + "');")
        span.zuc-ec-home-header-subtitle
          |!{card.subtitle}
        h1.zuc-ec-home-header-title
          |!{card.title}
        span.zuc-ec-home-header-blurb
          |!{card.blurb}
        .zuc-btn-box
          a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
            |!{card.buttontext}
  .flex.flex-hor-center
    .d-zucbar.--zb-indigo
    .d-zucbar.--zb-concrete
    .d-zucbar.--zb-concrete
