-
  var boxes = [
    {
      title: 'Bundles &amp; Combos',
      _src: '../../assets/images/service-plans/bundles-combos.png',
      _alt: 'Bundles &amp; Combos'
    },
    {
      title: 'Appliances',
      _src: '../../assets/images/service-plans/appliances.png',
      _alt: 'Appliances'
    },
    {
      title: 'Furniture',
      _src: '../../assets/images/service-plans/home-furnishing.png',
      _alt: 'Furniture'
    },
    {
      title: 'Home Systems',
      _src: '../../assets/images/service-plans/home-systems.png',
      _alt: 'Home Systems'
    }
  ]

.zuc-ec-home-plans
  +ecom-header-underlined('Shop Smarter Living Plans')
  .zuc-ec-plans-boxes
    each box in boxes.length ? boxes : [' No items to display']
      a.zuc-ec-plans-box(href="#LimeTAC-Link-To-Plans" title="LimeTAC-TODO")
        img.zuc-ec-plans-box-image(src=box._src alt=box._alt)
        span.zuc-ec-plans-box-title
          |!{box.title}
  .zuc-ec-plans-links
    a.zuc-ec-blink.--plans-blink(href="#LimeTAC-Link-To-Individual-Plan-Marketing-Side" title="LimeTAC-TODO")
      |learn more
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="#LimeTAC-Link-To-Buy-Plan" title="LimeTAC-TODO")
        |get started today
