-
  var boxes = [
    {
      title: 'Bundles &amp; Combos',
      _src: '../../assets/images/about/about-team-brad.png',
      _alt: 'todo'
    },
    {
      title: 'Appliances',
      _src: '../../assets/images/about/about-team-brad.png',
      _alt: 'todo'
    },
    {
      title: 'Furniture',
      _src: '../../assets/images/about/about-team-brad.png',
      _alt: 'todo'
    },
    {
      title: 'Home Systems',
      _src: '../../assets/images/about/about-team-brad.png',
      _alt: 'todo'
    }
  ]

.zuc-ec-home-plans
  +ecom-header('Shop Smarter Living Plans')
  .zuc-ec-plans-boxes
    each box in boxes.length ? boxes : [' No items to display']
      .zuc-ec-plans-box
        img.zuc-ec-plans-box-image(src=box._src alt=box._alt)
        span.zuc-ec-plans-box-title
          |!{box.title}
  .zuc-ec-plans-links
    .zuc-ec-plans-blink
    .zuc-ec-btn-box
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |get started today
