footer(class='flex flex-row flex-hor-center ')
  div(class='logo')
  div(class='about')
    h4 About
    a(class='mdev-boilerlink' href='#' title='todo') Contact Us
    a(class='mdev-boilerlink' href='#' title='todo') About Us
    a(class='mdev-boilerlink' href='#' title='todo') Our Team
    a(class='mdev-boilerlink' href='#' title='todo') Join Us
    a(class='mdev-boilerlink' href='#' title='todo') Reviews
  div(class='member-center')
    h4 Member Centre
    a(class='mdev-boilerlink' href='#' title='todo') What is Smart Living?
    a(class='mdev-boilerlink' href='#' title='todo') Member Login
    a(class='mdev-boilerlink' href='#' title='todo') Redeem Rewards
    a(class='mdev-boilerlink' href='#' title='todo') Blog
    a(class='mdev-boilerlink' href='#' title='todo') FAQ
  div(class='products-and-services')
    h4 Products & Services
    a(class='mdev-boilerlink' href='#' title='todo') Services Plans
    a(class='mdev-boilerlink' href='#' title='todo') Home Wellness Solutions
    a(class='mdev-boilerlink' href='#' title='todo') Shop Now
  div(class='partners')
    h4 Partners
    a(class='mdev-boilerlink' href='#' title='todo') I am a Retailer
    a(class='mdev-boilerlink' href='#' title='todo') I am a Contractor
  div(class='footer-right')
    button(class='zuc-btn zuc-primary-btn') Request
