footer
  div
    a(class='mdev-boilerlink' href='https://github.com/MdevDigitalInc/black-mesa' title='Documentation') Boilerplate Documentation
    a(class='mdev-boilerlink' href='https://github.com/MdevDigitalInc/sass-boilerplate' title='Documentation') SASS Boilerplate Documentation
    a(class='mdev-boilerlink' href='https://webpack.js.org/concepts/' title='Documentation') Webpack Documentation
    a(class='mdev-boilerlink' href='https://pugjs.org/language' title='Documentation') PUG Documentation
