footer(class='flex flex-row flex-hor-center footer')
  div(class='footer__brand-section flex flex-column')
    img(class='footer__logo' src="../../assets/images/ZucoraHome-brand-white.svg")
  div(class='footer__about flex flex-column flex-vert-start footer__column')
    h4(class='footer__header') About
    a(class='footer__link' href='#' title='todo') Contact Us
    a(class='footer__link' href='#' title='todo') About Us
    a(class='footer__link' href='#' title='todo') Our Team
    a(class='footer__link' href='#' title='todo') Join Us
    a(class='footer__link' href='#' title='todo') Reviews
  div(class='footer__member-center flex flex-column flex-vert-start footer__column')
    h4(class='footer__header') Member Centre
    a(class='footer__link' href='#' title='todo') What is Smart Living?
    a(class='footer__link' href='#' title='todo') Member Login
    a(class='footer__link' href='#' title='todo') Redeem Rewards
    a(class='footer__link' href='#' title='todo') Blog
    a(class='footer__link' href='#' title='todo') FAQ
  div(class='footer__products-and-services flex flex-column flex-vert-start footer__column')
    h4(class='footer__header') Products &amp; Services
    a(class='footer__link' href='#' title='todo') Services Plans
    a(class='footer__link' href='#' title='todo') Home Wellness Solutions
    a(class='footer__link' href='#' title='todo') Shop Now
  div(class='footer__partners flex flex-column flex-vert-start footer__column')
    h4(class='footer__header') Partners
    a(class='footer__link' href='#' title='todo') I am a Retailer
    a(class='footer__link' href='#' title='todo') I am a Contractor
  div(class='footer__footer-right footer__column')
    button(class='zuc-btn zuc-primary-btn') Request Service
