footer(class='flex flex-row flex-hor-center footer')
  div(class='logo flex flex-column')
  div(class='about flex flex-column flex-vert-start')
    h4(class='footer-header') About
    a(class='footer-link' href='#' title='todo') Contact Us
    a(class='footer-link' href='#' title='todo') About Us
    a(class='footer-link' href='#' title='todo') Our Team
    a(class='footer-link' href='#' title='todo') Join Us
    a(class='footer-link' href='#' title='todo') Reviews
  div(class='member-center flex flex-column flex-vert-start')
    h4(class='footer-header') Member Centre
    a(class='footer-link' href='#' title='todo') What is Smart Living?
    a(class='footer-link' href='#' title='todo') Member Login
    a(class='footer-link' href='#' title='todo') Redeem Rewards
    a(class='footer-link' href='#' title='todo') Blog
    a(class='footer-link' href='#' title='todo') FAQ
  div(class='products-and-services flex flex-column flex-vert-start')
    h4(class='footer-header') Products &amp; Services
    a(class='footer-link' href='#' title='todo') Services Plans
    a(class='footer-link' href='#' title='todo') Home Wellness Solutions
    a(class='footer-link' href='#' title='todo') Shop Now
  div(class='partners flex flex-column flex-vert-start')
    h4(class='footer-header') Partners
    a(class='footer-link' href='#' title='todo') I am a Retailer
    a(class='footer-link' href='#' title='todo') I am a Contractor
  div(class='footer-right')
    button(class='zuc-btn zuc-primary-btn') Request Service
