meta( charset='utf-8')
// [ FACEBOOK OG ]
meta( property='fb:app_id' content='APP_ID_GOES_HERE')
meta( property='og:type' content='website')
meta( property='og:url'  content='http://URL_TO_WEBSITE')
meta( property='og:title' content='Zucora Home')
meta( property='og:image' content='http://moreiradevelopment.io/social/moreira-development-twitcard.png')

// [ TWITTER CARDS ]
meta( name='twitter:card'           content='http://moreiradevelopment.io/social/moreira-development-twitcard.png')
meta( name='twitter:site'           content='@SAMPLE')
meta( name='twitter:creator'        content='@SAMPLE')
meta( name='twitter:title'          content='Zucora Home')
meta( name='twitter:description'    content='Base Project Install')
meta( name='twitter:image'          content='http://moreiradevelopment.io/social/moreira-development-twitcard.png')

// [ FONTS ]
link( rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
link( href='https://use.typekit.net/ovc0ozw.css' rel='stylesheet')

// [ JQUERY ]
script( src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script( src='/Scripts/Zuc/js/navigation.js')
script( src='/Scripts/Zuc/js/modals.js')

// Google Maps API
script( src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBBqIEqMAu1tnDhpPmRlesqA7Q1Na46AZs')

// [ Alerts ]
script( src='//cdn.jsdelivr.net/alertifyjs/1.9.0/alertify.min.js')
link( rel='stylesheet' href='//cdn.jsdelivr.net/alertifyjs/1.9.0/css/alertify.min.css')

// [ RESPONSIVE VIEWPORT ]
meta( name='viewport' content='width=device-width, initial-scale=1')
// [ Stylesheet ]
