meta( charset='utf-8')
// [ FACEBOOK OG ]
meta( property='og:title' content='Zucora Home')
meta( property='og:type' content='website')
meta( property='og:url'  content='https://zucorahome.com')
meta( property='fb:app_id' content='285404438770787')
meta( property='og:description'  content='Smarter Living Plan from Zucora Home protects your budget and offers peace of mind.')
meta( property='og:image' content='/Content/Zuc/social/zucora-facebook.jpg')

// [ TWITTER CARDS ]
meta( name='twitter:card'           content='summary_large_image')
meta( name='twitter:title'          content='Zucora Home')
meta( name='twitter:description'    content='Smarter Living Plan from Zucora Home protects your budget and offers peace of mind.')
meta( name='twitter:image'          content='/Content/Zuc/social/zucora-twitter.jpg')

// [ FONTS ]
link( rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
link( href='https://use.typekit.net/ovc0ozw.css' rel='stylesheet')

// [ JQUERY ]
script( src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script( src='/Scripts/Zuc/js/navigation.js')
script( src='/Scripts/Zuc/js/modals.js')

// Google Maps API
script( src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBBqIEqMAu1tnDhpPmRlesqA7Q1Na46AZs')

// [ Alerts ]
script( src='//cdn.jsdelivr.net/alertifyjs/1.9.0/alertify.min.js')
link( rel='stylesheet' href='//cdn.jsdelivr.net/alertifyjs/1.9.0/css/alertify.min.css')

// [ RESPONSIVE VIEWPORT ]
meta( name='viewport' content='width=device-width, initial-scale=1')
// [ Stylesheet ]
