-var copyright = "Copyright &#169; <span class='u-zuc-lightindigo'>Zucora Inc</span> 2018"
// Mobile Only Nav ----------------------
div(class="zuc-mobile-nav" data-mobile-menu)
  // Top Branding CTA
  .zuc-mobile-nav-content
    a(href="index.html" title="Zucora Home")
      img(src="../../assets/images/ZucoraHome-brand-white.svg" alt="Zucora Home")
    // Primary CTA Button
    a(class='zuc-btn zuc-btn-primary' href='form-service-request.html' title='Service Request')
      |Service Request

  // Accordion Nav ----------------------------------------
  div(class="zuc-accordion-nav" role="menu" aria-role="menu")

    //About Links --------------------------------
    div(class="zuc-accordion-item" data-accordion-item)
      .zuc-accordion-title
        |About Us
        i.zuc-accordion-arrow.fas.fa-angle-right
      // Hidden Content
      div(class="zuc-accordion-hidden" aria-hidden="true")
        a(class="zuc-accordion-link" href='our-story.html' title='About Zucora Home' aria-role='menuitem')
          |Our Story
        a(class="zuc-accordion-link" href='form-contact-us.html' title='Contact us' aria-role='menuitem')
          |Contact Us
        a(class="zuc-accordion-link" href='our-story.html' title='Our team' aria-role='menuitem')
          |Our Team
        //- Disabled for launch
        //- a(class="zuc-accordion-link" href='#' title='TODO' aria-role='menuitem')
          |Reviews

    // Smarter Living Links --------------------------------
    div(class="zuc-accordion-item" data-accordion-item)
      .zuc-accordion-title
        |What Is Smarter Living?
        i.zuc-accordion-arrow.fas.fa-angle-right
      // Hidden Content
      div(class="zuc-accordion-hidden" aria-hidden="true")
        a(href='smarter-living.html' title='Learn more about smarter living.' aria-role='menuitem')
          |Discover Smarter Living
        a(href='smarter-living-membership-benefits.html' title='What is Smarter living.' aria-role='menuitem')
          |Smarter Living Benefits
        //- Disabled for launch
        //-a(href='smarter-home-products.html' title='What smarter living can do for you.' aria-role='menuitem')
          |Smarter Living Matters
        a(href='smarter-home-control.html' title='Smart Home Products' aria-role='menuitem')
          |Smarter Home Control

    // Service Plans Links --------------------------------
    div(class="zuc-accordion-item" data-accordion-item)
      .zuc-accordion-title
        |Service Plans
        i.zuc-accordion-arrow.fas.fa-angle-right
      // Hidden Content
      div(class="zuc-accordion-hidden" aria-hidden="true")
        a(href='service-plans.html' title='View our bundles & combos' aria-role='menuitem')
          |See all Bundles &amp; Combos
        a(href='service-plans-furniture.html' title='Learn more about furniture coverage' aria-role='menuitem')
          |Furniture plan
        a(href='service-plans-appliance.html' title='Learn more about appliance coverage' aria-role='menuitem')
          |Appliances Plan
        a(href='service-plans-home-systems.html' title='Learn more about home systems coverage' aria-role='menuitem')
          |Home Systems Plan

    // Home Care Links --------------------------------
    div(class="zuc-accordion-item" data-accordion-item)
      .zuc-accordion-title
        |Smarter Home Products
        i.zuc-accordion-arrow.fas.fa-angle-right
      // Hidden Content
      div(class="zuc-accordion-hidden" aria-hidden="true")
        a(class="zuc-accordion-link" href='smarter-home-products.html' title='Learn about our approach to home wellness' aria-role='menuitem')
          |Home wellness solutions
        a(class="zuc-accordion-link" href='zu-collection.html' title='View our line of home care products' aria-role='menuitem')
          |ZU Collection
        a(class="zuc-accordion-link" href='purecare.html' title='View our line of sleep wellness products' aria-role='menuitem')
          |PureCare
        a(class="zuc-accordion-link" href='furniture-care.html' title='Learn more about our home wellness care kits' aria-role='menuitem')
          |Furniture Care
        a(class="zuc-accordion-link" href='smarter-home-products.html' title='View our whole line of offerings' aria-role='menuitem')
          |Shop all products

    // Member Centre Links --------------------------------
    div(class="zuc-accordion-item" data-accordion-item)
      .zuc-accordion-title
        |Member Centre
        i.zuc-accordion-arrow.fas.fa-angle-right
      // Hidden Content
      div(class="zuc-accordion-hidden" aria-hidden="true")
        a(class="zuc-accordion-link" href='#' title='Learn more about smarter living.' aria-role='menuitem')
          |Member Login
        //a(class="zuc-accordion-link" href='#' title='Learn about the benefits of Smarter Living' aria-role='menuitem')
          |Redeem Rewards
        //a(class="zuc-accordion-link" href='#' title='TODO' aria-role='menuitem')
          |Blog
        a(class="zuc-accordion-link" href='faq.html' title='Frequently Asked Questions' aria-role='menuitem')
          |FAQ

    // Shop Now --------------------------------
    div(class="zuc-accordion-item" data-accordion-item)
      a.zuc-accordion-title(href="#" title="Shop Now" style="display: block;")
        |Shop Now

  div(class="zuc-menu" data-open-menu)
    div(class="zuc-menu-open close" role="button" aria-label="Mobile Navigation Toggle")
      span(class="hidden" aria-hidden="true" aria-label="Click to toggle mobile menu")
        |Mobile Menu
  // Social Icons
  include ../modules/social-icons.pug
