-var smarterLiving = "Smarter Living is about making choices that make life more comfortable and convenient."
-var servicePlans = "The Smarter Living Plan offers you comprehensive, budget friendly service coverage for for your furniture, major appliances, and home-comfort systems.";
-var homeWellness = "Empower your quest for a clean home and healthy family with Zucora Home's environmentally-responsible products.";
a(class='zuc-btn zuc-btn-primary' href='index.html' title='Service Request')
  |Service Request

// Smarter Living Link ------------------------------
.zuc-nav-dropdown
  a(class='u-uppercase' href='smarter-living.html' title='Smarter Living Plans')
    |What Is Smarter Living?
  // Drop Down
  div(class='zuc-hidden-menu' data-hidden-menu aria-hidden='true' aria-role='menu')
    .zuc-dropdown-content.flex.flex-hor-between.flex-vert-stretch
      // Dropdown Links
      .zuc-dropdown-column
        a(href='smarter-living.html' title='Learn more about smarter living.' aria-role='menuitem')
          |Discover Smarter Living
        a(href='smarter-living-membership-benefits.html' title='What is Smarter living.' aria-role='menuitem')
          |Smarter Living Benefits
        a(href='smarter-home-products.html' title='What smarter living can do for you.' aria-role='menuitem')
          |Smarter Living Matters
        a(href='smarter-home-control.html' title='Smart Home Products' aria-role='menuitem')
          |Smarter Home Control

      // Dropdown Images
      .zuc-dropdown-column.zuc-dropdown-images
        // Column Content
        p
          |!{smarterLiving}
        img(src="https://via.placeholder.com/350x150" alt="Alt Text Here")

// Service Plans -------------------------------------
.zuc-nav-dropdown
  a(class='u-uppercase' href='service-plans.html' title='Zucora Home Service Plans')
    |Service Plans
  // Drop Down
  div(class='zuc-hidden-menu' data-hidden-menu aria-hidden='true' aria-role='menu')
    .zuc-dropdown-content.flex.flex-hor-between.flex-vert-stretch
      // Dropdown Links
      .zuc-dropdown-column
        a(href='service-plans.html' title='View our bundles & combos' aria-role='menuitem')
          |See all Bundles &amp; Combos
        a(href='service-plans-furniture.html' title='Learn more about furniture coverage' aria-role='menuitem')
          |Furniture plan
        a(href='service-plans-appliance.html' title='Learn more about appliance coverage' aria-role='menuitem')
          |Appliance Plan
        a(href='service-plans-home-systems.html' title='Learn more about home systems coverage' aria-role='menuitem')
          |Home Systems Plan

      // Dropdown Images
      .zuc-dropdown-column.zuc-dropdown-images
        // Column Content
        p
          |!{servicePlans}
        img(src="https://via.placeholder.com/350x150" alt="Alt Text Here")

// Home Care Solutions -------------------------------
.zuc-nav-dropdown
  a(class='u-uppercase' href='#' title='Zucora Home Care Solutions')
    |SMARTER HOME PRODUCTS
  // Drop Down
  div(class='zuc-hidden-menu' data-hidden-menu aria-hidden='true' aria-role='menu')
    .zuc-dropdown-content.flex.flex-hor-between.flex-vert-stretch
      // Dropdown Links
      .zuc-dropdown-column
        a(href='#' title='Learn about our approach to home wellness' aria-role='menuitem')
          |Why wellness matters
        a(href='zu-collection.html' title='View our line of home care products' aria-role='menuitem')
          |ZU Collection
        a(href='purecare.html' title='View our line of sleep wellness products' aria-role='menuitem')
          |PureCare
        a(href='home-care-kits.html' title='Learn more about our home wellness care kits' aria-role='menuitem')
          |Zucora Home Kits
        a(href='smarter-home-products.html' title='View our whole line of offerings' aria-role='menuitem')
          |Shop all products

      // Dropdown Images
      .zuc-dropdown-column.zuc-dropdown-images
        // Column Content
        p
          |!{homeWellness}
        img(src="https://via.placeholder.com/350x150" alt="Alt Text Here")


// Shop Now -------------------------------
.zuc-nav-dropdown
  a(class=' u-uppercase' href='#' title='Shop Zucora Home Products') Shop Now
