a(class='zuc-btn zuc-primary-btn' href='#' title='Request Service')
  |Request Service

// Smarter Living Link ------------------------------
.zuc-nav-dropdown
  a(class='hover-stroke u-uppercase' href='#' title='Smarter Living Plans') What Is Smarter Living?
  // Drop Down
  div(class='zuc-hidden-menu' data-hidden-menu aria-hidden='true' aria-role='menu')
    .zuc-dropdown-content.flex.flex-hor-between.flex-vert-stretch
      // Dropdown Links
      .zuc-dropdown-column
        a(href='#' title='Learn more about smarter living.' aria-role='menu-item')
          |Discover Smarter Living
        a(href='#' title='Learn about the benefits of Smarter Living' aria-role='menu-item')
          |Smarter Living Benefits
        a(href='#' title='What smarter living can do for you' aria-role='menu-item')
          |Smarter Living Matters

      // Dropdown Images
      .zuc-dropdown-column.zuc-dropdown-images
        // Column Content
        p
          |Your Smarter Living Plan lorem ipsum dolor sit amet, agam ocurreret ut eum, dicit everti assentior ea eam. Nam scripta scaevola ei, ei eam case noluisse.
        img(src="https://via.placeholder.com/350x150" alt="Alt Text Here")

// Service Plans -------------------------------------
.zuc-nav-dropdown
  a(class='hover-stroke u-uppercase' href='#' title='Zucora Home Service Plans') Service Plans
  // Drop Down
  div(class='zuc-hidden-menu' data-hidden-menu aria-hidden='true' aria-role='menu')
    .zuc-dropdown-content.flex.flex-hor-between.flex-vert-stretch
      // Dropdown Links
      .zuc-dropdown-column
        a(href='#' title='View our bundles & combos' aria-role='menu-item')
          |See all Bundles & Combos
        a(href='#' title='Learn more about furniture coverage' aria-role='menu-item')
          |Furniture plan
        a(href='#' title='Learn more about appliance coverage' aria-role='menu-item')
          |Appliance Plan
        a(href='#' title='Learn more about home systems coverage' aria-role='menu-item')
          |Home Systems Plan

      // Dropdown Images
      .zuc-dropdown-column.zuc-dropdown-images
        // Column Content
        p
          |Your Whole Home Plan lorem ipsum dolor sit amet, agam ocurreret ut eum ipsum dolor sit amet, agam ocurreret ut eum.
        img(src="https://via.placeholder.com/350x150" alt="Alt Text Here")

// Home Care Solutions -------------------------------
.zuc-nav-dropdown
  a(class='hover-stroke u-uppercase' href='#' title='Zucora Home Care Solutions') Home Wellness Solutions
  // Drop Down
  div(class='zuc-hidden-menu' data-hidden-menu aria-hidden='true' aria-role='menu')
    .zuc-dropdown-content.flex.flex-hor-between.flex-vert-stretch
      // Dropdown Links
      .zuc-dropdown-column
        a(href='#' title='Learn about our approach to home wellness' aria-role='menu-item')
          |Why wellness matters
        a(href='#' title='View our line of home care products' aria-role='menu-item')
          |Zu Collection
        a(href='#' title='View our line of sleep wellness products' aria-role='menu-item')
          |PureCare
        a(href='#' title='Learn more about our home wellness care kits' aria-role='menu-item')
          |Zucora Home Kits
        a(href='#' title='View our whole line of offerings' aria-role='menu-item')
          |Shop all products

      // Dropdown Images
      .zuc-dropdown-column.zuc-dropdown-images
        // Column Content
        p
          |Your Whole Home Plan lorem ipsum dolor sit amet, agam ocurreret ut eum ipsum dolor sit amet, agam ocurreret ut eum.
        img(src="https://via.placeholder.com/350x150" alt="Alt Text Here")


// Shop Now -------------------------------
.zuc-nav-dropdown
  a(class='hover-stroke u-uppercase' href='#' title='Zucora Home Care Solutions') Shop Now
