.zuc-nav-broadcast.flex.flex-hor-between.flex-vert-center(data-broadcast-banner)
  .zuc-broadcast-text.u-truncate.u-bold
    |Suggested editable broadcast banner that you can turn on/off for promos & customer care outages.

  div(class="zuc-broadcast-close" onclick="closeBroadcast()")
    i.fas.fa-times
