// User Navigation
.zuc-nav-user.flex.flex-hor-start.flex-hor-between.flex-vert-center
  // Slogan
  .zuc-nav-slogan
    |Slogan Goes here plz
    span
      |$XX.XX

  //Nav Links
  .zuc-user-links.flex.flex-hor-start.flex-hor-between.flex-vert-center
    // Search Placeholder

    // Login
    a(href="#" title="Member Login" class="zuc-user-login")
      |Login
      i.fas.fa-lock

    // Partnerships
    a(href="#" title="Learn about our Partnership Program" class="zuc-user-generic")
      |Become a Partner

    // Shopping Cart
    a(href="#" title="Member Login" class="zuc-user-login")
      |Cart
      i.fas.fa-shopping-cart
      span(class="zuc-cart-count")
        |13
