// Mobile Only Nav ----------------------
div(class="zuc-mobile-nav" data-mobile-menu)
  // Top Branding CTA
  .zuc-mobile-nav-content
    img(src="../../assets/images/ZucoraHome-brand-white.svg" alt="Zucora Home")
    // Primary CTA Button
    a(class='zuc-btn zuc-btn-primary' href='#' title='Request Service')
      |Request Service

  // Accordion Nav ----------------------------------------
  div(class="zuc-accordion-nav" role="menu" aria-role="menu")

    // Smarter Living Links --------------------------------
    div(class="zuc-accordion-item" data-accordion-item)
      .zuc-accordion-title
        |What Is Smarter Living?
        i.zuc-accordion-arrow
      // Hidden Content
      div(class="zuc-accordion-hidden" aria-hidden="true")
        a(class="zuc-accordion-link" href='#' title='Learn more about smarter living.' aria-role='menu-item')
          |Discover Smarter Living
        a(class="zuc-accordion-link" href='#' title='Learn about the benefits of Smarter Living' aria-role='menu-item')
          |Smarter Living Benefits
        a(class="zuc-accordion-link" href='#' title='What smarter living can do for you' aria-role='menu-item')
          |Smarter Living Matters

    // Smarter Living Links --------------------------------
    div(class="zuc-accordion-item" data-accordion-item)
      .zuc-accordion-title
        |Service Plans
        i.zuc-accordion-arrow
      // Hidden Content
      div(class="zuc-accordion-hidden" aria-hidden="true")
        a(class="zuc-accordion-link" href='#' title='View our bundles & combos' aria-role='menu-item')
          |See all Bundles & Combos
        a(class="zuc-accordion-link" href='#' title='Learn more about furniture coverage' aria-role='menu-item')
          |Furniture plan
        a(class="zuc-accordion-link" href='#' title='Learn more about appliance coverage' aria-role='menu-item')
          |Appliance Plan
        a(class="zuc-accordion-link" href='#' title='Learn more about home systems coverage' aria-role='menu-item')
          |Home Systems Plan

    // Smarter Living Links --------------------------------
    div(class="zuc-accordion-item" data-accordion-item)
      .zuc-accordion-title
        |Home Wellness Solutions
        i.zuc-accordion-arrow
      // Hidden Content
      div(class="zuc-accordion-hidden" aria-hidden="true")
        a(class="zuc-accordion-link" href='#' title='Learn about our approach to home wellness' aria-role='menu-item')
          |Why wellness matters
        a(class="zuc-accordion-link" href='#' title='View our line of home care products' aria-role='menu-item')
          |Zu Collection
        a(class="zuc-accordion-link" href='#' title='View our line of sleep wellness products' aria-role='menu-item')
          |PureCare
        a(class="zuc-accordion-link" href='#' title='Learn more about our home wellness care kits' aria-role='menu-item')
          |Zucora Home Kits
        a(class="zuc-accordion-link" href='#' title='View our whole line of offerings' aria-role='menu-item')
          |Shop all products

  div(class="zuc-menu" data-open-menu)
    div(class="zuc-menu-open close" role="button" aria-label="Mobile Navigation Toggle")
      span(class="hidden" aria-hidden="true" aria-label="Click to toggle mobile menu")
        |Mobile Menu
