nav(class='mdev-main-nav' aria-role='navigation' role='navigation')
  .mdev-main-wrapper.flex.flex-nowrap.flex-hor-between.flex-vert-end
    a(href='https://mdev.digital' title='MDEV Digital' class='mdev-main-nav-branding')
      img(src='../../assets/images/favicon.png')
    .mdev-main-nav-links.u-uppercase
      a(href='#' title='MDEV Digital' class='mdev-main-nav-branding') Link One
      a(href='#' title='MDEV Digital' class='mdev-main-nav-branding') Link Two
      a(href='#' title='MDEV Digital' class='mdev-main-nav-branding') Link Three
