footer.zuc-footer-wrapper.zuc-secondary-footer-wrapper
  .zuc-secondary-footer-bkg
      object(data='./images/shapes/footer-blob.svg' type="image/svg+xml")

  // - Footer Links
  include ../components/footer-links.pug

  // - Footer SubLinks
  include ../components/footer-sub-links.pug

//- Decorative Trim.
.zuc-footer--btm-trim
