.zuc-footer-wrapper.zuc-secondary-footer-wrapper
  .zuc-secondary-footer-bkg
      object(data='./images/graphics/footer-blob.svg' type="image/svg+xml")
  include ../components/footer-links.pug
  .zuc-footer--copyright.flex.flex-vert-center
    .zuc-footer--copyright-text Copyright Zucora Inc. 2018
    .zuc-footer--copryright-menu.flex.flex-hor-start
      a.zuc-footer--copyright-text(href="#" title="View our Privacy Policy")
        | Privacy Policy
      span -
      a.zuc-footer--copyright-text(href="#" title="View our Terms and Conditions")
        |Terms and Conditions
      span -
      a.zuc-footer--copyright-text(href="#" title="View our Sitemap")
        |Sitemap
//- Decorative Trim.
.zuc-footer--btm-trim
