.zuc-footer-wrapper.zuc-secondary-footer-wrapper
  .zuc-secondary-footer-bkg
      object(data='./images/graphics/footer-blob.svg' type="image/svg+xml")
  footer.flex.flex-row.flex-hor-center.zuc-footer
    div.zuc-footer--brand-section.flex.flex-column
      a.zuc-nav-brand(href="/")
        img(src='../../assets/images/ZucoraHome-brand-white.svg')
      .zuc-footer--social-icons
        include ../modules/social-icons.pug
    div.zuc-footer--about.flex.flex-column.flex-vert-start.zuc-footer--column
      h4.zuc-footer--header.u-uppercase About
      a.zuc-footer--link(href='#' title='todo') Contact Us
      a.zuc-footer--link(href='#' title='todo') About Us
      a.zuc-footer--link(href='#' title='todo') Our Team
      a.zuc-footer--link(href='#' title='todo') Join Us
      a.zuc-footer--link(href='#' title='todo') Reviews
    div.zuc-footer--member-center.flex.flex-column.flex-vert-start.zuc-footer--column
      h4.zuc-footer--header.u-uppercase Member Centre
      a.zuc-footer--link(href='#' title='todo') What is Smart Living?
      a.zuc-footer--link(href='#' title='todo') Member Login
      a.zuc-footer--link(href='#' title='todo') Redeem Rewards
      a.zuc-footer--link(href='#' title='todo') Blog
      a.zuc-footer--link(href='#' title='todo') FAQ
    div.zuc-footer--products-and-services.flex.flex-column.flex-vert-start.zuc-footer--column
      h4.zuc-footer--header.u-uppercase Products &amp; Services
      a.zuc-footer--link(href='#' title='todo') Smarter Home Control
      a.zuc-footer--link(href='#' title='todo') Services Plans
      a.zuc-footer--link(href='#' title='todo') Home Wellness Solutions
      a.zuc-footer--link(href='#' title='todo') Order and Returns
      a.zuc-footer--link(href='#' title='todo') Shop Now
    div.zuc-footer--partners.flex.flex-column.flex-vert-start.zuc-footer--column
      h4.zuc-footer--header.u-uppercase Partners
      a.zuc-footer--link(href='#' title='todo') I am a Retailer
      a.zuc-footer--link(href='#' title='todo') I am a Contractor
    div.zuc-footer--zuc-footer-right.zuc-footer--column
      a.zuc-btn.zuc-btn-primary Request Service
  .zuc-footer--copyright.flex.flex-vert-center
    .zuc-footer--copyright-text Copyright Zucora Inc. 2018
    .zuc-footer--copryright-menu.flex.flex-hor-start
      a.zuc-footer--copyright-text(href="#" title="View our Privacy Policy")
        | Privacy Policy
      span -
      a.zuc-footer--copyright-text(href="#" title="View our Terms and Conditions")
        |Terms and Conditions
      span -
      a.zuc-footer--copyright-text(href="#" title="View our Sitemap")
        |Sitemap
//- Decorative Trim.
.zuc-footer--btm-trim
