section.zuc-smart-devices.flex.flex-hor-between.flex-vert-start
  // Smart Gateway
  .zuc-smart-device
    img(src="../../assets/images/smarter-home/ZHBranded-gateway-wattle-blue.png" class="zuc-device-img" alt="Zucora Smart Home Wattle Sensor")
    .zuc-title-container.flex.flex-vert-center
      h4.u-uppercase
        |inntelligent
      .zuc-title-flag
        .--green
    h2.u-font-serif.u-zuc-indigo
      |Smarter gateway.
    p.u-zuc-darkindigo
      |Our Premium Multigateway has built in support for ZigBee, Zwave, WMBus, BLE and WiFi. It also features backup battery and cellular connection so that you are always connected and notified – even in the event of a power or network outage.

  // Smart Connections
  .zuc-smart-device
    img(src="../../assets/images/smarter-home/product-keypas.png" class="zuc-device-img" alt="Zucora Smart Home Keypas")
    .zuc-title-container.flex.flex-vert-center
      h4.u-uppercase
        |your privacy shield
      .zuc-title-flag
        .--green
    h2.u-font-serif.u-zuc-indigo
      |Smarter connections.
    p.u-zuc-darkindigo
      |Your privacy is our number one concern and that is why Smarter Home Control is end-to-end encrypted using private encryption keys unique to your installation. When you connect to Smarter Home Control at home or on the go, all communication between your multigateway and your Zucora Home app is protected from third parties - including us, the providers of the system. That is just the way we like it!
