section.zuc-featured-block.--flipped-image
  .zuc-featured.flex.flex-wrap.flex-hor-center
    .zuc-featured-content
      .zuc-title-container.flex
        h4
          |creating a home that works
        .zuc-title-flag
          .--green
      h2.u-font-serif.u-zuc-indigo
        |Smarter choices.
      p
        |Choose from a wide range of smart home devices that are fully compatible with Smarter Home Control.
      .flex.flex-vert-center.flex-hor-start
        a.zuc-btn.zuc-btn-secondary(href="service-plans.html" title="Service Plans")
          |SEE ALL SERVICE PLANS
        .--featured-link
          a(href="smarter-home-products.html" title="Learn More About Smarter Home Products")
            |LEARN MORE

    .zuc-featured-image.flex.flex-hor-center.--gif-size
      .zuc-featured-media
        img(src="../../assets/images/anim/SmarterHomeControl_Choices.gif", alt="Rotating icons")


