section.zuc-connected.flex.flex-wrap
  img.zuc-bg-blog(src="../../assets/images/shapes/round-blob-half-solid.svg", alt="A blue and green pear shaped blob")
  .zuc-connected-left.flex
    .zuc-image-box
      img(src="../../assets/images/smarter-home-control/phone-screens.png", alt="Smartphone showcasing Home Control application")
  .zuc-connected-right
    h6.u-zuc-darkindigo.u-bold
      |TAKE CONTROL
    p.u-zuc-darkindigo.u-light
      |Smarter Home Control lets you monitor and control all your home systems and devices for lighting, climate control, entertainment and security in one easy-to-use app.
    .d-zucbar.--zb-lilac
    h6.u-zuc-darkindigo.u-bold
      |SET YOUR SCENE
    p.u-zuc-darkindigo.u-light
      |Like favourite recipes, you can create and customize as many scenes as you like to activate, deactivate or control your devices just the way you want them.
    .d-zucbar.--zb-lilac
    h6.u-zuc-darkindigo.u-bold
      |ON YOUR SCHEDULE
    p.u-zuc-darkindigo.u-light
      |Schedule your scenes or activities to suit your needs.  Whether you want to save energy, time or footsteps... let Smarter Home Control help manage your schedule and device tasks.
    .d-zucbar.--zb-lilac
    a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
      |Sign up for information
