.zuc-temporary-padding
section.zuc-choice.flex
  .zuc-choice-box-left
  .zuc-choice-box-right
    .zuc-title-container.flex.flex-vert-center
      h4.u-uppercase
        |creating a home that works
      .zuc-title-flag
        .--green
    h2.u-font-serif.u-zuc-indigo
      |Smarter Choices
    p.u-zuc-darkindigo
      |Choose from a wide range of smart home devices that are fully compatible with Smarter Home Control.
    .zuc-link-box
      a.zuc-btn.zuc-btn-secondary(href="#")
        |SEE ALL SERVICE PLANS
      a.zuc-learn-more.u-zuc-indigo.u-bold(href="#")
        |LEARN MORE