// Summary Sidebar Parent -- Cart Page
.zuc-ec-cart-summaries {
  color: $color-zuc-darkindigo;
  width: 100%;
  margin: 7vw 0;

  @media #{$laptop-up} {
    padding-left: 1.56vw;
    width: 30%;
    margin: 0;
  }
}

// Summary Block - Global
.zuc-ec-summary {
  width: 100%;
  padding: 3vw;
  background: $color-zuc-platinum;
  margin-bottom: 30px;

  @media #{$tablet-lnd-only} {
    padding: 3vw 2vw;
  }

  @media #{$tablet-prt-only} {
    padding: 4vw 3vw;
  }

  @media #{$laptop-up} {
    margin-bottom: 30px;
    padding: vw-desktop(30) vw-desktop(20);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Summary Report Block - Aka Prices / Points
.zuc-ec-summary-report {
  width: 100%;
  color: $color-zuc-darkindigo;
  margin-bottom: vw-desktop(90);
  font-size: vw-desktop(18);
  font-weight: 500;

  // Standard report rows
  .zuc-report-row {
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;

    @media #{$tablet-up} {
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    i {
      margin-right: 10px;
    }

    &.--control {
      font-weight: 100;
    }

    span:first-child {
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
    }
  }

  // Total row override
  .--total {
    font-weight: 700;
    padding-top: 8px;
    border-top: 2px solid $color-zuc-concrete;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 20px;

    @media #{$tablet-up} {
      font-size: 22px;
      padding-top: 15px;
    }
  }
}

//Subscript Information block
.zuc-subscript-info {
  width: 100%;
  font-weight: 100;
  line-height: 1.44;
  margin-top: 30px;
  padding: 0 2%;
  text-align: center;
  font-size: 14px;

  @media #{$tablet-only} {
    padding: 0 9%;
  }

  @media #{$laptop-up} {
    text-align: right;
    padding-left: 0;
    font-size: 16px;
    padding-right: 0;
  }
}


//Summary Footer
.zuc-summaries-footer {
  width: 100%;
  // Matches container padding
  padding: 0;
  font-weight: 100;
  line-height: 1.44;
  font-size: 18px;

  @media #{$phone-only} {
    font-size: 16px;
  }

  @media #{$laptop-up} {
    padding: 0 20px;
  }

  a {
    color: $color-zuc-indigo;
    text-decoration: underline;
  }
}
