.zuc-ec-cart-basket {
  width: 100%;

  @media #{$laptop-up} {
    width: 70%;
  }
}

// Top of cart Legend
.zuc-ec-cart-legend {
  width: 100%;
  padding: 10px 0;
  border-top: 2px solid $color-zuc-concrete;
  border-bottom: 2px solid $color-zuc-concrete;
  font-weight: 700;
  font-size: vw-desktop(16);
  color: $color-zuc-darkindigo;
}

// Cart Items -----------------------
// Collection of cart items
.zuc-ec-cart-items {
  width: 100%;
  padding: 0;
  color: $color-zuc-darkindigo;
  margin-bottom: 30px;

  img {
    width: 100%;
  }
}

// Indibidual Cart Item Row
.zuc-ec-cart-item {
  width: 100%;
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid $color-zuc-concrete;
}

// Item Info, description + image
.zuc-ec-cart-iteminfo {
  width: 70%;

  // Product / Plan Image
  .zuc-item-image {
    width: 20%;
  }
  // Product / Plan Information
  .zuc-item-description {
    width: auto;
    margin-left: 5%;
    line-height: 1.5;
    font-weight: 100;
  }
  // Product / Plan Name
  .zuc-item-name {
    font-family: $main-font-serif;
    color: $color-zuc-indigo;
  }
}

// Item Quantity & Quantity Controls
.zuc-ec-cart-qty {
  width: 20%;
}

// Item Total Price
.zuc-ec-cart-total {
  width: 10%;
}
