- var subtitle = 'Need help? We make it easy.<br/>Contact us and let us help solve your problem.'
section.zuc-section-container.--form-margin
  h1.zuc-contact-title.u-zuc-indigo.u-font-serif
      |Contact Us
  .zuc-split.flex.flex-row
    .zuc-split-l.flex.flex-column
      .zuc-contact-blurb-container
        p.u-zuc-darkindigo
          |!{subtitle}
        p.u-zuc-indigo.u-bold.--nudge
          |1.800.388.2640
        p.u-zuc-indigo
          |552 Clark Road, London ON N5V 3K5
        a.u-zuc-indigo(href="mailto:info@zucorahome.com" title="Make an Inquiry")
          |info@zucorahome.com
      .zuc-contact-image-container
        img.zuc-contact-image.u-soft-shadow(src='../../assets/images/shared/happy-family-livingroom.png' alt='A happy family sitting in their living room')
        img.zuc-contact-badge(src='../../assets/images/graphics/graphic_slash_grey.svg' alt='Four coral colored diagonal lines')
    .zuc-split-r
      .zuc-contact-forms-container.flex.flex-column
        +ecom-header-underlined('Make an inquiry')
        form(action="")
            .zuc-form-group
              .zuc-input-name.zuc-input-name-no-margin
                strong
                  |FIRST &amp; LAST NAME
              label.u-screenreader(for="field-name")
                |First &amp; Last Name
              input(type="text" data-required name="fullname" placeholder="John Smith" id="field-name")
            .zuc-form-group
              .zuc-input-name
                strong
                  |Email Address
              label.u-screenreader(for="field-email")
                |Email Address
              input(type="email" data-required name="email" placeholder="example@email.com" id="field-email")
            .zuc-form-group
              .zuc-input-name
                strong
                  |Phone Number
              label.u-screenreader(for="field-phone")
                |Phone Number
              input(type="tel" data-required name="phone" placeholder="000.000.0000" id="field-phone")
            .zuc-form-group
              .zuc-input-name
                strong
                  |Message
              label.u-screenreader(for="field-message")
                |Message
              textarea(data-required name="message" placeholder="Your Message Here" id="field-message")
            .zuc-form-action
              button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad.u-soft-shadow(type="submit")
                strong
                  |SEND
