section.zuc-reset-password.zuc-section-container.--hstyle.--pre
  h1
    |Reset Your Password
  .zuc-reset-password-pre.flex.flex-column.flex-vert-center
    p.u-zuc-darkindigo
      |Enter a new password.
    .zuc-reset-forms-container
      form.flex.flex-column.flex-vert-center(action="")
        .zuc-form-group
          .zuc-input-name.zuc-input-name-no-margin
            strong
              |New password*
          label.u-screenreader(for="field-newpwd")
            |New password
          input(type="password" data-required name="newpassword" placeholder="New password" id="field-newpwd")
        .zuc-form-group
          .zuc-input-name
            strong
              |Confirm new password*
          label.u-screenreader(for="field-confirm")
            |Confirm New Password
          input(type="password" data-required name="confirmpassword" placeholder="Confirm new password" id="field-confirm")
        .zuc-form-action
          button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad.u-soft-shadow(type="submit")
            strong
              |SAVE
  .zuc-password-post.flex.flex-hor-center
    p.u-zuc-darkindigo
      |Thank you, your new password has been successfully changed...
