section.zuc-forgot-password.zuc-section-container.--hstyle.--pre
  h1
    |Forgot Your Password?
  .zuc-forgot-password-pre.flex.flex-column.flex-vert-center
    p.u-zuc-darkindigo
      |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis fringilla elit at commodo. Cras congue pulvinar turpis. Mauris lorem ex, volutpat id turpis eu, sollicitudin rutrum augue.
    .zuc-forgot-forms-container
      form.flex.flex-column.flex-vert-center(action="")
        .zuc-form-group
          .zuc-input-name.zuc-input-name-no-margin
            strong
              |Your Email Address*
          label.u-screenreader(for="field-email")
            |Email Address
          input(type="email" data-required name="email" placeholder="Your Email Address" id="field-email")
        .zuc-form-action
          button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad.u-soft-shadow(type="submit")
            strong
              |RESET MY PASSWORD
  .zuc-password-post.flex.flex-hor-center
    p.u-zuc-darkindigo
      |A link was successfully sent to your email address, please check......
