section.zuc-orders-section.zuc-section-container.--hstyle
  .zuc-service-form-blurb
    +ecom-header-underlined('Orders & Returns')
    br
    br
    p
      |Please submit the information requested below and a Solutions Team member will be in touch with details about your order.
    .zuc-forms-container.flex.flex-column
      form.flex.flex-column(action="")
        .zuc-form-row
          .zuc-form-group.zuc-form-50
            .zuc-input-name
              strong
                |Order ID
            label.u-screenreader(for="field-orderid")
              |Order Id Number
            input(type="text" data-required name="order-id" placeholder="Order ID" id="field-orderid")
          .zuc-form-group.zuc-form-50
            .zuc-input-name
              strong
                |Billing Last Name
            label.u-screenreader(for="field-lastname")
              |Billing Last Name
            input(type="text" data-required name="billing-lastname" placeholder="Billing Last Name" id="field-lastname")
        .zuc-form-row
          .zuc-form-group.zuc-form-50
            .zuc-input-name
              strong
                |Find Order By
            .zuc-select-container
              label.u-screenreader(for="field-select")
                |Find Order By
              select(required name="find-order" placeholder="Drop Down Here" id="field-select")
                option(value="" disabled selected)
                  |Drop Down Here
                option(value="byemail")
                  |Email Address
                option(value="bypostal")
                  |Postal Code
          .zuc-form-group.zuc-form-50
            .zuc-input-name
              strong
                |Email Address
            label.u-screenreader(for="field-email")
              |Email Address
            input(type="email" data-required name="email" placeholder="Email Address" id="field-email")
        .zuc-form-row
          .zuc-form-group
            .zuc-input-name
              strong
                |Order Information
            label.u-screenreader(for="field-orderinfo")
              |Order Information
            input(type="text" data-required name="orderinfo" placeholder="Order Information" id="field-orderinfo")
        .zuc-form-action
          button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad.u-soft-shadow(type="submit")
            strong
              span SUBMIT