section.zuc-orders-section.zuc-section-container.--hstyle.--post
  h1
    |Orders &amp; Returns
  .zuc-orders-post
    .zuc-head-blurb
      p
        |Thank You! Your form was successfully sent... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nisi sed neque egestas, quis sagittis ligula laoreet. Mauris porta arcu at quam vulputate vestibulum.
include orders-panelinks.pug
