section.zuc-orders-section.zuc-section-container.--hstyle
  .zuc-orders-post-head
    +ecom-header-underlined('Orders & Returns')
  .zuc-orders-post
    
    br
    br
    .zuc-head-blurb
      p
        |Thank You! Your form was successfully sent... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nisi sed neque egestas, quis sagittis ligula laoreet. Mauris porta arcu at quam vulputate vestibulum.
    include orders-panelinks.pug
