-
  var headBlurb = [
    "<b>Please complete as much information as you can on the Service Request before submitting it.</b> This detail will help our Solutions Team gather information about your plan before contacting you. The questions you are asked help us to determine the right solution for you quickly because we'll better understand if one of our special-forumulated products will resolve the issue; a service technician should be sent to your home; or if there is another appropriate solution."
  ]

.zuc-service-form
  +zuc-header('Service Request')
  .zuc-service-form-blurb
    p
      |!{headBlurb}
  .zuc-forms-container.flex.flex-column
    form.flex.flex-column(action="")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |First &amp; Last Name *
          label.u-screenreader(for="field-name")
            |First &amp; Last Name
          input(type="text" data-required name="fullname" placeholder="First & Last Name" id="field-name")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |Email Address *
          label.u-screenreader(for="field-email")
            |Email Address
          input(type="email" data-required name="email" placeholder="Email Address" id="field-email")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |Current Phone Number *
          label.u-screenreader(for="field-phone")
            |Phone Number
          input(type="tel" data-required name="phone" placeholder="Phone number where we can reach you" id="field-phone")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |Phone number at time of purchase (if different from current)
          label.u-screenreader(for="field-phoneorder")
            |Phone number at time of purchase (if different from current)
          input(type="tel" name="currentphone" placeholder="Phone number at time of purchase" id="field-phoneorder")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |Street Address
          label.u-screenreader(for="field-address")
            |Street Address
          input(type="text" name="address" placeholder="Street Address" id="field-address")
      .zuc-form-row
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |City
          label.u-screenreader(for="field-city")
            |City
          input(type="text" name="city" placeholder="City" id="field-city")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |Province
          .zuc-select-container
            label.u-screenreader(for="field-province")
              |Choose your province
            select(required name="province")
              option(value="" disabled selected id="field-province")
                |Choose your province
              option(value="alberta")
                |Alberta
              option(value="britishcoloumbia")
                |British Coloumbia
              option(value="manitoba")
                |Manitoba
              option(value="newbrunswick")
                |New Brunswick
              option(value="newfoundland-and-labrador")
                |Newfoundland &amp; Labrador
              option(value="nwt")
                |Northwest Territories
              option(value="novascotia")
                |Nova Scotia
              option(value="nunavut")
                |Nunavut
              option(value="ontario")
                |Ontario
              option(value="pei")
                |Prince Edward Island
              option(value="quebec")
                |Qu&eacute;bec
              option(value="saskatchawan")
                |Saskatchawan
              option(value="yukon")
                |Yukon Territory
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |Postal Code
          label.u-screenreader(for="field-postal")
            |Postal Code
          input(type="text" name="postal" placeholder="Postal Code" id="field-postal")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |Retailer
          label.u-screenreader(for="field-retailer")
            |Retailer
          input(type="text" name="retailer" placeholder="Retailer" id="field-retailer")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |Product Type
          .zuc-select-container
            label.u-screenreader(for="field-select")
              |Choose your product type
            select(required name="producttype")
              option(value="" disabled selected id="field-select")
                |Choose your product type
              option(value="foo")
                |Earth
              option(value="bar")
                |Wind
              option(value="baz")
                |Fire
      .zuc-form-row
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |Specific Item
          label.u-screenreader(for="field-item")
            |Specific Item
          input(type="text" name="specificitem" placeholder="Specific Item (Sofa, Fridge, Etc.)" id="field-item")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |Date Purchased (YYYY-MM-DD)
          label.u-screenreader(for="field-datepurchase")
            |Date of Purchase
          input(type="text" name="purchasedate" placeholder="Date Purchased" id="field-datepurchase")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |Order ID
          label.u-screenreader(for="field-orderid")
            |Order ID
          input(type="text" name="orderid" placeholder="Order ID" id="field-orderid")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |Description of Issue *
          label.u-screenreader(for="field-description")
            |Description of Issue
          textarea(type="text" data-required name="issuedesc" placeholder="Description of Issue" id="field-description")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |How did the issue happen?
          label.u-screenreader(for="field-how")
            |How did the issue happen?
          input(type="text" name="issuehow" placeholder="How did the issue happen?" id="field-how")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |When did the Issue Occur? (YYYY-MM-DD)
          label.u-screenreader(for="field-when")
            |When did the issue occur?
          input(type="text" name="issuewhen" placeholder="Date when issue occured" id="field-when")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |Have you done anything to try correcting the issue?
          .zuc-radio-group-container
            .zuc-radio-group
              input(type="radio" id="zuc-effort-yes" name="effort" value="Yes")
              label(for="zuc-effort-yes")
                |Yes
            .zuc-radio-group
              input(type="radio" id="zuc-effort-no" name="effort" value="No")
              label(for="zuc-effort-no")
                |No
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |Please upload your invoice and/or any pictures.
          input.zuc-btn.zuc-btn-browse(type="button" name="issuedesc" value="Browse...")
      .zuc-form-action
        button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad.u-soft-shadow(type="submit")
          strong
            span SUBMIT
