/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* Base Button */
.zuc-btn {
  width: auto;
  padding: .67vw 1.04vw;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all .4s;
  // Magic number I know.. but won't render well otherwise
  border-radius: 400px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;

  i {
    margin-left: 10px;
  }
}

.zuc-btn-primary {
  color: $color-zuc-mint;
  border: 2px solid $color-zuc-mint;
  background: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);

  @media #{$portrait} {
    font-size: 1vw;
    padding: 1vw;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background: $color-zuc-mint;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}

.zuc-btn-hollow {
  border: 2px solid $color-zuc-lilac;
  background: transparent;
  text-align: center;
  color: $color-zuc-lilac;

  &:hover,
  &:focus,
  &:active {
    color: $color-zuc-indigo;
    background: $color-zuc-lilac;
  }
}


.zuc-btn-secondary {
  color: $white;
  border: none;
  font-weight: 700;
  box-shadow: 0 .1vw 3.43vw 0 rgba(12, 12, 12, .2);
  padding: 25px 40px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, #434da0 34%, #a2acff);
  background-position: center;
  background-size: cover;


  &:hover,
  &:focus,
  &:active {
    color: $white;
    box-shadow: 0 .1vw 3.43vw 0 rgba(12, 12, 12, 0);
    text-shadow: 0 0 10px rgba(0, 0, 0, .6);
  }
}

.zuc-btn-browse {
  margin-top: .8vw;
  border-color: $color-zuc-lilac;
  color: $color-zuc-lilac;

  &:hover {
    color: $color-zuc-lilac;
    background: $color-zuc-platinum;
  }
}

// Extra padding for FORM
.zuc-btn-xpad {
  padding: 1vw 3vw;

  @media #{$laptop-up} {
    padding: 1vw 3vw;
  }
}

// Inline Button
.zuc-btn-inline {
  width: auto;
  /* Disabling due to the appearance prop */
  /* stylelint-disable */
  -webkit-appearance: none;
  /* stylelint-enable */
  background: linear-gradient(88deg, $color-zuc-indigo 1%, $color-zuc-indigo 4%, $color-zuc-lilac 97%);
  padding: 0 20px;
  margin: 0;
  border: none;
  color: $white;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: .4px;
  border-radius: 0 4px 4px 0;
}
