/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* Base Button */
.zuc-btn {
  width: auto;
  padding: .7vw 1.05vw .54vw;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  transition: all .4s;
  border-radius: 20vw;
  position: relative;
  vertical-align: middle;
  font-size: 1.25vw;

  @media #{$phone-only} {
    padding: 4vw 4.3vw;
    letter-spacing: 1px;
  }

  i {
    margin-left: 10px;
  }
}

.zuc-btn-primary {
  color: $color-zuc-mint;
  border: 2px solid $color-zuc-mint;
  background: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background: $color-zuc-mint;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}


.zuc-btn-secondary {
  color: $white;
  border: none;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25vw;
  padding: 1vw 1.05vw .8vw;
  box-shadow: 0 23px 40px rgba(0, 0, 0, .2);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, #434da0 34%, #a2acff);
  background-position: center;
  background-size: cover;

  @media #{$portrait} {
    font-size: 4vw;
    padding: 2vw 2vw 1.3vw;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    box-shadow: 0 23px 40px rgba(0, 0, 0, 0);
    text-shadow: 0 0 10px rgba(0, 0, 0, .6);
  }
}

.zuc-btn-browse {
  margin-top: .5vw;
  margin-left: 1.2vw;
  border: 2px solid $color-zuc-indigo;
  color: $color-zuc-indigo;
  cursor: pointer;
  background: $white;
  padding: 6px 30px;

  &:hover {
    background: $color-zuc-platinum;
  }

  @media #{$portrait} {
    font-size: 3vw;
    padding: 10px 38px;
  }
}

// Extra padding for FORM
.zuc-btn-xpad {
  padding: 1vw 3vw;

  @media #{$laptop-up} {
    padding: 1vw 3vw;
  }
}
