/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* Base Button */
.zuc-btn {
  width: auto;
  padding: .7vw 1vw .54vw;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  transition: all .4s;
  border-radius: 0;
  position: relative;
  vertical-align: middle;

  &:before,
  &:after {
    @include pseudo();
    width: 100%;
    height: 100%;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }

  @media #{$phone-only} {
    padding: 4vw 4.3vw;
    letter-spacing: 1px;
  }
}

.zuc-btn-primary {
  color: $color-zuc-teal;
  border: 2px solid $color-zuc-teal;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background: $color-zuc-teal;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}


.zuc-btn-secondary {
  color: $white;
  border: 2px solid $color-zuc-indigo;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  background: $color-zuc-indigo;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25vw;
  padding: 1vw 1vw .8vw;

  @media #{$portrait} {
    font-size: 4vw;
    padding: 2vw 2vw 1.3vw;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background: $color-zuc-indigo;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  }
}
