/*----
  60-40
-----*/

.zuc-split-6 {
  width: 60%;
  padding-right: 1vw;

  @media #{$portrait} {
    width: 100%;
    margin-bottom: 25px;
    padding-right: 0;
  }
}

.zuc-split-4 {
  width: 40%;
  height: 50px;
  padding-left: 8.08vw;

  @media #{$portrait} {
    width: 100%;
    padding-left: 0;
  }
}

.--reversed {
  .zuc-split-6 {
    order: 2;
  }
}

.--top {
  align-items: flex-start;
}

/*----
  Contact Non-form Styles
-----*/

.zuc-contact-subtitle {
  max-width: 409px;
  font-size: 18px;
}

/*----
  Contact Forms Style; Feel free to blow this away if a parent style should take care of it
-----*/

.zuc-contact-forms-container {
  width: 33.23vw;
}

.zuc-input-group input {
  width: 744px;
  height: 63px;

  border-radius: 4px;
  background-color: $white;
  border: solid 3px #707070;

  padding: 0 1vw;
  margin-top: 8px;

  color: #36384b;

  &:hover, &:focus, &:active {
    border-radius: 4px;
    background-color: $white;
    border: solid 3px #707070;

    padding: 0 1vw;
  }

  &::placeholder {
    color: $color-brand-bkg;
  }
}

.zuc-input-name {
  margin-top: 31px;
}

.contact-submit {
  margin-top: 100px;
}
