// Decorations
.d-green-bar {
  position: relative;

  &:after {
    @include pseudo();
    z-index: 2;
    width: 50%;
    min-height: 10px;
    max-height: 12px;
    background: $color-zuc-mint;
    max-width: 150px;
    height: 20%;
    right: 0;
    transform: translateX(50%);
    top: 4vw;

    @media #{$laptop-only} {
      width: 35%;
    }

    @media #{$portrait} {
      right: auto;
      top: 30px;
    }
  }
}

.d-salmon-box {
  position: relative;

  &:before {
    @include pseudo();
    background: $color-zuc-salmon;
    width: 30%;
    right: 0;
    top: -15%;
    bottom: -15%;
    z-index: -1;

    @media #{$portrait} {
      display: none;
    }
  }
}

/*

  Bar graphic used in many places on the site!

  Combine with secondary flag to choose color!

  Exclamation marks!

  AW - 20181004
  */

// How It works / SHC Connected
.d-zucbar {
  border: 3px solid black;
  width: 37vw;
  margin-top: 3vw;
  margin-bottom: 6vw;

  @media #{$tablet-up} {
    width: 24vw;
    margin-top: 2vw;
    margin-bottom: 7vw;
  }

  @media #{$tablet-lnd-only} {
    width: 15vw;
    margin-top: 2vw;
    margin-bottom: 5vw;
  }

  @media #{$laptop-up} {
    width: 12vw;
    margin-top: 1.2vw;
    margin-bottom: 2.2vw;
  }

  @media #{$desktop-up} {
    width: 8vw;
    margin-top: .5vw;
    margin-bottom: 2vw;
  }

  // Color Modifiers
  &.--zb-lilac {
    border-color: $color-zuc-lilac;
  }

  &.--zb-indigo {
    border-color: $color-zuc-indigo;
  }

  &.--zb-darkindigo {
    border-color: $color-zuc-darkindigo;
  }

  &.--zb-mint {
    border-color: $color-zuc-mint;
  }

  &.--zb-salmon {
    border-color: $color-zuc-salmon;
  }

  &.--zb-platinum {
    border-color: $color-zuc-platinum;
  }

  &.--zb-concrete {
    border-color: $color-zuc-concrete;
  }

}
