/*-------------------------------------
 *  FOOTER
 *-------------------------------------
*/
.zuc-footer {
  background-color: $color-zuc-indigo;
  padding: 60px 20px 70px;
  flex-direction: column;

  @media #{$tablet-only} {
    padding-left: 5vw;
  }

  @media #{$laptop-up} {
    flex-direction: row;
  }

  @media #{$phone-only} {
    display: none;
  }
}

.zuc-footer--column {
  padding: 0 vw-desktop(65);


  &:nth-child( 2 ) {
    margin: 5.86vw 0 0;

    @media #{$laptop-up} {
      margin: 0;
    }
  }
}

.zuc-footer--header {
  color: $white;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  white-space: nowrap;
  /* Uncomment Me For Ellpsis overflow
  width: setme;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

.zuc-footer--link {
  color: $white;
  margin-top: 10px;
  font-size: 14px;
}

.zuc-footer--logo {
  width: 70%;
}

.zuc-footer--brand-section {
  padding: 0;
  left: 0;
  color: $white;
  font-size: $font-size-body;
  font-weight: 700;
  z-index: 100;
  transition: all, .3s;
  background: $color-brand-primary;
  position: relative;

  @media #{$tablet-up} {
    font-size: 1vw;
  }
  @media #{$desktop-only} {
    font-size: $font-size-body;
  }
  @media #{$xl-up} {
    font-size: 1vw;
  }
  @media #{$phone-only} {
    padding: 2vw;
  }

  .zuc-nav-brand {
    width: 17vw;
    max-width: 237px;
    transition: all .2s ease-out;

    @media #{$tablet-only} {
      width: 30vw;
      padding-bottom: 4.81vw;
    }

    @media #{$xl-up} {
      max-width: 340px;
    }

    @media #{$phone-only} {
      max-width: 100px;
    }

    img {
      width: 90%;

      @media #{$tablet-only} {
        width: 100%;
      }
    }
  }

  .zuc-footer--social-icons-primary {
    padding-top: 30px;
    position: absolute;
    right: 48px;
    top: 30px;
    display: none;

    @media #{$laptop-up} {
      display: block;
    }
  }

  .zuc-social-link {
    font-size: 1.5vw;
    font-weight: 400;
    padding: 0 10px;

    &:nth-last-of-type(1) {
      padding: 0;
    }

    @media #{$laptop-only} {
      font-size: 1.3vw;
    }

    @media #{$desktop-up} {
      font-size: 1.15vw;
    }
  }

  .far.fa-envelope {
    display: none;
  }

  .zuc-btn {
    // margin-right: 10px;
  }
}

.zuc-footer--copyright {
  background: $color-zuc-darkindigo;
  padding: 1.4% 8%;
  font-size: .83vw;

  @media #{$portrait} {
    font-size: 1.2vw;
  }
  @media #{$phone-only} {
    justify-content: center;
    flex-direction: column;
  }

  .zuc-footer--copyright-text {
    color: $white;
    font-size: 14px;

    @media #{$phone-only} {
      font-size: 10px;
    }

    span {
      margin-left: 10px;
    }
  }

  .zuc-footer--copyright-title {
    font-size: 14px;

    @media #{$phone-only} {
      padding: 0 0 1vw;
    }

    a {
      color: $white;
      &:hover {
        color: $color-zuc-lilac;
      }
    }
  }

  .zuc-footer--copyright-menu {
    margin-left: 2vw;

    @media #{$phone-only} {
      padding: 0 0 1vw;
    }

    a {
      color: $white;
      &:hover {
        text-decoration: underline;
        color: $color-zuc-lilac;
      }
    }

    span {
      font-size: 12px;
      margin: 0 .5vw;
      color: $white;

      @media #{$tablet-only} {
        margin: 0 .4vw;
      }

      @media #{$laptop-only} {
        margin: 0 .2vw;
      }

      @media #{$desktop-up} {
        margin: 0 .1vw;
      }
    }
  }
}

/* Secondary set of social icons for tablet size */

.zuc-footer--social-icons-secondary {
  display: block;
  padding-top: 30px;

  .zuc-mobile-social {
    justify-content: flex-start;
  }

  .zuc-social-link {
    color: $white;
    font-size: 3vw;
    font-weight: 400;
    padding: 0 1.2vw;
  }

  @media #{$laptop-up} {
    display: none;
  }

  .far.fa-envelope {
    display: none;
  }
}

footer .zuc-btn-primary {
  @media #{$tablet-only} {
    font-size: 1.75vw;
    padding: 2vw;
  }
}

footer .zuc-footer-row {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;

  a {
    color: $white;
    &:hover {
      text-decoration: underline;
      color: $color-zuc-lilac;
    }
  }

  @media #{$laptop-up} {
    flex-direction: row;
  }
}

.zuc-shipping-blurb {
  display: none;

  @media #{$tablet-only} {
    display: block;
    padding-top: 4.69vw;
  }
}

.zuc-footer--btm-trim {
  height: 25px;
  background-image: url('../images/footer.jpeg');
  background-position-y: bottom;
  background-repeat: no-repeat;
}

/*-------------------------------------
 * SECONDARY FOOTER
 *-------------------------------------
*/

.zuc-secondary-footer-wrapper {
  position: relative;
  width: 100%;
  padding-top: 450px;
  margin-top: -500px;
  overflow-x: hidden;
  z-index: 0;

  @media #{$laptop-up} {
    padding-top: 450px;
  }

  @media #{$xl-up} {
    padding-top: 850px;
    margin-top: -700px;
  }

  @media #{$phone-only} {
    padding-top: 0;
    margin-top: 0;
  }

  .zuc-footer {
    background: linear-gradient(to bottom, transparent, #434da0, #434da0);
  }
  .zuc-footer--brand-section {
    background-color: rgba(0, 0, 0, 0);
  }
}

.zuc-secondary-footer-bkg {
  width: 100%;
  z-index: -99;
  position: absolute;
  bottom: 225px;
  left: 0;
  transform: scale(1.2);

  @media #{$laptop-up} {
    bottom: 175px;
  }

  @media #{$phone-only} {
    display: none;
  }
}
