/*-------------------------------------
 *  FOOTER
 *-------------------------------------
 *
 *  Stylesheet for the footer.
 *
/-------------------------------------*/
.zuc-footer__wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.zuc-footer {
  background-color: $color-zuc-indigo;
  padding: 60px 20px 70px;
  margin-top: 40px;
  letter-spacing: 1px;
}

.zuc-footer__column {
  padding: 0px 20px;
}

.zuc-footer__header {
  color: $white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.zuc-footer__link {
  color: $white;
  margin-top: 10px;
  font-size: 12px;
}

.zuc-footer__logo {
  width: 70%;
}

.zuc-footer__copyright {
  background: $color-zuc-darkindigo;
  padding: .8% 8%;
  font-size: .83vw;

  @media #{$portrait} {
    font-size: 1.2vw;
  }
  @media #{$phone-only} {
    justify-content: flex-end !important;
    padding: 0 2vw;
    font-size: 3vw;
  }


  .zuc-footer__copyright-text {
    color: $white;

    @media #{$phone-only} {
      display: none;
    }

    span {
      margin-left: 10px;
    }
  }
}
