// Global Form Styles
form {
  width: 100%;
  position: relative;
}


/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.mdev-error {
  border-top: 4px solid red !important;
  border-bottom: 4px solid red !important;
  color: red!important;
}

$border-color-active: rgba(15, 22, 24, 1);
$border-color-passive: rgba(15, 22, 24, 0);
input {
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"],
  &[type="search"],
  &[type="url"] {
    width: 100%;
    height: 63px;
    border-radius: 4px;
    background-color: $white;
    border: solid 3px #707070;
    font-family: $main-font;
    padding: 0 1vw;
    margin-top: .4vw;
    color: #36384b;

    @media #{$portrait} {
      padding: 0 2vw;
      margin-top: .9vw;
    }

    &:hover,
    &:focus,
    &:active {
      border: solid 3px #36384b;
    }

    &.--filled {
      border-top: 4px solid $border-color-passive;
      border-bottom: 4px solid $border-color-active;
      text-transform: none;
    }

    &::placeholder {
      color: $color-brand-bkg;
    }
  }
}

textarea {
  width: 100%;
  font-family: $main-font;
  border-radius: 0;
  padding: 8px 0;
  margin-top: 15px;
  background: transparent;
  outline: 0;
  transition: border .5s, background .5s;
  border: none;
  border-bottom: 4px solid $border-color-passive;
  border-top: 4px solid $border-color-active;

  &:hover, &:focus, &:active {
    border-top: 4px solid $border-color-passive;
    border-bottom: 4px solid $border-color-active;
    background: $white;
    padding: 8px;
  }

  &::placeholder {
    color: $color-brand-bkg;
  }

  &.--filled {
    border-top: 4px solid $border-color-passive;
    text-transform: none!important;
    border-bottom: 4px solid $border-color-active;
  }
}

.zuc-forms-container {
  padding: 0 6vw;

  @media #{$laptop-up} {
    padding: 0 17vw;
  }
}

.zuc-input-name {
  margin-top: 2.1vw;
  font-size: 3.2vw;

  @media #{$tablet-up} {
    margin-top: 1.8vw;
    font-size: 1.6vw;
  }

  @media #{$laptop-up} {
    margin-top: 1.45vw;
    font-size: 1.1vw;
  }

  @media #{$desktop-up} {
    margin-top: 1.3vw;
    font-size: .9vw;
  }

  &.zuc-input-name-no-margin {
    margin-top: 0;
  }
}

/* stylelint-enable */

/*

      <<< FORM SCAFFOLDING >>>

      For 50/50 rows:

        .zuc-form-row
          .zuc-form-group.zuc-form-50
            <your-1st-form-group>
          .zuc-form-group.zuc-form-50
            <your-2nd-form-group>

      For 33/33/33 rows:

        .zuc-form-row
          .zuc-form-group.zuc-form-33
            <your-1st-form-group>
          .zuc-form-group.zuc-form-33
            <your-2nd-form-group>
          .zuc-form-group.zuc-form-33
            <your-3rd-form-group>

*/

.zuc-form-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.zuc-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.zuc-form-50 {
  width: 100%;

  @media #{$laptop-up} {
    width: 47.5%;

    &:nth-child( n+2 ) {
      margin-left: 5%;
    }
  }
}

.zuc-form-33 {
  width: 100%;

  @media #{$laptop-up} {
    width: 30%;

    &:nth-child( n+2 ) {
      margin-left: 5%;
    }
  }
}

/*

    <<< Radio Buttons >>>

    Format:

    .zuc-radio-group-container
      .zuc-radio-group
        input(type="radio" id="namespace-foo" data-required name="bar" value="baz")
              label(for="namespace-foo")
                |baz
        input(...

    NOTE: Only working for 2 options right now as designed on Request Service page
    TODO: Make this work for any number of radio buttons!

*/

.zuc-radio-group-container {
  display: flex;
  justify-content: flex-start;
  margin-top: .5vw;
  font-size: 24px;
  color: $color-text-grey;

  @media #{$tablet-up} {
    justify-content: flex-start;
    font-size: inherit;
  }

  .zuc-radio-group {
    &:nth-child( n+2 ) {
      padding-left: 40%;
    }

    @media #{$tablet-up} {
      &:nth-child( n+2 ) {
        padding-left: 5px;
      }
    }
  }
}

/*
      <<< Select Inputs >>>
*/

.zuc-select-container {
  position: relative;
  font-family: $main-font;
  width: 100%;
  height: 63px;
  border-radius: 4px;
  background-color: $white;
  border: solid 3px #707070;
  
  padding: 0 1vw;
  margin-top: .5vw;
  color: #36384b;

  @media #{$portrait} {
    padding: 0 2vw;
  }

  &:focus {
    outline: none;
  }

  select {
    display: none; // Hide original <select> element
  }
}