// Global Form Styles
form {
  width: 100%;
  position: relative;
}


/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.mdev-error {
  border-top: 4px solid red !important;
  border-bottom: 4px solid red !important;
  color: red!important;
}

$border-color-active: rgba(15, 22, 24, 1);
$border-color-passive: rgba(15, 22, 24, 0);

$form-text-color: $color-zuc-darkindigo;
$form-bg-passive: $color-zuc-ghost;
$form-bg-active: $form-bg-passive;
$border-color-passive: $color-zuc-silver;
$border-color-active: $color-zuc-lilac;
$form-placeholder-color: $color-text-grey;

input {
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"],
  &[type="search"],
  &[type="url"],
  &[type="date"] {
    width: 100%;
    height: 63px;
    border-radius: 4px;
    background-color: $form-bg-passive;
    border: solid 1px $border-color-passive;
    font-family: $main-font;
    padding: 0 1vw;
    margin-top: .4vw;
    color: $form-text-color;

    @media #{$portrait} {
      padding: 0 2vw;
      margin-top: .9vw;
    }

    &:hover,
    &:focus,
    &:active {
      border: solid 1px $border-color-active;
      background-color: $form-bg-active;
    }

    &::placeholder {
      color: $form-placeholder-color;
    }
  }
}

// TODO textarea

textarea {
  width: 100%;
  font-family: $main-font;
  border-radius: 0;
  padding: 8px 0;
  margin-top: 15px;
  background: transparent;
  outline: 0;
  transition: border .5s, background .5s;
  border: none;
  border-bottom: 4px solid $border-color-passive;
  border-top: 4px solid $border-color-active;

  &:hover, &:focus, &:active {
    border-top: 4px solid $border-color-passive;
    border-bottom: 4px solid $border-color-active;
    background: $white;
    padding: 8px;
  }

  &::placeholder {
    color: $color-brand-bkg;
  }

  &.--filled {
    border-top: 4px solid $border-color-passive;
    text-transform: none!important;
    border-bottom: 4px solid $border-color-active;
  }
}

/* stylelint-enable */

.zuc-input-name {
  margin-top: 4vw;
  color: $form-text-color;
  font-weight: $medium-weight;

  @media #{$tablet-up} {
    margin-top: 1.8vw;
  }

  @media #{$laptop-up} {
    margin-top: 1.45vw;
  }

  @media #{$desktop-up} {
    margin-top: 1.3vw;
  }

  &.zuc-input-name-no-margin {
    margin-top: 0;
  }
}

.zuc-form-action {
  padding: 5vw 0;
}

/*

      <<< FORM SCAFFOLDING >>>

      For 50/50 rows:

        .zuc-form-row
          .zuc-form-group.zuc-form-50
            <your-1st-form-group>
          .zuc-form-group.zuc-form-50
            <your-2nd-form-group>

      For 33/33/33 rows:

        .zuc-form-row
          .zuc-form-group.zuc-form-33
            <your-1st-form-group>
          .zuc-form-group.zuc-form-33
            <your-2nd-form-group>
          .zuc-form-group.zuc-form-33
            <your-3rd-form-group>

*/

.zuc-form-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.zuc-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.zuc-form-50 {
  width: 100%;

  @media #{$laptop-up} {
    width: 47.5%;

    &:nth-child( n+2 ) {
      margin-left: 5%;
    }
  }
}

.zuc-form-33 {
  width: 100%;

  @media #{$laptop-up} {
    width: 30%;

    &:nth-child( n+2 ) {
      margin-left: 5%;
    }
  }
}

/*
    <<< Radio Buttons >>>

    Format:

    .zuc-radio-group-container
      .zuc-radio-group
        input(type="radio" id="namespace-foo" data-required name="bar" value="baz")
              label(for="namespace-foo")
                |baz
        input(...

    NOTE: Only working for 2 options right now as designed on Service Request page
    TODO: Make this work for any number of radio buttons!

*/

.zuc-radio-group-container {
  display: flex;
  justify-content: flex-start;
  margin-top: .5vw;
  font-size: 24px;
  color: $color-zuc-concrete;

  @media #{$tablet-up} {
    justify-content: flex-start;
    font-size: inherit;
  }

  .zuc-radio-group {
    &:nth-child( n+2 ) {
      padding-left: 40%; // TODO smelly padding
    }

    @media #{$tablet-up} {
      &:nth-child( n+2 ) {
        padding-left: 5px;
      }
    }
  }
}

/*
  <<< Select Inputs >>>

  Note: Wrap all <select> objects in a <div class=".zuc-select-container">

*/

.zuc-select-container {
  position: relative;
  width: 100%;
  height: 63px;
  background: $form-bg-passive;
  margin-top: .5vw;

  @media #{$portrait} {
    margin-top: .9vw;
  }

  // This is the little arrow on the dropdown button
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 17px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 10px 8px 0 8px; // <triangle height> <width left> 0 <width right>
    border-color: $color-zuc-darkindigo transparent transparent transparent;
    pointer-events: none;
  }

  // This is the small block of background behind the dropdown arrow, NOTE: update the position if you change the border thickness!!!
  &:before {
    width: 44px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background: $form-bg-passive;
    content: '';
    pointer-events: none;
  }

  &:hover {
    &:before {
      background: $bkg-light-grey;
    }
  }

  select {
    box-shadow: none;
    border-radius: 4px;
    background: transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    padding-right: 35px;
    padding-left: 15px;
    color: $form-text-color;
    border: 1px solid $border-color-passive;

    &:hover,
    &:focus,
    &:active {
      border: solid 1px $border-color-active;
      outline: none;
    }

    // This is the equivalent to placeholder for <select>
    &:invalid {

      &:required {
        color: $form-placeholder-color;
      }
    }

    // Hide the placeholder value once anything else is chosen
    option[value=""][disabled] {
      display: none;
    }
  }
}

// Global List Styling Not Sure Where Else To Put It AW

li {
  list-style: inside;
  margin-bottom: 7.8vw;
  color: $color-zuc-darkindigo;

  @media #{$tablet-only} {
    margin-bottom: 3.26vw;
  }

  @media #{$laptop-up} {
    margin-bottom: 1vw;
  }

  &:last-of-type {
    margin-bottom: 13vw;

    @media #{$tablet-only} {
      margin-bottom: 5.5vw;
    }

    @media #{$laptop-up} {
      margin-bottom: 2.5vw;
    }
  }
}

// Promo Form
.zuc-form-promo {
  width: 100%;
  padding: 0;
  margin: 0;

  .zuc-promo-title {
    font-size: vw-desktop(18);
    font-weight: 700;
    color: $color-zuc-darkindigo;
    margin-bottom: 10px;
    display: block;
  }

  input {
    margin: 0;
    border-radius: 4px 0 0 4px;
    height: 46px;
    backkground: $color-pure-white;
  }
}
