/*----
    Standard Page Content Header:

    .zuc-content-header-container 
      h1
      p
----*/

.zuc-content-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;

  h1 {
    font-family: $main-font-serif;
    color: $color-zuc-indigo;
    margin: 0 9%;
  }

  p {
    color: $color-text-grey;
    padding-top: 20px;
    margin: 0 11%;
  }
}

/*----
      50-50 Block:

      .zuc-split
        .zuc-split-l
          ...
        .zuc-split-r
-----*/

.zuc-split {
  flex-direction: column;
  align-items: center;
  

  @media #{$laptop-up} {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 25px;
  }

  .zuc-split-l {
    width: 100%;

    @media #{$laptop-up} {
      width: 50%;
    }
  }

  .zuc-split-r {
    width: 100%;
    margin-bottom: 25px;
  
    @media #{$laptop-up} {
      width: 50%;
    }
  }
}

/*----
      Padding for the top of standard page sections:

      .zuc-section-container
        ...

----*/

.zuc-section-container {
  // TODO not have this be this bad
  padding-top: 150px;

  @media #{$tablet-up} {
    padding-top: 200px;
  }
}

/*
    Consistent Title Flags
    Concept:

    .zuc-blog-title-container.flex  < -- Flex so that the h4 and flag are boxes in a row beside each other
      h4  < -- override margin: 0; on the heading so as to not misalign the flag, apply margin to container instead
        |BLOG
      .zuc-title-flag  < -- div with align-items: center; with responsive margin-left and width
        .--red  < -- empty div that fills width of parent and is a coloured border to make the flag

*/

.zuc-title-flag {
  display: flex;
  align-items: center;
  margin-left: 3vw;
  width: 15vw;

  @media #{$tablet-up} {
    width: 7vw;
  }

  @media #{$laptop-up} {
    margin-left: .8vw;
    width: 3vw;
  }

  div {
    width: 100%;
    border: 3px solid $color-zuc-lightindigo;
  }

  .--blue {
    border-color: $color-zuc-lilac;
  }

  .--red {
    border-color: $color-zuc-salmon;
  }

  .--green {
    border-color: $color-zuc-mint;
  }
}

/*
  Global Colour Overlays

  ex.

    .my-div.--overlay.--o-indigo

*/

.--overlay {

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -1;
    background-color: transparent; // Default is no overlay - AW
    transition: .4s;
  }

  &:hover {
    &:after {
      opacity: .8;
    }
  }

  &.--o-indigo {
    &:after {
      background-color: $color-zuc-indigo;
    }
  }

  &.--o-darkindigo {
    &:after {
      background-color: $color-zuc-darkindigo;
    }
  }

  &.--o-lightindigo {
    &:after {
      background-color: $color-zuc-lightindigo;
    }
  }

  &.--o-mint {
    &:after {
      background-color: $color-zuc-mint;
    }
  }

  &.--o-salmon {
    &:after {
      background-color: $color-zuc-salmon;
    }
  }

  &.--o-lilac {
    &:after {
      background-color: $color-zuc-lilac;
    }
  }

  &.--o-platinum {
    &:after {
      background-color: $color-zuc-platinum;
    }
  }

  &.--o-concrete {
    &:after {
      background-color: $color-zuc-concrete;
    }
  }
}
