/*----

  .zuc-section-container :
  For pages that begin with a centered h1 title and then some content after them use the following container for consistent spacing.
  Default is only padding top ; --sides is padding top, left, and right ; --hstyle adds default heading styles
  AW - LU: 20181001
----*/

.zuc-section-container {
  padding: 11.25vw 0 0;

  @media #{$tablet-only} {
    padding: 10.8vw 0 0;
  }

  @media #{$laptop-only} {
    padding: 8vw 0 0;
  }

  @media #{$desktop-up} {
    padding: 6.2vw 0 0;
  }

  &.--sides {
    padding: 11.25vw 6vw 0;

    @media #{$tablet-only} {
      padding: 10.8vw 6vw 0;
    }
    @media #{$laptop-only} {
      padding: 8vw 17vw 0;
    }
    @media #{$desktop-up} {
      padding: 6.2vw 17vw  0;
    }
  }

  &.--hstyle {
    h1:first-of-type {
      font-family: $main-font-serif;
      color: $color-zuc-indigo;
      text-align: center;
    }
  }
}

/*----
  50-50 Block :
  For pages that have a 50/50 split that switches to 100/100 on tablet/phone screen sizes

  .zuc-split
    .zuc-split-l
      ...
    .zuc-split-r

  AW - LU: 20181001
-----*/

.zuc-split {
  flex-direction: column;
  align-items: center;


  @media #{$laptop-up} {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 25px;
  }

  .zuc-split-l {
    width: 100%;

    @media #{$laptop-up} {
      width: 50%;
    }
  }

  .zuc-split-r {
    width: 100%;
    margin-bottom: 25px;

    @media #{$laptop-up} {
      width: 50%;
    }
  }
}

/*
  Global Colour Overlays

  ex.

    .my-div.--overlay.--o-indigo

  AW - LU: 20181001

*/

.--overlay {

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 2;
    background-color: transparent; // Default is no overlay - AW
    transition: .4s;
  }

  // Add this flag to start from no overlay - AW
  &.--fadein {
    &:after {
      opacity: 0;
    }
  }

  &:hover {
    &:after {
      opacity: .8;
      cursor: pointer;
    }
  }

  // Add this flag to NOT have animated hover
  &.--o-static {
    &:hover {
      &:after {
        opacity: .7;
        cursor: none;
      }
    }
  }

  &.--o-indigo {
    &:after {
      background-color: $color-zuc-indigo;
    }
  }

  &.--o-darkindigo {
    &:after {
      background-color: $color-zuc-darkindigo;
    }
  }

  &.--o-lightindigo {
    &:after {
      background-color: $color-zuc-lightindigo;
    }
  }

  &.--o-mint {
    &:after {
      background-color: $color-zuc-mint;
    }
  }

  &.--o-salmon {
    &:after {
      background-color: $color-zuc-salmon;
    }
  }

  &.--o-lilac {
    &:after {
      background-color: $color-zuc-lilac;
    }
  }

  &.--o-platinum {
    &:after {
      background-color: $color-zuc-platinum;
    }
  }

  &.--o-concrete {
    &:after {
      background-color: $color-zuc-concrete;
    }
  }
}

/*
  Snippet useful for starting new pages and getting past the header - AW
*/

.zuc-temporary-padding {
  padding: 200px 0 0;

  &.--bottom {
    padding: 200px 0;
  }

  &.--sides {
    padding: 200px;
  }
}
