// Mixins

// Arrow Anim Rules
@mixin arrow-anim-rules( $duration: .5s, $timing: ease-in-out, $iteration: infinite, $fill: both ) {
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-fill-mode: $fill;
  animation-iteration-count: $iteration;
}


// Equally spaced boxes with known margin
@mixin box-row( $boxes-in-row: 3, $space-between-in-percent: 2% ) {
  width: (100 - $space-between-in-percent * ($boxes-in-row - 1)) / $boxes-in-row * 1%;

  &:nth-child( n + 2 ) {
    margin: 0 0 0 $space-between-in-percent * 1%;
  }
}

// Functions

@function vw-desktop($width) {
  @return ($width / 19.2) * 1vw;
}

@function vw-laptop($width) {
  @return ($width / 12.8) * 1vw;
}

@function vw-tablet($width) {
  @return ($width / 7.68) * 1vw;
}

@function vw-phone($width) {
  @return ($width / 3.2) * 1vw;
}

// ECOM Header except not for the ECOM and instead for ZUC

.zuc-header {

  h1 {
    font-weight: 300;
    font-family: $main-font-serif;
    color: $color-zuc-indigo;
    font-size: vw-phone(60);
    margin: 0 0 vw-phone(5);

    @media #{$tablet-only} {
      font-size: vw-tablet(60);
      margin: 0 0 vw-tablet(5);
    }

    @media #{$laptop-up} {
      font-size: vw-desktop(60);
      margin: 0 0 vw-desktop(10);
    }
  }

  .zuc-header-line {
    width: 100%;
    border: 1px solid $color-zuc-concrete;
  }
}
