// Mixins

// Arrow Anim Rules
@mixin arrow-anim-rules( $duration: .5s, $timing: ease-in-out, $iteration: infinite, $fill: both ) {
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-fill-mode: $fill;
  animation-iteration-count: $iteration;
}

// Equally spaced boxes
@mixin equal-boxes( $boxes: 3, $space-in-percent: 2% ) {
  width: (100 - $space-in-percent * ($boxes - 1)) / $boxes * 1%;

  &:nth-child( n + 2 ) {
    margin: 0 0 0 $space-in-percent * 1%;
  }
}

// Functions

@function vw-desktop($width) {
  @return ($width / 19.2) * 1vw;
}

@function vw-laptop($width) {
  @return ($width / 12.8) * 1vw;
}

@function vw-tablet($width) {
  @return ($width / 7.68) * 1vw;
}

@function vw-phone($width) {
  @return ($width / 3.2) * 1vw;
}

