$nav-animation: transform .2s, opacity .5s;
.zuc-mobile-nav {
  position: fixed;
  display: block;
  overflow: auto;
  transform-origin: left;
  transform: scalex(0);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: $color-zuc-indigo;
  width: 100%;
  padding: 2vw 0;
  z-index: 500;
  height: auto;
  transition: $nav-animation;

  @media #{$tablet-up} {
    display: none;
  }

  img {
    width: 40%;
    display: block;
    margin: 8vh auto 0;

    @media #{$phone-only} {
      width: 80%;
    }
  }

  .zuc-btn {
    text-align: center;
    width: auto;
    @include center(horizontal);
    position: relative;
    margin: 5vh auto 0;

    @media #{$phone-only} {
      font-size: 4vw;
      padding: 3vw;
    }
  }

  .aoda-compliant {
    width: 100%;
    text-align: center;
    color: $white;
    position: relative;
    margin-top: 10vh;
    display: block;
  }

  .zuc-mobile-social {
    width: 100%;
    margin: 0 auto;
    color: $white;
    font-size: 8vw;
    text-align: center;

    .zuc-social-link {
      margin: 1.6vh 4% 0;
      display: block;
      transition: .4s;

      &:active {
        color: $color-zuc-darkindigo;
      }
    }
  }

  .fa-envelope {
    display: none;
  }
}

.zuc-accordion-nav {
  width: 100%;
  position: relative;
  color: $white;
  padding: 5vh 0;

  .zuc-accordion-item {
    width: 100%;
  }

  .zuc-accordion-title {
    width: 100%;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2vh 7vw;
    color: $white;
    position: relative;
    z-index: -1;
    background: transparent;
    transition: all, .3s;
    letter-spacing: 1px;
  }
}

.zuc-mobile-nav-content {
  padding: 0 8vw;
}

.zuc-accordion-hidden {
  width: 100%;
  transform-origin: top;
  transform: scaley(0);
  transition: all, .3s;
  opacity: 0;
  display: none;

  a {
    width: 100%;
    display: block;
    padding: 2vh 7vw;
    color: $white;
    letter-spacing: 1px;
  }
}

.zuc-accordion-active {
  .zuc-accordion-hidden {
    display: block;
    transform: scaley(1);
    opacity: 1;
  }

  .zuc-accordion-arrow {
    transform: translate3d(0, -50%, 0) rotate(90deg);
  }
}

.zuc-accordion-arrow {
  @include center(vertical);
  transform-origin: 20%;
  transition: all, .3s;
  right: 7vw;
  font-size: 7vw;
}

.zuc-mobile-nav-active {
  transform: scalex(1);
  opacity: 1;
}

.body-active-mobile-nav {
  height: 100vh;
  overflow: hidden;
  transition: transform .5s, opacity .2s;
}

// Menu Button
// Space between menu bars
$line-offset: -7px;

.zuc-menu-open {
  display: block;
  width: 25px;
  height: 3px;
  background: $white;
  position: absolute;
  right: 4vw;
  transition: all, .3s;
  z-index: 500;

  // Pseudo Element Lines
  &:before,
  &:after {
    @include pseudo();
    width: 25px;
    height: 3px;
    background: $white;
    transition: all, .3s;
  }
  &:before {
    top: $line-offset;
  }
  &:after {
    bottom: $line-offset;
  }

  .hidden {
    display: none;
  }

  @media #{$tablet-up} {
    display: none;
  }
}

.close {
  background: transparent;
  top: 6vw;
  right: 3vw;

  &:before {
    transform: rotate(-45deg);
    top: 0;
  }
  &:after {
    transform: rotate(45deg);
    top: 0;
  }
}
// Active Nav ( For Scroll )
.zuc-nav-active {
  opacity: 1;
}

.zuc-menu {
  display: block;

  @media #{$tablet-up} {
    display: none;
  }
}
