.zuc-mobile-nav {
  position: fixed;
  display: block;
  overflow: auto;
  transform-origin: left;
  transform: scalex(0);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: $color-zuc-indigo;
  width: 100%;
  padding: 2vw 0;
  z-index: 500;
  height: auto;
  transition: transform .2s, opacity .5s;

  @media #{$tablet-up} {
    display: none;
  }

  img {
    width: 40%;
    display: block;
    margin: 4vh auto 0;
  }

  .zuc-btn {
    width: 100%;
    text-align: center;
    margin: 5vh 0 0;
  }

  .zuc-mobile-social {
    width: 100%;
    padding: 0 14vw;

    a {
      width: 10%;
    }

    img {
      width: 100%;
      margin: 0;
    }
  }

  .aoda-compliant {
    width: 100%;
    text-align: center;
    color: $white;
    position: relative;
    margin-top: 10vh;
    display: block;
  }
}

.zuc-accordion-nav {
  width: 100%;
  position: relative;
  color: $white;
  padding: 5vh 0;

  .zuc-accordion-item {
    width: 100%;
    border-bottom: .5px solid $white;
  }

  .zuc-accordion-title {
    width: 100%;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2vh 7vw;
    color: $white;
    position: relative;
    z-index: -1;
    background: transparent;
    transition: all, .3s;
  }
}

.zuc-mobile-nav-content {
  padding: 0 8vw;
}

.zuc-accordion-hidden {
  width: 100%;
  background: lighten($color-zuc-indigo, 30%);
  transform-origin: top;
  transform: scaley(0);
  transition: all, .3s;
  opacity: 0;
  display: none;

  a {
    width: 100%;
    display: block;
    padding: 2vh 12vw;
    border-bottom: .5px solid $white;
    color: $color-zuc-darkindigo;
  }
}

.zuc-accordion-active {
  .zuc-accordion-hidden {
    display: block;
    transform: scaley(1);
    opacity: 1;
  }

  .zuc-accordion-arrow {
    transform: rotate(180deg);
  }

  .zuc-accordion-title {
    background: darken($color-zuc-indigo, 20%);
  }
}

.zuc-accordion-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid $white;
  @include center(vertical);
  margin-left: 15px;
  transform-origin: center;
  transition: all, .3s;
}

.zuc-mobile-nav-active {
  transform: scalex(1);
  opacity: 1;
}

.body-active-mobile-nav {
  height: 100vh;
  overflow: hidden;
  transition: transform .5s, opacity .2s;
}

// Menu Button
$line-offset: -6px;

.zuc-menu-open {
  display: block;
  width: 20px;
  height: 2px;
  background: $white;
  position: absolute;
  right: 2vw;
  transition: all, .3s;
  z-index: 500;

  // Pseudo Element Lines
  &:before,
  &:after {
    @include pseudo();
    width: 20px;
    height: 2px;
    background: $white;
    transition: all, .3s;
  }
  &:before {
    top: $line-offset;
  }
  &:after {
    bottom: $line-offset;
  }

  .hidden {
    display: none;
  }

  @media #{$tablet-up} {
    display: none;
  }
}

.close {
  background: transparent;
  top: 6vw;
  right: 3vw;

  &:before {
    transform: rotate(-45deg);
    top: 0;
  }
  &:after {
    transform: rotate(45deg);
    top: 0;
  }
}
// Active Nav ( For Scroll )
.zuc-nav-active {
  background: $black;
}

.zuc-menu {
  display: block;

  @media #{$tablet-up} {
    display: none;
  }
}
