// Navigation Styles
.tfac-main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 2vw;
  left: 0;
  color: $white;
  font-size: $font-size-body;
  font-weight: 700;
  z-index: 100;
  transition: all, .2s;
  background: transparent;

  @media #{$tablet-up} {
    font-size: 1vw;
  }
  @media #{$desktop-only} {
    font-size: $font-size-body;
  }
  @media #{$xl-up} {
    font-size: 1vw;
  }

  &:hover,
  &:active,
  &:focus {
    background: $black;
  }

  .tfac-main-cta {
    line-height: 14px;
  }

  .tfac-nav-slogan {
    font-size: 3vw;
    width: 42%;
    padding: 2vh 0;

    @media #{$tablet-up} {
      width: auto;
      padding: 0;
      margin-bottom: 5px;
    }
    @media #{$tablet-only} {
      font-size: 1.5vw;
    }
    @media #{$tablet-prt-only} {
      font-size: 1.2vw;
      margin-bottom: 0;
    }
    @media #{$laptop-only} {
      font-size: 1.4vw;
    }
    @media #{$desktop-only} {
      font-size: 20px;
    }
    @media #{$xl-up} {
      font-size: 1.3vw;
      margin: 0;
    }
  }

  // Space out button a bit on the left
  .tfac-btn {
    margin-left: 10px;
  }
}
// Inner Page Nav Branding
.tfac-nav-branding {
  width: 15%;
  position: relative;
  margin: 1vh 0;
  top: 0;
  z-index: 10;

  @media #{$tablet-up} {
    position: absolute;
    left: 2vw;
    width: 15%;
    padding: 0 3.4%;
    min-width: 146px;
    margin: 0;
  }

  @media #{$tablet-only} {
    padding: 0 4%;
  }
  @media #{$tablet-prt-only} {
    padding: 0 5.5%;
  }

  &:before {
    @include pseudo();
    width: 115%;
    top: -27px;
    background-image: url('../img/splashes/splash-nav.svg');
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
    @include center(horizontal);
    @include responsive-ratio(318,400);

    @media #{$phone-only} {
      display: none;
    }
  }
}
// Brand spacing Holder
.tfac-brand-holder {
  width: 15%;
  min-width: 146px;
  padding: 0 3.4%;
  position: relative;
  z-index: 10;
  display: none;

  @media #{$tablet-up} {
    display: block;
  }
}

// Inner Page Nav Overide
.tfac-main-nav-inner {
  width: 83%;

  .tfac-nav-slogan {
    font-size: 1vw;
    display: none;

    @media #{$laptop-up} {
      display: block;
    }
  }

  @media #{$tablet-only} {
    justify-content: flex-end;
  }

  .tfac-menu-open {
    position: relative;
  }
}

.tfac-nav-links {
  @media #{$phone-only} {
    display: none;
  }
}

// Account Links
.tfac-account-links {
  margin-left: 20px;
  font-size: $font-size-small;

  @media #{$tablet-only} {
    font-size: .9vw;
  }
  @media #{$laptop-up} {
    font-size: $font-size-small;
  }
  @media #{$xl-up} {
    font-size: .8vw;
  }

  a {
    display: inline-block;
    margin: 0;
  }

  span {
    margin: 0 10px;
  }
}

