// Navigation Styles
.zuc-nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.zuc-main-nav {
  width: 100%;
  padding: 0 8%;
  left: 0;
  color: $white;
  font-size: $font-size-body;
  font-weight: 700;
  z-index: 100;
  transition: all, .3s;
  background: $color-brand-primary;

  @media #{$tablet-up} {
    font-size: 1vw;
  }
  @media #{$desktop-only} {
    font-size: $font-size-body;
  }
  @media #{$xl-up} {
    font-size: 1vw;
  }
  @media #{$phone-only} {
    padding: 5vw 4vw;
  }

  &:hover,
  &:active,
  &:focus {
    background: lighten($color-brand-primary, 10%);
  }

  .zuc-nav-brand {
    width: 12vw;
    max-width: 237px;
    transition: all .2s ease-out;

    @media #{$laptop-only} {
      max-width: 200px;
    }
    @media #{$tablet-only} {
      max-width: 130px;
    }
    @media #{$xl-up} {
      max-width: 340px;
    }
    @media #{$phone-only} {
      max-width: 250px;
      width: 40vw;
      margin: 0 2vw;
    }

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.05);
    }

    img {
      width: 100%;
    }
  }

  // Space out button a bit on the left
  .zuc-btn {
    margin-right: 10px;
  }
}

.zuc-nav-links {
  @media #{$phone-only} {
    display: none;
  }
}

// Account Links
.zuc-account-links {
  margin-left: 20px;
  font-size: $font-size-small;

  @media #{$tablet-only} {
    font-size: .9vw;
  }
  @media #{$laptop-up} {
    font-size: $font-size-small;
  }
  @media #{$xl-up} {
    font-size: .8vw;
  }

  a {
    display: inline-block;
    margin: 0;
  }

  span {
    margin: 0 10px;
  }
}

