/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/

// Wrapper Classes

.mdev-main-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  min-width: 290px;

  @media #{$tablet-prt-only} {
    max-width: 800px;
    width: 76%;
  }

  @media #{$tablet-lnd-only} {
    max-width: 900px;
    width: 76%;
  }

  @media #{$laptop-only} {
    max-width: 1000px;
  }

  @media #{$desktop-only} {
    max-width: 1300px;
  }

  @media #{$xl-up} {
    max-width: 1500px;
  }

  @media #{$phone-only} {
    width: 90%;
  }
}

// BOILER ONLY REMOVE BELOW --------------
.mdev-boilerlink {
  color: $color-brand-primary;
  margin-top: 10px;
  display: block;
}

.mdev-image {
  width: 20%;
  margin: 30px auto;

  img {
    width: 100%;
  }
}

.mdev-main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 35px 0;
  z-index: 10;
  transition: all, .3s;
  background: rgba(51,51,51,0);

  img {
    width: 100%;
  }

  .mdev-main-nav-branding {
    max-width: 83px;
    min-width: 73px;
    height: auto;
    width: 10%;
    opacity: 1;
    transition: all, .3s;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  .mdev-main-nav-links {
    color: $color-brand-primary;
  }

  .mdev-main-nav-links a {
    margin: 0 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0);
    transition: all, .3s;

    &:hover {
      text-shadow: 1px 1px 3px rgba(0,0,0,.6);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.mdev-main-nav-visibility {
  background: rgba(51,51,51,.6);

  &:hover {
    background: rgba(51,51,51,.9);
  }
}


