/*-------------------------------------
 * TESTIMONIAL
/-------------------------------------*/

.zuc-testimonial-section {
  height: 28.125vw;
  width: 100%;
  background-color: $color-testimonial-grey;
}

.zuc-quote-badge-container {
  height: 5.75vw;
  width: 5.75vw;
  position: absolute;
  top: -2.875vw;
  border-radius: 50%;
  background-color: $color-testimonial-light;
}

.zuc-quote-badge-icon {
  width: 3.08vw;
}

.zuc-quote-container {
  height: 14.85vw;
  width: 45.2vw;
  position: relative;
  top: 11.06vw;
  padding: 0 4.4vw;
  background-color: $white;
}

.zuc-quote-text {
  font-size: 1vw;
  text-align: center;
}

.zuc-quote-author {
  position: absolute;
  right: 3.74vw;
  bottom: 1.72vw;
}

.zuc-quote-button {
  height: 2.5vw;
  width: 2.5vw;
  background-color: $color-testimonial-light;
  
  &.zuc-previous {
    position: absolute;
    left: -1.25vw;
    bottom: 1.73vw;
  }

  &.zuc-next {
    position: absolute;
    right: -1.25vw;
    bottom: 1.73vw;
  }

  img {
    width: 0.5vw;
  }
}

.zuc-cta-container {
  height: 10.81vw;
  width: 16vw;
  position: absolute;
  top: -5.91vw;
  left: -14.2vw;
  padding: 1.36vw 1.31vw 2.42vw 1.46vw;
  background-color: $color-zuc-darkindigo;
}

.zuc-cta-text {
  font-size: 2vw;
  text-align: left;
  color: $white;
}

.zuc-read-all {
  // Fix this later, seems incorrect
  height: 2.53vw;
  position: absolute;
  top: 9.545vw;
  left: 0;
  font-size: .93vw;
  text-align: center;
  vertical-align: middle;
  background-color: $color-testimonial-light;
}
