/*-------------------------------------
 * TESTIMONIAL
/-------------------------------------*/

.zuc-testimonial-section {
  height: 28.125vw;
  width: 100%;
  
  background-color: $color-testimonial-grey;
}

.zuc-quote-badge-container {
  display: flex;
  position: absolute;
  top: -2.875vw;
  height: 5.75vw;
  width: 5.75vw;
  
  border-radius: 50%;
  
  background-color: $color-testimonial-light;

  box-shadow: $shadow-testimonial;
}

.zuc-quote-container {
  height: 14.85vw;
  width: 45.2vw;

  position: relative;
  top: 11.06vw;

  padding: 0 4.4vw;
  
  background-color: $white;
}

.zuc-quote-text {  
  font-size: 1vw;
  text-align: center;
  color: $color-zuc-darkindigo;
}

.zuc-quote-author {
  position: absolute;
  right: 3.74vw;
  bottom: 1.72vw;
}

.zuc-quote-button {
  height: 2.5vw;
  width: 2.5vw;

  background-color: $color-testimonial-light;

  box-shadow: $shadow-testimonial;
  
  &.zuc-previous {
    position: absolute;
    left: -1.25vw;
    bottom: 1.73vw;
  }

  &.zuc-next {
    position: absolute;
    right: -1.25vw;
    bottom: 1.73vw;
  }
}

.zuc-cta-container {
  height: 10.81vw;
  width: 16vw;

  position: absolute;
  top: -5.91vw;
  left: -14.2vw;

  padding: 1.36vw 1.31vw 2.42vw 1.46vw;
  
  background-color: $color-zuc-darkindigo;

  box-shadow: $shadow-testimonial;
}

.zuc-cta-text {
  font-size: 2vw;
  text-align: left;
  color: $white;
}

.zuc-read-more-button-continer {
  height: 2.53vw;
  width: 10.91vw;

  position: absolute;
  top: 9.545vw;
  left: 0;

  background-color: $color-testimonial-light;

  box-shadow: $shadow-testimonial;
}

.zuc-read-more-button {
  font-size: 0.93vw;
}



