/*-------------------------------------
 *	TYPOGRAPHY
/-------------------------------------*/

/* Main */
body {
  font-family: $main-font;
  font-size: 16px;
  color: $black;
}

/* Headings & Body Copy */

/* Reset Fonts */

/* Disabled because the new line rule was not intended for these cases */
/* stylelint-disable */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6, {
  font-family: $main-font;
  font-weight: 300;
  color: inherit;
  margin-bottom: 25px;
}

// Responsive Font Size Maps
$p-font-sizes: (
  //- Tweaked for ZUC - A.
  null  : 3.3vw,
  $tablet-up  : 2.34vw,
  $tablet-lnd-only : 1.8vw,
  $laptop-up : 1.2vw,
  $desktop-up : .9vw,
  $xl-up : 1vw
);

$h1-font-sizes: (
  //- Tweaked for ZUC - A.
  null  : 9.07vw,
  $tablet-up : 7.8vw,
  $tablet-lnd-only : 5.9vw,
  $laptop-up : 3.89vw,
  $desktop-up: 3.125vw
);

$h2-font-sizes: (
  //- Tweaked for ZUC - A.
  null  : 8vw,
  $tablet-up : 6.11vw,
  $tablet-lnd-only : 4.6vw,
  $laptop-up : 3vw,
  $desktop-up: 2.44vw
);

$h3-font-sizes: (
  null  : 8vw,
  $tablet-up: 5.2vw,
  $tablet-lnd-only : 4vw,
  $laptop-up : 2.08vw
);

$h4-font-sizes: (
  null  : 4.27vw,
  $tablet-up : 2.6vw,
  $tablet-lnd-only : 2vw,
  $laptop-up : 1.84vw,
  $desktop-up : 1.04vw,
  $xl-up: 1.44vw
);

$h5-font-sizes: (
  null  : 7vw,
  $tablet-only : 8vw,
  $tablet-lnd-only : 7vw,
  $laptop-up : 4.6vw,
  $desktop-up : 4.17vw,
  $xl-up : 3.13vw
);

$h6-font-sizes: (
  null  : 3.9vw,
  $tablet-up : 2.08vw,
  $tablet-lnd-only : 1.6vw,
  $laptop-up : 1.1vw,
  $desktop-up : .72vw,
  $xl-up : 1vw
);

// Links
$link-font-sizes: (
  null  : 16px,
  $tablet-up : 17px,
  $desktop-up: 18px
);

// Responsive Font-Size Mixing (Function Only)
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media #{$fs-breakpoint} {
        font-size: $fs-font-size;
      }
    }
  }
}

/* stylelint-enable */

/* Generate Responsive Sizing */

p {
  line-height: 180%;
  font-weight: 400;
  @include font-size($p-font-sizes);

  @media #{$phone-only} {
    line-height: 150%;
  }
}

h1,
.h1 {
  @include font-size($h1-font-sizes);
}

h2,
.h2 {
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  @include font-size($h5-font-sizes);
}

h6,
.h6 {
  @include font-size($h6-font-sizes);
}

.zuc-main-nav-links {
  @include font-size($link-font-sizes);
}

/* Link Reset / Base Inherit */
a {
  font-family: $main-font;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

// Typography Testing
.test-typography {
  width: 60%;
  margin: 300px auto 200px;

  @media #{$portrait} {
    width: 90%;
  }
}

/* stylelint-disable */

$zuc-body-small-font-sizes: (
  null  : 3vw,
  $tablet-up  : 2vw,
  $tablet-lnd-only : 1.5vw,
  $laptop-up : 1vw,
  $desktop-up : .8vw,
  $xl-up : .9vw
);

/* stylelint-enable */

.zuc-body-small {
  line-height: 1.25;
  font-weight: 100;

  @include font-size($zuc-body-small-font-sizes);
}