/*-------------------------------------
 *	TYPOGRAPHY
/-------------------------------------*/

/* Main */
body {
  font-family: $main-font;
  font-size: 16px;
  color: $black;
}

/* Headings & Body Copy */

/* Reset Fonts */

/* Disabled because the new line rule was not intended for these cases */
/* stylelint-disable */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6, {
  font-family: $main-font;
  font-weight: 300;
  color: inherit;
  margin-bottom: 15px;

  @media #{$phone-only} {
    margin-bottom: 10px;
  }
}

// Responsive Font Size Maps
$p-font-sizes: (
  null  : 14px,
  $tablet-up : 18px
);

$h1-font-sizes: (
  null  : 34px,
  $tablet-up : 60px
);

$h2-font-sizes: (
  null  : 30px,
  $tablet-up : 47px
);

$h3-font-sizes: (
  null  : 30px,
  $tablet-up : 40px,
  $laptop-only : 28px
);

$h4-font-sizes: (
  null  : 16px,
  $tablet-up : 20px
);

$h5-font-sizes: (
  null  : 40px,
  $tablet-up : 80px,
  $laptop-only : 60px
);

$h6-font-sizes: (
  null  : 14px,
  $tablet-up : 16px
);

// Links
$link-font-sizes: (
  null  : 16px,
  $tablet-up : 17px,
  $desktop-up: 18px
);

// Responsive Font-Size Mixing (Function Only)
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media #{$fs-breakpoint} {
        font-size: $fs-font-size;
      }
    }
  }
}

/* stylelint-enable */

/* Generate Responsive Sizing */

p {
  line-height: 1.44;
  font-weight: 100;
  color: $color-zuc-darkindigo;

  @include font-size($p-font-sizes);

  @media #{$phone-only} {
    line-height: 1.43;
  }
}

h1,
.h1 {
  line-height: 1.17;
  @include font-size($h1-font-sizes);
}

h2,
.h2 {
  line-height: 1.2;
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  line-height: 1.25;
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  @include font-size($h5-font-sizes);
}

h6,
.h6 {
  line-height: 1.03;
  @include font-size($h6-font-sizes);
}

.zuc-main-nav-links {
  @include font-size($link-font-sizes);
}

/* Link Reset / Base Inherit */
a {
  font-family: $main-font;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

// Typography Testing
.test-typography {
  width: 60%;
  margin: 300px auto 200px;

  @media #{$portrait} {
    width: 90%;
  }
}

/* stylelint-disable */

$zuc-body-small-font-sizes: (
  null  : 12px,
  $tablet-up : 16px
);

/* stylelint-enable */

.zuc-body-small {
  line-height: 1.45;
  font-weight: 100;

  @include font-size($zuc-body-small-font-sizes);
}

.zuc-review-author {
  padding: 8vw 0 13vw;
  @media #{$tablet-only} {
    padding: 2vw 0 4vw;
  }
  @media #{$laptop-up} {
    padding: 1.1vw 0 2.3vw;
  }
}
