/*-------------------------------------
 *	TYPOGRAPHY
/-------------------------------------*/

/* Main */
body {
  font-family: $main-font;
  font-size: 16px;
  color: $black;
}

/* Headings & Body Copy */

/* Reset Fonts */

/* Disabled because the new line rule was not intended for these cases */
/* stylelint-disable */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6, {
  font-family: $main-font;
  font-weight: 300;
  color: inherit;
  margin-bottom: 15px;

  @media #{$phone-only} {
    margin-bottom: 10px;
  }
}

// Responsive Font Size Maps
$p-font-sizes: (
  //- Tweaked for ZUC - A.
  null  : 4.0vw,
  $tablet-up  : 2.50vw,
  $tablet-lnd-only : 1.5vw,
  $laptop-up : 1.2vw,
  $desktop-up : .9375vw,
);

$h1-font-sizes: (
  //- Tweaked for ZUC - A.
  null  : 11.07vw,
  $tablet-up : 7.8vw,
  $tablet-lnd-only : 5.9vw,
  $laptop-up : 3.89vw,
  $desktop-up: 3.125vw
);

$h2-font-sizes: (
  //- Tweaked for ZUC - A.
  null  : 9vw,
  $tablet-up : 6.11vw,
  $tablet-lnd-only : 4.6vw,
  $laptop-up : 3vw,
  $desktop-up: 2.44vw
);

$h3-font-sizes: (
  null  : 8vw,
  $tablet-up: 5.2vw,
  $tablet-lnd-only : 4vw,
  $laptop-up : 2.08vw
);

$h4-font-sizes: (
  null  : 4.27vw,
  $tablet-up : 2.6vw,
  $tablet-lnd-only : 1.8vw,
  $laptop-up : 1.25vw,
  $xl-up: 1.44vw,
  $desktop-up : 1.01vw
);

$h5-font-sizes: (
  null  : 9.7vw,
  $tablet-only : 8vw,
  $tablet-lnd-only : 5vw,
  $laptop-up : 4.6vw,
  $xl-up : 3.13vw,
  $desktop-up : 4.17vw
);

$h6-font-sizes: (
  null  : 3.9vw,
  $tablet-up : 2.48vw,
  $tablet-lnd-only : 1.6vw,
  $laptop-up : 1.1vw,
  $xl-up : 1vw,
  $desktop-up : .83vw
);

// Links
$link-font-sizes: (
  null  : 16px,
  $tablet-up : 17px,
  $desktop-up: 18px
);

// Responsive Font-Size Mixing (Function Only)
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media #{$fs-breakpoint} {
        font-size: $fs-font-size;
      }
    }
  }
}

/* stylelint-enable */

/* Generate Responsive Sizing */

p {
  line-height: 1.44;
  font-weight: 100;
  color: $color-zuc-darkindigo;

  @include font-size($p-font-sizes);

  @media #{$phone-only} {
    line-height: 1.43;
  }
}

h1,
.h1 {
  line-height: 1.17;
  @include font-size($h1-font-sizes);
}

h2,
.h2 {
  line-height: 1.2;
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  line-height: 1.25;
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  @include font-size($h5-font-sizes);
}

h6,
.h6 {
  line-height: 1.03;
  @include font-size($h6-font-sizes);
}

.zuc-main-nav-links {
  @include font-size($link-font-sizes);
}

/* Link Reset / Base Inherit */
a {
  font-family: $main-font;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

// Typography Testing
.test-typography {
  width: 60%;
  margin: 300px auto 200px;

  @media #{$portrait} {
    width: 90%;
  }
}

/* stylelint-disable */

$zuc-body-small-font-sizes: (
  null  : 3vw,
  $tablet-up  : 2vw,
  $tablet-lnd-only : 1.5vw,
  $laptop-up : 1vw,
  $desktop-up : .833vw,
  $xl-up : .93vw
);

/* stylelint-enable */

.zuc-body-small {
  line-height: 1.45;
  font-weight: 100;

  @include font-size($zuc-body-small-font-sizes);
}

/* stylelint-disable */
$zuc-review-author-font-sizes: (
  null : 4.3vw,
  $tablet-up : 2.5vw * 1.25,
  $tablet-lnd-only : 1.5vw * 1.25,
  $laptop-up : 1.2vw * 1.25,
  $desktop-only : .938vw * 1.25,
  $xl-up : 1vw * 1.25
);
/* stylelint-enable */

.zuc-review-author {
  padding: 8vw 0 13vw;
  @include font-size($zuc-review-author-font-sizes);
  @media #{$tablet-only} {
    padding: 2vw 0 4vw;
  }
  @media #{$laptop-up} {
    padding: 1.1vw 0 2.3vw;
  }
}
