/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$color-brand-primary: #434da0;
$color-brand-accent: #64eeb0;
$color-brand-bkg: #0f1618;
$bkg-light-grey: #fafafa;
$black: #000;
$white: #f7f7f7;

// Zucora Colors
$color-zuc-indigo: #434da0;
$color-zuc-darkindigo: #36384b;
$color-zuc-lightindigo: #a3acff;
$color-zuc-mint: #64eeb0;
$color-zuc-salmon: #feb9a6;
$color-zuc-lilac: #a3acff;
$color-zuc-platinum: #f7f7f7;
$color-zuc-concrete: #c8c8c8;

// Text Colors
$color-text-grey: #676767;

// Main Font
$main-font: aktiv-grotesk, 'Helvetica', sans-serif;
$main-font-serif: PublicoHeadline, aktiv-grotesk, 'Helvetica', sans-serif;
$heading-weight: 300;
$subheading-weight: 500;
$body-weight: 300;

// Sizing Variables

// Spacing Variables

// Button Variables

// Radius Variables
$standard-radius: 4px;

// Clipping Paths

// Temporary Vars until I cleanup TFAC styles - LUM
$font-size-body: 16px;
$font-size-small: 14px;

// FontFace Calls
@font-face {
  font-family: PublicoHeadline;
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/PublicoHeadline-Bold.woff2) format('woff2'),
  url(/fonts/PublicoHeadline-Bold.woff) format('woff'),
  url(/fonts/PublicoHeadline-Bold.ttf) format('truetype');
}
@font-face {
  font-family: PublicoHeadline;
  font-weight: 500;
  font-style: italic;
  src: url(/fonts/PublicoHeadline-BoldItalic.woff2) format('woff2'),
  url(/fonts/PublicoHeadline-BoldItalic.woff) format('woff'),
  url(/fonts/PublicoHeadline-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: PublicoHeadline;
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/PublicoHeadline-Light.woff2) format('woff2'),
  url(/fonts/PublicoHeadline-Light.woff) format('woff'),
  url(/fonts/PublicoHeadline-Light.ttf) format('truetype');
}
@font-face {
  font-family: PublicoHeadline;
  font-weight: 300;
  font-style: italic;
  src: url(/fonts/PublicoHeadline-LightItalic.woff2) format('woff2'),
  url(/fonts/PublicoHeadline-LightItalic.woff) format('woff'),
  url(/fonts/PublicoHeadline-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: PublicoHeadline;
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/PublicoHeadline-Medium.woff2) format('woff2'),
  url(/fonts/PublicoHeadline-Medium.woff) format('woff'),
  url(/fonts/PublicoHeadline-Medium.ttf) format('truetype');
}
