- var aboutBlurb = 'Since 1979, Zucora Home has been the leader in servicing furniture and appliance product protection plans. In the past decade we’ve expanded to include products to support healthy living; and most recently created the Smarter Living Plan and Smarter Home Control. to help take the stress out of home ownership and Smarter Home Control so you can securely connect all your home systems and live in an environment that is customized by you, convenient and comfortable.';

section.zuc-about-section
  .zuc-about-img-box
    img(src="../../assets/images/homepage/laughing-family.png", alt="A laughing family")
