- var title = 'Placeholder connected home'
- var subheading = 'Intelligent'
- var text = 'The Smarter Living Plan provides you with 24/7 access to our Solutions Service Team for rapid repair and replacement services when you need them. Protect your home furnishings, major appliances and home-comfort systems today. '
- var button = 'Get Connected'

section.zuc-blob-module--wrapper
  .zuc-blob-module--text-section.flex.flex-column
    h4.zuc-blob-module--subheading.u-uppercase
      |#{subheading}
    h2.zuc-blob-module--heading
      |#{title}
    .zuc-blob-module--copy
      |#{text}
    .zuc-blob-module--btn
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |#{button}
    .zuc-blob-module--grey-slash
      img.grey-slash(src='../../assets/images//graphics/graphic_slash_grey.svg' alt='')
  .zuc-blob-module--graphic-section.flex.flex-hor-center
    img.photo(src='https://via.placeholder.com/1000x800' alt='')
    img.blob(src='../../assets/images/shapes/round-blob-solid.svg' alt='')
