- var title = 'Placeholder connected home'
- var text = 'PLACEHOLDER The Smarter Living Plan provides you with 24/7 access to our Solutions Service Team for rapid repair and replacement services when you need them. Protect your home furnishings, major appliances and home-comfort systems today. '
- var button = 'Learn More'

// img(src='../../assets/images/blob-module/round-blob-gradient.svg')
.zuc-blob-module--wrapper.flex.flex-row.flex-vert-center.flex-hor-between
  .zuc-blob-module--text-section.flex.flex-column
    h3.zuc-blob-module--heading
      |#{title}
    .zuc-blob-module--copy
      |#{text}
    a.zuc-btn.zuc-btn-secondary.u-uppercase(href="#" title="todo")
      |#{button}
  .zuc-blob-module--graphic-section
    img(src="https://via.placeholder.com/500x400")

