- var title = 'A smarter way to manage your home.'
- var subheading = 'Intelligent'
- var text = 'With Smarter Home Control from Zucora Home, you gain the power of managing your home lighting, climate, entertainment, and security right in the palm of your hand. One Home – One App. Our smart, easy-to-use mobile app gives you complete control over today’s digital home devices and will help you manage tomorrow’s smart home appliances.'
- var button = 'Get Connected'

section.zuc-blob-module--wrapper
  .zuc-blob-module--text-section.flex.flex-column
    h4.zuc-blob-module--subheading.u-uppercase
      |#{subheading}
    h2.zuc-blob-module--heading.u-font-serif.u-zuc-indigo
      |#{title}
    p.zuc-blob-module--copy.u-light
      |#{text}
    .zuc-blob-module--btn
      a.zuc-btn.zuc-btn-secondary(href="smarter-home-control.html" title="Smarter Home Control")
        |#{button}
    .zuc-blob-module--grey-slash
      img.grey-slash(src='../../assets/images/graphics/graphic_slash_grey.svg' alt='TODO')
  .zuc-blob-module--graphic-section.flex.flex-hor-center
    .--img-wrapper
      img.phone-img(src='../../assets/images/homepage/connected-phone.png' alt="Image of cell phone with Smarter Living App")
      img.photo(src='../../assets/images/homepage/women-onphone.png' alt='Woman browsing her cell phone while drinking from a mug')
      .zuc-blob-module--app-icons.flex.flex-row
        a(href="#" title="todo")
          img.badge(src='../../assets/images/homepage/google-play-badge.png')
        a(href="#" title="todo")
          img.badge(src='../../assets/images/homepage/app-store-badge.png')
    img.blob(src='../../assets/images/shapes/round-blob-solid.svg' alt='Decorative gradient image in background')
