.zuc-blog-module-container.flex.flex-wrap
  .zuc-blog-header-block
    .zuc-blog-title-container.flex
      h4
        |BLOG
      .zuc-title-img-container.flex.flex-hor-center
        img(src="../../assets/images/graphics/graphic_line_coral_medium.svg", alt="A short horizontal coral coloured line")
    h5.u-font-serif.u-zuc-indigo
      |Smarter Living Matters
    a.zuc-btn.zuc-btn-secondary(href="#")
      |TIPS & RESOURCES
  .zuc-triple-block-container.flex.flex-wrap
    .zuc-blog-block
    .zuc-blog-block
    .zuc-blog-block