section.zuc-blog-module-container.flex.flex-wrap
  .zuc-blog-header
    .zuc-blog-title-container.flex
      h4
        |BLOG
      .zuc-title-flag
        .--red
    h5.u-font-serif.u-zuc-indigo
      |Smarter Living Matters
    a.zuc-btn.zuc-btn-secondary(href="#")
      |TIPS & RESOURCES
  .zuc-triple-block-container.flex.flex-wrap
    .zuc-blog-block
    .zuc-blog-block
    .zuc-blog-block