.zuc-blog-module-container.flex
  .zuc-blog-block.zuc-blog-header-block
    h4
      |BLOG
    img(src="", alt="TODO")
    h5.u-font-serif.u-zuc-indigo
      |Smarter Living Matters
    a.zuc-btn.zuc-btn-secondary(href="#")
      |Tips & Resources
  .zuc-blog-block
  .zuc-blog-block
  .zuc-blog-block