- var subtitle = 'Need help? We make it easy.<br/>Contact us and let us help you solve your problem!'
.zuc-section-container
  h1.zuc-contact-title.u-zuc-indigo.u-font-serif
      |Contact Us
  .zuc-split.flex.flex-row
    .zuc-split-l.flex.flex-column
      .zuc-contact-blurb-container
        p.zuc-contact-subtitle
          |!{subtitle}
        p.u-zuc-indigo
          strong
            |1.800.388.2640
        p.u-zuc-indigo
          |552 Clark Road, London ON N5V 3K5
      .zuc-contact-image-container
        img.zuc-contact-image.u-soft-shadow(src='../../assets/images/contact/happy-family-livingroom.png' alt='A happy family sitting in their living room')
        //- Placeholder icon
        img.zuc-contact-badge(src='../../assets/images/graphics/graphic_slash_coral.svg' alt='Four coral colored diagonal lines')
    .zuc-split-r
      .zuc-contact-forms-container.flex.flex-column
        form(action="")
            .zuc-form-group
              .zuc-input-name.zuc-input-name-no-margin
                strong
                  |First & Last Name
              input(type="text" data-required name="fullname" placeholder="John Smith")
            .zuc-form-group
              .zuc-input-name
                strong
                  |Email Address
              input(type="email" data-required name="email" placeholder="example@email.com")
            .zuc-form-group
              .zuc-input-name
                strong
                  |Phone Number
              input(type="tel" data-required name="phone" placeholder="000-000-0000")
            .zuc-form-group
              .zuc-input-name
                strong
                  |Message
              input(type="text" data-required name="message" placeholder="Your Message Here")
            .zuc-form-group.zuc-btn-send-container.zuc-contact-btn
              button.zuc-btn.zuc-btn-secondary.u-soft-shadow(type="submit")
                strong
                  span SEND