// Footer Sub Links
.zuc-footer--copyright.flex.flex-vert-center
  .zuc-footer--copyright-title
    span.zuc-footer--copyright-text
      |Copyright&nbsp;&copy;&nbsp;
    a.zuc-footer--copyright-text(href="index.html" title="Zucora Home")
      |Zucora Inc.
    span.zuc-footer--copyright-text
      | &nbsp;2018
  .zuc-footer--copyright-menu.flex.flex-hor-start
    a.zuc-footer--copyright-text(href="privacy-policy.html" title="View our Privacy Policy")
      |Privacy Policy
    span
      | &bull;
    a.zuc-footer--copyright-text(href="terms-service.html" title="View our Terms of Service")
      |Terms of Service
    span
      | &bull;
    a.zuc-footer--copyright-text(href="sitemap.xml" title="View our Sitemap")
      |Sitemap
