footer.flex.flex-hor-center.zuc-footer
  .zuc-footer--brand-section.flex.flex-column
    a.zuc-nav-brand(href="index.html" title="Home")
      img(src='../../assets/images/ZucoraHome-brand-white.svg')
    .zuc-footer--social-icons-primary
      include ../modules/social-icons.pug
  .zuc-footer-body.flex.flex-row
    .zuc-footer-row.flex
      //- About Section
      .flex.flex-column.flex-vert-start.zuc-footer--column
        h4.zuc-footer--header.u-uppercase About
        a.zuc-footer--link(href='form-contact-us.html' title='Contact Us') Contact Us
        a.zuc-footer--link(href='our-story.html' title='About Us') Our Story
        a.zuc-footer--link(href='our-story.html' title='Our Team') Our Team
        a.zuc-footer--link(href='our-story.html' title='Join Us') Join Us
        //- Hidden for Launch
        //- a.zuc-footer--link(href='#' title='todo') Reviews
      //- Member Centre Section
      .flex.flex-column.flex-vert-start.zuc-footer--column
        h4.zuc-footer--header.u-uppercase Member Centre
        a.zuc-footer--link(href='smarter-living.html' title='What is Smarter Living?') What is Smarter Living?
        a.zuc-footer--link(href='#LimeTAC-Link-To-Login-System' title='LimeTAC-TODO') Member Login
        a.zuc-footer--link(href='#LimeTac-Link-To-Rewards-System' title='LimeTAC-TODO') Redeem Rewards
        //- Hidden for Launch
        //- a.zuc-footer--link(href='#' title='todo') Blog
        a.zuc-footer--link(href='faq.html' title='Frequently Asked Questions') FAQ
    .zuc-footer-row.flex
      //- Products and Services
      .flex.flex-column.flex-vert-start.zuc-footer--column
        h4.zuc-footer--header.u-uppercase Products &amp; Services
        a.zuc-footer--link(href='service-plans.html' title='Service Plans Parent') Service Plans
        a.zuc-footer--link(href='smarter-home-control.html' title='Smarter Home Control') Smarter Home Control
        a.zuc-footer--link(href='smarter-home-products.html' title='Smarter Home Products') Smarter Home Products
        a.zuc-footer--link(href='form-orders-shipping.html' title='Orders and Returns') Order &amp; Returns
        a.zuc-footer--link(href='#LimeTAC-Link-To-Ecommerce' title='LimeTAC-TODO') Shop Now
      //- "Hide this column for launch" -  18-ZUC-015 - FOOTER - All Sizes - QA v01
      //- .zuc-footer--partners.flex.flex-column.flex-vert-start.zuc-footer--column
      //-   h4.zuc-footer--header.u-uppercase Partners
      //-   a.zuc-footer--link(href='#' title='todo') I am a Retailer
      //-   a.zuc-footer--link(href='#' title='todo') I am a Contractor
    .zuc-footer--zuc-footer-right.zuc-footer--column
      a.zuc-btn.zuc-btn-primary(href="form-service-request.html" title="Service Request")
        |Service Request
      .zuc-footer--social-icons-secondary
        include ../modules/social-icons.pug
      .zuc-shipping-blurb
        span.u-zuc-platinum
          |CANADA-WIDE SHIPPING AVAILABLE.<br/>FREE ON ORDERS OVER
        span.u-zuc-mint
          |$39
