- var aboutBlurb = 'Since 1979, Zucora Home has been the leader in servicing furniture and appliance product protection plans. In the past decade we’ve expanded to include products to support healthy living; and most recently created the Smarter Living Plan and Smarter Home Control. to help take the stress out of home ownership and Smarter Home Control so you can securely connect all your home systems and live in an environment that is customized by you, convenient and comfortable.';

section.zuc-about-section.flex
  img.zuc-pear-blob(src="../../assets/images/shapes/round-blob-half-solid.svg", alt="A pear shaped abstract blob")
  .zuc-about-img-box.flex
    img(src="../../assets/images/shared/laughing-family.png", alt="A laughing family")
  .zuc-about-text-box.flex.flex-column.u-soft-shadow
    h2.u-font-serif.u-zuc-indigo
      |Canada’s most innovative home services solutions provider
    p.u-zuc-darkindigo
      |#{aboutBlurb}
    a.zuc-btn.zuc-btn-secondary(href="#")
      |ABOUT US
