- var title = 'Smarter products = Smarter living.'
- var subheading = 'Innovative'
- var text = 'Zucora Home offers environmentally responsible home wellness solutions. These naturally inspired cleaning and personal care items and bedding essentials, will empower your quest for a clean home and healthy family while having a positive impact on world around you.'
- var button = 'discover sustainability'

section.zuc-home-inspired-section.flex
  .zuc-featured-content.--text
    .zuc-title-container.flex
      h4
        |#{subheading}
      .zuc-title-flag
        .--red
    h5.zuc-home-inspired-section--heading.u-font-serif.u-zuc-indigo
      |#{title}
    img.d-green-waves(src='../../assets/images/graphics/graphic_zigzag_green.svg' alt='Decorative lines')
  .zuc-home-inspired-section--right.flex.flex-column.flex-hor-center
    .zuc-home-inspired-section--icons.flex.flex-hor-around.flex-vert-start.zuc-hp-icon
      .zuc-hp-icon.--hp-inspired-icons
        img.icon-img(src='../../assets/images/icons/icon-non-toxic.svg' alt='Non-Toxic')
        p.u-bold.u-uppercase
          | Non-Toxic
      .zuc-hp-icon.--hp-inspired-icons
        img.icon-img(src='../../assets/images/icons/icon-clinically-tested.svg' alt='Clinically Tested')
        p.u-bold.u-uppercase
          |Clinically Tested
      .zuc-hp-icon.--hp-inspired-icons
        img.icon-img(src='../../assets/images/icons/icon-animal.svg' alt='Not Tested on Animals')
        p.u-bold.u-uppercase
          | Not Tested on Animals
    p.zuc-home-inspired-section--copy.u-light
      |#{text}
    a.zuc-btn.zuc-btn-secondary(href="smarter-home-products.html" title="See our selection of Smarter Home Products")
      |#{button}
