- var title = 'Protect your home with a Smarter Living Plan.'
- var subheading = 'Convenient'
- var text = 'When major appliances malfunction; your furniture becomes stained or accidentally damaged, or your home comfort systems don’t operate the way they should, then a Smarter Living Plan from Zucora Home can help remove the stress of managing your home while protecting your budget from unexpected repairs. A Smarter Living Plan provides peace of mind with our priority service delivered by our national network of trained, qualified professionals.'
- var button = 'Learn More'

section.zuc-home-customized-section.flex-vert-center.u-section-spacing
  .zuc-featured-content.--text
    .zuc-title-container.flex
      h4
        |#{subheading}
      .zuc-title-flag
        .--green
    h3.u-font-serif.u-zuc-indigo
      |#{title}
    p
      |#{text}
    a.zuc-btn.zuc-btn-secondary(href="service-plans.html" title="See all of our service plans")
      |#{button}

  .zuc-home-customized-section--graphic-section.flex.flex-hor-between.flex-vert-center
    .zuc-hp-icon.--hp-icon-base
      img.icon-img(src='../../assets/images/icons/icon-tech-network.svg' alt='Technician Network')
      p.u-bold.u-uppercase
        |Technician Network
    .zuc-hp-icon.--hp-icon-base
      img.icon-img(src='../../assets/images/icons/icon-premium-pricing.svg' alt='Premium Pricing')
      p.u-bold.u-uppercase
        |Earn Rewards
    .zuc-hp-icon.--hp-icon-base
      img.icon-img(src='../../assets/images/icons/icon-24-7-service.svg' alt='Solutions Team')
      p.u-bold.u-uppercase
        |Solutions Team
    .zuc-hp-icon.--hp-icon-base
      img.icon-img(src='../../assets/images/icons/icon-fast-service.svg' alt='Rapid Response')
      p.u-bold.u-uppercase
        |Rapid Response
