- var title = 'Protect your home and budget with a Smarter Living Plan'
- var subheading = 'Customized'
- var text = 'When furniture accidents happen; major appliances fail, or your home comfort systems need repair, the Smarter Living Plan will help remove the stress and reduce the financial burden.'
- var button = 'Choose a Service Plan.'

section.zuc-home-customized-section--wrapper
  .zuc-home-customized-section--text-section.flex.flex-column
    h4.zuc-home-customized-section--subheading.u-uppercase
      |#{subheading}
    h2.zuc-home-customized-section--heading.u-uppercase
      |#{title}
    .zuc-home-customized-section--copy
      |#{text}
    a.zuc-btn.zuc-btn-secondary.u-uppercase(href="#" title="todo")
      |#{button}
  .zuc-home-customized-section--graphic-section.flex.flex-hor-center
    img.photo(src='https://via.placeholder.com/1000x800' alt='')


