- var aboutBlurb = 'Since 1979, we’ve been passionate about serving Canadians with innovative home convenience solutions. By combining our people, professional services and technology, we deliver smarter living solutions designed for today’s busy families and tomorrow’s digitally connected homes.Our unique service and replacement programs help remove the stress of home management by caring for your appliances, furniture, and home systems while our innovative home and lifestyle products deliver complete comfort and convenience!';

section.zuc-about-section.flex
  img.zuc-pear-blob(src="../../assets/images/shapes/round-blob-half-solid.svg", alt="A pear shaped abstract blob")
  .zuc-about-img-box.flex
    img(src="../../assets/images/shared/laughing-family.png", alt="A laughing family")
  .zuc-about-text-box.flex.flex-column.u-soft-shadow
    h2.u-font-serif.u-zuc-indigo
      |Canada’s smarter living company.
    p.u-zuc-darkindigo
      |#{aboutBlurb}

    .zuc-hp-about-icons.flex.flex-hor-start.flex-vert-start
      .--home-pg-icon.--about-icons
        img.icon-img(src='../../assets/images/icons/icon-experienced.svg' alt='Experienced')
        p.u-bold.u-uppercase
          |Experienced
      .--home-pg-icon.--about-icons
        img.icon-img(src='../../assets/images/icons/icon-nationwide.svg' alt='Nationwide')
        p.u-bold.u-uppercase
          |Nationwide
      .--home-pg-icon.--about-icons
        img.icon-img(src='../../assets/images/icons/icon-guaranteed.svg' alt='Guaranteed')
        p.u-bold.u-uppercase
          |Guaranteed

    a.zuc-btn.zuc-btn-secondary(href="about.html" title="About Us")
      |ABOUT US
