- var title = 'A smarter way to manage your home.'
- var subheading = 'Intelligent'
- var text = 'With Smarter Home Control from Zucora Home, you gain the power of managing your home lighting, climate, entertainment, and security right in the palm of your hand. One Home – One App. Our smart, easy-to-use mobile app gives you complete control over today’s digital home devices and will help you manage tomorrow’s smart home appliances.'
- var button = 'Get Connected'

section.zuc-featured.flex.flex-wrap
  .zuc-featured-content.--text
    .zuc-title-container.flex
      h4
        |#{subheading}
      .zuc-title-flag
        .--green
    h3.u-font-serif.u-zuc-indigo
    p
      |#{text}
    a.zuc-btn.zuc-btn-secondary(href="#" alt="TODO")
      |#{button}
    .d-grey-slash
      img.--image(src='../../assets/images/graphics/graphic_slash_grey.svg' alt='Decorative grey slashes.')
  .zuc-featured-graphic.flex.flex-hor-center
    .--img-wrapper
      img.phone-img(src='../../assets/images/homepage/connected-phone.png' alt="Image of cell phone with Smarter Living App")
      img.photo(src='../../assets/images/homepage/women-onphone.png' alt='Woman browsing her cell phone while drinking from a mug')
      .zuc-featured--app-icons.flex.flex-row
        a(href="#" title="todo")
          img.badge(src='../../assets/images/homepage/google-play-badge.png')
        a(href="#" title="todo")
          img.badge(src='../../assets/images/homepage/app-store-badge.png')
    img.zuc-blob(src='../../assets/images/shapes/round-blob-solid.svg' alt='Decorative gradient image in background')
