-
  var howContent = [
    'The Smarter Living Plan provides the most comprehensive service coverage available because it extends to all aspects of your home: furniture, major appliances, and home-comfort systems. The bundle options allow you to customize your plan to fit your needs and budget; and the low monthly subscription fee gives you the coverage you want immediately without big, upfront costs.',
    'Exclusive to Zucora Home Smarter Living Members, you earn rewards with your monthly subscription and for purchases of ZU Collection, PureCare items, and Zucora Home care kits. These valuable Smarter Living Rewards can be redeemed when purchasing Zucora Home Smarter Living products online or converted into gift certificates for purchasing new home furnishings or appliances from our retail partners.',
    'When furniture accidents happen, major appliances fail, or your essential home-comfort systems need repair we’re here when you need us to help relieve the stress associated with these inevitable challenges.'
  ]
section.zuc-smarter-how.flex.flex-wrap
  .zuc-smarter-how-l
    h2.u-font-serif.u-zuc-indigo
      |How does it work?
    h4.u-zuc-darkindigo
      |SELECT YOUR COVERAGE
    p
      |#{howContent[0]}
    .zuc-blue-bar
    h4.u-zuc-darkindigo
      |EARN REWARDS
    p
      |#{howContent[1]}
    .zuc-blue-bar
    h4.u-zuc-darkindigo
      |WE'RE HERE 24/7
    p
      |#{howContent[2]}
    .zuc-blue-bar
  .zuc-smarter-how-r
    img(src="../../assets/images/smarter-parent/couple-withdog.png", alt="TODO")
    img(src="", alt="TODO")