section.zuc-section-container.--sides
  h1
    |Orders & Returns
  .zuc-head-blurb
    p
      |Please submit the information requested below and a Solutions Team member will be in touch with details about your order.
  .zuc-forms-container.flex.flex-column
    form.flex.flex-column(action="")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |Order ID
          input(type="text" data-required name="order-id" placeholder="Order ID")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |Billing Last Name
          input(type="text" data-required name="billing-lastname" placeholder="Billing Last Name")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |Find Order By
          .zuc-select-container
            select(required name="find-order" placeholder="Drop Down Here")
              option(value="" disabled selected)
                |Drop Down Here
              option(value="byemail")
                |Email Address
              option(value="bypostal")
                |Postal Code
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |Email Address
          input(type="email" data-required name="email" placeholder="Email Address")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |Order Information
          input(type="text" data-required name="orderinfo" placeholder="Order Information")
      .zuc-form-action
        button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad.u-soft-shadow(type="submit")
          strong
            span SUBMIT
