.zuc-section-container
  .zuc-content-header-container
    h1
      |Orders & Returns
    p
      |For updates or questions about your order, fill out the form below. A representative will get back to you soon on your order status.
  .zuc-forms-container.flex.flex-column
    form.flex.flex-column(action="")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |ORDER ID
          input(type="text" data-required name="order-id" placeholder="Order ID")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |BILLING LAST NAME
          input(type="text" data-required name="billing-lastname" placeholder="Billing Last Name")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |FIND ORDER BY
          .zuc-select-container
            select(required name="find-order" placeholder="Drop Down Here")
              option(value="" disabled selected)
                |Drop Down Here
              option(value="foo")
                |Earth
              option(value="bar")
                |Wind
              option(value="baz")
                |Fire
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |EMAIL ADDRESS
          input(type="email" data-required name="email" placeholder="Email Address")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |ORDER INFORMATION
          input(type="text" data-required name="orderinfo" placeholder="Order Information")
      .zuc-form-action.flex.flex-hor-center
        button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad.u-soft-shadow(type="submit")
          strong
            span SEND
