.zuc-section-container
  .zuc-content-header-container
    h1
      |Request Service
    p
      |Please complete the form below and one of our representatives will get back to you as soon as possible.
  .zuc-forms-container.flex.flex-column
    form.flex.flex-column(action="")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |FIRST & LAST NAME *
          input(type="text" data-required name="fullname" placeholder="First & Last Name")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |EMAIL ADDRESS *
          input(type="email" data-required name="email" placeholder="Email Address")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |HOME PHONE NUMBER *
          input(type="tel" data-required name="homephone" placeholder="Home Phone Number")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |CELL PHONE NUMBER *
          input(type="tel" data-required name="cellphone" placeholder="Cell Phone Number")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |STREET ADDRESS
          input(type="text" name="address" placeholder="Street Address")
      .zuc-form-row
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |CITY
          input(type="text" name="city" placeholder="City")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |PROVINCE
          input(type="text" name="province" placeholder="Province")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |ZIP/POSTAL CODE
          input(type="text" name="zippostal" placeholder="Zip/Postal Code")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |RETAILER
          input(type="text" name="retailer" placeholder="Retailer")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |PRODUCT CODE
          .zuc-select-container
            select(required name="producttype")
              option(value="" disabled selected)
                |Drop Down Here
              option(value="foo")
                |Earth
              option(value="bar")
                |Wind
              option(value="baz")
                |Fire
      .zuc-form-row
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |SPECIFIC ITEM
          input(type="text" name="specificitem" placeholder="Specific Item (Sofa, Fridge, etc.)")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |DATE PURCHASED (YYYY-MM-DD)
          input(type="text" name="purchasedate" placeholder="Date Purchased")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |ORDER ID
          input(type="text" name="orderid" placeholder="Order ID")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |DESCRIPTION OF ISSUE
          input(type="text" name="issuedesc" placeholder="Description of Issue")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |HOW DID THE ISSUE HAPPEN?
          input(type="text" name="issuehow" placeholder="How did the issue happen?")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |WHEN DID THE ISSUE OCCUR? (YYYY-MM-DD)
          input(type="tel" name="issuewhen" placeholder="Date when issue occured")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |HAVE YOU DONE ANYTHING TO TRY CORRECTING THE ISSUE?
          .zuc-radio-group-container
            .zuc-radio-group
              input(type="radio" id="zuc-effort-yes" name="effort" value="Yes")
              label(for="zuc-effort-yes")
                |Yes
            .zuc-radio-group
              input(type="radio" id="zuc-effort-no" name="effort" value="No")
              label(for="zuc-effort-no")
                |No
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |PLEASE UPLOAD YOUR INVOICE AND/OR ANY PICTURES.
          input.zuc-btn.zuc-btn-primary.zuc-btn-browse(type="button" name="issuedesc" value="Browse...")
      .zuc-form-action
        button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad.u-soft-shadow(type="submit")
          strong
            span SEND
