-
  var headBlurb = [
    "Since 1979, Zucora Home has been working with Canadians from coast to coast to help solve problems when furniture accidents happen or major appliances fail.<br/>Please complete as much information as you can on the Service Request before submitting it. This detail will help our Solutions Team gather information about your plan before calling you. The questions you are asked help us to determine the right solution for you quickly because we'll better understand if one of our special-forumulated products will restore your furniture, a service technician should be sent to your home, or if there is another appropriate solution.<br/>You can expect to hear from our Solutions Team within 24 business hours following your request."
  ]

section.zuc-section-container.--sides
  h1
    |Request Service
  .zuc-head-blurb
    p
      |!{headBlurb}
  .zuc-forms-container.flex.flex-column
    form.flex.flex-column(action="")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |FIRST & LAST NAME *
          input(type="text" data-required name="fullname" placeholder="First & Last Name")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |EMAIL ADDRESS *
          input(type="email" data-required name="email" placeholder="Email Address")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |PHONE NUMBER *
          input(type="tel" data-required name="phone" placeholder="Home Phone Number (At Time Of Purchase)")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |CURRENT PHONE NUMBER
          input(type="tel" name="currentphone" placeholder="Current Phone Number (If Different)")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |STREET ADDRESS
          input(type="text" name="address" placeholder="Street Address")
      .zuc-form-row
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |CITY
          input(type="text" name="city" placeholder="City")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |PROVINCE
          input(type="text" name="province" placeholder="Province")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |ZIP/POSTAL CODE
          input(type="text" name="zippostal" placeholder="Zip/Postal Code")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |RETAILER
          input(type="text" name="retailer" placeholder="Retailer")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |PRODUCT CODE
          .zuc-select-container
            select(required name="producttype")
              option(value="" disabled selected)
                |Drop Down Here
              option(value="foo")
                |Earth
              option(value="bar")
                |Wind
              option(value="baz")
                |Fire
      .zuc-form-row
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |SPECIFIC ITEM
          input(type="text" name="specificitem" placeholder="Specific Item (Sofa, Fridge, etc.)")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |DATE PURCHASED (YYYY-MM-DD)
          input(type="text" name="purchasedate" placeholder="Date Purchased")
        .zuc-form-group.zuc-form-33
          .zuc-input-name
            strong
              |ORDER ID
          input(type="text" name="orderid" placeholder="Order ID")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |DESCRIPTION OF ISSUE
          input(type="text" name="issuedesc" placeholder="Description of Issue")
      .zuc-form-row
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |HOW DID THE ISSUE HAPPEN?
          input(type="text" name="issuehow" placeholder="How did the issue happen?")
        .zuc-form-group.zuc-form-50
          .zuc-input-name
            strong
              |WHEN DID THE ISSUE OCCUR? (YYYY-MM-DD)
          input(type="tel" name="issuewhen" placeholder="Date when issue occured")
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |HAVE YOU DONE ANYTHING TO TRY CORRECTING THE ISSUE?
          .zuc-radio-group-container
            .zuc-radio-group
              input(type="radio" id="zuc-effort-yes" name="effort" value="Yes")
              label(for="zuc-effort-yes")
                |Yes
            .zuc-radio-group
              input(type="radio" id="zuc-effort-no" name="effort" value="No")
              label(for="zuc-effort-no")
                |No
      .zuc-form-row
        .zuc-form-group
          .zuc-input-name
            strong
              |PLEASE UPLOAD YOUR INVOICE AND/OR ANY PICTURES.
          input.zuc-btn.zuc-btn-primary.zuc-btn-browse(type="button" name="issuedesc" value="Browse...")
      .zuc-form-action
        button.zuc-btn.zuc-btn-secondary.zuc-btn-xpad.u-soft-shadow(type="submit")
          strong
            span SEND
