//-
  Review Component
  AW - 120918

- var quote = 'Just a quick thank you for your professionalism. Our technician explained the process before he began and impressed us with his friendly manner. I will recommend your services to friends and  family. Truly a satisfied customer.'
- var author = 'JASON H.'
- var cta = 'See what our customers say'

section.zuc-review-section.flex.flex-column.flex-vert-center.u-section-spacing
  .zuc-review-container.flex.flex-column.flex-vert-center
    .zuc-quote-container.flex.flex-column.flex-vert-center.u-soft-shadow
      .zuc-quote-badge-container.flex.flex-vert-center.flex-hor-center.u-soft-shadow
        img(src='../../assets/images/icons/icon-quote.svg')
      .zuc-quote-text.u-zuc-darkindigo
        p
          |#{quote}
      .zuc-stars-container.flex.flex-row.flex-space-around
        img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
        img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
        img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
        img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
        img.zuc-star(src='../../assets/images/icons/icon-star.svg' alt='A small purple star')
      p.zuc-quote-author.u-bold.u-zuc-darkindigo
        |— #{author}
      a.zuc-quote-button.zuc-right.u-soft-shadow.flex.flex-vert-center.flex-hor-center(href='#')
        img(src='../../assets/images/icons/icon-arrow.svg' alt='A small white arrow symbol pointing right')
      a.zuc-quote-button.zuc-left.u-soft-shadow.flex.flex-vert-center.flex-hor-center(href='#')
        img.u-imgflip-hor(src='../../assets/images/icons/icon-arrow.svg' alt='A small white arrow symbol pointing left')
    .zuc-floating-container.u-soft-shadow
      h3.u-color-white.u-font-serif
        |!{cta}
      a.zuc-btn.zuc-btn-hollow.u-soft-shadow(href='#')
        |READ ALL REVIEWS
