- var title = 'Choose the service plan that\'s right for you.'
- var text = 'A Smarter Living Plan is customized by you to fit your lifestyle and budget and the monthly subscription fee gives you the coverage you want immediately without big upfront costs. '
- var button = 'See all plans'
- var tagline = 'Breakdowns will happen... one plan has you covered.'

section.zuc-service-plan-hero--wrapper
  .zuc-service-plan-hero--text-section.flex.flex-column
    h4.zuc-service-plan-hero--heading
      |#{title}
    .zuc-service-plan-hero--copy
      |#{text}
    p.zuc-service-plan-hero--tagline.u-bold
      |#{tagline}
    .zuc-service-plan-hero--btn
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |#{button}
  .zuc-service-plan-hero--graphic-section.flex.flex-hor-center
    img.photo(src='../../assets/images/service-plans/serviceman-washingmachine.png' alt='todo')

