h5.zuc-custom-plan--header.flex-vert-start
  |Customize the plan to fit your needs and budget:

section.zuc-custom-plan--container.flex
  a.zuc-custom-plan.u-soft-shadow.--overlay.--o-concrete(href="#")
    .zuc-custom-plan--title
      span.zuc-custom-plan--title--vertical-text.u-uppercase
        | Whole home plan
    .zuc-custom-plan--box
      img.photo(src='../../assets/images/service-plans/appliances.png' alt='Home Appliances')
      .photo-text
        | Appliances
      .plus-icon
    .zuc-custom-plan--box
      img.photo(src='../../assets/images/service-plans/home-furnishing.png' alt='Home Furnishings')
      .photo-text
        | Home Furnishings
      .plus-icon
    .zuc-custom-plan--box
      img.photo(src='../../assets/images/service-plans/home-systems.png' alt='Home Systems')
      .photo-text
        | Home Systems

section.zuc-custom-plan--container.flex
  .zuc-custom-plan.u-soft-shadow
    .zuc-custom-plan--title
      span.zuc-custom-plan--title--vertical-text.u-uppercase
        | Single Plans
    a.zuc-custom-plan--box.--overlay.--o-concrete(href="#")
      img.photo(src='../../assets/images/service-plans/furniture.png' alt='Love seat')
      .photo-text
        | Furniture
      .or-icon
    a.zuc-custom-plan--box.--overlay.--o-concrete(href="#")
      img.photo(src='../../assets/images/service-plans/appliances-fridge.png' alt='Fridge')
      .photo-text
        | Appliances
      .or-icon
    a.zuc-custom-plan--box.--overlay.--o-concrete(href="#")
      img.photo(src='../../assets/images/service-plans/home-systems-ac.png' alt='Air-conditioner')
      .photo-text
        | Home Systems

section.zuc-custom-plan--container.flex
  .zuc-custom-plan.u-soft-shadow
    .zuc-custom-plan--title
      span.zuc-custom-plan--title--vertical-text.u-uppercase
        | Combo Plans
    a.zuc-custom-plan--box.--overlay.--o-concrete(href="#")
      img.photo(src='../../assets/images/service-plans/furniture-appliances.png' alt='Loveseat and fridge')
      .photo-text
        | Furniture + Appliances
      .or-icon
    a.zuc-custom-plan--box.--overlay.--o-concrete(href="#")
      img.photo(src='../../assets/images/service-plans/furniture-home-systems.png' alt='Loveseat and Air-conditioner')
      .photo-text
        | Furniture + Home Systems
      .or-icon
    a.zuc-custom-plan--box.--overlay.--o-concrete(href="#")
      img.photo(src='../../assets/images/service-plans/home-systems-appliances.png' alt='Air-conditioner and Fridge')
      .photo-text
        | Home Systems + Appliances
  .u-soft-shadow
    a.zuc-box-link(href="#")
