.zuc-service-plans-box.flex.flex-wrap.flex-hor-center
  .zuc-service-title-box.u-soft-shadow.flex.flex-column.flex-vert-start
    h4
      |SERVICE PLANS
  .zuc-bundle-box.flex.flex-hor-center.flex-vert-center
    h3.u-font-serif.u-text-shadow.u-color-white
      |Whole Home Bundle
  .zuc-furniture-box.flex.flex-vert-end.flex-hor-center
    h3.u-font-serif.u-text-shadow.u-color-white
      |Furniture Plan
  .zuc-appliance-box.flex.flex-vert-end.flex-hor-center
    h3.u-font-serif.u-text-shadow.u-color-white
      |Appliance Plan
  .zuc-home-box.flex.flex-vert-end.flex-hor-center
    h3.u-font-serif.u-text-shadow.u-color-white
      |Home Systems Plan
  .zuc-combo-box.flex.flex-hor-center.flex-vert-center
    h3.u-font-serif.u-text-shadow.u-color-white
      |Whole Home Combo