.zuc-service-plans-box.flex.flex-wrap.flex-hor-center
  .zuc-service-box.--title.u-soft-shadow.flex-column.flex-vert-start
    h4
      |SERVICE PLANS
  .zuc-service-box.--bundle.flex-vert-center
    h3.u-font-serif.u-text-shadow.u-color-white
      |Whole Home Bundle
  .zuc-service-box.--triple.flex-vert-end
    h3.u-font-serif.u-text-shadow.u-color-white
      |Furniture Plan
  .zuc-service-box.--triple.flex-vert-end
    h3.u-font-serif.u-text-shadow.u-color-white
      |Appliance Plan
  .zuc-service-box.--triple.flex-vert-end
    h3.u-font-serif.u-text-shadow.u-color-white
      |Home Systems Plan
  .zuc-service-box.--combo.flex-vert-center
    h3.u-font-serif.u-text-shadow.u-color-white
      |Whole Home Combo
    img(src="../../assets/images/smarter-living/interior-house.png", alt="The living room of a house")