.zuc-service-plans-box.flex.flex-wrap.flex-hor-center
  .zuc-service-box.--title.u-soft-shadow.flex-column.flex-vert-start
    h4
      |SERVICE PLANS
  .zuc-service-box.--bundle.flex-vert-center.--overlay.--o-indigo
    h3.u-font-serif.u-text-shadow.u-color-white
      |Whole Home Bundle
    img(src="../../assets/images/smarter-living/streetview-house.png", alt="The front of a house")
  .zuc-service-box.--triple.flex-vert-end.--overlay.--o-darkindigo
    h3.u-font-serif.u-text-shadow.u-color-white
      |Furniture Plan
    img(src="../../assets/images/smarter-living/girl-jumping-couch.png", alt="A young girl sitting on a bed")
  .zuc-service-box.--triple.flex-vert-end.--overlay.--o-darkindigo
    h3.u-font-serif.u-text-shadow.u-color-white
      |Appliance Plan
    img(src="../../assets/images/smarter-living/mom-daughter-laundry.png", alt="A mother and daughter doing laundry")
  .zuc-service-box.--triple.flex-vert-end.--overlay.--o-darkindigo
    h3.u-font-serif.u-text-shadow.u-color-white
      |Home Systems Plan
    img(src="../../assets/images/smarter-living/hvac.png", alt="An exterior view of an HVAC system")
  .zuc-service-box.--combo.flex-vert-center.--overlay.--o-salmon
    h3.u-font-serif.u-text-shadow.u-color-white
      |Whole Home Combo
    img(src="../../assets/images/smarter-living/interior-house.png", alt="The living room of a house")
