h5.zuc-custom-plan--header.zuc-custom-plan--container.flex-vert-start
  |Customize the plan to fit your needs and budget:

section.zuc-custom-plan--container
  .zuc-custom-plan.u-soft-shadow
    .zuc-custom-plan--title
      span.zuc-custom-plan--title--vertical-text.u-uppercase
        | Whole home plan
    .zuc-custom-plan--box
      img(src='http://placekitten.com/200/200' alt='todo')
    .zuc-custom-plan--box
      img(src='http://placekitten.com/200/200' alt='todo')
    .zuc-custom-plan--box
      img(src='http://placekitten.com/200/200' alt='todo')

section.zuc-custom-plan--container.flex
  .zuc-custom-plan.u-soft-shadow
    .zuc-custom-plan--title
      span.zuc-custom-plan--title--vertical-text.u-uppercase
        | Single Plans
    .zuc-custom-plan--box
      img(src='http://placekitten.com/200/200' alt='todo')
    .zuc-custom-plan--box
      img(src='http://placekitten.com/200/200' alt='todo')
    .zuc-custom-plan--box
      img(src='http://placekitten.com/200/200' alt='todo')

section.zuc-custom-plan--container.flex
  .zuc-custom-plan.u-soft-shadow
    .zuc-custom-plan--title
      span.zuc-custom-plan--title--vertical-text.u-uppercase
        | Combo Plans
    .zuc-custom-plan--box
      img(src='http://placekitten.com/200/200' alt='todo')
    .zuc-custom-plan--box
      img(src='http://placekitten.com/200/200' alt='todo')
    .zuc-custom-plan--box
      img(src='http://placekitten.com/200/200' alt='todo')
  .u-soft-shadow
    a.zuc-box-link(href="#")

//- reference only -- delete delete
section.zuc-service-plans-box.flex.flex-wrap.flex-hor-center
  .zuc-service-box.--title.u-soft-shadow.flex-column.flex-vert-start
    .zuc-title-container.flex.flex-vert-start
      h4.u-normal
        |SERVICE PLANS
    h3.u-font-serif.u-zuc-indigo
      |Choose your plan
    p.u-zuc-darkindigo
      |The Smarter Living Plan bundle options allow you to customize your plan to fit your needs and budget; and the low monthly subscription fee gives you the coverage you want immediately without big upfront costs.
    a.zuc-btn.zuc-btn-secondary(href="#")
      |SELECT YOUR COVERAGE
  .zuc-service-box.--bundle.flex-vert-center.--overlay.--o-indigo.u-soft-shadow
    a.zuc-box-link(href="#")

