.zuc-service-plans-box.flex.flex-wrap.flex-hor-center
  .zuc-service-title-box
    h4
      |SERVICE PLANS
  .zuc-bundle-box
    h3.u-font-serif
      |Whole Home Bundle
  .zuc-furniture-box
    h3.u-font-serif
      |Furniture Plan
  .zuc-appliance-box
    h3.u-font-serif
      |Appliance Plan
  .zuc-home-box
    h3.u-font-serif
      |Home Systems Plan
  .zuc-combo-box
    h3.u-font-serif
      |Whole Home Combo