//- 
  Testimonial Component
  AW - 120918

- var quote = 'Just a quick thank you for your professionalism. Our technician explained the process before he began and impressed us with his friendly manner. I will recommend your services to friends and  family. Truly a satisfied customer.'
- var author = 'JASON H.'
.testimonial-container.flex.flex-hor-center
  .quote-container
    .cta-container
      span.cta-text See what our most satisfied customers say
      a.read-more-button READ ALL REVIEWS
    p.quote-text #{quote}
    span.quote-author — #{author}
    .quote-button.next
    .quote-button.previous