//- 
  Testimonial Component
  AW - 120918

- var quote = 'Just a quick thank you for your professionalism. Our technician explained the process before he began and impressed us with his friendly manner. I will recommend your services to friends and  family. Truly a satisfied customer.'
- var author = 'JASON H.'
.zuc-testimonial-section.flex.flex-hor-center
  .zuc-quote-container.flex.flex-column.flex-vert-center.flex-hor-center
    .zuc-quote-badge-container.flex.flex-vert-center.flex-hor-center
      img.zuc-quote-badge-icon(src='../../assets/images/testimonial/icon-quote-white.svg')
    p.zuc-quote-text #{quote}
    span.zuc-quote-author — #{author}
    .zuc-cta-container
      span.zuc-cta-text See what our most satisfied customers say
      .zuc-read-more-button-continer.flex.flex-vert-center.flex-hor-center
        a.zuc-read-more-button(href='#') READ ALL REVIEWS
    .zuc-quote-button.zuc-next
    .zuc-quote-button.zuc-previous