- var blurbtext = 'Discover our safe, toxin-free household products from our complete ZU Collection. You\'ll find them easy-to-use and perfectly designed to keep your home smelling clean and fresh. Proudly Canadian-made and delivered right to your door!'

.zuc-ec-cat-blurb
  span.zuc-ec-blurb-text
    |!{blurbtext}
