.zuc-ec-cat-catlinks
  img.zuc-ec-catlinks-bgshape(src="../../assets/images/shapes/wave-shape-bottom-flat.svg", alt="A grey wave shape")
  +ecom-header-underlined('Shop innovative products')
  include ../shared/_catlinks.pug
