-
  var boxes = [
    {
      title: 'Smarter Living Plans',
      subtitle: 'Protect your home and budget',
      style: 'background-image:url(\'./images/shared/man-tool-bag.png\');'
    },
    {
      title: 'PureCare',
      subtitle: 'a safe haven for a sound sleep',
      style: 'background-image:url(\'./images/smarter-products/hero-family-kitchen.png\');'

    },
    {
      title: 'Furniture Care',
      subtitle: 'clean. restore. maintain.',
      style: 'background-image:url(\'./images/shared/happy-family-livingroom.png\');'
    }
  ]

.zuc-ec-cat-links
  img.zuc-ec-links-bgshape(src="../../assets/images/shapes/wave-shape-bottom-flat.svg", alt="A grey wave shape")
  +ecom-header('Shop')
  .zuc-ec-links-boxes
    each box in boxes.length ? boxes : [' No links to display']
      a.zuc-ec-links-box(href="#" title="#")
        .zuc-ec-links-box-image(style=box.style)
        h5.zuc-ec-links-box-subtitle
          |!{box.subtitle}
        h3.zuc-ec-links-box-title
          |!{box.title}
