.zuc-ec-home-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  padding: 0 0 vw-phone(40);

  @media #{$tablet-only} {
    padding: 0 0 vw-tablet(60);
  }

  @media #{$laptop-up} {
    padding: 0 0 vw-desktop(80);
  }
}

.zuc-ec-home-header-bg {
  position: absolute;
  z-index: -5;
  width: 100%;
  top: 0;
  left: -2px;

  @media #{$tablet-up} {
    width: 200%;
    top: -50%;
    left: -99%;
  }

  @media #{$laptop-up} {
    width: 102%;
    left: -2px;
  }
}

.zuc-ec-home-header-card-container {
  position: relative;
  z-index: 2;
  margin-bottom: 10vw;

  @media #{$portrait} {
    margin-bottom: 20vw;
  }
}

.zuc-ec-home-header-card {
  display: flex;
  flex-direction: column;
  background: $color-pure-white;
  box-shadow: 0 23px 40px 0 rgba(12, 12, 12, .2);
  margin: 5vw;
  width: 90%;
  position: absolute;
  opacity: 0;
  transition: all .5s;

  @media #{$tablet-only} {
    margin: vw-tablet(80) 8.5vw vw-tablet(25);
    flex-direction: column;
    justify-content: center;
    width: 85%;
  }

  @media #{$laptop-up} {
    margin: vw-desktop(100) 16vw vw-desktop(25);
    flex-direction: row;
    width: 70%;
  }

  &.--active-slide {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.zuc-ec-home-slider-container {
  padding-top: 0;
}

.zuc-ec-home-slider-selector {
  border: 3px solid $color-zuc-concrete;
  width: 20vw;
  margin-top: 1.25vw;
  margin-bottom: 1vw;
  cursor: pointer;

  @media #{$phone-only} {
    border-width: 1px;
  }

  &.--active {
    border-color: $color-zuc-indigo;
  }
}
