//- TODO: Make this pull in all info via JS since it all changes based on the action-zone step context - AW
.zuc-ec-plan-action-zone-container
  img.zuc-ec-action-zone-bg-img(src="../../assets/images/shapes/comfort-blob.svg", alt="An abstract blob shape")
  // Plan Action Zone Module
  .zuc-ec-plan-action-zone
    // Action Zone Left Section
    .zuc-ec-action-zone-left
      // Action Zone CTA Box
      .zuc-ec-action-zone-cta-box
        span.zuc-ec-action-zone-cta-step
          |STEP 2
        h2.zuc-ec-action-zone-cta-title
          |Make it a combo:
        p.zuc-ec-action-zone-cta-blurb
          |Add a second plan to save up to $30/month:
      // Action Zone Control Box - Desktop
      .zuc-ec-action-zone-control-box-desktop
        span
          |zuc-ec-action-zone-control-box-desktop
    // Action Zone Right Section
    .zuc-ec-action-zone-right
      // Action Zone Column
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/smarter-products/hero-zu-prodcts.png', alt='todo')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Appliances Coverage:
          ul.zuc-ec-action-zone-info-list
            li
              |lorem
            li
              |lorem
            li
              |lorem
            li
              |lorem
            li
              |lorem
            li
              |lorem
            li
              |lorem
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          span
            |zuc-ec-action-zone-bumper-box
      // Action Zone Column
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/smarter-products/hero-zu-prodcts.png', alt='todo')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Furniture Coverage:
          ul.zuc-ec-action-zone-info-list
            li
              |lorem
            li
              |lorem
            li
              |lorem
            li
              |lorem
            li
              |lorem
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          span
            |zuc-ec-action-zone-bumper-box
      // Action Zone Column
      .zuc-ec-action-zone-info-col
        // Action Zone Info Box Image
        .zuc-ec-action-zone-image-box
          img(src='../../assets/images/smarter-products/hero-zu-prodcts.png', alt='todo')
        // Action Zone Info Box
        .zuc-ec-action-zone-info-box
          h4.zuc-ec-action-zone-info-title
            |Home Systems Coverage:
          ul.zuc-ec-action-zone-info-list
            li
              |lorem
            li
              |lorem
            li
              |lorem
            li
              |lorem
            li
              |lorem
        // Action Zone Info Bumper Box
        .zuc-ec-action-zone-bumper-box
          span
            |zuc-ec-action-zone-bumper-box
    // Action Zone Control Box - Small Screens
    .zuc-ec-action-zone-control-box-small
      span
          |zuc-ec-action-zone-control-box-small
    // Action Zone Share Box
    .zuc-ec-action-zone-share-box
      span
          |zuc-ec-action-zone-share-box
