.zuc-about-section {
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 0 8vw 300px;
  margin-top: 250px;

  @media #{$laptop-up} {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

// TODO AW 20180927
.zuc-pear-blob {
  position: absolute;
  top: -592px;
  left: 0;
  max-width: 582px;
  z-index: -99;
}

.zuc-about-img-box {
  max-width: 669px;
  width: 84vw;

  @media #{$laptop-up} {
    width: 34vw;
  }
}

.zuc-about-text-box {
  background-color: $bkg-light-grey;
  width: 84vw;
  padding: 10vw 13vw 8vw 10vw;

  @media #{$tablet-only} {
    max-width: 669px;
    padding: 8vw 6.8vw 6vw 8vw;
  }

  @media #{$laptop-up} {
    max-width: none;
    width: 47vw;
    margin: auto 0;
    padding: 3.25vw 5vw 2vw 2.4vw;
  }

  p {
    margin-bottom: 5vw;

    @media #{$laptop-up} {
      margin-bottom: 2vw;
    }
  }

  a {
    text-align: center;
    width: 45vw;

    @media #{$tablet-only} {
      width: 24vw;
    }

    @media #{$laptop-only} {
      width: 14vw;
    }

    @media #{$desktop-up} {
      width: 10vw;
    }
  }
}