.zuc-about-section {
  flex-direction: column;
  position: relative;

  @media #{$laptop-up} {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8% 300px;
    margin-top: 250px;
  }
}

.zuc-pear-blob {
  position: absolute;
  top: -592px;
  left: 0;
  max-width: 582px;
  z-index: -99;
}

.zuc-about-img-box {
  width: 100%;

  @media #{$laptop-up} {
    max-width: 669px;
  }
}

.zuc-about-text-box {
  width: 100%;

  @media #{$laptop-up} {
    width: 46vw;
    margin: auto 0;
    padding: 3.25vw 5vw 2vw 2.4vw;
  }

  p {
    margin-bottom: 2vw;
  }

  a {
    width: 10vw;
  }
}