.zuc-blog-module-container {
  padding: 1vw 6.05vw;
}

.zuc-blog-block {
  background: $color-zuc-salmon;
  height: 25vw;
  width: 22%;
  margin-right: .95vw;
}

.zuc-blog-header-block {
  background: transparent;
  margin-left: 2.27vw;

  h4 {
    margin: 0;
  }

  .zuc-title-img-container {
    margin-left: 0.8vw;
  }

  img {
    width: 3vw;
  }
}