/*----
  Contact Styles - AW 2018-09-21
-----*/

// Variable to keep consistent alignment of section items
$ss-padding: 8vw;

.zuc-contact-blurb-container {

  padding: 0 $ss-padding;
  text-align: left;

  @media #{$laptop-up} {
    padding-right: 0;
  }
}

.zuc-contact-title {
  text-align: left;
  padding-left: $ss-padding;
}

.zuc-contact-image-container {
  position: relative;
  padding-top: 0;
  max-width: none;
  display: block;
  padding-left: 8vw;

  @media #{$laptop-up} {
    padding-top: 80px;
    max-width: 700px;
    padding-left: 0;
  }

  .zuc-contact-image {
    display: none;

    @media #{$laptop-up} {
      display: block;
      width: 100%;
    }
  }

  .zuc-contact-badge {
    display: block;
    position: static;
    width: 17vw;
    margin-top: 34px;
    margin-bottom: 52px;

    @media #{$laptop-up} {
      position: absolute;
      left: 32%;
      top: 92%;
      width: 12vw;
      margin-top: 0;
      margin-bottom: 0;
    }

    @media #{$desktop-up} {
      position: absolute;
      left: 28%;
      top: 91%;
      width: 225px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.zuc-contact-forms-container {
  padding: 0 $ss-padding;

  @media #{$laptop-up} {
    padding-left: 15px;
    padding-right: $ss-padding;
  }
}
