/*----
  Contact Styles - AW 2018-09-21
-----*/

.zuc-contact-blurb-container {
  padding-left: 8.08vw;

  @media #{$portrait} {
    padding-left: 0;
    text-align: center;
  }

  .zuc-contact-subtitle {
    font-size: 18px;
  }
}

.zuc-contact-image-container {
  position: relative;
  padding-top: 4vw;
  max-width: 700px;

  @media #{$portrait} {
    padding-top: 0;
    max-width: none;
    display: flex;
    justify-content: center;
  }

  .zuc-contact-image {
    width: 100%;

    @media #{$portrait} {
      display: none;
    }
  }

  .zuc-contact-badge {
    position: absolute;
    left: 43%;
    top: 93%;
    width: 5vw;
    background: #36384b;

    @media #{$portrait} {
      display: block;
      position: static;
      width: 10vw;
      margin-bottom: 3vw;
    }
  }
}

.zuc-contact-forms-container {
  padding-right: 13.5vw;
  padding-bottom: 8.6vw;

  @media #{$portrait} {
    padding-left: 7.3%;
    padding-right: 7.3%; 
  }
}

.zuc-contact-submit-container {
  @media #{$portrait} {
    display: flex;
    justify-content: center;
  }
}

.zuc-contact-submit {
  background-color: $color-zuc-indigo;
  color: $white;
  margin-top: 5.05vw;
  padding: 35px 115px;
  font-size: 1.1vw;

  @media #{$portrait} {
    font-size: 2.7vw;
  }
}
