// Featured Content Module
.zuc-featured-2 {
  padding: 5vw 0 ( 77 / 3.2 ) * 1vw;
  width: 80%;
  margin: 0 auto;
  z-index: 9;
  position: relative;
  overflow: hidden;

  @media #{$tablet-prt-only} {
    overflow: visible;
  }

  @media #{$tablet-only} {
    padding: 3vw 0 ( 205 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    padding: 2vw 0 ( 165 / 19.2 ) * 1vw;
  }

  @media #{$phone-only} {
    width: 100%;
  }

  // Spacing Overrides
  &.--extra-pad {
    padding: ( 30 / 3.2 ) * 1vw 0 ( 30 /3.2 ) * 1vw;

    @media #{$tablet-only} {
      padding: ( 60 / 7.68 ) * 1vw 0 ( 60 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      padding: ( 154 / 19.2 ) * 1vw 0 ( 169 / 19.2 ) * 1vw;
    }
  }
}

// Featured Content
.zuc-featured-content-2 {
  width: 100%;
  margin: 0;
  padding: 0 5vw ( 90 / 3.2 ) * 1vw;

  @media #{$tablet-only} {
    padding: 0 0 ( 56 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    width: 45%;
    padding: 0 5vw 0 3vw;
  }

  @media #{$desktop-up} {
    width: 40%;
    padding: 0 5vw 0 3vw;
  }

  h3 {
    font-family: $main-font-serif;
    color: $color-zuc-indigo;
  }

  // How It Works Steps
  .zuc-featured-how-step {
    color: $color-zuc-lilac;
    font-weight: 600;
    font-size: ( 14 / 3.2 ) * 1vw;
    margin: 0 0 ( 10 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      font-size: ( 13 / 7.68 ) * 1vw;
      margin: 0 0 ( 10 / 7.68 ) * 1vw;
    }

    @media #{$tablet-prt-only} {
      font-size: ( 16 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      font-size: ( 16 / 19.2 ) * 1vw;
      margin: 0 0 ( 9 / 19.2 ) * 1vw;
    }
  }

  // List modifier for Smarter Living Parent
  &.--list {

    h4 {
      margin: 0 0 ( 10 / 3.2 ) * 1vw;

      @media #{$tablet-only} {
        margin: 0 0 ( 16/ 7.68 ) * 1vw;
      }

      @media #{$tablet-prt-only} {
        margin: 0 0 ( 11/ 7.68 ) * 1vw;
      }

      @media #{$laptop-up} {
        margin: 0 0 ( 18 / 19.2 ) * 1vw;
      }
    }
  }

  // Text modifier for Home Page and Benefits
  .zuc-btn-secondary {
    margin-top: 40px;
    margin-right: 30px;
    display: inline-block;
  }

  // Flips padding for when image is on the right
  &.--flip-order {
    @media #{$laptop-up} {
      padding: 0 3vw 0 5vw;
    }
  }

  &.--text-left {

    @media #{$desktop-up} {
      padding-right: 10%;
    }
  }
}

// Image Block
.zuc-featured-image-2 {
  width: 100%;
  justify-content: center;
  position: relative;

  @media #{$laptop-up} {
    width: 50%;
  }

  .zuc-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 26vw;
    overflow: visible;

    .zuc-img-block {
      // Background image added inline to element
      background-position: center;
      background-size: cover;
      overflow: visible;
      width: 80%;
    }
  }

  .zuc-blob {
    z-index: -3;
    width: 100%;
    @include center(both);

    @media #{$portrait} {
      left: 50%;
      width: 110%;
    }

    @media #{$desktop-up} {
      top: 50%;
    }

    @media #{$phone-only} {
      width: 190%;
    }

    @media #{$laptop-only} {
      top: 50%;
    }
  }

  .--slb-blob {
    @media #{$laptop-up} {
      top: 30%;
    }
  }
}

// Graphic With Blob
.zuc-featured-graphic-blob {
  width: 50%;
  position: relative;

  @media #{$tablet-only} {
    padding-top: 60px;
  }

  @media #{$phone-only} {
    padding-top: 80px;
  }

  @media #{$phone-only} {
    width: 100%;
  }

  .zuc-featured-media {
    position: relative;

    @media #{$phone-only} {
      width: 100%;
    }
  }

  .--phone-img {
    position: absolute;
    left: 8%;
    top: 5%;

    @media #{$laptop-only} {
      max-width: 200px;
    }

    @media #{$phone-only} {
      display: none;
    }

    @media #{$tablet-only} {
      left: 0;
      top: 15%;
    }
  }

  .--photo {
    width: 100%;
    margin: 0 auto;
    display: block;

    @media #{$laptop-only} {
      width: 80%;
    }

    @media #{$tablet-only} {
      width: 85%;
    }
  }

  .zuc-blob {
    z-index: -99;
    display: inline;
    position: absolute;
    top: 85px;

    @media #{$tablet-only} {
      top: 95px;
      max-width: 900px;
      transform: scale(1.2);
    }

    @media #{$phone-only} {
      top: 35%;
      right: -20vw;
      transform: scale(1.8);
    }
  }
}

// App Icons
.zuc-featured--app-icons {
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: -10px;
  position: relative;

  .badge {
    width: 140px;
    height: 40px;
    &:first-child {
      padding-right: 10px;
    }
  }
}

// Featured Coverage Images
.zuc-featured-coverage-image {
  margin: 21.875vw 0 35vw;
  width: 92vw;

  @media #{$phone-only} {
    margin: -20px 0 16.93vw;
    transform: translatey(-10%);
    z-index: -1;
  }

  @media #{$tablet-only} {
    margin: -20px 0 16.93vw;
    transform: translatey(-10%);
    z-index: -1;
    width: 89vw;
  }

  @media #{$laptop-up} {
    margin: 0;
    width: 40%;
    margin-left: 10%;
  }

  @media #{$desktop-up} {
    margin: 0;
    width: 50%;
    transform: scale(1.1);
  }

  img {
    width: 100%;
  }
}

// Featured Gif Override
.--featured-gif {

  @media #{$laptop-up} {
    .zuc-featured-image {
      width: 60%;
    }

    .zuc-featured-content {
      width: 40%;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

// Featured About Override

.--featured-about {

  .--second-p {
    padding-top: 10px;
  }
}

.--three-panels {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-top: 50px;

  @media #{$tablet-up} {
    padding-top: 0;
  }

  @media #{$laptop-up} {
    width: 75%;
  }

  .zuc-panel {
    width: 100%;
    background-size: cover;
    height: vw-phone(150);

    @media #{$tablet-up} {
      height: vw-tablet(175);
    }

    @media #{$laptop-up} {
      height: vw-laptop(140);
    }

    @media #{$desktop-up} {
      height: vw-desktop(191);
    }

    &.--toolman {
      background-image: url('../../assets/images/shared/man-tool-bag.png');

      span {
        background-color: $color-zuc-indigo;
      }
    }

    &.--family {
      background-image: url('../../assets/images/smarter-products/hero-family-kitchen.png');

      span {
        background-color: $color-zuc-lilac;
      }
    }

    &.--smartphone {
      background-image: url('../../assets/images/shared/woman-smartphone.png');

      span {
        background-color: $color-zuc-concrete;
      }
    }

    span {
      display: block;
      width: 65%;
      text-transform: uppercase;
      color: $color-pure-white;
      font-weight: 600;
      padding: vw-phone(10);
      font-size: vw-phone(10.5);

      @media #{$tablet-up} {
        width: 60%;
        padding: vw-tablet(16);
        font-size: vw-tablet(16);
      }

      @media #{$laptop-up} {
        padding: vw-laptop(16);
        font-size: vw-laptop(16);
      }

      @media #{$desktop-up} {
        padding: vw-desktop(20);
        font-size: vw-desktop(20);
      }
    }
  }
}

.zuc-featured-block {
  width: 100%;
  position: relative;

  .zuc-featured {
    width: 80%;
    margin: 0 auto;
  }

  .zuc-featured-content {
    width: 50%;
  }

  .zuc-featured-image {
    width: 50%;
  }
}

