// Featured Content Block
// This encompases Blobs + text or text + image or text + gif
.zuc-featured-block {
  width: 100%;
  position: relative;
  padding: 7vw 0;
  z-index: 11;

  // Inner container for the actual content
  // Set with width as "wrapper"
  .zuc-featured {
    width: 85%;
    margin: 0 auto;

    @media #{$laptop-up} {
      width: 80%;
    }
  }

  // Featured Content
  // Can be anything, usually text based.
  .zuc-featured-content {
    width: 100%;
    order: 1;
    padding: 4vw 0;

    @media #{$laptop-up} {
      width: 50%;
      padding: 0 4vw;
    }
  }

  // Featured image container
  // Media, Gifs or Media + content
  .zuc-featured-image {
    width: 100%;
    order: 2;
    padding: 4vw 0;

    @media #{$laptop-up} {
      width: 50%;
      padding: 0 4vw;
    }
  }

  // Wrapper to hide overflow of image
  .zuc-featured-media {
    width: 100%;

    img {
      width: 100%;
    }
  }

  // Override to space out featured link
  .--featured-link {
    margin: 0 15px;
  }

  // List modifier for Smarter Living Parent
  .--list {
    h4 {
      margin: 0 0 ( 10 / 3.2 ) * 1vw;

      @media #{$tablet-only} {
        margin: 0 0 ( 16/ 7.68 ) * 1vw;
      }

      @media #{$tablet-prt-only} {
        margin: 0 0 ( 11/ 7.68 ) * 1vw;
      }

      @media #{$laptop-up} {
        margin: 0 0 ( 18 / 19.2 ) * 1vw;
      }
    }
  }

  // How step overrides
  .zuc-featured-how-step {
    color: $color-zuc-lilac;
    font-weight: 700;
    margin-bottom: 10px;
  }

  // Space button out from text
  .zuc-btn-secondary {
    margin-top: 30px;
  }

  // Overrides ----------------

  // Flip order so image is on the left
  &.--flipped-image {
    .zuc-featured-image {
      order: 1;
    }

    .zuc-featured-content {
      order: 2;
    }
  }

  // Supersize the gifs
  .--gif-size img {
    width: 110%;
  }
}

// To be used on .zuc-featured-block when blob graphic
// is called for.
.--graphic-blob {
  padding: 15vw 0;

  // Give the blob a reference closer to home
  .zuc-featured-image {
    position: relative;
  }

  // Supersize the media
  .zuc-featured-media {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    img { width: 120%; }
  }

  // Position the phone for Homepage
  .--phone-img {
    position: absolute;
    left: 2%;
    top: 5%;
    /* Important is required here */
    /* stylelint-disable */
    width: auto !important;
    /* stylelint-enable */

    @media #{$laptop-only} {
      max-width: 200px;
    }

    @media #{$phone-only} {
      display: none;
    }

    @media #{$tablet-only} {
      left: 0;
      top: 15%;
    }
  }

  // Position photo for homepage
  .--photo {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  // Position the mighty blob
  .zuc-blob {
    z-index: -99;
    width: 110%;
    @include center(both);
    top: 80%;

    @media #{$laptop-only} {
      top: 50%;
    }
  }

  // Overrides blob to sit in center
  // for instances where there is less
  // vertical space to fill up
  &.--center-blob .zuc-blob {
    top: 50%;
  }
}


// App Icons
.zuc-featured--app-icons {
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: -10px;
  position: relative;

  .badge {
    width: 140px;
    height: 40px;
    &:first-child {
      padding-right: 10px;
    }
  }
}

// Featured Coverage Images
.zuc-featured-coverage-image {
  margin: 21.875vw 0 35vw;
  width: 92vw;

  @media #{$phone-only} {
    margin: -20px 0 16.93vw;
    transform: translatey(-10%);
    z-index: -1;
  }

  @media #{$tablet-only} {
    margin: -20px 0 16.93vw;
    transform: translatey(-10%);
    z-index: -1;
    width: 89vw;
  }

  @media #{$laptop-up} {
    margin: 0;
    width: 40%;
    margin-left: 10%;
  }

  @media #{$desktop-up} {
    margin: 0;
    width: 50%;
    transform: scale(1.1);
  }

  img {
    width: 100%;
  }
}

.--three-panels {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-top: 50px;

  @media #{$tablet-up} {
    padding-top: 0;
  }

  @media #{$laptop-up} {
    width: 75%;
  }

  .zuc-panel {
    width: 100%;
    background-size: cover;
    height: vw-phone(150);

    @media #{$tablet-up} {
      height: vw-tablet(175);
    }

    @media #{$laptop-up} {
      height: vw-laptop(140);
    }

    @media #{$desktop-up} {
      height: vw-desktop(191);
    }

    &.--toolman {
      background-image: url('../../assets/images/shared/man-tool-bag.png');

      span {
        background-color: $color-zuc-indigo;
      }
    }

    &.--family {
      background-image: url('../../assets/images/smarter-products/hero-family-kitchen.png');

      span {
        background-color: $color-zuc-lilac;
      }
    }

    &.--smartphone {
      background-image: url('../../assets/images/shared/woman-smartphone.png');

      span {
        background-color: $color-zuc-concrete;
      }
    }

    span {
      display: block;
      width: 65%;
      text-transform: uppercase;
      color: $color-pure-white;
      font-weight: 600;
      padding: vw-phone(10);
      font-size: vw-phone(10.5);

      @media #{$tablet-up} {
        width: 60%;
        padding: vw-tablet(16);
        font-size: vw-tablet(16);
      }

      @media #{$laptop-up} {
        padding: vw-laptop(16);
        font-size: vw-laptop(16);
      }

      @media #{$desktop-up} {
        padding: vw-desktop(20);
        font-size: vw-desktop(20);
      }
    }
  }
}
