// Hero Content Slider
.zuc-hero-slider {
  width: 100%;
  position: relative;
  padding: 10vw 0;

  .zuc-slider-bkg {
    width: 100%;
    @include center(both);
    z-index: -1;

    @media #{$tablet-lnd-only} {
      width: 120%;
    }
  }
}

.zuc-slider-container {
  position: relative;
  z-index: 2;
}

.zuc-slide-media {
  width: 60%;
  position: relative;
  padding-top: 36%;
  background-size: cover;
  background-position: center;
  z-index: 0;

  @media #{$tablet-lnd-only} {
    width: 100%;
    padding-top: 50%;
  }
  @media #{$portrait} {
    width: 100%;
  }
}

.zuc-slide-content {
  width: 30%;
  background: $white;
  padding: 3vw 4vw 3vw 3vw;
  position: relative;

  @media #{$tablet-only} {
    width: 100%;
  }
  @media #{$portrait} {
    width: 100%;
    padding: 9vw;
  }

  &:before {
    @include pseudo();
    background: $color-zuc-salmon;
    width: 30%;
    right: 0;
    top: -10%;
    bottom: -10%;
    z-index: -1;

    @media #{$portrait} {
      display: none;
    }
  }

  &:after {
    @include pseudo();
    z-index: 2;
    width: 186px;
    height: 12px;
    background: $color-zuc-mint;
    right: -93px;
    top: 60px;

    @media #{$portrait} {
      right: auto;
      top: 30px;
    }
  }

  .zuc-slide-text {
    color: $color-text-grey;
    padding: 1vw 0 2vw;
  }
}

$control-width: 20px;
.zuc-slider-controls {
  position: relative;
  margin-top: 3vw;

  .zuc-slide-selector {
    width: $control-width;
    height: $control-width;
    background: transparent;
    border-radius: 50%;
    border: 3px solid $white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    transition: all .4s;
    cursor: pointer;
    margin: 0 9px;

    &:hover,
    &:active,
    &:focus {
     background: $white;
     box-shadow: 0 0 30px rgba(0, 0, 0, .8);
   }
 }
}

.zuc-slide {
  position: relative;

  @media #{$portrait} {
    flex-wrap: wrap;
  }
}


