// Hero Content Slider
.zuc-hero-slider {
  width: 100%;
  position: relative;
  padding: 5vw 0;
  margin-bottom: 7vw;

  .zuc-slider-bkg {
    width: 100%;
    @include center(both);
    overflow: hidden;
    z-index: -1;

    @media #{$desktop-only} {
      object {
        width: 130%;
        left: -760px;
      }
    }
    @media #{$tablet-lnd-only} {
      object {
        width: 130%;
      }
    }
    @media #{$portrait} {
      object {
        width: 220%;
      }
    }
    @media #{$tablet-prt-only} {
      object {
        position: relative;
        width: 320%;
        left: -900px;
        top: -170px;
      }
    }
    @media #{$phone-only} {
      object {
        position: relative;
        width: 470%;
        left: -800px;
        top: -170px;
      }
    }
  }
}

// Container for Slides
.zuc-slider-container {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

// Individual Slide
.zuc-slide {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: all .5s;
  transform: translate3d(100%, 0, 0);

  @media #{$portrait} {
    flex-wrap: wrap;
  }
}

// Active Slide
.--active-slide {
  position: absolute;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

// Slide Image
.zuc-slide-media {
  width: 60%;
  position: relative;
  padding-top: 37%;
  background-size: cover;
  background-position: center;
  z-index: 0;

  @media #{$tablet-lnd-only} {
    width: 100%;
    padding-top: 50%;
  }
  @media #{$portrait} {
    width: 100%;
    padding-top: 60%;
  }
}

// Slide Content
.zuc-slide-content {
  width: 30%;
  background: $white;
  padding: 6vw 4vw 3vw 3vw;
  position: relative;

  @media #{$tablet-only} {
    width: 100%;
  }
  @media #{$portrait} {
    width: 100%;
    padding: 9vw;
  }
  @media #{$phone-only} {
    padding: 15vw 9vw;
  }

  .zuc-slide-text {
    color: $color-zuc-darkindigo;
    padding: 1vw 0 2vw;
  }
}

// Slide Controls
$control-width: 20px;
.zuc-slider-controls {
  position: relative;
  margin-top: 3vw;
  z-index: 20;

  .zuc-slide-selector {
    width: $control-width;
    height: $control-width;
    background: transparent;
    border-radius: 50%;
    border: 3px solid $white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    transition: all .4s;
    cursor: pointer;
    margin: 0 9px;

    &:hover,
    &:active,
    &:focus {
      background: $white;
      box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    }
  }

  .--active {
    background: $white;
  }
}

