
.zuc-about-section {
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 0 8vw 30vw;

  @media #{$tablet-only} {
    padding: 0 8vw 25vw;
  }

  @media #{$laptop-up} {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8vw 15vw;
  }
}

.zuc-pear-blob {
  position: absolute;
  z-index: -99;
  left: 0;
  top: -21.47vw;
  height: 190vw;

  @media #{$tablet-only} {
    left: -13vw;
    top: -18vw;
    height: 200vw;
  }

  @media #{$laptop-only} {
    left: -2.5vw;
    top: -29.9vw;
    height: 69.65vw;
  }

  @media #{$desktop-up} {
    left: -2.5vw;
    top: -29.9vw;
    height: 69.65vw;
  }
}

.zuc-about-img-box {
  max-width: 669px;
  width: 84vw;
  z-index: 2;
  overflow: hidden; // Maybe

  @media #{$laptop-up} {
    width: 34vw;
  }
}

.zuc-about-text-box {
  background-color: $bkg-light-grey;
  width: 84vw;
  padding: 10vw 13vw 8vw 10vw;
  z-index: 0;
  margin-bottom: 5vh;

  @media #{$phone-only} {
    justify-content: space-around;
  }

  @media #{$tablet-only} {
    max-width: 669px;
    padding: 8vw 6.8vw 6vw 8vw;
    justify-content: space-around;
  }

  @media #{$laptop-up} {
    max-width: none;
    width: 47vw;
    padding: 3.25vw 5vw 2vw 2.4vw;
    align-self: stretch;
  }

  p {
    margin-bottom: 5vw;

    @media #{$laptop-up} {
      margin-bottom: 2vw;
    }
  }

  a {
    text-align: center;
    width: 45vw;

    @media #{$tablet-only} {
      width: 24vw;
    }

    @media #{$laptop-only} {
      width: 14vw;
    }

    @media #{$desktop-up} {
      width: 10vw;
    }
  }
}

.zuc-hp-about-icons {
  flex-wrap: wrap;

  .--about-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$phone-only} {
      width: 40%;
    }
  }
}
