/*-------------------------------------
 * Homepage - Inspired Section
/-------------------------------------*/
.zuc-home-inspired-section {
  width: 100%;
  margin: 0;
  padding: 3vh 4.5vw 35vh;
  flex-direction: column;

  @media #{$tablet-only} {
    padding: 4.5vw 0 20vh 6vw;
  }

  @media #{$laptop-up} {
    flex-direction: row;
    padding: 4.5vw 0 10vh 14vw;
  }

  .zuc-home-inspired-section--subheading:after {
    display: inline;
    content: ' ';
    background-image: url('../../assets/images/graphics/graphic_line_green_small.svg');
    background-size: 40px 28px;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(25%, -15%);
    height: 30px;
    width: 35px;
  }
}

.zuc-home-inspired-section--left {
  flex: 40%;
  position: relative;
  padding-right: 2vw;

  .green-waves {
    display: inline;
    width: 100px;
    margin-bottom: 4vh;
  }
}

.zuc-home-inspired-section--right {
  flex: 60%;
  position: relative;

  @media #{$tablet-only} {
    padding-top: 15px;
  }
  @media #{$phone-only} {
    padding-top: 10px;
  }

  .zuc-home-inspired-section--copy {
    @media #{$laptop-up} {
      width: 70%;
    }
  }

  // todo: Better way of doing button overrides?
  .zuc-btn-secondary {
    margin-top: 30px;
    width: 200px;
  }
}

.zuc-home-inspired-section--icons {
  margin-bottom: 5vh;
  text-align: center;
  width: 70%;
  justify-content: space-around;
  @media #{$tablet-only} {
    justify-content: space-around;
    width: 100%;
    .--home-pg-icon p {
      max-width: 200px;
    }
  }
  @media #{$phone-only} {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    .--home-pg-icon {
      width: 40%;
    }
  }
}

@media #{$tablet-only} {
  // todo: hacky in interests of time:
}

@media #{$phone-only} {
  .--home-pg-icon p {
    max-width: 200px;
  }
}
