/*-------------------------------------
 * Home Customized Section.
/-------------------------------------*/

.zuc-home-customized-section {
  width: 100%;
  margin: 0;
  z-index: 99;
  padding: 14vh 14vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media #{$tablet-only} {
    padding: 0 0 4.5vh 6vw;
    margin-top: 0;
  }

  @media #{$laptop-up} {
    flex-direction: row;
    align-items: flex-start;
    margin-top: -80px;
    padding: 0 0 9vh 14vw;
  }
}

.zuc-home-customized-section--graphic-section {
  flex: 50%;
  position: relative;
  text-align: center;
  padding-right: 10vw;
  padding-top: 12vh;

  @media #{$tablet-only} {
    padding: 50px 10px 40px;
    justify-content: space-between;
  }
  @media #{$phone-only} {
    padding-top: 8vh;
    justify-content: space-between;
    flex-wrap: wrap;
    .zuc-hp-icon {
      margin-right: 10vw;
    }
  }
}
