/*-------------------------------------
 * Home Customized Section.
/-------------------------------------*/

.zuc-home-customized-section {
  width: 100%;
  margin: 0;
  z-index: 99;
  display: flex;
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;

  @media #{$tablet-only} {
    padding: 6vw;
    margin-top: 0;
  }

  @media #{$laptop-up} {
    width: 80%;
    flex-direction: row;
    margin-top: -150px;
    flex-wrap: nowrap;
  }
}

.zuc-home-customized-section--graphic-section {
  width: 50%;
  position: relative;
  text-align: center;

  @media #{$laptop-up} {
    padding-right: 8%;
  }

  @media #{$tablet-only} {
    justify-content: space-between;
  }

  @media #{$tablet-only} {
    width: 100%;
  }

  @media #{$phone-only} {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: -3vw auto 15vw;
  }
}
