.zuc-request-forms-container {
  padding: 0 6vw;

  @media #{$laptop-up} {
    padding: 0 17vw;
  }
}

.zuc-request-blurb-container {
  color: $color-text-grey;
}

.zuc-request-submit-button {
  padding-top: 5vw;
}
