.zuc-request-forms-container {
  padding: 0 6vw;

  @media #{$laptop-up} {
    padding: 0 17vw;
  }
}

.zuc-request-blurb-container {
  color: $color-text-grey;
}

.zuc-btn-request-submit-container {
  padding: 5vw 0;

  button {
    padding: 8vw 30vw;

    @media #{$tablet-up} {
      padding: 4vw 15vw;
    }

    @media #{$laptop-up} {
      padding: 2.5vw 12.5vw;
    }

    @media #{$desktop-up} {
      padding: 2vw 10vw;
    }
  }
}

.zuc-radio-group-container {
  display: flex;
  justify-content: flex-start;
  margin-top: .5vw;
  font-size: 24px;
  color: $color-text-grey;

  @media #{$tablet-up} {
    justify-content: flex-start;
    font-size: inherit;
  }

  .zuc-radio-group {
    &:nth-child( n+2 ) {
      padding-left: 40%;
    }

    @media #{$tablet-up} {
      &:nth-child( n+2 ) {
        padding-left: 5px;
      }
    }
  }
}