/*-------------------------------------
 * Review Section Styles - AW - 19/09/18
 Last Update: 20180925
/-------------------------------------*/

.zuc-review-section {
  padding: 60vw 0 180px;

  @media #{$tablet-up} {
    padding: 366px 0;
  }

  @media #{$laptop-up} {
    padding: 180px 0;
  }
}

.zuc-review-container {
  width: 100%;
  position: relative;

  @media #{$tablet-up} {
    width: 86%;
  }

  @media #{$laptop-up} {
    width: 44%;
  }
}

.zuc-quote-container {
  background-color: $white;
  position: relative;
}

.zuc-quote-badge-container {
  height: 114px;
  width: 114px;
  position: absolute;
  top: -57px;
  border-radius: 50%;
  background-color: $white;
}

.zuc-quote-text {
  text-align: center;
  padding: 110px 4.4vw 1.2vw;
}

.zuc-stars-container {

  .zuc-star {
    width: 27px;

    &:not( :last-child ) {
      margin-right: 6px;
    }
  }
}

.zuc-quote-author {
  text-align: center;
  padding: 27px 0;
}

.zuc-quote-button {
  height: 50px;
  width: 50px;
  background-color: $white;
  position: absolute;
  bottom: 35px;
}

.zuc-left {
  left: 0;
  z-index: 7;

  @media #{$tablet-up} {
    left: -25px;
  }
}

.zuc-right {
  right: 0;
  z-index: 7;
  
  @media #{$tablet-up} {
    right: -25px;
  }
}

.zuc-floating-container {
  display: block;
  background-color: $color-zuc-indigo;
  padding: 28px 26px 45px 29px;
  width: 100%;

  @media #{$laptop-up} {
    position: absolute;
    width: auto;
    top: -100px;
    left: -320px;
  }
}

.zuc-read-all {
  // TODO overrides for button, slowly clearing them out as much as possible AW 20180925
  color: $color-zuc-lilac;
  border: 2px $color-zuc-lilac solid;
}
