/*-------------------------------------
 * Review Section Styles - AW - 19/09/18
 Last Update: 20180925 AW
/-------------------------------------*/

.zuc-review-section {
  padding-bottom: 25vw;

  @media #{$tablet-up} {
    padding-bottom: 11.5vw;
  }

  @media #{$laptop-up} {
    padding-bottom: 10.7vw;
  }
}

.zuc-review-container {
  width: 100%;
  position: relative;

  @media #{$tablet-up} {
    width: 86%;
  }

  @media #{$laptop-up} {
    width: 50%;
  }

  @media #{$desktop-up} {
    width: 44%;
  }
}

.zuc-quote-container {
  background-color: $white;
  position: relative;
}

.zuc-quote-badge-container {
  height: 114px;
  width: 114px;
  position: absolute;
  top: -57px;
  border-radius: 50%;
  background-color: $white;
}

.zuc-quote-text {
  text-align: center;
  padding: 110px 4.4vw 1.2vw;
}

.zuc-stars-container {

  .zuc-star {
    width: 27px;

    &:not( :last-child ) {
      margin-right: 6px;
    }
  }
}

.zuc-quote-author {
  text-align: center;
  padding: 27px 0;
}

.zuc-quote-button {
  height: 50px;
  width: 50px;
  background-color: $white;
  position: absolute;
  bottom: 35px;
}

.zuc-left {
  left: 0;
  z-index: 7;

  @media #{$tablet-up} {
    left: -25px;
  }
}

.zuc-right {
  right: 0;
  z-index: 7;
  
  @media #{$tablet-up} {
    right: -25px;
  }
}

.zuc-floating-container {
  display: block;
  background-color: $color-zuc-indigo;
  padding: 28px 26px 45px 29px;
  width: 100%;

  @media #{$laptop-up} {
    position: absolute;
    width: auto;
    top: -20%;
    left: -30%;
  }

  @media #{$desktop-up} {
    top: -20%;
    left: -35%;
  }
}

.zuc-read-all {
  text-align: center;
  color: $color-zuc-lilac;
  border-color: $color-zuc-lilac;
  
  &:hover {
    background: $color-zuc-lilac;
    color: $color-zuc-indigo;
  }
}
