/*-------------------------------------
 * Review Section Styles - AW - 19/09/18
/-------------------------------------*/

.zuc-review-section {
  display: block;
  width: 100%;
  background-color: $color-review-grey;
  padding: 9.14vw 0;

  .zuc-quote-container {
    margin: 0 auto;
    width: 44%;
    padding: 0 4.4vw;
    position: relative;
    background-color: $white;
  }
}

.zuc-quote-badge-container {
  height: 5.75vw;
  width: 5.75vw;
  position: absolute;
  top: -2.875vw;
  border-radius: 50%;
  background-color: $color-review-light;
}

.zuc-quote-text {
  font-size: 1vw;
  text-align: center;
  padding-top: 5.96vw;
  padding-bottom: 1.2vw;
  line-height: 1.3;
}

.zuc-stars-container {

  .zuc-star {
    height: 1.5vw;
    width: 1.5vw;

    &:not( :last-child ) {
      margin-right: .2vw;
    }
  }
}

.zuc-author-container {
  width: 100%;
  padding-bottom: 50px;

  .zuc-quote-author {
    position: absolute;
    right: 3.74vw;
    font-size: 1.1vw ;
    font-weight: 600;
    color: $color-zuc-darkindigo;
  }
}

.zuc-quote-button {
  height: 2.5vw;
  width: 2.5vw;
  background-color: $color-review-light;
  
  &.zuc-left {
    position: absolute;
    left: -1.25vw;
    bottom: 1.73vw;
  }

  &.zuc-right {
    position: absolute;
    right: -1.25vw;
    bottom: 1.73vw;
  }
}

.zuc-floating-container {
  position: absolute;
  top: -5.91vw;
  left: -14.2vw;

  .zuc-cta-container {
    width: 16.5vw;
    
    padding: 1.36vw 1.31vw 2.42vw 1.46vw;
    background-color: $color-zuc-darkindigo;
  }
  
  .zuc-cta-text {
    // This text needs to be re-done once proper typography is in
    font-family: $main-font-serif;
    font-size: 2.02vw;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    color: $white;
  }
  
  .zuc-read-all {
    padding: .86vw 1.16vw;
    position: relative;
    top: -1.4vw;
    font-size: 0.93vw;
    font-weight: 600;
    text-align: center;
    background-color: $color-review-light;
  }
  
}

