.zuc-service-plans-box {
  padding: 38vw 0;
  position: relative;
  text-align: center;

  @media #{$tablet-up} {
    padding: 30.5vw 0;
  }

  @media #{$laptop-up} {
    padding: 8vw 8%;
  }
}

.zuc-service-box {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
  }

  &.--title {
    text-align: left;
    padding: 8vw 5vw;

    p {
      padding-bottom: 3vw;
    }

    @media #{$tablet-up} {
      padding: 7vw;
    }
  
    @media #{$laptop-up} {
      width: 30%;
      padding: 4.5vw 3.5vw;
    }
  }

  &.--bundle {
    height: 96vw;
  
    @media #{$tablet-up} {
      height: 69.4vw;
    }
  
    @media #{$laptop-up} {
      width: 70%;
      height: auto;
    }
  }

  &.--triple {
    height: 66.25vw;

    h3 {
      padding: 0 3vw 1vw;
    }

    @media #{$tablet-up} {
      width: 33.33%;
      height: 57.7vw;
    }
  
    @media #{$laptop-up} {
      width: 16%;
      height: 30vw;
    }
  
    @media #{$desktop-up} {
      height: 22.4vw;
    }
  }

  &.--combo {
    height: 110vw;
  
    @media #{$tablet-up} {
      height: 57.7vw;
    }
  
    @media #{$laptop-up} {
      width: 52%;
      height: 30vw;
    }
  
    @media #{$desktop-up} {
      height: 22.4vw;
    } 
  }
}
