.zuc-service-plans-box {
  padding: 38vw 0;
  position: relative;
  text-align: center;

  @media #{$tablet-up} {
    padding: 30.5vw 0;
  }

  @media #{$laptop-up} {
    // TODO
  }

  @media #{$desktop-up} {
    padding: 8vw 8%;
  }
}

.zuc-service-title-box {
  background-color: #ddd;
  width: 100%;
  text-align: left;

  @media #{$tablet-up} {
    // TODO
  }

  @media #{$laptop-up} {
    // TODO
  }

  @media #{$desktop-up} {
    width: 20%;
  }
}

.zuc-bundle-box {
  background-color: #daf;
  width: 100%;

  @media #{$tablet-up} {
    // TODO
  }

  @media #{$laptop-up} {
    // TODO
  }

  @media #{$desktop-up} {
    width: 80%;
  }
}

.zuc-furniture-box {
  background-color: #fad;
  width: 100%;

  @media #{$tablet-up} {
    width: 33%;
  }

  @media #{$laptop-up} {
    // TODO
  }

  @media #{$desktop-up} {
    width: 16%;
  }
}

.zuc-appliance-box {
  background-color: #cffd;
  width: 100%;

  @media #{$tablet-up} {
    width: 34%;
  }

  @media #{$laptop-up} {
    // TODO
  }

  @media #{$desktop-up} {
    width: 16%;
  }
}

.zuc-home-box {
  width: 100%;
  background-color: #ffcd;

  @media #{$tablet-up} {
    width: 33%;
  }

  @media #{$laptop-up} {
    // TODO
  }

  @media #{$desktop-up} {
    width: 16%;
  }
}

.zuc-combo-box {
  background-color: #cdff;
  width: 100%;

  @media #{$tablet-up} {
    // TODO
  }

  @media #{$laptop-up} {
    // TODO
  }

  @media #{$desktop-up} {
    width: 52%;
  }
}
