.zuc-whats-covered {
  flex-direction: column;

  @media #{$laptop-up} {
    padding: 0 20vw;
    flex-direction: row;
    align-items: flex-start;
  }
}

.zuc-whats-covered-text {
  padding: 0 5.5vw;

  @media #{$tablet-only} {
    padding: 0 7.5vw;
  }

  @media #{$laptop-up} {
    padding: 0;

    h2 {
      margin-top: 3vw;
    }
  }
}

.zuc-whats-covered-image {
  margin: 21.875vw 0 35vw;
  width: 92vw;

  @media #{$tablet-only} {
    margin: 6.51vw 0 16.93vw;
    width: 89vw;
  }

  @media #{$laptop-up} {
    margin: 0;
    width: auto;
  }
  
  img {
    width: 100%;
  }
}