/*
  .zuc-head-blurb :
  For styling sections with a platinum background and top/bottom indigo border

  AW - LU: 20181001

*/

.zuc-head-blurb {
  position: relative;
  background: $color-zuc-platinum;
  text-align: center;
  border-top: solid 3px $color-zuc-indigo;
  border-bottom: solid 3px $color-zuc-indigo;

  p {
    color: $color-zuc-darkindigo;
    padding: 2vw 4.1%;
  }
}