/*
  .zuc-head-blurb :

  For styling <p> sections with a platinum background and top/bottom indigo border

  AW - LU: 20181001

*/

.zuc-head-blurb {
  position: relative;
  background: $color-zuc-platinum;
  text-align: center;
  border-top: solid 3px $color-zuc-indigo;
  border-bottom: solid 3px $color-zuc-indigo;
  margin-bottom: 9.375vw;

    @media #{$tablet-only} {
      margin-bottom: 7.03vw;
    }
  
    @media #{$laptop-only} {
      margin-bottom: 5vw;
    }
  
    @media #{$desktop-up} {
      margin-bottom: 4.2vw;
    }

  p {
    color: $color-zuc-darkindigo;
    padding: 7.5vw 5.5%;

    @media #{$tablet-only} {
      padding: 3.52vw 4%;
    }
  
    @media #{$laptop-only} {
      padding: 2.5vw 4%;
    }
  
    @media #{$desktop-up} {
      padding: 2vw 4%;
    }
  }
}

/*
  .zuc-blob-stack:

  For styling "50/50" blob sections, this compound element style is heavily used across the entire site.

  AW - LU: 20181018

*/

.zuc-blob-stack {

  h3 {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
  }

  p {
    font-weight: 100;
    color: $color-zuc-darkindigo;
    padding-bottom: 5vw;

    @media #{$tablet-up} {
      padding-bottom: 3vw;
    }

    @media #{$laptop-up} {
      padding-bottom: 1.5vw;
    }
  }
}
