.zuc-tos-page {
  position: relative;
  margin: 20vh 7vw;

  @media #{$tablet-only} {
    margin: 20vh 6vw;
  }

  @media #{$laptop-up} {
    margin: 20vh 17vw;
  }
}

.zuc-tos-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  h2 {
    width: 100%;
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    margin-top: 30px;

    @media #{$tablet-only} {
      margin-top: 30px;
    }

    @media #{$laptop-up} {
      margin-top: 45px;
    }
  }

  .zuc-tos-table-row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: $color-zuc-darkindigo;
    margin-top: 15px;
    padding: 0 1vw;

    @media #{$tablet-only} {
      margin-top: 15px;
    }

    @media #{$laptop-up} {
      margin-top: 15px;
    }
  }
}

.zuc-tos-table-row-head {
  text-align: right;
  width: 15%;
  margin-right: 3%;

  @media #{$tablet-only} {
    width: 12%;
  }

  @media #{$laptop-up} {
    width: 5%;
  }
}

.zuc-tos-table-row-body {
  width: 82%;

  @media #{$tablet-only} {
    width: 85%;
  }

  @media #{$laptop-up} {
    width: 95%;
  }

  a,
  p {
    display: inline;
    @media #{$phone-only} {
      font-size: 14px;
    }
  }
}
