.zuc-why-grid-section-container {
  position: relative;
  padding: 200px 5vw 80px;

  @media #{$tablet-up} {
    padding: 200px 7vw 80px;
  }

  @media #{$laptop-up} {
    padding: 200px 24vw 80px;
  }
}

.zuc-why-grid-item {
  padding-top: 35px;
  padding-bottom: 45px;
  width: 100%;
  text-align: center;

  @media #{$tablet-only} {
    width: 45%;
    text-align: left;

    &:nth-child( 2n ) {
      margin-left: 10%;
    }
  }

  @media #{$laptop-up} {
    width: 30%;
    margin-left: 5%;
    text-align: left;

    &:nth-child( 3n+1 ) {
      margin-left: 0;
    }
  }

  h6 {
    color: $color-zuc-indigo;
    font-weight: 600;
  }

  p {
    color: $color-zuc-darkindigo;
  }

  img {
    margin-bottom: 23px;
    width: 25%;

    @media #{$tablet-up} {
      width: 30%;
    }
  
    @media #{$laptop-up} {
      width: 40%;
    }
  }
}