section.zuc-connected {
  position: relative;
  padding: 0 0 39vw;

  @media #{$tablet-only} {
    padding: 0 0 21.22vw;
  }

  @media #{$laptop-up} {
    padding: 0 0 9.44vw;
  }
}

.zuc-connected-left {
  width: 100%;
  justify-content: center;

  @media #{$laptop-up} {
    width: 50%;
    justify-content: flex-end;
  }

  .zuc-image-box {
    margin: 0 6%;

    @media #{$tablet-only} {
      margin: 0 0 0 6%;
    }

    @media #{$laptop-up} {
      margin: 0 0 0 15%;
    }
  }

  img {
    width: 100%;
  }
}

.zuc-connected-right {
  width: 100%;
  margin: 0;
  padding: 0 7vw 29.375vw;

  @media #{$tablet-only} {
    padding: 0 7vw 13.8vw;
  }

  @media #{$laptop-up} {
    width: 50%;
    padding: 0 8vw 0 3vw;
  }
}