section.zuc-connected {
  position: relative;
  padding: 0 0 39vw;

  @media #{$tablet-only} {
    padding: 0 0 21.22vw;
  }

  @media #{$laptop-up} {
    padding: 0 0 9.44vw;
  }
}

.zuc-connected-left {
  position: relative;
  width: 100%;

  @media #{$laptop-up} {
    width: 50%;
  }
}


.zuc-connected-right {
  width: 100%;
  margin: 0;
  padding: 0 7vw 29.375vw;

  @media #{$tablet-only} {
    padding: 0 7vw 13.8vw;
  }

  @media #{$laptop-up} {
    width: 50%;
    padding: 0 8vw 0 3vw;
  }
}