/*----
  Smarter Home Control (shc) Styles
-----*/

.zuc-hero-header-control {
  width: 100%;
  position: relative;
}

.zuc-hero-bkg {
  width: 100%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 0;
}

.--layer-zero {
  background-image: url('../../assets/images/smarter-home/interior-kitchen-header.png');
  z-index: -2;
  background-size: cover;
  padding-top: 53.65%;
  background-position: center;
}

.--layer-one {
  background-image: url('../../assets/images/smarter-home/header-blob.svg');
  z-index: -1;
  top: 10%;
  padding-top: 54%;
  background-position: left;
}

