.zuc-smart-devices {
  width: 90%;
  margin: 8vw auto 20vw;

  @media #{$portrait} {
    flex-wrap: wrap;
    width: 90%;
    margin: 10vw auto 36vw;
  }
  @media #{$tablet-lnd-only} {
    width: 80%;
  }
  @media #{$laptop-only} {
    width: 70%;
  }
  @media #{$desktop-up} {
    width: 60%;
    margin: 0 auto 20vw;
  }
}

.zuc-smart-device {
  width: 45%;

  @media #{$laptop-up} {
    padding-right: 10%;
  }

  @media #{$portrait} {
    width: 100%;
    margin-bottom: 16vw;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .zuc-device-img {
    height: 12vw;
    margin-bottom: 3vw;

    @media #{$portrait} {
      height: 20vh;
    }
  }

  h4 {
    font-weight: 500;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 10px;
  }
}
