-
  var summaryValues = [
    {
      type : 'Product Total',
      value : 372.94
    },
    {
      type : 'Whole Home Bundle Discount',
      value : -50.00
    },
    {
      type : 'Monthly Service Plan Fee',
      value : 69.99
    },
    {
      type : 'Rewards Earned',
      value : 700
    }
  ]

-
  var subtotal = 442.93
-
  var taxesInfo = 'Shipping and taxes will be calculated at checkout, where applicable.'
.zuc-ec-cart-summaries
  // Rewards & Promotios ---
  .zuc-ec-summary
    // Title
    .zuc-ec-summary-title
      |Rewards & Promotions

    // Promo Code Input
    .flex.flex-vert-center.flex-nowrap
      .zuc-form-group
        .zuc-input-name.zuc-input-name-no-margin
          strong
            |Enter Promo Code:
        label.u-screenreader(for="field-name")
          |Enter Promo Code:
        input(type="text" data-required name="fullname" placeholder="John Smith" id="field-name")

      .zuc-form-action
        button.zuc-btn-inline(type="submit")
          strong
            |APPLY

  // Rewards & Promotios ---
  .zuc-ec-summary
    // Title
    .zuc-ec-summary-title
      |Purchase Summary

    .zuc-ec-summary-report
      // Iterator to generate report rows
      each value in summaryValues.length ? summaryValues : ['There are no summary values']
        .zuc-report-row.flex.flex-hor-between
          span
            |#{value.type}
          span
            |$#{value.value}

      // Subtotal row
      .zuc-report-row.flex.flex-hor-between.--total
        span.u-uppercase
          |Subtotal

        span
          |$#{subtotal}

      // Action Button
      .flex.flex-hor-end
        a.zuc-btn.zuc-btn-secondary(href="#" title="TODO")
          |PROCEED TO CHECKOUT

      // Taxes
      .zuc-subscript-info
        |#{taxesInfo}

  //Help & Assistance
  .zuc-summaries-help
    span.u-bold.u-uppercase
      |Need Help?
    a(href="#" title="TODO")
      |FAQ page
    span
      | or visit our
    a(href="#" title="TODO")
      |Contact page
    span
      | for more information
