.zuc-ec-pagination
  .zuc-ec-pagination-buttons
    .zuc-ec-pagination-left
      img.u-imgflip-hor(src="../../assets/images/graphics/arrow-right-solid.svg", alt="An arrow pointing left")
    .zuc-ec-pagination-pages
      span.zuc-ec-pagination-page.--active
        |1
      span.zuc-ec-pagination-page
        |2
      span.zuc-ec-pagination-page
        |3
      span.zuc-ec-pagination-page
        |4
      span.zuc-ec-pagination-page
        |5
    .zuc-ec-pagination-right
      img(src="../../assets/images/graphics/arrow-right-solid.svg", alt="An arrow pointing left")
  .zuc-ec-pagination-bar
