.zuc-ec-pagination
  .zuc-ec-pagination-buttons
    .zuc-ec-pagination-left
      .zuc-ec-pagination-pages
          .zuc-ec-pagination-page.--active
            span.zuc-ec-pagination-number
              |1
          .zuc-ec-pagination-page
            span.zuc-ec-pagination-number
              |2
          .zuc-ec-pagination-page
            span.zuc-ec-pagination-number
              |3
          .zuc-ec-pagination-page
            span.zuc-ec-pagination-number
              |4
          .zuc-ec-pagination-page
            span.zuc-ec-pagination-number
              |5
    .zuc-ec-pagination-right
  .zuc-ec-pagination-bar
