.zuc-ec-pagination
  .zuc-ec-pagination-buttons
    a.zuc-ec-pagination-left(href="#" title="todo")
      img.u-imgflip-hor(src="../../assets/images/graphics/arrow-right-solid.svg", alt="An arrow pointing left")
    .zuc-ec-pagination-pages
      a.zuc-ec-pagination-page.--active(href="#" title="todo")
        |1
      a.zuc-ec-pagination-page(href="#" title="todo")
        |2
      a.zuc-ec-pagination-page(href="#" title="todo")
        |3
      a.zuc-ec-pagination-page(href="#" title="todo")
        |4
      a.zuc-ec-pagination-page(href="#" title="todo")
        |5
    a.zuc-ec-pagination-right(href="#" title="todo")
      img(src="../../assets/images/graphics/arrow-right-solid.svg", alt="An arrow pointing left")
  .zuc-ec-pagination-bar
