.zuc-ec-det-infostack
  .zuc-ec-tabs
    .zuc-ec-tab.--active
      span.zuc-ec-tab-title
        |Product Information
    .zuc-ec-tab
      span
        |Sizing
    .zuc-ec-tab
      span
        |Resources
    .zuc-ec-tab-kaboose
  .zuc-ec-text-blob
    p
      |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum, lacus quis dictum interdum, purus ligula facilisis lorem, et imperdiet tortor enim ut risus. Nunc ac interdum risus, in facilisis elit. Suspendisse tristique, metus egestas volutpat fermentum, urna tellus lobortis nisl, at auctor urna tellus lacinia velit. Sed gravida massa non urna mattis dapibus. Sed elit erat, sagittis eget leo ut, aliquam dignissim lorem. In hac habitasse platea dictumst. Suspendisse pharetra pellentesque mattis.
