
.zuc-base-plan {
  width: 100%;
  padding: 0 18vw;
}

.zuc-base-plan-box-container {
  width: 100%;
  margin: 18px;
  position: relative;
}

.zuc-base-plan-box {
  // height: vw-desktop(358);
  flex-direction: column;
  padding: 1vw;
  margin: 12px;
  border: 1px solid $color-zuc-indigo;
}

.zuc-base-plan-secondary-header {
  // tmp
}

.zuc-base-plan-header {
  color: $color-zuc-indigo;
}

.zuc-base-plan-image {
  position: relative;
  right: 30px;
  top: 50px;
  width: 100%;
  justify-content: flex-start;
}

.zuc-base-plan-badge {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 130px;
  z-index:2;
  filter: drop-shadow(0 0.1px 5px rgba(12, 12, 12, .2));
}
