.zuc-base-plan {
  width: 100%;
  padding: 0 18vw;

  .zuc-btn-secondary {
    position: relative;
    bottom: 4.5vw;
    margin-bottom: -4.5vw;
  }

  @media #{$phone-only} {
    flex-direction: column;
    padding: 0 5vw;
  }
  @media #{$tablet-only} {
    padding: 0 8vw;
  }
}

.zuc-base-plan-box-container {
  width: 100%;
  margin: 1vw;
  position: relative;
}

.zuc-base-plan-box {
  flex-direction: column;
  padding: 1vw;
  margin: 12px;
  border: 1px solid $color-zuc-indigo;

  .zuc-base-plan-heading {
    @media #{$tablet-up} {
      font-size: 1.6vw;
    }
  }
}

.zuc-base-plan-graphics-container {
  padding-top: 1vw;
  position: relative;

  .zuc-base-plan-image {
    position: relative;
    right: 2vw;
    width: 100%;
  }

  .zuc-base-plan-badge {
    position: absolute;
    top: 1%;
    left: 47%;
    width: 8vw;
    z-index: 2;
    filter: drop-shadow(0 .1px 5px rgba(12, 12, 12, .2));

    @media #{$phone-only} {
      top: -2%;
      width: 36vw;
    }
  }
}
