// Service Plan Customize Section.

// Variables

$zuc-custom-row-height-tablet: ( 160 / 7.68 ) * 1vw;
$zuc-custom-row-height-desktop: ( 309 / 19.2 ) * 1vw;

section.zuc-custom-plan {
  flex-direction: column;
  justify-content: center;
  margin: 10vh 0 0;
  padding: 0 5vw;

  @media #{$tablet-only} {
    padding: 0 7vw;
  }

  @media #{$laptop-up} {
    padding: 0 16vw;
  }
}

.zuc-custom-plan--header {
  color: $color-zuc-indigo;
  width: 100%;
  text-align: left;
}

.zuc-custom-plan--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  position: relative;

  margin: ( 32 / 3.2 ) * 1vw 0 ( 78 / 3.2 ) * 1vw;

  @media #{$tablet-up} {
    flex-direction: row;
    margin: ( 53 / 7.68 ) * 1vw 0 ( 59 / 7.68 ) * 1vw;
  }
  @media #{$laptop-up} {
    margin: ( 30 / 19.2 ) * 1vw 0 ( 40 / 19.2 ) * 1vw;
  }
}

.zuc-custom-plan--title-container {
  width: 100%;

  @media #{$tablet-up} {
    flex: 36%;
  }

  &.--lilac {
    background-color: $color-zuc-lilac;
  }

  &.--indigo {
    background-color: $color-zuc-indigo;
  }
}

.zuc-custom-plan--title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  color: $color-pure-white;
  border: 1px $color-pure-white solid;
  margin: ( 9 / 3.2 ) * 1vw;
  height: auto;

  @media #{$tablet-only} {
    margin: ( 5 / 7.68 ) * 1vw;
    height: $zuc-custom-row-height-tablet;
  }
  @media #{$laptop-up} {
    margin: ( 9 / 19.2 ) * 1vw;
    height: $zuc-custom-row-height-desktop;
  }

  // PLAN NAME ("Whole Home Plan")
  .zuc-custom-plan--plan-name {
    font-family: $main-font-serif;
    text-transform: capitalize;
    font-weight: 300;
    padding: ( 16 / 3.2 ) * 1vw 0 0;
    font-size: ( 28 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      padding: ( 25 / 7.68 ) * 1vw 0 0;
      font-size: ( 15.5 / 7.68 ) * 1vw;
    }
    @media #{$laptop-up} {
      padding: ( 45 / 19.2 ) * 1vw 0 0;
      font-size: ( 30 / 19.2 ) * 1vw;
    }
  }

  // Graphical Line
  .zuc-custom-plan--line {
    border-top: 1px $color-pure-white solid;
    width: 40%;
    padding: ( 9 / 3.2 ) * 1vw 0;

    @media #{$tablet-only} {
      width: 45%;
      padding: ( 5 / 7.68 ) * 1vw 0;
    }
    @media #{$laptop-up} {
      width: 50%;
      padding: ( 9 / 19.2 ) * 1vw 0;
    }
  }

  // Price Object
  .zuc-custom-plan--price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: $main-font-serif;
    font-weight: 300;
    height: 100%;

    // Currency Symbol
    > :nth-child( 1 ) {
      align-self: flex-start;
      font-size: ( 36 / 3.2 ) * 1vw;

      @media #{$tablet-only} {
        font-size: ( 24 / 7.68 ) * 1vw;
      }
      @media #{$laptop-up} {
        font-size: ( 50 / 19.2 ) * 1vw;
      }
    }
    // Dollar Value
    > :nth-child( 2 ) {
      font-size: ( 60 / 3.2 ) * 1vw;

      @media #{$tablet-only} {
        font-size: ( 40 / 7.68 ) * 1vw;
      }
      @media #{$laptop-up} {
        font-size: ( 100 / 19.2 ) * 1vw;
      }
    }
    // Cent Value
    > :nth-child( 3 ) {
      font-size: ( 24 / 3.2 ) * 1vw;
      align-self: flex-start;

      @media #{$tablet-only} {
        font-size: ( 22 / 7.68 ) * 1vw;
      }
      @media #{$laptop-up} {
        font-size: ( 45 / 19.2 ) * 1vw;
      }
    }
  }

  // Rate ("/month")
  // Todo -- Bugfix: padding on this is buggy in Firefox.  Needs refactoring.
  .zuc-custom-plan--month {
    font-weight: 600;
    font-size: ( 12 / 3.2 ) * 1vw;
    padding: 0 0 ( 28 / 3.2 ) * 1vw;
    display: flex;

    @media #{$tablet-only} {
      font-size: ( 10 / 7.68 ) * 1vw;
      padding: 2vw 0 ( 14 / 7.68 ) * 1vw;
    }
    @media #{$laptop-up} {
      font-size: ( 16 / 19.2 ) * 1vw;
      padding: 0 0 ( 30 / 19.2 ) * 1vw;
    }
  }

  // Savings ("Bundle all three plans ...")
  .zuc-custom-plan--savings {
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: ( 21.5 / 3.2 ) * 1vw;
    padding: 0 0 ( 29 / 3.2 ) * 1vw;
    line-height: 7vw;

    @media #{$tablet-only} {
      font-size: ( 13 / 7.68 ) * 1vw;
      padding: 0 1vw ( 16 / 7.68 ) * 1vw;
      line-height: 2.5vw;
    }

    @media #{$laptop-up} {
      font-size: ( 24 / 19.2 ) * 1vw;
      padding: 0 2vw ( 31 / 19.2 ) * 1vw;
      line-height: 1.5vw;
    }
  }
}

.zuc-custom-plan--items {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$tablet-up} {
    flex-direction: row;
    margin: ( 5 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    margin: ( 9 / 19.2 ) * 1vw;
  }
}

.zuc-custom-plan--box {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @media #{$tablet-up} {
    flex: 30%;
  }
  @media #{$phone-only} {
    padding: 0 0 11.25vw;
  }

  // ie. for non-modals.
  &.--default {
    height: auto;
    @media #{$tablet-up} {
      height: $zuc-custom-row-height-tablet;
    }
    @media #{$laptop-up} {
      height: $zuc-custom-row-height-desktop;
    }
  }

  img {
    width: 100%;
    max-width: ( 230 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      max-width: ( 140 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      max-width: ( 250 / 19.2 ) * 1vw;
    }
  }

  .photo-text {
    font-family: $main-font-serif;
    color: $color-zuc-indigo;
    font-size: ( 14 / 3.2 ) * 1vw;

    @media #{$tablet-up} {
      font-size: ( 9.5 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      font-size: ( 18 / 19.2 ) * 1vw;
    }
  }

  .plan-icon {
    background: $color-pure-white;
    box-shadow: -.2px 2px 68px 0 rgba(12, 12, 12, .2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 10;
    height: 3vw;
    width: 3vw;

    &.--default {
      transform: translate3d(-50%, -50%, 0);
    }
    &.--modal {
      transform: translate3d(-50%, -50%, 0);
      @media #{$laptop-up} {
        transform: translate3d(-50%, -500%, 0);
      }
    }

    @media #{$phone-only} {
      left: 50%;
      top: 100%;
      height: 11.25vw;
      width: 11.25vw;
    }
  }
}

.zuc-custom-plan--ribbon {
  background: $color-zuc-salmon;
  position: absolute;
  text-align: center;
  color: $color-zuc-darkindigo;
  width: 210px;
  transform: rotate(-45deg);
  top: 18px;
  left: -74px;
  font-size: 11px;
  line-height: 22px;

  @media #{$phone-only} {
    width: 220px;
    top: 22px;
    left: -73px;
    font-size: 13px;
    line-height: 34px;
  }
  @media #{$tablet-only} {
    top: 15px;
    left: -81px;
    font-size: 10px;
    line-height: 20px;
  }
}
