// Service Plan Customize Section.

section.zuc-custom-plan {
  flex-direction: column;
  justify-content: center;
  padding: 0 5vw;

  @media #{$tablet-only} {
    padding: 0 7vw;
  }

  @media #{$laptop-up} {
    padding: 0 16vw;
  }
}

.zuc-custom-plan--header {
  color: $color-zuc-indigo;
  width: 100%;
  text-align: left;
}

.zuc-custom-plan--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;

  margin: ( 32 / 3.2 ) * 1vw 0 ( 78 / 3.2 ) * 1vw;

  @media #{$tablet-up} {
    flex-direction: row;
    margin: ( 53 / 7.68 ) * 1vw 0 ( 59 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    margin: ( 30 / 19.8 ) * 1vw 0 ( 40 / 19.8 ) * 1vw;
  }
}

.zuc-custom-plan--title-container {
  width: 100%;

  @media #{$tablet-up} {
    flex: 30%;
    width: 100%;
  }

  &.--lilac {
    background-color: $color-zuc-lilac;
  }

  &.--indigo {
    background-color: $color-zuc-indigo;
  }
}

$zuc-custom-row-height-tablet: ( 160 / 7.68 ) * 1vw;
$zuc-custom-row-height-desktop: ( 309 / 19.8 ) * 1vw;

.zuc-custom-plan--title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  color: $color-pure-white;
  border: 1px $color-pure-white solid;
  margin: ( 9 / 3.2 ) * 1vw;
  height: auto;

  @media #{$tablet-only} {
    margin: ( 5 / 7.68 ) * 1vw;
    height: $zuc-custom-row-height-tablet;
  }

  @media #{$laptop-up} {
    margin: ( 9 / 19.8 ) * 1vw;
    height: $zuc-custom-row-height-desktop;
  }

  // CTA Line ("BEST VALUE")
  > :nth-child( 1 ) {
    text-transform: uppercase;
    font-weight: 600;
    padding: ( 23 / 3.2 ) * 1vw 0 0;
    font-size: ( 15 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      padding: ( 13 / 7.68 ) * 1vw 0 0;
      font-size: ( 8.5 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      padding: ( 26 / 19.8 ) * 1vw 0 0;
      font-size: ( 16 / 19.8 ) * 1vw;
    }
  }

  // PLAN NAME ("Whole Home Plan")
  > :nth-child( 2 ) {
    font-family: $main-font-serif;
    text-transform: capitalize;
    font-weight: 300;
    padding: ( 16 / 3.2 ) * 1vw 0 0;
    font-size: ( 28 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      padding: ( 8 / 7.68 ) * 1vw 0 0;
      font-size: ( 15.5 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      padding: ( 17 / 19.8 ) * 1vw 0 0;
      font-size: ( 30 / 19.8 ) * 1vw;
    }
  }

  // Graphical Line
  > :nth-child( 3 ) {
    border-top: 1px $color-pure-white solid;
    width: 40%;
    padding: ( 9 / 3.2 ) * 1vw 0;

    @media #{$tablet-only} {
      width: 45%;
      padding: ( 5 / 7.68 ) * 1vw 0;
    }

    @media #{$laptop-up} {
      width: 50%;
      padding: ( 9 / 19.8 ) * 1vw 0;
    }
  }

  // Price Object
  > :nth-child( 4 ) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: $main-font-serif;
    font-weight: 300;

    // Currency Symbol
    > :nth-child( 1 ) {
      align-self: flex-start;
      font-size: ( 36 / 3.2 ) * 1vw;

      @media #{$tablet-only} {
        font-size: ( 24 / 7.68 ) * 1vw;
      }

      @media #{$laptop-up} {
        font-size: ( 50 / 19.8 ) * 1vw;
      }
    }
    // Dollar Value
    > :nth-child( 2 ) {
      font-size: ( 60 / 3.2 ) * 1vw;

      @media #{$tablet-only} {
        font-size: ( 40 / 7.68 ) * 1vw;
      }

      @media #{$laptop-up} {
        font-size: ( 100 / 19.8 ) * 1vw;
      }
    }
    // Cent Value
    > :nth-child( 3 ) {
      font-size: ( 18 / 3.2 ) * 1vw;

      @media #{$tablet-only} {
        font-size: ( 14 / 7.68 ) * 1vw;
      }

      @media #{$laptop-up} {
        font-size: ( 26 / 19.8 ) * 1vw;
      }
    }
  }

  // Rate ("/month")
  > :nth-child( 5 ) {
    font-weight: 600;
    font-size: ( 12 / 3.2 ) * 1vw;
    padding: 0 0 ( 28 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      font-size: ( 10 / 7.68 ) * 1vw;
      padding: 0 0 ( 14 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      font-size: ( 16 / 19.8 ) * 1vw;
      padding: 0 0 ( 30 / 19.8 ) * 1vw;
    }
  }

  // Savings ("Save $50")
  > :nth-child( 6 ) {
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: ( 27 / 3.2 ) * 1vw;
    padding: 0 0 ( 29 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      font-size: ( 15 / 7.68 ) * 1vw;
      padding: 0 0 ( 16 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      font-size: ( 29 / 19.8 ) * 1vw;
      padding: 0 0 ( 31 / 19.8 ) * 1vw;
    }
  }
}

.zuc-custom-plan--items {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: none;
  height: auto;
  margin: ( 9 / 3.2 ) * 1vw;

  @media #{$tablet-up} {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: ( 5 / 7.68 ) * 1vw;
    max-height: $zuc-custom-row-height-tablet;
    height: $zuc-custom-row-height-tablet;
  }

  @media #{$laptop-up} {
    margin: ( 9 / 19.8 ) * 1vw;
    max-height: $zuc-custom-row-height-desktop;
    height: $zuc-custom-row-height-desktop;
  }
}

.zuc-custom-plan--box {
  flex: 30%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;

  img {
    width: 100%;
    max-height: 250px;
    max-width: 250px;
  }

  .photo-text {
    font-family: $main-font-serif;
    color: $color-zuc-indigo;
  }

  .plus-icon {
    background-image: url('../../assets/images/icons/icon-plus.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 95%;
    z-index: 1;
    height: 9vh;
    width: 2.6vw;

    @media #{$phone-only} {
      position: static;
      margin-top: 15px;
      height: 10vh;
      width: 10vw;
    }
  }

  .or-icon {
    background-image: url('../../assets/images/icons/icon-or.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 95%;
    z-index: 1;
    height: 9vh;
    width: 3vw;

    @media #{$phone-only} {
      position: static;
      margin-top: 15px;
      height: 10vh;
      width: 10vw;
    }
  }
}
