/*-------------------------------------
 * Blob Module
/-------------------------------------*/
.zuc-service-plan-hero--wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 220vw; //THIS245.938

  @media #{$tablet-only} {
    height: 120vw;
  }

  @media #{$laptop-up} {
    height: 36.818vw;
  }
}

.zuc-service-plan-hero--text-section {
  position: absolute;
  z-index: 5;
  flex: 85%;
  top: 7vw;
  left: 5vw;

  @media #{$tablet-only} {
    flex: 75%;
    top: 7vw;
    left: 7vw;
  }

  @media #{$laptop-up} {
    flex: 40%;
    top: 7vw;
    left: 16vw;
  }

  .zuc-service-plan-hero--heading {
    color: $color-zuc-indigo;
    font-size: 10.625vw;
    width: 85vw;

    @media #{$tablet-only} {
      font-size: 7.813vw;
      width: 80vw;
    }
  
    @media #{$laptop-up} {
      font-size: 3.03vw;
      width: 33vw;
    }
  }

  .zuc-service-plan-hero--copy {
    color: $color-zuc-darkindigo;
    width: 80vw;

    @media #{$tablet-only} {
      max-width: 64vw;
    }

    @media #{$laptop-up} {
      max-width: 25vw;
    }
  }

  .zuc-service-plan-hero--tagline {
    margin-top: 2vh;
    color: $color-zuc-indigo;
  }

  .zuc-btn-secondary {
    margin-top: 30px;
    display: inline-block;
  }
}

.zuc-service-plan-hero--graphic-section {

  img {
    width: 100%;
  }

  .--photo {
    position: relative;
    z-index: -2;
    width: 320vw;
    left: -210vw;
    padding: 110vw 0 0; //THIS136.875vw

    @media #{$tablet-only} {
      width: 155vw;
      left: -55vw;
      padding: 66.93vw 0 0;
    }
  
    @media #{$laptop-up} {
      width: 100%;
      left: 0;
      padding: 0;
    }
  }

  .--grey-blob {
    display: none;

    @media #{$laptop-up} {
      display: initial;
      position: absolute;
      width: 70vw;
      top: -19vw;
      left: 0;
      z-index: -1;
    }
  }

  .--pear {
    display: none;

    @media #{$laptop-up} {
      display: initial;
      position: absolute;
      width: 20vw;
      top: 10.25vw;
      left: -3vw;
      z-index: 1;
    }
  }

  .--bottom-wave {
    position: absolute;
    width: 170vw;
    bottom: -2px;
    left: -60vw;
    z-index: 2;

    @media #{$tablet-only} {
      width: 170vw;
      bottom: -2px;
      left: -60vw;
    }

    @media #{$laptop-up} {
      width: 102vw;
      bottom: -3px;
      left: -2px;
    }
  }

  .--bottom-wave-flipped {
    transform: rotate(180deg);
    position: absolute;
    z-index: -2;
    width: 300%;
    top: 109vw; //THIS
    left: -80vw;

    @media #{$tablet-only} {
      width: 200%;
      top: 66.5vw;
      left: -20vw;
    }
  
    @media #{$laptop-up} {
      display: none;
    }
  }
}
