/*-------------------------------------
 * Blob Module
/-------------------------------------*/
.zuc-service-plan-hero--wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 70vh;


  @media #{$portrait} {
    height: auto;
  }
  @media #{$tablet-lnd-only} {
    height: auto;
  }
}

.zuc-service-plan-hero--text-section {
  position: absolute;
  z-index: 5;
  flex: 85%;
  top: 7vw;
  left: 5vw;

  @media #{$portrait} {
    position: relative;
  }

  @media #{$tablet-only} {
    flex: 75%;
    top: 7vw;
    left: 7vw;
  }

  @media #{$tablet-lnd-only} {
    position: relative;
  }

  @media #{$laptop-up} {
    flex: 40%;
    top: 7vw;
    left: 16vw;
  }

  .zuc-service-plan-hero--heading {
    color: $color-zuc-indigo;
    font-size: 10.625vw;
    width: 85vw;

    @media #{$tablet-only} {
      font-size: 7.813vw;
      width: 80vw;
    }

    @media #{$laptop-up} {
      font-size: 3.03vw;
      width: 33vw;
    }
  }

  .zuc-service-plan-hero--copy {
    color: $color-zuc-darkindigo;
    width: 80vw;

    @media #{$tablet-only} {
      max-width: 64vw;
    }

    @media #{$laptop-up} {
      max-width: 25vw;
    }
  }

  .zuc-service-plan-hero--tagline {
    margin-top: 2vh;
    color: $color-zuc-indigo;
  }

  .zuc-btn-secondary {
    margin-top: 30px;
    display: inline-block;
  }
}

.zuc-service-plan-hero--graphic-section {
  width: 100%;
  position: relative;
  height: 100%;
  background-image: url('../../assets/images/shared/man-tool-bag.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;

  @media #{$portrait} {
    background-position: right bottom;
    margin-top: 15vw;
    height: auto;
    padding-top: 100%;
  }

  @media #{$tablet-lnd-only} {
    height: auto;
    padding-top: 50%;
    margin-top: 10vw;
  }

  img {
    width: 100%;
  }

  .--grey-blob {
    display: none;

    @media #{$laptop-up} {
      display: initial;
      position: absolute;
      width: 70vw;
      top: -19vw;
      left: 0;
      z-index: 0;
    }
  }

  .--pear {
    display: none;

    @media #{$laptop-up} {
      display: initial;
      position: absolute;
      width: 20vw;
      top: 10.25vw;
      left: -3vw;
      z-index: 1;
    }
  }

  .--bottom-wave {
    position: absolute;
    width: 170vw;
    bottom: -2px;
    left: -60vw;
    z-index: 2;

    @media #{$tablet-only} {
      width: 170vw;
      bottom: -2px;
      left: -60vw;
    }

    @media #{$laptop-up} {
      width: 102vw;
      bottom: -3px;
      left: -2px;
    }

    @media #{$portrait} {
      bottom: 18px;
    }

    @media #{$phone-only} {
      bottom: -2px;
    }

    @media #{$tablet-prt-only} {
      bottom: -3px;
    }
  }

  .--bottom-wave-flipped {
    transform: rotate(180deg);
    position: absolute;
    width: 300%;
    top: -2px;
    left: -80vw;

    @media #{$laptop-up} {
      display: none;
    }
  }
}
