.zuc-spkids-header-mask {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 6vw 0;
  margin-bottom: 5vw;

  @media #{$laptop-only} {
    padding: 3vw 0;
  }
}

.zuc-spkids-content {
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  position: relative;

  @media #{$laptop-up} {
    flex-direction: row;
  }
}

.zuc-head-box {
  background-color: $color-pure-white;
  padding: 2.81vw 2.3vw 0;
  position: relative;
  width: 90%;
  margin: 0 auto;

  @media #{$laptop-up} {
    width: 33%;
      // Top-Bottom margin causes the middle div to be taller.
      // This is because we are using flex-vert-stretch which tells them all
      // to be the same height. Margin is part of calculated height, so it
      // gives the desired effect.
      margin: 3% 0;
  }

  p {
    color: $color-zuc-darkindigo;
    padding-right: 0;
    padding-bottom: 12.188vw;

    @media #{$tablet-only} {
      padding-right: 8.72vw;
      padding-bottom: 5.6vw;
    }

    @media #{$laptop-up} {
      padding-right: 3.38vw;
      padding-bottom: 2.17vw;
    }
  }

  img {
    width: 100%;
  }

  .zuc-btn {
    @include center(horizontal);
    bottom: 2.81vw;
  }

  // Last Child override so UL doesnt touch the button
  &:last-child {
    .zuc-btn {
      position: relative;
      margin-top: 2vw;
    }
  }
}

.zuc-spkids-header-img-box {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0;
  padding: 60% 6vw 6vw;
  background-size: cover;

  @media #{$laptop-up} {
    width: 40%;
    padding: 2.6vw;
  }

  .zuc-zigzag {
    width: 30%;
    position: relative;
    z-index: 8;
    min-width: 10vw;
    margin-bottom: 1.56vw;
    display: block;
  }

  h5 {
    margin: 0;
  }
}

.zuc-spkids-header-bg1 {
  background-image: url('../../assets/images/shapes/header-blob.svg');
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  background-size: 300%;
  padding-top: 200%;


  @media #{$laptop-up} {
    @include center(both);
    padding-top: 55%;
    background-size: 100%;
  }
}

//TODO
.zuc-spkids-header-bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
