.spkids-video {
  position: relative;
  padding-bottom: 21.25vw;

  @media #{$tablet-only} {
    padding-bottom: 26.95vw;
  }

  @media #{$laptop-up} {
    padding-bottom: 8.59vw;
  }

  .zuc-video-bg {
    position: absolute;
    right: -1px;
    top: -19.69vw;
    width: 70vw;

    @media #{$tablet-only} {
      top: -9.46vw;
      width: 50vw;
    }

    @media #{$laptop-up} {
      top: -16.11vw;
      width: 25vw;
    }
  }
}

.zuc-video-row {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  flex-direction: column;

  @media #{$tablet-only} {
    width: 87%;
  }

  @media #{$laptop-up} {
    width: 80%;
    flex-direction: row;
  }
}

.zuc-video-left {
  background: $color-pure-white;
  position: relative;
  text-align: left;
  width: 100%;
  padding: 8.75vw 20.94vw 8.75vw 4.69vw;

  @media #{$tablet-only} {
    padding: 9.24vw 22.97vw 6.51vw 6vw;
  }

  @media #{$laptop-up} {
    width: 30%;
    padding: 3.48vw 4.1vw 4.29vw 2.53vw;
  }

  p {
    @media #{$tablet-only} {
      padding-right: 21.875vw;
    }
  }

  .--wave-position {
    display: none;
    z-index: 10;

    @media #{$tablet-up} {
      display: block;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      transform: translate3d(-9.24vw, -6.51vw, 0);
      width: 13.76vw;
    }

    @media #{$laptop-up} {
      top: 3vw;
      right: 0;
      bottom: auto;
      width: 5.3vw;
      transform: translate3d(50%, 0, 0);
    }
  }
}

.zuc-video-right {
  background: transparent;
  width: 100%;

  @media #{$laptop-up} {
    width: 70%;
  }
}

.zuc-video-player {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  height: auto;
  background: transparent;

  .zuc-body-video {
    width: 100%;
  }
}
