.zuc-spkids-header-mask {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 6vw 0;
  margin-bottom: 5vw;

  @media #{$phone-only} {
    padding: 15vw 0;
  }

  @media #{$laptop-only} {
    padding: 3vw 0;
  }

  @media #{$desktop-up} {
    padding: 3vw 0 13vw;
    margin-bottom: -15px;
  }
}

.zuc-spkids-content {
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  position: relative;

  @media #{$phone-only} {
    width: 100%;
  }

  @media #{$laptop-up} {
    flex-direction: row;
  }
}

.zuc-head-box {
  background-color: $color-pure-white;
  position: relative;
  padding: 8vw 8vw 0;
  width: 90%;
  margin: 0 auto;
  z-index: 3;

  @media #{$laptop-up} {
    width: 33%;
    // Top-Bottom margin causes the middle div to be taller.
    // This is because we are using flex-vert-stretch which tells them all
    // to be the same height. Margin is part of calculated height, so it
    // gives the desired effect.
    padding: 2.81vw 2.3vw 0;
    margin: 3% 0;
  }

  h1,
  h2 {
    margin-bottom: 20px;

    @media #{$laptop-up} {
      margin-bottom: 30px;
    }
  }

  p {
    color: $color-zuc-darkindigo;
    padding-right: 0;
    padding-bottom: 12.188vw;

    @media #{$phone-only} {
      padding-bottom: 7vw;
    }

    @media #{$tablet-only} {
      padding-bottom: 5.6vw;
    }

    @media #{$laptop-up} {
      padding-bottom: 2.17vw;
    }
  }

  img {
    width: 100%;

    @media #{$laptop-only} {
      transform: scale(1.2);
    }
  }

  .zuc-btn {
    position: absolute;
    bottom: 8vw;
    left: 50%;
    transform: translatex(-50%) scale(1.2);

    @media #{$phone-only} {
      position: relative;
    }

    @media #{$laptop-up} {
      bottom: 3vw;
    }

    @media #{$laptop-only} {
      position: relative;
    }
  }

  // Last Child override so UL doesnt touch the button
  &:last-child {
    .zuc-btn {
      position: relative;
      margin-top: 2vw;
    }
  }

  li {
    font-size: 18px;
    margin-left: 20px;
    line-height: 1.2;
  }
}

.zuc-spkids-header-img-box {
  position: relative;
  z-index: 5;
  width: 100%;
  margin: 0;
  padding: 60% 9vw 6vw 6vw;
  background-size: cover;

  @media #{$laptop-up} {
    width: 40%;
    padding: 3vw;
  }

  .zuc-zigzag {
    width: 30%;
    position: relative;
    z-index: 8;
    min-width: 10vw;
    margin-bottom: 1.56vw;
    display: block;
  }

  h5 {
    margin: 0;
    font-size: 50px;

    @media #{$tablet-only} {
      font-size: 88px;
    }
  }
}

.zuc-spkids-header-bg1 {
  background-image: url('../../assets/images/shapes/header-blob.svg');
  background-repeat: no-repeat;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  background-size: 300%;
  padding-top: 200%;


  @media #{$laptop-up} {
    @include center(both);
    padding-top: 55%;
    top: 30%;
    background-size: 100%;
  }
}

// Special BKG Override for this header type
.--grey-bkg {
  background-color: #f7f7f7;

  &:after {
    @include pseudo();
    bottom: -2px;
    right: 0;
    width: 106%;
    background-image: url('../../assets/images/shapes/wave-top.svg');
    padding-top: 11%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
  }

}
