.zuc-damage {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #f00;

  @media #{$tablet-only} {
  }

  @media #{$laptop-up} {
    flex-direction: row;
    justify-content: space-between;
    margin: 10vw 16vw;
  }
}

.zuc-damage-left {
  display: flex;
  flex-direction: column;

  h2 {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: ( 30 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      font-size: ( 50 / 7.68 ) * 1vw;
    }
  
    @media #{$laptop-up} {
      font-size: ( 50 / 19.2 ) * 1vw;
    }
  }
}

.zuc-damage-group {
  display: flex;
  flex-direction: column;

  @media #{$laptop-up} {
    flex-direction: row;
  } 
}

.zuc-damage-box {
  width: 100%;
  background: $color-pure-white;

  @media #{$tablet-only} {
    // todo
  }

  @media #{$laptop-up} {
    width: 33.3%;
  }

  .zuc-why-damage-img-box {
    height: 23vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media #{$tablet-up} {
      justify-content: flex-start;
      height: 12vw;
    }

    @media #{$laptop-up} {
      height: ( 136 / 19.2 ) * 1vw;
    }

    img {
      width: 25%;
      position: relative;
  
      @media #{$tablet-up} {
        width: 30%;
      }
    
      @media #{$laptop-up} {
        width: 50%;
      }
  
      @media #{$desktop-up} {
        width: 40%;
      }
    }
  }

  h4 {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    white-space: nowrap;
    font-size: 9.375vw;

    @media #{$tablet-only} {
      font-size: 6vw;
    }

    @media #{$laptop-up} {
      font-size: 1.8vw;
    }
  }
}

.zuc-damage-right {
  background: $color-zuc-indigo;
  padding: ( 38 / 3.2 ) * 1vw 0 0 5vw;
  width: 100%;
  
  @media #{$tablet-only} {
    padding: ( 41 / 7.68 ) * 1vw 0 0 ( 39 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    padding: ( 115 / 19.2 ) * 1vw 0 0 ( 29 / 19.2 ) * 1vw;
    width: ( 320 / 19.2 ) * 1vw;
  }

  h3 {
    color: $color-pure-white;
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: ( 30 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      font-size: ( 40 / 7.68 ) * 1vw;
    }
  
    @media #{$laptop-up} {
      font-size: ( 40 / 19.2 ) * 1vw;
    }
  }

  p {
    color: $color-pure-white;
    font-weight: 100;
    padding: 0 0 ( 26 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      padding: 0 0 ( 31 / 7.68 ) * 1vw;
    }
  
    @media #{$laptop-up} {
      padding: 0 0 ( 31 / 19.2 ) * 1vw;
      width: ( 216 / 19.2 ) * 1vw;
    }
  }
}
