section.zuc-compare {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5vw;

  @media #{$tablet-only} {
    margin: ( 70 / 7.68 ) * 1vw 7vw 0;
  }

  @media #{$laptop-up} {
    margin: ( 75 / 19.2 ) * 1vw 16vw ( 122 / 19.2 ) * 1vw;
  }

  .zuc-compare-title {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    text-align: center;
    margin: 0 0 ( 59 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      margin: 0 0 ( 85 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      margin: 0 0 ( 88 / 19.2 ) * 1vw;
    }
  }

  .zuc-compare-title-container {
    @media #{$tablet-only} {
      margin-bottom: -30px;
    }
  }
}

.zuc-compare-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.zuc-compare-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media #{$laptop-up} {
    width: 33.3%;
  }

  h6 {
    color: $color-zuc-indigo;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .zuc-img-box {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .zuc-btn-box {
    text-align: center;
    position: relative;
    top: -50px;
    margin: 0 0 ( 52 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      margin: 0 0 ( 82 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      margin: 0;
    }
  }
  .zuc-compare-subtitle {
    font-size: 25px;
    font-weight: 300;

    @media #{$tablet-up} {
      font-size: 30px;
    }
  }
}
