section.zuc-appl-compare {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  h2 {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
  }
}
  
.zuc-compare-row {
  display: flex;
  flex-wrap: wrap;
}
.zuc-compare-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media #{laptop-up} {
    width: 33.3%;
  }
}
