.zuc-damage-bar {
  position: relative;
  padding-bottom: 88.44vw;

  @media #{$tablet-only} {
    padding-bottom: 44.22vw;
  }

  @media #{$laptop-up} {
    padding-bottom: 22.11vw;
  }

  .zuc-damage-bg-img {
    display: none;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    // Default fallback
    background-image: url('../../assets/images/service-plan/furniture-icon-banner.png');
    
    &.--appl {
      background-image: url('../../assets/images/service-plan/appliances-icon-banner.png');
    }

    &.--furn {
      background-image: url('../../assets/images/service-plan/furniture-icon-banner.png');
    }

    &.--homesys {
      background-image: url('../../assets/images/service-plan/home-systems-icon-banner.png');
    }

    @media #{$tablet-up} {
      display: block;
      z-index: -13;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 77.5vw;
    }

    @media #{$laptop-up} {
      height: 30vw;
    }
  }
}

.zuc-damage-group {
  margin: 0;
  flex-direction: column;

  @media #{$tablet-only} {
    margin: 52.86vw 6.5vw 0;
  }

  @media #{$laptop-up} {
    flex-direction: row;
    margin: 15.1vw 16.7vw 0;
  }  
}

.zuc-damage-box {
  width: 100%;
  background: $color-pure-white;
  padding: 21.875vw 12.19vw 21.56vw 11.25vw;

  @media #{$tablet-only} {
    padding: 8.46vw 29.42vw 8.59vw 7.16vw;
  }

  @media #{$laptop-up} {
    width: 33.3%;
    padding: 3.69vw 6.2vw 3.23vw 2.68vw;
  }

  .zuc-why-damage-img-box {
    width: 34vw;
    padding-bottom: 9.375vw;

    @media #{$tablet-only} {
      width: 17.6vw;
      padding-bottom: 3.9vw;
    }
  
    @media #{$laptop-up} {
      width: 5.6vw;
      padding-bottom: 1.51vw;
    }
  }

  h4 {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    white-space: nowrap;
    // Override h4 sizes at Becky's direction - AW
    font-size: 9.375vw;

    @media #{$tablet-only} {
      font-size: 6vw;
    }

    @media #{$laptop-only} {
      font-size: 1.8vw;
    }

    @media #{$desktop-up} {
      font-size: 1.51vw;
    }
  }

  &:nth-child( even ) {
    background: $color-zuc-indigo;
    color: $color-pure-white;

    h4 {
      color: $color-pure-white;
    }
  }
}