.zuc-damage {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: -80px 0 ( 133 / 3.2 ) * 1vw;

  @media #{$tablet-only} {
    margin: -100px 7vw ( 179 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vw ( 112 / 19.2 ) * 1vw;
  }

  @media #{$desktop-up} {
    margin: 0 16vw ( 112 / 19.2 ) * 1vw;
  }

}

.zuc-damage-left {
  display: flex;
  flex-direction: column;
  margin: 0 5vw ( 43 / 3.2 ) * 1vw;

  @media #{$tablet-only} {
    margin: 0 0 ( 57 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    margin: 0 0 ( 28 / 19.2 ) * 1vw;
    width: 75%;
  }

  h2 {
    color: $color-zuc-indigo;
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: ( 30 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      font-size: ( 50 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      font-size: ( 50 / 19.2 ) * 1vw;
    }
  }

  .zuc-btn-box {
    align-self: center;

    @media #{$tablet-up} {
      align-self: flex-start;
    }
  }
}

.zuc-damage-row {
  display: flex;
  flex-direction: column;
  padding: 0 0 35px;

  @media #{$tablet-up} {
    flex-direction: row;
  }
}

.zuc-damage-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: $color-pure-white;
  align-items: center;
  text-align: center;
  width: 100%;

  @media #{$tablet-up} {
    align-items: flex-start;
    text-align: left;
    width: 33.3%;
  }

  .zuc-why-damage-img-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
    height: ( 140 / 3.2 ) * 1vw;

    @media #{$tablet-up} {
      justify-content: flex-start;
      height: ( 120 / 7.68 ) * 1vw;
      width: 50%;
    }

    @media #{$laptop-up} {
      height: ( 136 / 19.2 ) * 1vw;
      width: 40%;
    }

    img {
      width: 100%;
    }
  }

  h6 {
    color: $color-zuc-indigo;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: ( 20 / 3.2 ) * 1vw;

    @media #{$tablet-up} {
      margin-top: ( 20 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      margin-top: ( 20 / 19.2 ) * 1vw;
    }
  }

  p {
    color: $color-zuc-darkindigo;
    padding: 0 7vw;
    width: auto;

    @media #{$tablet-up} {
      padding: 0;
      width: ( 200 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      width: ( 209 / 19.2 ) * 1vw;
    }
  }
}

.zuc-damage-right {
  background: $color-zuc-indigo;
  padding: ( 38 / 3.2 ) * 1vw 0 ( 34 / 3.2 ) * 1vw 5vw;
  width: 100%;

  @media #{$tablet-only} {
    padding: ( 41 / 7.68 ) * 1vw 0 ( 43 / 7.68 ) * 1vw ( 39 / 7.68 ) * 1vw;
  }

  @media #{$laptop-up} {
    padding: ( 115 / 19.2 ) * 1vw 0 0 ( 29 / 19.2 ) * 1vw;
    width: ( 320 / 19.2 ) * 1vw;
  }

  h3 {
    color: $color-pure-white;
    font-family: $main-font-serif;
    font-weight: 300;
    font-size: ( 30 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      font-size: ( 40 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      font-size: ( 40 / 19.2 ) * 1vw;
    }
  }

  p {
    color: $color-pure-white;
    font-weight: 100;
    padding: 0 0 ( 26 / 3.2 ) * 1vw;

    @media #{$tablet-only} {
      padding: 0 0 ( 31 / 7.68 ) * 1vw;
    }

    @media #{$laptop-up} {
      padding: 0 0 ( 31 / 19.2 ) * 1vw;
    }
  }
}
