- var purecareTitle = "PureCare designs essential elements necessary to create a healthy sleep environment."
- var purecareContent = "In North Amercia alone, 50 million people suffer from allergies and allergy-induced asthma. Dust mites are one of the leading causes of allergen induced asthma at night."
section.zuc-wave-hero-top(style="background-image: url('images/smarter-products/woman-sleeper-stretching.png');")
  .zuc-wave-hero-content
    // Title
    h2.u-color-white.u-font-serif
      |#{purecareTitle}
    // Content
    p
      |#{purecareContent}
    // Action
    a(class="zuc-btn zuc-btn-secondary" href="#" title="todo")
      |Shop Now
