section.zuc-ink-blob
  .zuc-ink-blob-left
    .zuc-image-box
      img(src="../../assets/images/smarter-products/ink-lifter.png", alt="Ink Remover")
  .zuc-ink-blob-right.zuc-blob-stack
    .zuc-title-container
      h4
        |RESTORE
      .zuc-title-flag
        .--green
    h3.u-font-serif.u-zuc-indigo
      |Ink remover
    p
      |Safely remove ink and lipstick from most leather surfaces. The non-toxic, biodegradable Zucora Home Ink Lifter glides on easily to help you restore your favourite items back to beautfiul condition - that's just smart.
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="#LimeTAC-Link-To-Ecommerce" title="LimeTAC-TODO")
        |BUY NOW
