section.zuc-ink-blob
  .zuc-ink-blob-left
    .zuc-image-box
      img(src="../../assets/images/anim/SmartLiving_Icons.gif", alt="todo")
  .zuc-ink-blob-right.zuc-blob-stack
    .zuc-title-container
      h4
        |RESTORE
      .zuc-title-flag
        .--green
    h3
      |Ink remover
    p
      |Safely remove ink and lipstick from any leather surface. The non-toxic, biodegradable Zucora Home Ink Lifter glides on easily to help you restore your favourite items back to beautfiul condition - that's just smart.
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="smarter-living-membership-benefits.html" title="Member Benefits")
        |BUY NOW
