section.zuc-pane-links
  .zuc-pane-box.flex.flex-wrap
    .zuc-pane
      .zuc-pane-title
        span
          |ZU Collection
      a(href="#" title="todo")
    .zuc-pane
      .zuc-pane-title
        span
          |Home Care Kits
      a(href="#" title="todo")
    .zuc-pane
      .zuc-pane-title
        span
          |Smarter Living
      a(href="#" title="todo")
    .zuc-pane
      .zuc-pane-title
        span
          |Smarter Home
      a(href="#" title="todo")
    .zuc-pane-bumper
      .zuc-bumper-title-container.flex
        h4
          |GOBLIN
        .zuc-title-flag
          .--green
      h5.u-font-serif.u-zuc-indigo
        |Lorem? Damnir kildum
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |SHOP ALL
