section.zuc-pane-links
  .zuc-pane-box.flex.flex-wrap
    .zuc-pane.--baby
      .zuc-pane-title.--mint
        span
          |ZU Collection
      a(href="#" title="todo")
    .zuc-pane.--interior
      .zuc-pane-title.--salmon
        span
          |Home Care Kits
      a(href="#" title="todo")
    .zuc-pane.--house
      .zuc-pane-title.--lilac
        span
          |Smarter Living
      a(href="#" title="todo")
    .zuc-pane.--kitchen
      .zuc-pane-title.--concrete
        span
          |Smarter Home
      a(href="#" title="todo")
    .zuc-pane-bumper
      .zuc-bumper-title-container.flex
        h4
          |GOBLEN LUX
        .zuc-title-flag
          .--green
      h5.u-font-serif.u-zuc-indigo
        |Lorem? Damnir kildum
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |SHOP ALL
