- var title = 'A smarter way to manage your home.'
- var subheading = 'Intelligent'
- var text = 'With Smarter Home Control from Zucora Home, you gain the power of managing your home lighting, climate, entertainment, and security right in the palm of your hand. One Home – One App. Our smart, easy-to-use mobile app gives you complete control over today’s digital home devices and will help you manage tomorrow’s smart home appliances.'
- var button = 'Get Connected'
section.zuc-chillow
  .zuc-chillow-left
    .zuc-image-box
      img(src="../../assets/images/anim/SmartLiving_Icons.gif", alt="todo")
  .zuc-chillow-right.zuc-blob-stack
    .zuc-title-container
      h4
        |INNOVATIVE
      .zuc-title-flag
        .--green
    h3
      |Sub-0 SoftCell Chill Pillow
    p
      |SUB-0&deg; pillow covers blend PureCare's exclusive FRíO rapid chill cooling fibres with the ultra plush feel of TENCEL&reg; threads, resulting in a luxury responsive textile that is cool to the touch and incredibly soft.
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="smarter-living-membership-benefits.html" title="Member Benefits")
        |BUY NOW
    .blob-blink
      a(href="#" title="todo")
        |Learn more about creating a healthy sleep environment
