section.zuc-chillow
  .zuc-chillow-left
    .zuc-image-box
      img(src="../../assets/images/anim/SmartLiving_Icons.gif", alt="todo")
  .zuc-chillow-right.zuc-blob-stack
    .zuc-title-container
      h4
        |INNOVATIVE
      .zuc-title-flag
        .--green
    h3
      |Sub-0 SoftCell Chill Pillow
    p
      |SUB-0&deg; pillow covers blend PureCare's exclusive FRíO rapid chill cooling fibres with the ultra plush feel of TENCEL&reg; threads, resulting in a luxury responsive textile that is cool to the touch and incredibly soft.
    a.zuc-btn.zuc-btn-secondary(href="smarter-living-membership-benefits.html" title="Member Benefits")
      |BUY NOW
