section.zuc-dual-video.flex.flex-wrap.flex-hor-center
  .zuc-video-player
    .zuc-play-icon
      img(src="../../assets/images/icons/icon-play.svg", alt="")
  .zuc-video-player
    .zuc-play-icon
      img(src="../../assets/images/icons/icon-play.svg", alt="")
