section.zuc-featured-block
  .zuc-featured.flex.flex-wrap
    .zuc-featured-content
      .zuc-title-container.flex
        h4
          |INNOVATIVE
        .zuc-title-flag
          .--green
      h2.u-font-serif.u-zuc-indigo
        |Sub-0 SoftCell Chill Pillow
      p
        |SUB-0&deg; pillow covers blend PureCare's exclusive FRíO rapid chill cooling fibres with the ultra plush feel of TENCEL&reg; threads, resulting in a luxury responsive textile that is cool to the touch and incredibly soft.
      .zuc-btn-box
        a.zuc-btn.zuc-btn-secondary(href="LimeTAC-Link-To-Ecommerce" title="LimeTAC-TODO")
          |BUY NOW
      //- Disabled for launch
      //- .--featured-link
        a(href="#" title="NotForLaunch")
          |Learn more about creating a healthy sleep environment

    .zuc-featured-image.flex.flex-hor-center
      .zuc-featured-media
        img(src="../../assets/images/anim/SmartLiving_Icons.gif", alt="Sub-0 Pillows by PureCare")
