-
  var title = "Discover the secrets behind healthy sleep."
-
  var btnText = "Shop Now"

section.zuc-spr-hero-container.--pc-hero-container
  .zuc-spr-hero-content.--pc-hero-content
    // Top Content
    .zuc-hero-row.flex.flex-vert-end
      .zuc-hero-left
        h5.u-font-serif.u-color-white.u-text-shadow
          |!{title}
        a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
          |!{btnText}
  // Background Image.
  .--pc-hero-bkg-img
  // Pillows-Protectors-Sheets Image.
  .--pc-hero-bkg-overlay
  // Mesh.
  .--pc-hero-bkg-mesh
  // Wave Shape.
  .zuc-spr-hero-bkg-wave.--pc-hero-bkg-wave

