section.zuc-protectors
  .zuc-protectors-box
    .zuc-protectors-left
      h2
        |3 levels of mattress protection:
      .zuc-image-box
        img(src="../../assets/images/shared/good-better-best.png", alt="Comparison of three matress protectors")
    .zuc-protectors-right.zuc-blob-stack
      .zuc-title-container
        h4
          |Mattress & Pillow Protectors
        .zuc-title-flag
          .--green
      h3
        |Your safe haven for a sound sleep.
      p
        |You'll sleep comfortably knowing your bed has a clinically tested, protective barrier from dust mites, allergens, mould, and mildew.
      .zuc-btn-box
        a.zuc-btn.zuc-btn-secondary(href="smarter-living-membership-benefits.html" title="Member Benefits")
          |SHOP PROTECTORS
      .blob-blink
        a(href="#" title="todo")
          |Learn more about the science of healthy sleep
