section.zuc-pane-links
  .zuc-pane-box.flex.flex-wrap
    .zuc-pane.--toolman
      .zuc-pane-title.--indigo
        span
          |Smarter Living Plans
      a(href="smarter-living.html" title="Smarter Living Plans")
    .zuc-pane.--smartphone
      .zuc-pane-title.--concrete
        span
          |Smarter Home
      a(href="smarter-home-control.html" title="Smarter Home Control")
    .zuc-pane.--happy
      .zuc-pane-title.--lilac
        span
          |Home Care Kits
      a(href="home-care-kits.html" title="Zucora Home Care Kits")
    .zuc-pane.--momboy
      .zuc-pane-title.--mint
        span
          |ZU Collection
      a(href="zu-collection.html" title="ZU Collection")
    .zuc-pane-bumper
      .zuc-title-container.flex
        h4
          |RELATED
        .zuc-title-flag
          .--green
      h5.u-font-serif.u-zuc-indigo
        |Smarter products = Smarter living.
      a.zuc-btn.zuc-btn-secondary(href="smarter-home-products.html" title="Smarter Home Products")
        |SHOP ALL
