section.zuc-two-pillows
  .zuc-product-box.flex
    .zuc-snowflake-box
      img(src="../../assets/images/shared/half-snowflake.png", alt="Half of a snowflake")
    .zuc-product.--left
      h5.u-font-serif.u-zuc-indigo
        |Relief from sleep heat.
      img(src="../../assets/images/shared/frio-mockup.png", alt="PureCare Frio Products")
      p.zuc-body-small
        |Sleep soundly with bedding created with FRIO fibres. These fibres help regulate your body temperature because they cool 5 times faster than traditional polyester to create a cooler sleep surface. This is all designed to help you find relief from sleep heat so you have a deeper, more restful sleep.
    .zuc-product.--right
      h5.u-font-serif.u-zuc-indigo
        |Recover and recharge.
      img(src="../../assets/images/shared/celliant-mockup.png", alt="PureCare Celliant Products")
      p.zuc-body-small
        |Enjoy a new kind of sleep with Celliant. Effectively convert body heat into infrared energy to enhance cell function, which means injuries heal quicker and pain subsides faster. This is all sewn into Celliant’s technical bedding materials, and the positive effects will never subside with wash, use, or wear.
