//section.zuc-spr-hk.flex.flex-wrap.--section-spacing
section.zuc-featured.flex.flex-wrap.flex-vert-center.--featured-gif
  .zuc-featured-image.flex.flex-hor-center
    .zuc-img-container
      img(src="../../assets/images/anim/SmarterProducts_Care_Choices.gif", alt="Rotating icons")

  .zuc-featured-content
    .zuc-title-container.flex
      h4
        |FURNITURE CARE KITS
      .zuc-title-flag
        .--green
    h2.u-font-serif.u-zuc-indigo
      |Extend the life of your furniture.
    p
      |Furniture is a part of our everyday lives. Functional items like a chair at your kitchen table keep life moving forward. Some furniture may even have sentimental value.  Whatever the purpose of your home furnishings, show them some love with our unique furniture care kits.
    a.zuc-btn.zuc-btn-secondary(href="home-care-kits.html" title="Learn more about Furniture Care Kits")
      |FIND OUT HOW
