section.zuc-featured-block.--flipped-image.--no-pad-top
  .zuc-featured.flex.flex-wrap.flex-hor-center
    .zuc-featured-content
      .zuc-title-container.flex
        h4
          |ZU COLLECTION
        .zuc-title-flag
          .--green
      h2.u-font-serif.u-zuc-indigo
        |Environmentally sensitive solutions for clean homes.
      p
        |Our unique selection of home cleaning solutions and personal care products are tough on dirt, gentle on skin and delightful to use.
      a.zuc-btn.zuc-btn-secondary(href="zu-collection.html" title="Discover Zu Collection")
        |DISCOVER MORE

    .zuc-featured-image.flex.flex-hor-center.--gif-size
      .zuc-featured-media
        img(src="../../assets/images/anim/SmarterProducts_RotatingImages.gif", alt="Rotating icons")
