section.zuc-member-benefits.flex.flex-wrap
  .zuc-member-benefits-left
    .zuc-img-box
      img(src="../../assets/images/anim/SmartLiving_Icons.gif", alt="Rotating icons")
      //- Above GIF is todo placeholder lipsum
  .zuc-member-benefits-right
    .zuc-title-container.flex
      h4
        |ZUCORA HOME CARE KITS
      .zuc-title-flag
        .--green
    h3.u-zuc-indigo.u-font-serif
      |Extend the life of your furniture.
    p.u-zuc-darkindigo
      |Furniture is a part of our everyday lives. Functional items like a chair at your kitchen table keep life moving forward; others may have an emotional attachment after being handed down from generation to generation. Whatever the purpose of your furniture, use our home care kits to give it the best care you can provide.
    a.zuc-btn.zuc-btn-secondary(href="smarter-living-membership-benefits.html" title="Member Benefits")
      |FIND OUT HOW
