section.zuc-featured-block.--flipped-image
  .zuc-featured.flex.flex-wrap.flex-hor-center
    .zuc-featured-content
      .zuc-title-container.flex
        h4
          |FURNITURE CARE KITS
        .zuc-title-flag
          .--green
      h2.u-font-serif.u-zuc-indigo
        |Extend the life of your furniture.
      p
        |Furniture is a part of our everyday lives. Functional items like a chair at your kitchen table keep life moving forward. Some furniture may even have sentimental value.  Whatever the purpose of your home furnishings, show them some love with our unique furniture care kits.
      a.zuc-btn.zuc-btn-secondary(href="furniture-care.html" title="Learn more about Furniture Care Kits")
        |FIND OUT HOW

    .zuc-featured-image.flex.flex-hor-center.--gif-size
      .zuc-featured-media
        img(src="../../assets/images/anim/SmarterProducts_Care_Choices.gif", alt="Rotating icons")
