-
  var title = "Discover the secrets behind healthy sleep."
-
  var btnText = "Shop Now"

section.spr-child-hero--mask.zuc-secondary-header
  .zuc-hero-content
    // Top Content
    .zuc-hero-row.flex.flex-vert-end
      .zuc-hero-left
        h5.u-font-serif.u-color-white
          |!{title}
        a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
          |!{btnText}

