section.zuc-featured.flex.flex-wrap.flex-vert-center.--featured-gif
  .zuc-featured-image.flex.flex-hor-center
    .zuc-img-container
      img(src="../../assets/images/anim/SmarterProducts_RotatingImages.gif", alt="Rotating icons")

  .zuc-featured-content
    .zuc-title-container.flex
      h4
        |ZU COLLECTION
      .zuc-title-flag
        .--green
    h3.u-font-serif.u-zuc-indigo
      |Environmentally sensitive solutions for clean homes.
    p
      |Our unique selection of home cleaning solutions and personal care products are tough on dirt, gentle on skin and delightful to use.
    a.zuc-btn.zuc-btn-secondary(href="zu-collection.html" title="Discover Zu Collection")
      |DISCOVER MORE

