section.zuc-spr-pc.flex.flex-wrap.--section-spacing
  .zuc-spr-pc-left.zuc-blob-stack
    .zuc-title-container.flex
      h4
        |PURECARE
      .zuc-title-flag
        .--green
    h3
      |Comfort and health for your sleep environment.
    p
      |Our protectors, pillows, and sheets are designed with a variety of clinically-tested textiles to create a physical barrier against allergens, bed bugs, dust mites, stains, moisture, mould, and mildew; helping to ensure that every person in your home has a healthy and comfortable sleep environment.
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="smarter-living-membership-benefits.html" title="Member Benefits")
        |EXPLORE THE OPTIONS
  .zuc-spr-pc-right
    .zuc-img-box
      img(src="../../assets/images/anim/SmartLiving_Icons.gif", alt="Rotating icons")
      //- Above GIF is todo placeholder lipsum
