section.zuc-spr-zu.flex.flex-wrap.--section-spacing
  .zuc-spr-zu-left
    .zuc-img-box
      img(src="../../assets/images/anim/SmarterProducts_RotatingImages.gif", alt="Rotating icons")
  .zuc-spr-zu-right.zuc-blob-stack
    .zuc-title-container.flex
      h4
        |ZU COLLECTION
      .zuc-title-flag
        .--green
    h3
      |Empower your quest for a clean home.
    p
      |This unique selection of all-natural personal care products and home cleaning solutions are gentle on skin, tough on dirt, and delightful to use.
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="smarter-living-membership-benefits.html" title="Member Benefits")
        |DISCOVER MORE
