section.zuc-featured.flex.flex-wrap.flex-vert-center.--featured-gif
  .zuc-featured-content.--flip-order
    .zuc-title-container.flex
      h4
        |PURECARE
      .zuc-title-flag
        .--green
    h2.u-font-serif.u-zuc-indigo
      |Comfort and health for your sleep environment.
    p
      |Our protectors, pillows, and sheets are designed with a variety of clinically-tested textiles to create a physical barrier against allergens, bed bugs, dust mites, stains, moisture, mould, and mildew; helping to ensure that every person in your home has a healthy and comfortable sleep environment.
    a.zuc-btn.zuc-btn-secondary(href="purecare.html" title="Learn more about PureCare")
      |EXPLORE THE OPTIONS
  .zuc-featured-image.flex.flex-hor-center
    .zuc-img-container
      img(src="../../assets/images/anim/SmarterProducts_Pillow.gif", alt="Rotating icons")


