-
  var title = "Discover the secrets behind healthy sleep."
-
  var btnText = "Shop Now"

section.spr-child-hero--mask(style="background-image:url('http://lullabycasa.net/wp-content/uploads/2015/07/decoration-interior-fancy-yellow-leather-for-your-house-beautiful-living-room-interior-design-combined-with-brown-wooden-coffee-table-and-white-ceiling-fitting-cool-ideas-for-house-beautiful-living-r.jpg');")
  .zuc-hero-content
    // Top Content
    .zuc-hero-row.flex.flex-vert-end
      .zuc-hero-left
        h5.u-font-serif
          |!{title}
        a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
          |!{btnText}
      .zuc-hero-right
          | hey.
