section.zuc-member-benefits.flex.flex-wrap
  .zuc-member-benefits-left
    .zuc-img-box
      img(src="../../assets/images/anim/SmartLiving_Icons.gif", alt="Rotating icons")
      //- Above GIF is todo placeholder lipsum
  .zuc-member-benefits-right
    .zuc-title-container.flex
      h4
        |ZU COLLECTION
      .zuc-title-flag
        .--green
    h3.u-zuc-indigo.u-font-serif
      |Empower your quest for a clean home.
    p.u-zuc-darkindigo
      |This unique selection of all-natural personal care products and home cleaning solutions are gentle on skin, tough on dirt, and delightful to use.
    a.zuc-btn.zuc-btn-secondary(href="smarter-living-membership-benefits.html" title="Member Benefits")
      |DISCOVER MORE
