-
  var title = "Discover the secrets behind healthy sleep."
-
  var btnText = "Shop Now"

section.zuc-spr-hero__container
  .zuc-spr-hero__content
    // Top Content
    .zuc-hero-row.flex.flex-vert-end
      .zuc-hero-left
        h5.u-font-serif.u-color-white
          |!{title}
        a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
          |!{btnText}
  // Background Image.
  .zuc-spr-hero__bkg-img
  // Pillows-Protectors-Sheets Image.
  .zuc-spr-hero__bkg-overlay
  // Wave Shape.
  .zuc-spr-hero__bkg-wave

