section.zuc-dual-video
  .zuc-video-player
    .zuc-play-icon
      img(src="../../assets/images/icons/icon-play.svg", alt="")
  .zuc-video-player
    .zuc-play-icon
      img(src="../../assets/images/icons/icon-play.svg", alt="")