section.zuc-featured-block.--flipped-image
  .zuc-featured.flex.flex-wrap.flex-hor-center
    .zuc-featured-content
      .zuc-title-container.flex
        h4
          |Innovative
        .zuc-title-flag
          .--green
      h2.u-font-serif.u-zuc-indigo
        |Universal Cleaner
      p
        |Dirt doesn't stand a chance against the non-toxic cleaning power in our multi-surface cleaning spray. Use it on any surface to remove dust, grime, bacteria, and allergens. The clean and refreshing scent will leave you confident that you’re not using harsh chemicals.
      a.zuc-btn.zuc-btn-secondary(href="purecare.html" title="Learn more about PureCare")
        |BUY NOW
    .zuc-featured-image.flex.flex-hor-center.--gif-size
      .zuc-featured-media
        img(src="../../assets/images/smarter-products/universal-cleaner.png", alt="Universal cleaner")


