section.zuc-billboard
  .zuc-billboard-frame
    .zuc-billboard-image-box
      img(src="../../assets/images/smarter-living/interior-house-header.png", alt="Lovely decorated house interior")
      .zuc-billboard-overlay
        h5
          |Remove stubborn stains & odours with OxyTough – no harsh chemicals required.
        a.zuc-btn.zuc-btn-secondary(href="#LimeTAC-Link-To-Zu-Collection" title="LimeTAC-TODO")
          |SHOP ZU COLLECTION
