section.zu-collection-blob
  .zuc-collection-blob-left
    .zuc-image-box
      img(src="../../assets/images/smarter-home-control/phone-screens.png", alt="Smartphone showcasing Home Control application")
  .zuc-collection-blob-right
    h4.u-zuc-darkindigo.u-bold
      |TAKE CONTROL
    p.u-zuc-darkindigo
      |Smarter Home Control lets you monitor and control all your home systems and devices for lighting, climate control, entertainment and security in one easy-to-use app.
    .--zucbar.--zb-lilac
    h4.u-zuc-darkindigo.u-bold
      |SET YOUR SCENE
    p.u-zuc-darkindigo
      |Like favourite recipes, you can create and customize
    a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
      |GET CONNECTED
