section.zuc-collection-blob
  .zuc-collection-blob-left
    .zuc-image-box
      img(src="../../assets/images/smarter-products/universal-cleaner.png", alt="Universal cleaner")
  .zuc-collection-blob-right.zuc-blob-stack
    .zuc-title-container
      h4.u-uppercase
        |Innovative
      .zuc-title-flag
        .--green
    h2.u-font-serif.u-zuc-indigo
      |Universal Cleaner
    p.u-zuc-darkindigo
      |Dirt doesn't stand a chance against the non-toxic cleaning power in our mutli-surface cleaning spray. Use it on any surface to remove dust, grime, bacteria, and allergens. The clean and refreshing scent will leave you confident that you’re not using harsh chemicals.
    .zuc-btn-box
      a.zuc-btn.zuc-btn-secondary(href="#LimeTAC-Link-To-Ecommerce" title="LimeTAC-TODO")
        |BUY NOW
    //- Disabled for launch
    //- .--featured-link
      a(href="#" title="todo")
        |tips &amp; tricks for using this product throughout your home
