-
  var title = "Inspired by nature – powered by choice."
-
  var subHeading = "Make a positive impact on your family’s well-being and your environment."
-
  var btnText = "Shop Now"

section.zuc-spr-hero-container.--zu-hero-container
  .zuc-spr-hero-content.--zu-hero-content
    h3.u-font-serif.u-color-white.u-text-shadow
      |!{title}
    p.u-normal.u-color-white
      |!{subHeading}
    a.zuc-btn.zuc-btn-secondary.u-uppercase(href='#' title='TODO')
      |!{btnText}
    img.product-image(src="../../assets/images/smarter-products/hero-zu-prodcts.png" alt="Zu cleaning products.")
  // Background Image.
  .zuc-spr-hero-bkg-img.--zu-hero-bkg-img
  // Wave Shape.
  .zuc-spr-hero-bkg-wave.--zu-hero-bkg-wave
