section.zuc-pane-links
  .zuc-pane-box.flex.flex-wrap
    .zuc-pane.--house
      .zuc-pane-title.--lilac
        span
          |Smarter Living
      a(href="#" title="todo")
    .zuc-pane.--smartphone
      .zuc-pane-title.--concrete
        span
          |Smarter Home
      a(href="#" title="todo")
    .zuc-pane.--sleepy
      .zuc-pane-title.--mint
        span
          |PureCare
      a(href="smarter-living.html" title="Smarter Living")
    .zuc-pane.--interior
      .zuc-pane-title.--salmon
        span
          |Home Care Kits
      a(href="#" title="todo")
    .zuc-pane-bumper
      .zuc-bumper-title-container.flex
        h4
          |RELATED
        .zuc-title-flag
          .--green
      h5.u-font-serif.u-zuc-indigo
        |Smarter products = Smarter living.
      a.zuc-btn.zuc-btn-secondary(href="#" title="todo")
        |SHOP ALL
