- var zuTitle = "Canadian’s spend more than 90% of their time indoors. "
- var zuContent = "Since 1980, the rate of asthma has increased more than 600%. The Canadian Lung Association and the Asthma Society of Canada indentify common household cleaners and cosmetics as some of the primary triggers. ZU Collection can help by providing environmentally friendly safe and effective products to help minimize the risks to you, your family, and your pets."
section.zuc-wave-hero-top.--zu-wave-content
  .zuc-wave-hero-content
    // Title
    h2.u-color-white.u-font-serif
      |#{zuTitle}
    // Content
    p.u-color-white.u-ultralight
      |#{zuContent}
    // Action
    a(class="zuc-btn zuc-btn-secondary" href="#" title="todo")
      |Shop ZU Collection
